<div *ngIf="substance">
  <div class="substance-form-row">
    <mat-form-field>
      <mat-label>Definition Type</mat-label>
      <mat-select [formControl]="definitionTypeControl" (selectionChange)="updateDefinitionType($event)">
        <mat-option *ngFor="let defitionType of definitionTypes" [value]="defitionType.value">
          {{defitionType.display}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="primary-substance-container" *ngIf="substance.definitionType == 'ALTERNATIVE'">
      <app-substance-text-search
        (searchPerformed)="processSubstanceSearch($event)" eventCategory="substanceFormDefinitionType"
        placeholder="Primary Substance" [errorMessageUpdated]="primarySubstanceErrorEmitter"
        *ngIf="!primarySubstance">
      </app-substance-text-search>
      <div class="primary-substance" *ngIf="primarySubstance" (mouseenter)="showPrimarySubstanceOptions = true" (mouseleave)="showPrimarySubstanceOptions = false">
        <div class="primary-substance-options" *ngIf="showPrimarySubstanceOptions">
          <button mat-mini-fab (click)="editPrimarySubstance()">
              <mat-icon aria-label="Edit Primary Substance">edit</mat-icon>
          </button>
          <a mat-mini-fab target="_blank" [routerLink]="['/substances', primarySubstance.uuid]">
              <mat-icon aria-label="Open in new tab">open_in_new</mat-icon>
          </a>
        </div>
        <div class="section-header">Primary Substance</div>
        <img [src]="substanceService.getSafeIconImgUrl(primarySubstance)">
        <div>
          {{primarySubstance._name}}
        </div>
      </div>
    </div>
    <mat-form-field>
      <mat-label>Definition Level</mat-label>
      <mat-select [formControl]="definitionLevelControl" (selectionChange)="updateDefinitionLevel($event)">
        <mat-option *ngFor="let defitionLevel of definitionLevels" [value]="defitionLevel.value">
          {{defitionLevel.display}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <app-access-manager (accessOut)="updateAccess($event)" [accessIn]="accessEmitter"></app-access-manager>
    </div>
  </div>
  <div class="substance-form-row">
    <div class="references-container">
      <h3>References</h3>
      <app-references-manager></app-references-manager>
    </div>
  </div>
</div>