.main-container {
margin-top: 100px;
}

.useConfiguredMessage { 
  font-size: 24px;
  .equal-width {
    flex: 1 0 0;
  }
  line-height: 1.4em;
}

.form-row {
    width:100%;
    flex-direction: row;
    .equal-width {
        flex: 1 0 0;
    }

    padding: 25px;
    font-size: 26px;
    line-height: 46px;
    text-align: center;
}