<!-- Buttons: delete, review -->

<div class="marginbottomminus17px padleft250px">
  <button mat-icon-button [ngStyle]="{'color':'green'}" [disabled]="totalComponent == 1"
    (click)="confirmDeleteComponent(prodComponentIndex)"
    matTooltip="Delete Component Details {{prodComponentIndex + 1}}">
    <mat-icon [class.disabled]="totalComponent == 1">delete_forever</mat-icon>
  </button>
  &nbsp;&nbsp;
  <button mat-icon-button [ngStyle]="{'color':'green'}" (click)="copyProductComponent()"
    matTooltip="Copy Manufacture Item Details {{prodComponentIndex + 1}} to New Manufacture Item">
    <mat-icon>file_copy</mat-icon>
  </button>
</div>


<!-- Display Component/Manufacture -->
<fieldset class="border">
  <legend class="border">Manufacture Item Details&nbsp;<b><span
        class="colorgreen font17px">{{prodComponentIndex + 1}}</span></b>
  </legend>

  <div class="row margintop10px">
    <mat-form-field class="col-2-4">
      <mat-label>Dosage Form</mat-label>
      <mat-select matNativeControl [(ngModel)]="productComponent.dosageForm" name="dosageForm">
        <mat-option *ngFor="let dosageForm of dosageFormList" [value]="dosageForm.value">
          {{dosageForm.display}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col-1-4">
      <mat-label>Color Name</mat-label>
      <mat-select matNativeControl [(ngModel)]="productComponent.charColor" name="charColor">
        <mat-option *ngFor="let color of colorList" [value]="color.value">
          {{color.display}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col-1-4">
      <mat-label>Flavor Name</mat-label>
      <mat-select matNativeControl [(ngModel)]="productComponent.charFlavor" name="charFlavor">
        <mat-option *ngFor="let flavor of flavorList" [value]="flavor.value">
          {{flavor.display}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col-1-4">
      <mat-label>Shape Name</mat-label>
      <mat-select matNativeControl [(ngModel)]="productComponent.charShape" name="charShape">
        <mat-option *ngFor="let shape of shapeList" [value]="shape.value">
          {{shape.display}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col-1-4">
      <mat-label>Scoring</mat-label>
      <mat-select matNativeControl [(ngModel)]="productComponent.charNumFragments" name="charNumFragments">
        <mat-option *ngFor="let scoring of scoringList" [value]="scoring.value">
          {{scoring.display}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col-1-4">
      <input matInput placeholder="Size" [(ngModel)]="productComponent.charSize" name="charSize" />
    </mat-form-field>
    <mat-form-field class="col-1-4">
      <input matInput placeholder="Imprint Text" [(ngModel)]="productComponent.charImprintText"
        name="charImprintText" />
    </mat-form-field>
  </div>

  <!-- PRODUCT LOT LIST BEGIN -->
  <div class="">
    <br>
    <hr>
    <br>
    <span matBadge="{{productComponent.productLotList.length}}" matBadgeOverlap="false">
      <span class="titlebrown">LOT </span>
    </span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-raised-button color="primary" (click)="addNewProductLot(prodComponentIndex)" matTooltip="Add New Lot">
      <mat-icon svgIcon="add_circle_outline"></mat-icon>Add Lot
    </button>
    <br>
    <div class="marginbottom10px" *ngFor="let productLot of productComponent.productLotList; let prodLotIndex = index">
      <app-product-lot-form [productLot]="productLot" [totalLot]="productComponent.productLotList.length"
        [prodLotIndex]="prodLotIndex" [prodComponentIndex]="prodComponentIndex">
      </app-product-lot-form>
    </div>
  </div>
  <!-- PRODUCT LOT LIST END -->

</fieldset>
<br><br>