<div class="flex-row">
  <span class="middle-fill"></span>
  <button mat-button (click)="openReferenceFormDialog()">
    Add reference <mat-icon svgIcon="add_circle_outline"></mat-icon>
  </button>
</div>
<div *ngFor="let reference of references; last as isLast" [id]="reference.uuid" appScrollToTarget>
  <app-reference-form [reference]="reference" (referenceDeleted)="deleteReference($event)"></app-reference-form>
  <mat-divider class="form-divider" [inset]="true" *ngIf="!isLast"></mat-divider>
</div>
