.details-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /*padding: 20px;*/
}

.details-box {
  max-width: 1028px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.box {
  display: flex;
  align-items: top;
}

.mat-card {
  max-width: 1028px;
  width: 100%;
  /*box-sizing: border-box;*/
    /*margin-bottom: 20px;*/
}

.mat-card-title {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  white-space: normal;
}

.row {
  display: flex;
  width: 100%;
  border-bottom: solid 1px rgba(0, 0, 0, 0.12)
/*
  &:not(:last-child) {
    border-bottom: solid 1px rgba(0, 0, 0, 0.12);
    }
    */
}

.row-property {
  display: flex;
  width: 50%;
  /*padding: 8px;*/
}

.row-property-key {
  min-width: 40%;
  max-width: 40%;
  padding: 7px;
  font-size: 12px;
  font-weight: 600;
  /*background-color: #edeff2;*/
}

.row-property-value {
  min-width: 60%;
  max-width: 60%;
  padding: 7px;
  font-size: 12px;
}

.row-property-2 {
  display: flex;
  width: 100%;
}

.row-property-key-2 {
  min-width: 20%;
  max-width: 20%;
  padding: 6px;
  font-size: 12px;
  font-weight: 600;
}

.row-property-value-2 {
  min-width: 80%;
  max-width: 80%;
  padding: 6px;
  font-size: 12px;
}

.title {
  font-size: 15px;
  font-weight: bold;
  font-family: Verdana;
  color: #0857d6;
  padding-right: 5px;
  text-align: top;
  margin-bottom: 9px;
}

.title2 {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  white-space: normal;
  font-size:18px;
}

.margintopneg10px {
  margin-top: -10px;
}

.margintop30px {
  margin-top: 30px;
}

.margintop90px {
  margin-top: 90px;
}

.marginbottom80px {
  margin-bottom: 80px;
}

.padtop17px {
  padding-top: 17px;
}

.padtop50px {
  padding-top: 50px;
}

.padleft20px {
  padding-left: 20px;
}

.padleft50px {
  padding-left: 50px;
}

.padleft200px {
  padding-left: 200px;
}

.padbottom10px {
  padding-bottom: -10px;
}

.font9px {
  font-size: 9px;
}

.font10px {
  font-size: 10px;
}

.font14px {
  font-size: 14px;
}

.font16px {
  font-size: 16px;
}

.font20px {
  font-size: 20px;
}

.fontbold {
  font-weight: 500;	
}

.colorgray {
  color: gray;
}

.colororange {
  color: #E55913;
}

.colorblue {
  color: blue;
}

.colorgreen {
  color: green;
}

.bordergray {
  border: 1px solid gray;
}

.colororange {
  color: #E55913;
}

.textaligncenter {
  text-align: center;
}

.backgroundblue {
  background-color: blue;
}

table.blueTable {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  /*font-family: Verdana, Geneva, sans-serif;*/
  border: 1px solid #1C6EA4;
  background-color: #f2f2f2;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}

table.blueTable tbody td {
  font-size: 12px;
  vertical-align: top;
  padding: 10px 10px;
}

table.blueTable tr:nth-child(even) {
  background: #f5faee;
}

table.blueTable thead {
  background:  #e8ebe1;
  border-bottom: 1px solid #444444;
}

table.blueTable thead th {
  font-size: 12px;
  font-weight: 700;
  color: #1a1a1a;
  border-left: 1px solid #D0E4F5;
  padding: 10px 10px;
}

table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  border-top: 2px solid #444444;
}

table.blueTable tfoot td {
  font-size: 14px;
}

table.blueTable tfoot .links {
  text-align: right;
}

table.blueTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

@media(max-width: 700px) {
  .mat-card-title {
    flex-direction: column;
    align-items: flex-start;
  }

  .product-details-container {
    padding: 10px;
  }
}

@media(max-width: 918px) {
  .product-property {
        width: 100%;
        border:1px solid red;
  }

  .row {
    flex-direction: column;
    
    &:not(:last-child) {
      border-bottom: none;

      .product-property {
        border-bottom: solid 1px rgba(0, 0, 0, 0.12);
      }
    }
    &:last-child {
      .row {
        &:not(:last-child) {
          border-bottom: solid 1px rgba(0, 0, 0, 0.12);
        }
      }
    }
  }
}

