.details-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /*padding: 20px;*/
}

.details-box {
  max-width: 1028px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin: 0 auto;
}

.divflex {
  display: flex;
}

.divflexrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
}

.box {
  display: flex;
  align-items: top;
}

.div-scroll {
  width: 100%;
  overflow-x: scroll;
}

.mat-card {
  max-width: 1028px;
  width: 100%;
  /*box-sizing: border-box;*/
    /*margin-bottom: 20px;*/
}

.mat-card-title {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  white-space: normal;
}

.row {
  display: flex;
  width: 100%;
  border-bottom: solid 1px var(--box-shadow-color-3);
/*
  &:not(:last-child) {
    border-bottom: solid 1px var(--box-shadow-color-3);
    }
    */
}

.row-property {
  display: flex;
  width: 50%;
}

.row-property-key {
  min-width: 40%;
  max-width: 40%;
  padding: 9px;
  font-size: 13px;
  font-weight: 600;
}

.row-property-value {
  min-width: 60%;
  max-width: 60%;
  padding: 9px;
  font-size: 13px;
}

.row-property-2 {
  display: flex;
  width: 100%;
}

.row-property-key-2 {
  min-width: 47%;
  max-width: 47%;
  padding: 9px;
  font-size: 13px;
  font-weight: 600;
}

.row-property-value-2 {
  min-width: 53%;
  max-width: 53%;
  padding: 9px;
  font-size: 13px;
}

.row-property-4 {
  display: flex;
  width: 25%;
}

.row-property-key-4 {
  min-width: 40%;
  max-width: 40%;
  padding: 6px;
  font-size: 12px;
  font-weight: 600;
}

.row-property-value-4 {
  min-width: 60%;
  max-width: 60%;
  padding: 6px;
  font-size: 12px;
}

.title {
  font-size: 27px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  /*color: var(--primary-title-color);*/
  padding-right: 5px;
  text-align: top;
  margin-bottom: 9px;
}

.title2 {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  white-space: normal;
  font-size: 17px;
  font-weight: bold;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: var(--primary-title-color);
}

.margintopneg10px {
  margin-top: -10px;
}

.margintop20px {
  margin-top: 20px;
}

.margintop30px {
  margin-top: 30px;
}

.margintop80px {
  margin-top: 80px;
}

.marginbottom60px {
  margin-bottom: 60px;
}

.padtop17px {
  padding-top: 17px;
}

.padtop50px {
  padding-top: 50px;
}

.padleft20px {
  padding-left: 20px;
}

.padleft50px {
  padding-left: 50px;
}

.padleft200px {
  padding-left: 200px;
}

.padbottom10px {
  padding-bottom: -10px;
}

.font9px {
  font-size: 9px;
}

.font10px {
  font-size: 10px;
}

.font11px {
  font-size: 11px;
}

.font14px {
  font-size: 14px;
}

.font16px {
  font-size: 16px;
}

.font20px {
  font-size: 20px;
}

.fontbold {
  font-weight: 500;
}

.colorblack {
  color: var(--regular-black-color);
}

.colorred {
  color: var(--regular-red-color);
}

.colorgray {
  color: var(--regular-grey-color);
}

.colororange {
  color: var(--orange-color);
}

.colorblue {
  color: var(--regular-blue-color);
}

.colorgreen {
  color: var(--regular-green-color);
}

.bordergray {
  border: 1px solid var(--regular-grey-color);
}

.colororange {
  color: var(--orange-color);
}

.width45percent {
  width: 45%;
}

.width65percent {
  width: 65%;
  max-width: 65%;
}

.width650px {
  width: 650px;
  max-width: 650px;
}

.textaligncenter {
  text-align: center;
}

.textalignright {
  text-align: right;
}

.backgroundblue {
  background-color: var(--regular-blue-color);
}

hr {
  border: none;
  border-top: 3px dotted var(--regular-green-color);
  color: var(--hr-color);
  overflow: visible;
  text-align: center;
  height: 5px;
  margin-top: -3px;
}

table.blueTable {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  /*font-family: Verdana, Geneva, sans-serif;*/
  border: 1px solid var(--secondary-blue-color);
  background-color: var(--table-bg-color);
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

table.blueTable td, table.blueTable th {
  border: 1px solid var(--table-th-border-color);
  padding: 3px 2px;
}

table.blueTable tbody td {
  font-size: 12px;
  vertical-align: top;
  padding: 12px 10px;
}

table.blueTable tr:nth-child(even) {
  background: var(--table-tr-even-bg-color);
}

table.blueTable thead {
  background:  var(--table-thead-bg-color);
  border-bottom: 1px solid var(--table-thead-border-color);
}

table.blueTable thead th {
  font-size: 12px;
  font-weight: 700;
  color: var(--table-th-color);
  border-left: 1px solid var(--table-th-border-color-2);
  /*border: 1px solid rgb(249, 249, 247);*/
  padding: 10px 10px;
}

table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: var(--white-color);
  background: var(--table-th-border-color-2);
  border-top: 2px solid var(--table-thead-border-color);
}

table.blueTable tfoot td {
  font-size: 14px;
}

table.blueTable tfoot .links {
  text-align: right;
}

table.blueTable tfoot .links a{
  display: inline-block;
  background: var(--secondary-blue-color);
  color: var(--white-color);
  padding: 2px 8px;
  border-radius: 5px;
}

.small-icon {
  width: 15px;
  height: 15px;
  padding-left: 5px;
}

@media(max-width: 700px) {
  .mat-card-title {
    flex-direction: column;
    align-items: flex-start;
  }

  .product-details-container {
    padding: 10px;
  }
}

@media(max-width: 918px) {
  .product-property {
        width: 100%;
        border:1px solid var(--regular-red-color);
  }

  .row {
    flex-direction: column;

    &:not(:last-child) {
      border-bottom: none;

      .product-property {
        border-bottom: solid 1px var(--box-shadow-color-3);
      }
    }
    &:last-child {
      .row {
        &:not(:last-child) {
          border-bottom: solid 1px var(--box-shadow-color-3);
        }
      }
    }
  }
}

