@if (resultingMaterialIndex > 0) {
  <div>
    <hr class="style" />
  </div>
}

<div class="form-container">
  @if (resultingMaterial.$$deletedCode) {
    <div class="notification-backdrop">
      Deleted&nbsp;
      <button mat-icon-button matTooltip="Undo" (click)="undoDelete()">
        <mat-icon svgIcon="undo"></mat-icon>
      </button>
    </div>
  }

  <div class="button-delete">
    <!-- Copy Resulting Material Button -->
    <button
      mat-icon-button
      matTooltip=" Copy this Resulting Material to Starting Material in next Step"
      (click)="copyResultingToStarting()"
      >
      <mat-icon class="colorbluefda" svgIcon="file_copy"></mat-icon>
    </button>

    <!-- Delete Resulting Material Button -->
    <button
      mat-icon-button
      matTooltip="Delete Resulting Material {{ resultingMaterialIndex + 1 }}"
      (click)="confirmDeleteResultingMaterial()"
      >
      <mat-icon class="colorred" svgIcon="delete_forever"></mat-icon>
    </button>
  </div>

  <div class="divflex" style="vertical-align: top">
    <!-- FIRST COLUMN START -->
    <div>
      @if (
        configSettingsDisplay['substanceName'] ||
        (configSettingsDisplay['substanceName'] === undefined && true)
        ) {
        <div
          class="padtop10px related-substance"
          >
          <app-substance-selector
            (selectionUpdated)="relatedSubstanceUpdated($event)"
            (draftSelected)="draftSubstanceSelected($event)"
            eventCategory="substanceRelationshipRelatedSub"
            placeholder="Search by Name/CAS RN/UNII/BDNUM"
            header=""
            [subuuid]="relatedSubstanceUuid"
            [showMorelinks]="true"
            [showDraftOption]="true"
            >
          </app-substance-selector>
        </div>
      }
    </div>
    <!-- FIRST COLUMN END -->

    <!-- SECOND COLUMN START -->
    <div class="width80percent">
      <div class="form-row">
        @if (
          configSettingsDisplay['verbatimName'] ||
          (configSettingsDisplay['verbatimName'] === undefined && true)
          ) {
          <mat-form-field
            class="col"
            >
            <mat-label>Material Display Name</mat-label>
            <input
              matInput
              [(ngModel)]="resultingMaterial.verbatimName"
              name="resultingMaterial.verbatimName"
              />
          </mat-form-field>
        }

        @if (
          configSettingsDisplay['substanceRole'] ||
          (configSettingsDisplay['substanceRole'] === undefined && true)
          ) {
          <app-cv-input
            class="col"
            domain="SSG_SUBSTANCE_ROLE"
            required="true"
            title="Substance Role"
            [model]="resultingMaterial.substanceRole"
            (valueChange)="updateSubstanceRole($event)"
          ></app-cv-input>
        }
      </div>
      <!-- form row -->

      <div class="form-row">
        @if (
          configSettingsDisplay['substanceGrade'] ||
          (configSettingsDisplay['substanceGrade'] === undefined && true)
          ) {
          <app-cv-input
            class="col"
            domain="SSG_SUBSTANCE_GRADE"
            title="Substance Grade"
            [model]="resultingMaterial.substanceGrade"
            (valueChange)="updateSubstanceGrade($event)"
            >
          </app-cv-input>
        }

        @if (
          configSettingsDisplay['comments'] ||
          (configSettingsDisplay['comments'] === undefined &&
          showAdvancedSettings)
          ) {
          <mat-form-field
            class="col"
            >
            <mat-label>Comments</mat-label>
            <textarea
              matInput
              [(ngModel)]="resultingMaterial.comments"
              name="resultingMaterial.comments"
              rows="1"
            ></textarea>
          </mat-form-field>
        }
      </div>

      <!-- Amount -->
      <div class="form-row">
        @if (
          configSettingsDisplay['amount'] ||
          (configSettingsDisplay['amount'] === undefined &&
          showAdvancedSettings)
          ) {
          <div
            class="col margintop10px"
            >
            <div class="divflex">
              <div class="label amt-label">
                Amount
                <button
                  mat-icon-button
                  matTooltip="add"
                  (click)="openAmountDialog()"
                  >
                  <mat-icon svgIcon="add_circle_outline"></mat-icon>
                </button>
              </div>
              <div class="padleft15px amount-display">
                @if (resultingMaterial.amount) {
                  <div>
                    {{ displayAmount(resultingMaterial.amount) }}
                  </div>
                }
              </div>
            </div>
            <!-- divflex -->
          </div>
        }
      </div>
      <!-- Amount End -->

      <!-- Acceptance Criteria Config, Add button -->
      @if (
        configSettingsDisplay['acceptanceCriteria'] ||
        (configSettingsDisplay['acceptanceCriteria'] === undefined && true)
        ) {
        <div
          >
          <br />
          <b>Acceptance Criterias: </b>&nbsp;
          <button
            mat-raised-button
            color="primary"
            class=""
            matTooltip="Add Acceptance Criteria"
            (click)="addAcceptanceCriteria(processIndex, siteIndex, stageIndex)"
            >
            <mat-icon>add_circle_outline</mat-icon>Add Acceptance Criteria
          </button>
          <!-- Acceptance Criteria Loop -->
          @if (resultingMaterial.acceptanceCriterias !== null) {
            <div>
              @for (
                acceptanceCriteria of resultingMaterial.acceptanceCriterias; track
                acceptanceCriteria; let acceptanceIndex = $index) {
                <div
                  class="marginbottom10px"
                  >
                  <div class="form-row">
                    <mat-form-field class="col">
                      <mat-label>Acceptance Criteria</mat-label>
                      <input
                        matInput
                        [(ngModel)]="acceptanceCriteria.acceptanceCriteria"
                        name="resultingMaterial.acceptanceCriteria"
                        />
                    </mat-form-field>
                    <app-cv-input
                      class="col"
                      domain="SSG_ACCEPTANCE_CRITERIA_TYPE"
                      title="Acceptance Criteria Type"
                      [model]="acceptanceCriteria.acceptanceCriteriaType"
                (valueChange)="
                  updateAcceptanceCriteriaType($event, acceptanceIndex)
                "
                      >
                    </app-cv-input>
                    <div class="button-delete">
                      <button
                        mat-icon-button
                  matTooltip="Delete Manufacturer Details{{
                    acceptanceIndex + 1
                  }}"
                        (click)="confirmDeleteAcceptanceCriteria(acceptanceIndex)"
                        >
                        <mat-icon
                          class="colorred"
                          svgIcon="delete_forever"
                        ></mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
              }
              <!-- loop Acceptance Criteria -->
            </div>
          }
        </div>
      }
      <!-- Acceptance Criteria Config -->
    </div>
    <!-- SECOND COLUMN -->
  </div>
  <!-- divflex -->
</div>
