<div *ngIf="resultingMaterialIndex > 0">
<hr>
</div>
<div class="form-container">
  <div *ngIf="resultingMaterial.$$deletedCode" class="notification-backdrop">
    Deleted&nbsp;
    <button mat-icon-button matTooltip="Undo" (click)="undoDelete()">
      <mat-icon svgIcon="undo"></mat-icon>
    </button>
  </div>

  <div class="">
    <div class="button-delete">
      <button mat-icon-button matTooltip=" Copy this Resulting Material to Starting Material in next Step"
        (click)="copyResultingToStarting()">
        <mat-icon class="colorbluefda" svgIcon="file_copy"></mat-icon>
      </button>
      <button mat-icon-button matTooltip="Delete Resulting Material {{(resultingMaterialIndex+1)}}"
        (click)="confirmDeleteResultingMaterial()">
        <mat-icon class="colorred" svgIcon="delete_forever"></mat-icon>
      </button>
    </div>
  </div>

  <div class="form-row">
    <!--
    <div class="delete-container">
      <b>{{(resultingMaterialIndex+1)}}</b>
      <button mat-icon-button matTooltip="Delete Resulting Material {{(resultingMaterialIndex+1)}}"
        (click)="confirmDeleteResultingMaterial()">
        <mat-icon svgIcon="delete_forever"></mat-icon>
      </button>
      <br>
      &nbsp;&nbsp;
      <button mat-icon-button matTooltip=" Copy this Resulting Material to Starting Material in next Step"
        (click)="copyResultingToStarting()">
        <mat-icon svgIcon="file_copy"></mat-icon>
      </button>
      <br>
      <div class="padleft15px"><b>{{(resultingMaterialIndex+1)}}</b>
      </div>
    </div>
     -->

    <div class="col related-substance"
      *ngIf="configSettingsDisplay['substanceName'] || (configSettingsDisplay['substanceName'] === undefined && true)">
      <app-substance-selector (selectionUpdated)="relatedSubstanceUpdated($event)"
        eventCategory="substanceRelationshipRelatedSub" placeholder="Search by Name/CAS RN/UNII/BDNUM"
        header="" [subuuid]="relatedSubstanceUuid" [showMorelinks]="true">
      </app-substance-selector>
    </div>

    <!--
    <div class="col height40px">
      <a [routerLink]="['/structure-search']" target="_blank" matTooltip='Structure Search'>
        <mat-icon svgIcon="search"></mat-icon>
      </a>
      &nbsp;&nbsp;
      <a [routerLink]="['/substances/register/chemical']" target="_blank" matTooltip='Register New Substance'>
        <mat-icon svgIcon="edit"></mat-icon>
      </a>
    </div>
    -->

    <mat-form-field class="col"
      *ngIf="configSettingsDisplay['verbatimName'] || (configSettingsDisplay['verbatimName'] === undefined && true)">
      <input matInput placeholder="Material Display Name" [(ngModel)]="resultingMaterial.verbatimName"
        name="resultingMaterial.verbatimName" />
    </mat-form-field>

    <app-cv-input class="col"
      *ngIf="configSettingsDisplay['substanceRole'] || (configSettingsDisplay['substanceRole'] === undefined && true)"
      domain="SSG_SUBSTANCE_ROLE" required='true' title="Substance Role" [model]="resultingMaterial.substanceRole"
      (valueChange)="updateSubstanceRole($event)"></app-cv-input>
  </div> <!-- form row -->


  <div class="form-row">
    <mat-form-field class="col"
      *ngIf="configSettingsDisplay['acceptanceCriteria'] || (configSettingsDisplay['acceptanceCriteria'] === undefined && true)">
      <input matInput placeholder="Acceptance Criteria" [(ngModel)]="resultingMaterial.acceptanceCriteria"
        name="resultingMaterial.acceptanceCriteria" />
    </mat-form-field>

    <app-cv-input class="col"
      *ngIf="configSettingsDisplay['specificationType'] || (configSettingsDisplay['specificationType'] === undefined && true)"
      domain="SSG_SPECIFICATION_TYPE" required='true' title="Specification Type"
      [model]="resultingMaterial.specificationType" (valueChange)="updateSpecificationType($event)">
    </app-cv-input>

    <app-cv-input class="col"
      *ngIf="configSettingsDisplay['substanceGrade'] || (configSettingsDisplay['substanceGrade'] === undefined && true)"
      domain="SSG_SUBSTANCE_GRADE" required='true' title="Substance Grade" [model]="resultingMaterial.substanceGrade"
      (valueChange)="updateSubstanceGrade($event)">
    </app-cv-input>
  </div>

  <div class="form-row">
    <div class='col'>
      <div class="label amt-label">
        Amount
        <button mat-icon-button matTooltip="add" (click)="(openAmountDialog())">
          <mat-icon svgIcon="add_circle_outline"></mat-icon>
        </button>
      </div>
      <div class="amount-display">
        <div *ngIf="resultingMaterial.amount">
          {{displayAmount(resultingMaterial.amount)}}
        </div>
      </div>
    </div>

    <!-- Specification Type -->
    <div class="col" *ngIf="!resultingMaterial.specificationReference">
      <button mat-button ncatsFileSelect (selectedFile)="fileSelected($event)">
        <span>Specification Reference</span>&nbsp;
        <mat-icon svgIcon="cloud_upload"></mat-icon>
      </button>
    </div>
    <div *ngIf="resultingMaterial.specificationReference">
      <button mat-button [matMenuTriggerFor]="documentMenu">
        Specification Reference: &nbsp;&nbsp;See Attachment
        <mat-icon svgIcon="attachment"></mat-icon>
      </button>
      <mat-menu #documentMenu="matMenu">
        <a mat-menu-item (click)="downloadDocument(resultingMaterial.specificationReference)">Download</a>
        <button mat-menu-item ncatsFileSelect (selectedFile)="fileSelected($event)">Replace</button>
        <button mat-menu-item (click)="resultingMaterial.specificationReference = null">Delete</button>
      </mat-menu>
    </div>
    <div class="loading-container" *ngIf="loading === true">
      <div class="spinner-container">
        <mat-progress-spinner class="progress-spinner spinner" [color]="primary" mode="indeterminate">
        </mat-progress-spinner>
      </div>

      <span>Uploading</span>
    </div>
    <div class="loading-container" *ngIf="loading === false && error === true">
      Error: There was a problem uploading this document
    </div>

    <div class="middle-fill"></div>

  </div> <!-- form-row-->

  <div class="form-row">
    <div class="references-container">
      <app-domain-references [referencesUuids]="resultingMaterial.references" #references></app-domain-references>
    </div>
  </div>

  <div class="form-row"
    *ngIf="configSettingsDisplay['comments'] || (configSettingsDisplay['comments'] === undefined && showAdvancedSettings)">
    <div class="">&nbsp;</div>
    <mat-form-field class="col-1-1">
      <textarea matInput placeholder="Comments" [(ngModel)]="resultingMaterial.comments"
        name="resultingMaterial.comments" rows="1"></textarea>
    </mat-form-field>
  </div> <!-- form-row-->
</div>