<div class = "mixture-details-container">
  <div class="flex-column related-substance">
    <app-substance-selector (selectionUpdated)="parentSubstanceUpdated($event)"
                            eventCategory="substanceRelationshipRelatedSub" placeholder="Parent Substance" header="Parent Substance"
                            [subuuid]="relatedSubstanceUuid">
    </app-substance-selector>
  </div>
  <app-access-manager (accessOut)="updateAccess($event)" [access]="mixture.access">
  </app-access-manager>
</div>
<div class = "form-row">
  <app-audit-info [source] = "mixture"></app-audit-info>
</div>
