<br>
<div *ngIf="impurities">
  <div *ngIf="impurities.id; else noRecord">
    <div class="details-container margintop90px">
      <mat-card class="bordergray">
        <mat-card-title>
          <div class="divflex">
            <div class="">
              Impurities Details &nbsp;&nbsp;&nbsp;
              <!-- Edit GSRS record button -->
              <a [routerLink]="['/impurities', impurities.id, 'edit']" target="_blank"
                matTooltip='Edit GSRS Impurities Record'>
                <mat-icon svgIcon="edit"></mat-icon>
              </a>
            </div>
            <div class="width150px">&nbsp;</div>
            <div class="font11px">
              <span class="colorgray">Created By:</span> {{impurities.createdBy}}&nbsp;&nbsp;&nbsp;
              <span class="colorgray">Create Date:</span>
              {{impurities.createDate|date: 'MM/dd/yyyy hh:mm:ss a'}}&nbsp;&nbsp;&nbsp;
              <span class="colorgray">Modified By:</span> {{impurities.modifiedBy}}&nbsp;&nbsp;&nbsp;
              <span class="colorgray">Modify Date:</span> {{impurities.modifyDate|date: 'MM/dd/yyyy hh:mm:ss a'}}
            </div>
          </div>

        </mat-card-title>
        <mat-card-content>

          <!-- Impurities Details -->
          <br>
          <div class="row">
            <div class="row-property">
              <div class="row-property-key">
                Substance Name:
              </div>
              <div class="row-property-value">
                <div *ngIf="impurities.substanceUuid">
                  <a [routerLink]="['/substances', impurities.substanceUuid]" target="_blank">
                    <span class="colororange font16px fontbold">{{substanceName}}</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="row-property">
              <div class="row-property-key">
                Source:
              </div>
              <div class="row-property-value">
                {{impurities.source}}
              </div>
            </div>
            <div class="row-property">
              <div class="row-property-key">
                Spec Type:
              </div>
              <div class="row-property-value">
                {{impurities.specType}}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="row-property">
              <div class="row-property-key">
                Product ID:
              </div>
              <div class="row-property-value">
                {{impurities.productId}}
              </div>
            </div>
            <div class="row-property">
              <div class="row-property-key">
                Type:
              </div>
              <div class="row-property-value">
                {{impurities.type}}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="row-property">
              <div class="row-property-key">
                Company Product Name:
              </div>
              <div class="row-property-value">
                {{impurities.companyProductName}}
              </div>
            </div>
            <div class="row-property">
              <div class="row-property-key">
                Company Name:
              </div>
              <div class="row-property-value">
                {{impurities.companyName}}
              </div>
            </div>
          </div>

          <!-- Impurities Details -->
          <div class="details-container margintop30px">
            <mat-card class="bordergray">
              <mat-card-title class="title2">
                Impurities ({{impurities.impuritiesDetailsList.length}})
              </mat-card-title>
              <mat-card-content *ngIf="impurities.impuritiesDetailsList.length > 0">
                <table class="blueTable">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th class="width150px">Related Substance</th>
                      <th>Impurity Type</th>
                      <th>Test Type</th>
                      <th>Limit Type</th>
                      <th>Limit</th>
                      <th>Unit</th>
                      <th>Identity Criteria</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let x of impurities.impuritiesDetailsList; let i = index">
                      <td>{{i + 1}}</td>
                      <td class="textaligncenter width200px">
                        <div *ngIf="x.relatedSubstanceUuid">
                          <img class="structure-image" appSubstanceImage [entityId]="x.relatedSubstanceUuid">
                          <br>
                          <a [routerLink]="['/substances', x.relatedSubstanceUuid]"
                            target="_blank">{{x.substanceName}}</a>
                        </div>
                      </td>
                      <td>{{ x.impurityType }}</td>
                      <td>{{ x.testType }}</td>
                      <td>{{ x.limitType }}</td>
                      <td>{{ x.limit }}</td>
                      <td>{{ x.unit }}</td>
                      <td>
                        <div *ngFor="let idenCriteria of x.identityCriteriaList; let j = index">
                          <span *ngIf="j > 0"><br></span>
                          <b>Criteria Type:</b>&nbsp;{{idenCriteria.identityCriteriaType}}<br>
                          <b>Amount Value:</b>&nbsp;{{idenCriteria.amountValue}}<br>
                          <b>Unit:</b>&nbsp;{{idenCriteria.unit}}
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </mat-card-content>
            </mat-card>
          </div>


          <!-- Unspecified Impurities -->
          <div class="details-container margintop30px">
            <mat-card class="bordergray">
              <mat-card-title class="title2">
                Unspecified Impurities ({{impurities.impuritiesUnspecifiedList.length}})
              </mat-card-title>
              <mat-card-content *ngIf="impurities.impuritiesUnspecifiedList.length > 0">
                <table class="blueTable">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Impurity Type</th>
                      <th>Test Type</th>
                      <th>Limit Type</th>
                      <th>Limit</th>
                      <th>Unit</th>
                      <th>Identity Criteria</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let x of impurities.impuritiesUnspecifiedList; let i = index">
                      <td>{{i + 1}}</td>
                      <td>{{ x.impurityType }}</td>
                      <td>{{ x.testType }}</td>
                      <td>{{ x.limitType }}</td>
                      <td>{{ x.limit }}</td>
                      <td>{{ x.unit }}</td>
                      <td>
                        <div *ngFor="let idenCriteria of x.identityCriteriaList; let j = index">
                          <span *ngIf="j > 0"><br></span>
                          <b>Criteria Type:</b>&nbsp;{{idenCriteria.identityCriteriaType}}<br>
                          <b>Amount Value:</b>&nbsp;{{idenCriteria.amountValue}}<br>
                          <b>Unit:</b>&nbsp;{{idenCriteria.unit}}
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </mat-card-content>
            </mat-card>
          </div>


          <!-- Total Impurities -->
          <div class="details-container margintop30px">
            <mat-card class="bordergray">
              <mat-card-title class="title2">
                Total Impurities
              </mat-card-title>
              <mat-card-content>
                <div class="row">
                  <div class="row-property">
                    <div class="row-property-key">
                      Test Type:
                    </div>
                    <div class="row-property-value">
                      {{impurities.impuritiesTotal.testType}}
                    </div>
                  </div>
                  <div class="row-property">
                    <div class="row-property-key">
                      Limit:
                    </div>
                    <div class="row-property-value">
                      {{impurities.impuritiesTotal.limit}}
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="row-property">
                    <div class="row-property-key">
                      Amount Value:
                    </div>
                    <div class="row-property-value">
                      {{impurities.impuritiesTotal.amountValue}}
                    </div>
                  </div>
                  <div class="row-property">
                    <div class="row-property-key">
                      Limit Type:
                    </div>
                    <div class="row-property-value">
                      {{impurities.impuritiesTotal.limitType}}
                    </div>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>

        </mat-card-content>

      </mat-card>
    </div>
  </div>

  <ng-template #noRecordProd>
    <br><br><br><br>
    <div class="colororange padtop50px padleft50px">There is no Impurities Data found.</div>
  </ng-template>

</div>
<br><br><br><br>