@if (alternatives) {
  <div class = "form-row">
    @for (alternative of alternatives; track alternative) {
      <div class="thumb-col">
        <div>        {{alternative.approvalID? alternative.approvalID : alternative.refuuid}}
        </div>
        <img class="image-thumb" appSubstanceImage [entityId]="alternative.refuuid" size="400">
        <div>
          <a class="substance-name" [routerLink]="['/substances', alternative.refuuid]" >
            {{alternative.name}}
          </a>
        </div>
      </div>
    }
  </div>
}
