<div class="padtop5px padleft25px font15px colorblue">
  <b>Invitro Pharmacology</b>
  &nbsp;&nbsp;&nbsp;
  <!-- Export Button -->
  <!--
    <span class="export" *ngIf="isAdmin && totalRecords > 0">
      <button matTooltip="Export Search Results" mat-button (click)="export()"
        class="mat-button export-button mat-raised-button">
        <mat-icon svgIcon="get_app"></mat-icon> Export
      </button>
    </span>
    -->
</div>

<div class="responsive mat-table-style">
  <!-- Spinner -->
  <div *ngIf="showSpinner" class="spinnerstyle">
    <mat-progress-spinner diameter="80" color="warn" mode="indeterminate">
    </mat-progress-spinner>
  </div>

  <table mat-table [dataSource]="paged">

    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef class="width100px">View Details</th>
      <td mat-cell *matCellDef="let invitro">
        <div *ngIf="invitro.id">
          <div *ngIf="isAdmin; else noLogin">
            <a [routerLink]="['/invitro-pharm', invitro.id]" target="_blank"
              matTooltip='View Invitro Pharmacology Record'>
              View
            </a>
          </div>
          <ng-template #noLogin>
            Please Login to View/Edit
          </ng-template>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="assayTarget">
      <th mat-header-cell *matHeaderCellDef class="width100px">Assay Target</th>
      <td mat-cell *matCellDef="let assay">
          {{assay.assayTarget}}
      </td>
    </ng-container>

    <ng-container matColumnDef="ligand">
      <th mat-header-cell *matHeaderCellDef class="width100px">Ligand/Substate</th>
      <td mat-cell *matCellDef="let assay">
          {{assay.ligandSubstrate}}
      </td>
    </ng-container>

    <ng-container matColumnDef="testCompound">
      <th mat-header-cell *matHeaderCellDef class="width100px">Test Compound</th>
      <td mat-cell *matCellDef="let assay">
          {{assay.testCompound}}
      </td>
    </ng-container>

    <ng-container matColumnDef="assayType">
      <th mat-header-cell *matHeaderCellDef class="width100px">Assay Type</th>
      <td mat-cell *matCellDef="let assay">
          {{assay.assayType}}
      </td>
    </ng-container>

    <ng-container matColumnDef="presentationType">
      <th mat-header-cell *matHeaderCellDef class="width100px">Presentation Type</th>
      <td mat-cell *matCellDef="let assay">
          {{assay.presentationType}}
      </td>
    </ng-container>

    <ng-container matColumnDef="ligandConcentUnit">
      <th mat-header-cell *matHeaderCellDef class="width100px">Ligand/Substrate Concentration Unit</th>
      <td mat-cell *matCellDef="let assay">
          {{assay.ligandSubstrateConcentrationUnit}}
          {{assay.concentrationUnit}}
      </td>
    </ng-container>


    <!--
    <ng-container matColumnDef="assayExternalId">
      <th mat-header-cell *matHeaderCellDef class="width100px">Assay External ID</th>
      <td mat-cell *matCellDef="let invitro">
        <div *ngFor="let invitroAssay of invitro.invitroAssays; let i = index">
          {{invitroAssay.assayExternalId}}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="assayTitle">
      <th mat-header-cell *matHeaderCellDef class="width100px">Assay Title</th>
      <td mat-cell *matCellDef="let invitro">
        <div *ngFor="let invitroAssay of invitro.invitroAssays; let i = index">
          {{invitroAssay.assayTitle}}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="assayTarget">
      <th mat-header-cell *matHeaderCellDef class="width100px">Assay Target</th>
      <td mat-cell *matCellDef="let invitro">
        <div *ngFor="let invitroAssay of invitro.invitroAssays; let i = index">
          {{invitroAssay.assayTarget}}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="assayType">
      <th mat-header-cell *matHeaderCellDef class="width100px">Assay Type</th>
      <td mat-cell *matCellDef="let invitro">
        <div *ngFor="let invitroAssay of invitro.invitroAssays; let i = index">
          {{invitroAssay.assayType}}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="studyType">
      <th mat-header-cell *matHeaderCellDef class="width100px">Study Type</th>
      <td mat-cell *matCellDef="let invitro">
        <div *ngFor="let invitroAssay of invitro.invitroAssays; let i = index">
          {{invitroAssay.studyType}}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="radioligand">
      <th mat-header-cell *matHeaderCellDef class="width100px">Radioligand</th>
      <td mat-cell *matCellDef="let invitro">
        <div *ngFor="let invitroAssay of invitro.invitroAssays; let i = index">
          {{invitroAssay.radioligand}}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="screeningConcent">
      <th mat-header-cell *matHeaderCellDef class="width100px">Screening Concentration</th>
      <td mat-cell *matCellDef="let invitro">
        <div *ngFor="let invitroAssay of invitro.invitroAssays; let i = index">
          {{invitroAssay.screeningConcentration}}
        </div>
      </td>
    </ng-container>
  -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<mat-paginator [length]="invitroPharmTotalRecords" [pageSize]="5" showFirstLastButtons="true"
  (page)="getInvitroPharm($event)" [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>