.structure-form {
    padding: 15px 7px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .mol-formula, .stereochemistry, .optical-activity {
        flex-grow: 1;
        padding-right: 15px;
    }

    .atropisomerism {
        flex-grow: 1;
    }
}

.polymer-form {
  display:flex;
}

.key-value-pair {
    display: flex;
    flex-direction: column;

    .key {
        font-size: 11px;
        padding-bottom: 4px;
    }
}

.stereo-comments {
    width: 100%;
    padding-top: 10px;
}

.settings_container {
    padding-left: 7px;

    .mat-icon-button {
        width: 45px;
        height: 45px;
      }

      .mat-icon {
        width: 35px;
        height: 35px;
      }
}

.WARNING {
  color: var(--warning-dialog-color);
  background-color: var(--warning-dialog-bg-color);

}


.ERROR {
  color: var(--error-dialog-color);
  background-color: var(--error-dialog-bg-color);
}

.dupe-check {
  margin-bottom: 5px;

}

