.messages-container {
    text-align: center;
    font-weight: 500;
    font-size: 1.05em;
    -webkit-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    overflow: hidden;

    &.collapsed {
        max-height: 0;
    }

    &.expanded {
        max-height: 500px;
        padding: 10px 0 5px 0;
    }
}

.button-container {
  margin-top: -50px;
}

.button-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;


    .right-buttons {
      align-content: flex-end;
      display: flex;
      margin-right: -8px;
    }

    .left-buttons {

      align-content: flex-start;
      display: flex;
      button {
        margin-right:20px;
      }
    }
  }

  .feature-table {
    display:block;
    margin: auto;
    width: 85%;
  }

  .feature-expansion {
    width:100%; 
    justify-content: center;
  }

  .full-width {
    width: 100%;
  }
  
  tr.mat-row, tr.mat-footer-row {
    height: 32px;
}

  .SUCCESS {
    color: var(--success-green-color);
    background-color: var(--success-green-bg-color);

  }

  .submission-messages {
    overflow: hidden;
    height: auto;
    -webkit-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    max-width: 1028px;
    width: 100%;
    background-color: var(--regular-white-color);
    display: flex;
    flex-direction: column;
      max-height: 500px;
      overflow-y: auto;
      padding: 10px;

    .validation-message {
      display: flex;
      padding: 5px 0;
      align-items: center;

      .message-type {
        text-transform: uppercase;
        font-weight: 500;
        margin-right: 20px;
        padding:10px;
        border-radius:3px;
      }
    }

    .dismiss-container {
      display: flex;
    }

  }

.WARNING {
  color: var(--warning-dialog-color);
  background-color: var(--warning-dialog-bg-color);

}

.ERROR {
  color: var(--error-dialog-color);
  background-color: var(--error-dialog-bg-color);
}

.dupe-check {
  margin-bottom: 5px;

}

.internal-link {
  color: var(--link-primary-color);
}


.z-index {
  z-index: 9999 !important;
}

.superscript-icon {
  height: 18px;
  width: 18px;
  vertical-align: top;
}