<div class="code-form-container">
  <div *ngIf="mod.$$deletedCode" class="notification-backdrop">
    Deleted&nbsp;
    <button mat-icon-button matTooltip="Undo" (click)="undoDelete()">
      <mat-icon svgIcon="undo"></mat-icon>
    </button>
  </div>
  <div class="delete-container">
  <button mat-icon-button matTooltip="Delete code" (click)="deleteCode()">
    <mat-icon svgIcon="delete_forever"></mat-icon>
  </button>
</div>
  <div class="flex-column related-substance">
    <app-substance-selector (selectionUpdated)="relatedSubstanceUpdated($event)"
                            eventCategory="substanceRelationshipRelatedSub" placeholder="Related Substance" header="Related Substance"
                            [subuuid]="relatedSubstanceUuid">
    </app-substance-selector>
  </div>
    <div class="flex-column form-content">
      <div class="form-row">
        <app-cv-input [vocabulary] = "modTypeList" title = "Modification Process" [model] = "mod.agentModificationProcess" (valueChange)="updateProcess($event)"></app-cv-input>
        <app-cv-input [vocabulary] = "modTypeList" title = "Modification Type" [model] = "mod.agentModificationType" (valueChange)="mod.agentModificationType = $event"></app-cv-input>
    <mat-form-field class="mod-type">
      <mat-label>Modification Role</mat-label>
      <mat-select [(ngModel)]="mod.agentModificationRole" required name="code">
        <mat-option *ngFor="let modType of  modRoleList" [value]=" modType.value">
          {{modType.display}}
        </mat-option>
      </mat-select>
    </mat-form-field>
      </div>
      <div class="form-row">
    <div class = 'amount'>
      <div class = "label amt-label">
        Amount
      </div>
      <button mat-icon-button matTooltip="add" (click)="(openAmountDialog())">
        <mat-icon svgIcon="add_circle_outline"></mat-icon>
      </button>
    <div class = "amount-display">
      <div *ngIf = "mod.amount">
        {{displayAmount(mod.amount)}}
      </div>
    </div>
    </div>

    <mat-form-field class="group">
      <input matInput placeholder="Group" [(ngModel)]="mod.modificationGroup" required name="group" />
    </mat-form-field>
      </div>
    </div>

  </div>
