<div *ngIf="processingMaterialIndex > 0">
  <hr>
</div>
<div class="form-container">
  <div *ngIf="processingMaterial.$$deletedCode" class="notification-backdrop">
    Deleted&nbsp;
    <button mat-icon-button matTooltip="Undo" (click)="undoDelete()">
      <mat-icon svgIcon="undo"></mat-icon>
    </button>
  </div>

  <div class="">
    <div class="button-delete">
      <button mat-icon-button matTooltip="Delete Processing Material {{(processingMaterialIndex+1)}}"
        (click)="confirmDeleteProcessingMaterial()">
        <mat-icon class="colorred" svgIcon="delete_forever"></mat-icon>
      </button>
    </div>
  </div>

  <div class="form-row">
    <!--
    <div class="delete-container">
      <b>{{(processingMaterialIndex+1)}}</b>
      <button mat-icon-button matTooltip="Delete Processing Material {{(processingMaterialIndex+1)}}" (click)="confirmDeleteProcessingMaterial()">
        <mat-icon svgIcon="delete_forever"></mat-icon>
      </button>
    </div>
    -->

    <div class="col related-substance"
      *ngIf="configSettingsDisplay['substanceName'] || (configSettingsDisplay['substanceName'] === undefined && true)">
      <app-substance-selector (selectionUpdated)="relatedSubstanceUpdated($event)"
        eventCategory="substanceRelationshipRelatedSub" placeholder="Search by Name/CAS RN/UNII/BDNUM" header=""
        [subuuid]="relatedSubstanceUuid" [showMorelinks]="true">
      </app-substance-selector>
    </div>

    <mat-form-field class="col"
      *ngIf="configSettingsDisplay['verbatimName'] || (configSettingsDisplay['verbatimName'] === undefined && true)">
      <input matInput placeholder="Material Display Name" [(ngModel)]="processingMaterial.verbatimName"
        name="processingMaterial.verbatimName" />
    </mat-form-field>

    <app-cv-input class="col"
      *ngIf="configSettingsDisplay['substanceRole'] || (configSettingsDisplay['substanceRole'] === undefined && true)"
      domain="SSG_SUBSTANCE_ROLE" required='true' title="Substance Role" [model]="processingMaterial.substanceRole"
      (valueChange)="updateSubstanceRole($event)"></app-cv-input>
  </div> <!-- form row -->


  <div class="form-row">
    <mat-form-field class="col"
      *ngIf="configSettingsDisplay['acceptanceCriteria'] || (configSettingsDisplay['acceptanceCriteria'] === undefined && true)">
      <input matInput placeholder="Acceptance Criteria" [(ngModel)]="processingMaterial.acceptanceCriteria"
        name="processingMaterial.acceptanceCriteria" />
    </mat-form-field>

    <app-cv-input class="col"
      *ngIf="configSettingsDisplay['acceptanceCriteriaType'] || (configSettingsDisplay['acceptanceCriteriaType'] === undefined && true)"
      domain="SSG_ACCEPTANCE_CRITERIA_TYPE" required='true' title="Acceptance Criteria Type"
      [model]="processingMaterial.acceptanceCriteriaType" (valueChange)="updateAcceptanceCriteriaType($event)">
    </app-cv-input>

    <!--
    <app-cv-input class="col"
      *ngIf="configSettingsDisplay['specificationType'] || (configSettingsDisplay['specificationType'] === undefined && true)"
      domain="SSG_SPECIFICATION_TYPE" required='true' title="Specification Type"
      [model]="processingMaterial.specificationType" (valueChange)="updateSpecificationType($event)">
    </app-cv-input>
    -->

    <app-cv-input class="col"
      *ngIf="configSettingsDisplay['substanceGrade'] || (configSettingsDisplay['substanceGrade'] === undefined && true)"
      domain="SSG_SUBSTANCE_GRADE" required='true' title="Substance Grade" [model]="processingMaterial.substanceGrade"
      (valueChange)="updateSubstanceGrade($event)">
    </app-cv-input>
  </div>

  <div class="form-row">
    <mat-form-field class="col"
      *ngIf="configSettingsDisplay['manufactureName'] || (configSettingsDisplay['manufactureName'] === undefined && true)">
      <input matInput placeholder="Manufacture Name" [(ngModel)]="processingMaterial.manufactureName"
        name="processingMaterial.manufactureName" />
    </mat-form-field>

    <mat-form-field class="col"
      *ngIf="configSettingsDisplay['manufactureId'] || (configSettingsDisplay['manufactureId'] === undefined && true)">
      <input matInput placeholder="Manufacture ID" [(ngModel)]="processingMaterial.manufactureId"
        name="processingMaterial.manufactureId" />
    </mat-form-field>

    <app-cv-input class="col"
      *ngIf="configSettingsDisplay['manufactureIdType'] || (configSettingsDisplay['manufactureIdType'] === undefined && true)"
      domain="SSG_MANUFACTURE_ID_TYPE" required='true' title="Manufacture ID Type"
      [model]="processingMaterial.manufactureIdType" (valueChange)="updateManufactureIdType($event)">
    </app-cv-input>
  </div>

  <div class="form-row">
    <div class='col'>
      <div class="label amt-label">
        Amount
        <button mat-icon-button matTooltip="add" (click)="(openAmountDialog())">
          <mat-icon svgIcon="add_circle_outline"></mat-icon>
        </button>
      </div>
      <div class="amount-display">
        <div *ngIf="processingMaterial.amount">
          {{displayAmount(processingMaterial.amount)}}
        </div>
      </div>
    </div>

    <!-- Specification Type -->
    <div class="col" *ngIf="!processingMaterial.specificationReference">
      <button mat-button ncatsFileSelect (selectedFile)="fileSelected($event)">
        <span>Specification Reference</span>&nbsp;
        <mat-icon svgIcon="cloud_upload"></mat-icon>
      </button>
    </div>
    <div *ngIf="processingMaterial.specificationReference">
      <button mat-button [matMenuTriggerFor]="documentMenu">
        Specification Reference: &nbsp;&nbsp;See Attachment
        <mat-icon svgIcon="attachment"></mat-icon>
      </button>
      <mat-menu #documentMenu="matMenu">
        <a mat-menu-item (click)="downloadDocument(processingMaterial.specificationReference)">Download</a>
        <button mat-menu-item ncatsFileSelect (selectedFile)="fileSelected($event)">Replace</button>
        <button mat-menu-item (click)="processingMaterial.specificationReference = null">Delete</button>
      </mat-menu>
    </div>
    <div class="loading-container" *ngIf="loading === true">
      <div class="spinner-container">
        <mat-progress-spinner class="progress-spinner spinner" [color]="primary" mode="indeterminate">
        </mat-progress-spinner>
      </div>

      <span>Uploading</span>
    </div>
    <div class="loading-container" *ngIf="loading === false && error === true">
      Error: There was a problem uploading this document
    </div>

    <div class="middle-fill"></div>

  </div> <!-- form-row-->

  <div class="form-row">
    <div class="references-container">
      <app-domain-references [referencesUuids]="processingMaterial.references" #references></app-domain-references>
    </div>
  </div>

  <div class="form-row margintop10px"
    *ngIf="configSettingsDisplay['comments'] || (configSettingsDisplay['comments'] === undefined && showAdvancedSettings)">
    <div class="">&nbsp;</div>
    <mat-form-field class="col-1-1">
      <textarea matInput placeholder="Comments" [(ngModel)]="processingMaterial.comments"
        name="processingMaterial.comments" rows="1"></textarea>
    </mat-form-field>
  </div> <!-- form-row-->

</div>