<div class="form-container">
  <div *ngIf="processingMaterial.$$deletedCode" class="notification-backdrop">
    Deleted&nbsp;
    <button mat-icon-button matTooltip="Undo" (click)="undoDelete()">
      <mat-icon svgIcon="undo"></mat-icon>
    </button>
  </div>
  <div class="form-row">
    <div class="delete-container">
      <button mat-icon-button matTooltip="Delete Processing Material {{(processingMaterialIndex+1)}}" (click)="confirmDeleteProcessingMaterial()">
        <mat-icon svgIcon="delete_forever"></mat-icon>
      </button>
      <br>
      <div class="padleft15px"><b>{{(processingMaterialIndex+1)}}</b></div>
    </div>

    <div class="col related-substance">
      <app-substance-selector (selectionUpdated)="relatedSubstanceUpdated($event)"
        eventCategory="substanceRelationshipRelatedSub" placeholder="Search by Name/CAS RN/UNII/BDNUM" header="Substance Name"
        [subuuid]="relatedSubstanceUuid">
      </app-substance-selector>
    </div>

    <mat-form-field class="col">
      <input matInput placeholder="Verbatim Name" [(ngModel)]="processingMaterial.verbatimName"
        name="processingMaterial.verbatimName" />
    </mat-form-field>

    <app-cv-input class="col" domain="SSG_SUBSTANCE_ROLE" required='true' title="Substance Role"
      [model]="processingMaterial.substanceRole" (valueChange)="updateSubstanceRole($event)"></app-cv-input>
  </div> <!-- form row -->

  <div class="form-row">
    <div class="col marginleft50px">
      <!-- Register Subtance -->
      <a [routerLink]="['/substances/register/chemical']" target="_blank" matTooltip='Register New Substance'>
        <span class="font11px">Register New</span>
      </a>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <!-- Structure search -->
      <a [routerLink]="['/structure-search']" target="_blank" matTooltip='Structure Search'>
        <span class="font11px">Search By Structure</span>
      </a>
    </div>
  </div>

  <div class="form-row margintop10px" *ngIf="showAdvancedSettings">
    <div class="marginleft45px">&nbsp;</div>
    <mat-form-field class="col-1-1">
      <input matInput placeholder="Comments" [(ngModel)]="processingMaterial.comments"
        name="processingMaterial.comments" />
    </mat-form-field>
  </div> <!-- form-row-->

</div>