.parameter-form-container {
    padding: 30px 0 12px 0;
    position: relative;
}

.notification-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    z-index: 10;
    background-color: var(--notif-backdrop-bg-color);
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: var(--notif-backdrop-color);
}

.form-row {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: flex-end;

    .name {
        flex-grow: 1;
        margin-right: 15px;
    }

    .type {
        flex-grow: 1;
    }
}
