.details-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /*padding: 20px;*/
}

.details-box {
  max-width: 1028px;
  width: 100%;
  box-sizing: border-box;
	margin-bottom: 20px;
}

.box {
  display: flex;
  align-items: top;
}

.mat-card {
  max-width: 1028px;
  width: 100%;
  /*box-sizing: border-box;*/
	/*margin-bottom: 20px;*/
}

.mat-card-title {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  white-space: normal;
}

.row {
  display: flex;
	width: 100%;
	border-bottom: solid 1px var(--box-shadow-color-3);
}

.row-property {
  display: flex;
	width: 50%;
}

.row-property-key {
	min-width: 35%;
	max-width: 35%;
	padding: 7px;
  font-size: 12px;
  font-weight: 600;
}

.row-property-value {
	min-width: 65%;
	max-width: 65%;
	padding: 7px;
	font-size: 12px;
}

.row-property-2 {
  display: flex;
  width: 100%;
}

.row-property-key-2 {
  min-width: 17.5%;
  max-width: 17.5%;
  padding: 6px;
  font-size: 12px;
  font-weight: 600;
}

.row-property-value-2 {
	min-width: 82.5%;
	max-width: 82.5%;
	padding: 6px;
	font-size: 12px;
}

.title {
  font-size: 15px;
  font-weight: bold;
  font-family: Verdana;
  color: var(--primary-title-color);
  padding-right: 5px;
  text-align: top;
  margin-bottom: 9px;
}

.margintopneg10px {
  margin-top: -10px;
}

.margintop90px {
  margin-top: 90px;
}

.padtop17px {
  padding-top: 17px;
}

.padtop50px {
  padding-top: 50px;
}

.padleft20px {
  padding-left: 20px;
}

.padleft50px {
  padding-left: 50px;
}

.padleft200px {
  padding-left: 200px;
}

.padbottom10px {
  padding-bottom: -10px;
}

.font9px {
  font-size: 9px;
}

.font14px {
  font-size: 14px;
}

.font20px {
  font-size: 20px;
}
.colorgray {
	color: var(--regular-grey-color);
}

.fontbold {
	font-weight: 500;	
}

.colororange {
	color: var(--orange-color);
}

.bordergray {
	border: 1px solid gray;
}

table.blueTable {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  /*font-family: Verdana, Geneva, sans-serif;*/
  border: 1px solid var(--secondary-blue-color);
  background-color: var(--table-bg-color);
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

table.blueTable td, table.blueTable th {
  border: 1px solid var(--table-th-border-color);
  padding: 3px 2px;
}

table.blueTable tbody td {
  font-size: 12px;
  vertical-align: top;
  padding: 10px 10px;
}

table.blueTable tr:nth-child(even) {
  background: var(--table-tr-even-bg-color);
}

table.blueTable thead {
  background:  var(--table-thead-bg-color);
  border-bottom: 1px solid var(--table-thead-border-color);
}

table.blueTable thead th {
  font-size: 12px;
  font-weight: 700;
  color: var(--table-th-color);
  border-left: 1px solid var(--table-th-border-color-2);
  padding: 10px 10px;
}

table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: var(--white-color);
  background: var(--table-th-border-color-2);
  border-top: 2px solid var(--table-thead-border-color);
}

table.blueTable tfoot td {
  font-size: 14px;
}

table.blueTable tfoot .links {
  text-align: right;
}

table.blueTable tfoot .links a{
  display: inline-block;
  background: var(--secondary-blue-color);
  color: var(--white-color);
  padding: 2px 8px;
  border-radius: 5px;
}

@media(max-width: 700px) {
  .mat-card-title {
    flex-direction: column;
    align-items: flex-start;
  }

  .product-details-container {
    padding: 10px;
  }
}

@media(max-width: 918px) {
  .product-property {
		width: 100%;
		border:1px solid var(--regular-red-color);
  }

  .row {
    flex-direction: column;
    
    &:not(:last-child) {
      border-bottom: none;

      .product-property {
        border-bottom: solid 1px var(--box-shadow-color-3);
      }
    }
    &:last-child {
      .row {
        &:not(:last-child) {
          border-bottom: solid 1px var(--box-shadow-color-3);
        }
      }
    }
  }
}

