<div>
  <div>
    <div>
      <app-structure-editor (loadedMolfile)="molvecUpdate($event)" (editorOnLoad)="editorOnLoad($event)"></app-structure-editor>
    </div>
    <div [ngClass]="{'messages-container': true, collapsed: !userMessage, expanded: userMessage}">
      {{userMessage}}
    </div>
  </div>

  <app-structure-form
    [structure]="structure"
    showSettings="true"
    [type]="substanceType"
    (structureImported)="structureImported($event)"
    (nameResolved)="nameResolved($event)"
    (export)="openStructureExportDialog()">
  </app-structure-form>
<div class = "button-container" *ngIf = "substanceType === 'polymer'">
  <button class = "mat-flat-button mat-primary" color = "primary" (click) = "generateSRU()" matTooltip = "generate structural units for this structure">Generate SRUs</button>
</div>
</div>
