<div class="flex-row">
  <span class="middle-fill"></span>
  <mat-form-field [floatLabel]="'never'" class="search">
    <input matInput placeholder="Search" [formControl]="searchControl" >
  </mat-form-field>
</div>

<div class = "flex-row right">
  
  <div class = "name-view"><span class = "name-view-label">Name View:</span>
    <mat-radio-group class = 'type'(change) = 'updateType($event)'>
      <mat-radio-button  value = 'name' [checked] = '(nameType === "name")'>Name (UTF-8)</mat-radio-button>
      <mat-radio-button value = 'ascii' [checked] = '(nameType === "ascii")'>Std. Name (ASCII)</mat-radio-button>
      <mat-radio-button value = 'both' [checked] = '(nameType === "both")
      '>Both</mat-radio-button>
      </mat-radio-group>
    </div>
  
  <span class = "middle-fill"></span>
    <mat-label class = "mat-button mat-button-primary" mat-flat-button color="warn" (click)="toggleFilter()">{{showHideFilterText}}</mat-label>
</div>

<div class="responsive">
  <table mat-table [dataSource]="paged" matSort (matSortChange)="sortData($event)">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name
      </th>
      <td mat-cell *matCellDef="let name" >{{name.name}}
        <span *ngIf="name.displayName == true" matTooltip="Display Name">
          <mat-icon class="icon-align blue-font" svgIcon="done"></mat-icon>
        </span>
        <span *ngIf="name.preferred == true" matTooltip="Additional Listing Name">
          <mat-icon class="icon-align grey-font" svgIcon="done"></mat-icon>
        </span>
        <span *ngIf="name.access.length" matTooltip="Not Public">
        <mat-icon svgIcon="lock" class="icon-align blue-font" *ngIf="name.access.length"></mat-icon></span>

      </td>
    </ng-container>

    <ng-container matColumnDef="stdName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Std. Name
      </th>
      <td mat-cell *matCellDef="let name" >{{name.stdName}}
        <span *ngIf="name.displayName == true" matTooltip="Display Name">
          <mat-icon class="icon-align blue-font" svgIcon="done"></mat-icon>
        </span>
        <span *ngIf="name.access.length" matTooltip="Not Public">
        <mat-icon svgIcon="lock" class="icon-align blue-font" *ngIf="name.access.length"></mat-icon></span>

      </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Type
      </th>
      <td mat-cell *matCellDef="let name"> {{typeVocabulary[name.type] && typeVocabulary[name.type].display}} </td>
    </ng-container>

    <ng-container matColumnDef="language">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Language
      </th>
      <td mat-cell *matCellDef="let name"> {{getLanguages(name)}} </td>
    </ng-container>

    <ng-container matColumnDef="nameFilter">
      <th mat-header-cell *matHeaderCellDef>
        <div class="tableFilter">
          <mat-form-field>
            <input matInput class="form-field" [formControl]="nameFilter" placeholder="Name Filter">
          </mat-form-field>
        </div>
      </th>
      <td mat-cell *matCellDef="let name" >{{name.name}}
        <span *ngIf="name.displayName == true" matTooltip="Display Name">
          <mat-icon class="icon-align blue-font" svgIcon="done"></mat-icon>
        </span>
        <span *ngIf="name.access.length" matTooltip="Not Public">
        <mat-icon svgIcon="lock" class="icon-align blue-font" *ngIf="name.access.length"></mat-icon></span>

      </td>
    </ng-container>

    <ng-container matColumnDef="stdNameFilter">
      <th mat-header-cell *matHeaderCellDef>
        <div class="tableFilter">
          <mat-form-field>
            <input matInput class="form-field" [formControl]="stdNameFilter" placeholder="Std. Name Filter">
          </mat-form-field>
        </div>
      </th>
      <td mat-cell *matCellDef="let name" >{{name.stdName}}
        <span *ngIf="name.displayName == true" matTooltip="Display Name">
          <mat-icon class="icon-align blue-font" svgIcon="done"></mat-icon>
        </span>
        <span *ngIf="name.access.length" matTooltip="Not Public">
        <mat-icon svgIcon="lock" class="icon-align blue-font" *ngIf="name.access.length"></mat-icon></span>

      </td>
    </ng-container>

    <ng-container matColumnDef="typeFilter">
      <th mat-header-cell *matHeaderCellDef>
        <div class="tableFilter">
          <mat-form-field appearance="fill">
            <mat-select [formControl]="typeFilter">
              <mat-select-trigger>
                {{typeFilter.value ? typeFilter.value : ''}}
              </mat-select-trigger>
              <mat-option [value]="" selected>Select Type Filter</mat-option>
              <mat-option *ngFor="let type of typeFilterOptions" [value]="type.display">{{type.display}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </th>
      <td mat-cell *matCellDef="let name"> {{typeVocabulary[name.type] && typeVocabulary[name.type].display}} </td>
    </ng-container>

    <ng-container matColumnDef="languageFilter">
      <th mat-header-cell *matHeaderCellDef>
        <div class="tableFilter">
          <mat-form-field appearance="fill">
            <mat-select [formControl]="langFilter">
              <mat-select-trigger>
                {{langFilter.value ? langFilter.value : ''}}
              </mat-select-trigger>
              <mat-option [value]="" selected>Select Language Filter</mat-option>
              <mat-option *ngFor="let lang of langFilterOptions" [value]="lang.display">{{lang.display}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </th>
      <td mat-cell *matCellDef="let name"> {{getLanguages(name)}} </td>
    </ng-container>

    <ng-container matColumnDef="emptyFilter">
      <th mat-header-cell *matHeaderCellDef>
      </th>
    </ng-container>

    <ng-container matColumnDef="resetFilter">
      <th mat-header-cell *matHeaderCellDef>
        <div class="tableFilter">
          <!-- <mat-form-field> -->
            <button class = "mat-button mat-button-primary" mat-flat-button color="warn" (click)="resetFilters()">Reset</button>
          <!-- </mat-form-field> -->
        </div>
      </th>
      <!-- <td mat-cell *matCellDef="let name" >{{name.stdName}}
        <span *ngIf="name.displayName == true" matTooltip="Display Name">
          <mat-icon class="icon-align blue-font" svgIcon="done"></mat-icon>
        </span>
        <span *ngIf="name.access.length" matTooltip="Not Public">
        <mat-icon svgIcon="lock" class="icon-align blue-font" *ngIf="name.access.length"></mat-icon></span>

      </td> -->
    </ng-container>



    <ng-container matColumnDef="details" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Details </th>
      <td mat-cell *matCellDef="let name">
        <button class = "mat-raised-button mat-primary dialog-close" (click)="openModal(detailTemplate)" 
        [disabled] = "(!name.nameOrgs || name.nameOrgs.length == 0) && (!name.domains || name.domains.length == 0) &&
        (!name.nameJurisdiction || name.nameJurisdiction.length == 0 )" [ngClass] = "isButtonDisabled(name)? 'disabled-btn':''"> View</button>
        <ng-template #detailTemplate>
          <h2 mat-dialog-title>Details</h2>
          <div mat-dialog-content>
            <table class = "details-table mat-table">
  
              <tr>
                <td class = "mat-cell">
                  <div class = "detail" *ngIf ="name.nameOrgs && name.nameOrgs.length > 0">
                  <div class = "subhead">
                    Naming organizations: 
                  </div>
                  <div class = "subval">
                    <span *ngFor = "let org of name.nameOrgs; last as last">{{org.nameOrg}}{{!last? ', ':''}}</span> 
                  </div>
                  </div>
                  <div class = "detail" *ngIf ="name.domains && name.domains.length > 0">
                  <div class = "subhead">
                    Domains:
                  </div>
                  <div class = "subval">
                   <span *ngFor = "let domain of name.domains; last as last" >{{domain}}{{!last? ', ':''}}</span>
                  </div>
                  </div>
                    <div class = "detail" *ngIf ="name.nameJurisdiction && name.nameJurisdiction.length > 0">
                  <div class = "subhead">
                    Jurisdiction:
                  </div>
                  <div class = "subval">
                    <span *ngFor ="let domain of name.nameJurisdiction; last as last" >{{domain}}{{!last? ', ':''}}</span>
                  </div>
                    </div>
                </td>
              </tr>
            </table>
          </div>
          <div mat-dialog-actions>
            <span class="middle-fill"></span>
            <button class="mat-raised-button mat-primary" mat-dialog-close>Close</button>
          </div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="references">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> References </th>
      <td mat-cell *matCellDef="let name">
        <button class = "mat-raised-button mat-primary dialog-close" (click)="openModal(refTemplate)"  [disabled]="name.references.length <= 0">View</button>

        <ng-template #refTemplate>
          <h2 mat-dialog-title>References</h2>
          <div mat-dialog-content>
            <app-references-manager [substance] = "substance" [references] = "name.references"></app-references-manager>
          </div>
            <div mat-dialog-actions>
              <span class="middle-fill"></span>
              <button class="mat-raised-button mat-primary" mat-dialog-close>Close</button>
            </div>
        </ng-template>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr [hidden]="hideFilters" mat-header-row *matHeaderRowDef="displayedFilterColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<mat-paginator [length]="filtered && filtered.length || 0" [pageSize]="10" showFirstLastButtons="true" (page)="pageChange($event, analyticsEventCategory)"
  [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
