<div class="flex-row">
  <span class="middle-fill"></span>
  <mat-form-field [floatLabel]="'never'" class="search">
    <input matInput placeholder="Search" [formControl]="searchControl">
  </mat-form-field>
</div>
<div class="responsive">
  <table mat-table [dataSource]="paged">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let name"> {{name.name}}
        <span *ngIf="name.displayName == true" matTooltip="Accepted Name">
          <mat-icon class="icon-align blue-font" svgIcon="done"></mat-icon>
        </span>
        </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let name"> {{typeVocabulary[name.type] && typeVocabulary[name.type].display}} </td>
    </ng-container>

    <ng-container matColumnDef="language">
      <th mat-header-cell *matHeaderCellDef> Language </th>
      <td mat-cell *matCellDef="let name"> {{getLanguages(name)}} </td>
    </ng-container>

    <ng-container matColumnDef="references">
      <th mat-header-cell *matHeaderCellDef> References </th>
      <td mat-cell *matCellDef="let name">
        <button class = "mat-raised-button mat-primary dialog-close" (click)="openModal(refTemplate)"  [disabled]="name.references.length <= 0">View</button>

        <ng-template #refTemplate>
          <h2 mat-dialog-title>References</h2>
          <div mat-dialog-content>
            <app-references-manager [substance] = "substance" [references] = "name.references"></app-references-manager>
          </div>
            <div mat-dialog-actions>
              <span class="middle-fill"></span>
              <button class="mat-raised-button mat-primary" mat-dialog-close>Close</button>
            </div>
        </ng-template>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<mat-paginator [length]="filtered && filtered.length || 0" [pageSize]="5" showFirstLastButtons="true" (page)="pageChange($event, analyticsEventCategory)"
  [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
