@import '../../../../styles/table';

.search {
    width: 400px;
    max-width: 100%;
}

.icon-align{
  margin-top: -10px;
  vertical-align: bottom;
}

.detail {
  padding: 10px;
}

.mat-radio-button {
  padding-left: 30px;
}

.name-view {
  margin-top: 16px;
}

.name-view-label {
  font-weight: 500;
}

.right {
  justify-content: right;
  align-items: right;
  padding-top:10px;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  padding-top: 10px;
  padding-bottom: 10px;
}

.structure-image {
  width: 150px;
  height: auto;
}

.thumb-col{
max-width:400px;
}

.subhead {
display: inline-block;
width: 150px;
}

.subval{
display: inline;
}
.disabled-btn {
  color: var(--box-shadow-color-5);
  background-color: var(--box-shadow-color-3);
}