<!-- Impurities Details -->
<div class="flex-container marginleftneg7px padbottom10px bordergray">

  {{(impuritiesDetailsIndex+1)}} &nbsp;&nbsp;

  <!-- Left Side -->
  <div class="width25percent">
    <app-substance-selector class="textaligncenter" (selectionUpdated)="relatedSubstanceUpdated($event)"
      eventCategory="substanceRelationshipRelatedSub" placeholder="Related Substance" [hideImage]="false"
      header="Related Substance" [subuuid]="impuritiesDetails.relatedSubstanceUuid">
    </app-substance-selector>
  </div>

  <!-- Right Side -->
  <div class="flex-item width75percent padleft20px padright20px">

    <div class="form-row">
      <app-cv-input class="col-1" [disable]="isDisableData" domain="IMPURITIES_IMPURITY_TYPE" title="Impurity Type"
        name="impurityType" [model]="impuritiesDetails.impurityType"
        (valueChange)="impuritiesDetails.impurityType = $event">
      </app-cv-input>

      <app-cv-input class="col-1" [disable]="isDisableData" domain="IMPURITIES_TEST_TYPE" title="Test Type"
        name="testType" [model]="impuritiesDetails.testType" (valueChange)="impuritiesDetails.testType = $event">
      </app-cv-input>

      <mat-form-field class="col-1">
        <input matInput placeholder="Limit" [(ngModel)]="impuritiesDetails.limit" name="limit" />
      </mat-form-field>

      <app-cv-input class="col-1" [disable]="isDisableData" domain="IMPURITIES_LIMIT_TYPE" title="Limit Type"
        name="limitType" [model]="impuritiesDetails.limitType" (valueChange)="impuritiesDetails.limitType = $event">
      </app-cv-input>

      <app-cv-input class="col-1" domain="PROD_UNIT" title="Unit" name="unit" [model]="impuritiesDetails.unit"
        (valueChange)="impuritiesDetails.unit = $event">
      </app-cv-input>

      <div class="marginleftneg40px" style="margin-left: -30px;">
        <button mat-icon-button color="primary" (click)="confirmDeleteImpuritiesDetails()"
          matTooltip="Delete Impurities">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </div>

    </div>


    <!-- Identity Criteria -->
    <div class="flex-container margintop10px marginleftneg7px">

      <div class="width25percent padbottom10px">
        <button mat-raised-button color="primary" (click)="addNewIdentityCriteria()" matTooltip="Add Identity Criteria">
          <mat-icon svgIcon="add_circle_outline"></mat-icon>Add Identity Criteria
        </button>
      </div>


      <div class="width75percent">
        <div class="marginbottom10px"
          *ngFor="let identityCriteria of impuritiesDetails.identityCriteriaList; let identityCriteriaIndex = index">

          <div class="form-row padleft7px">
            <app-cv-input class="col-3-1" [disable]="isDisableData" domain="IMPURITIES_IDENTITY_CRITERIA_TYPE"
              title="Identity Criteria Type" name="identityCriteriaType" [model]="identityCriteria.identityCriteriaType"
              (valueChange)="identityCriteria.identityCriteriaType = $event">
            </app-cv-input>

            <mat-form-field class="col-3-1">
              <input matInput placeholder="Amount Value" [(ngModel)]="identityCriteria.amountValue"
                name="amountValue" />
            </mat-form-field>

            <app-cv-input class="col-3-1" domain="PROD_UNIT" title="Unit" name="unit" [model]="identityCriteria.unit"
              (valueChange)="identityCriteria.unit = $event">
            </app-cv-input>

            <div class="col-3-1 marginleftneg40px" style="margin-left: -40px;">
              <button mat-icon-button color="primary" (click)="confirmDeleteIdentityCriteria(identityCriteriaIndex)"
                matTooltip="Delete Identity Criteria {{identityCriteriaIndex + 1}}">
                <mat-icon>delete_forever</mat-icon>
              </button>
            </div>
          </div>
        </div> <!-- Loop -->

      </div>

    </div>

  </div>
  <!-- Right Side -->

</div>

<!--
<div class="form-row">
  <div>
    <h2><span class="colorblue">Impurities</span> ({{impurity.impuritiesList.length}})</h2>
  </div>
  <div class="col-1">
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-raised-button color="primary" (click)="addImpurity()" matTooltip="Add Impurity for Substance">
      Add Impurity
    </button>
  </div>
</div>

<div class="bordergray padleft padright">
  <div *ngFor="let impur of impurity.impuritiesList; let impIndex = index">

    <div class="form-row borderbottom">

      <div class="col-2 flex-column related-substance">

        <div class="related-substance-border">
          {{(impIndex+1)}}
        -->
<!--
        <app-substance-search-selector (selectionUpdated)="ingredientNameUpdated($event)"
          (showMessage)="showMessageIngredientName($event)" eventCategory="ingredName" placeholder="Ingredient Name"
          header="Ingredient Name" [subuuid]="impur.relatedSubstanceUuid">
        </app-substance-search-selector>
      -->
<!--
          <app-substance-selector (selectionUpdated)="relatedSubstanceUpdated($event)"
            eventCategory="substanceRelationshipRelatedSub" placeholder="Related Substance" [hideImage]="false"
            header="Related Substance" [subuuid]="impur.relatedSubstanceUuid">
          </app-substance-selector>
        </div>

      </div>

      <app-cv-input class="col-1" domain="SSG_IMPURITY_TYPE" title="Impurity Type" name="source"
        [model]="impurity.impurityType" (valueChange)="impurity.impurityType = $event">
      </app-cv-input>

      <app-cv-input class="col-1" domain="SSG_IMPURITY_TYPE" title="Test Type" name="source" [model]="impurity.testType"
        (valueChange)="impurity.testType = $event">
      </app-cv-input>

      <mat-form-field class="col-1">
        <input matInput placeholder="Limit" [(ngModel)]="impur.limit" name="limit" />
      </mat-form-field>

    </div>

    <div class="form-row borderbottom"> 
      <app-cv-input class="col-1" domain="SSG_IMPURITY_TYPE" title="Limit Type" name="limitType"
        [model]="impurity.limitType" (valueChange)="impurity.limitType = $event">
      </app-cv-input>

      <mat-form-field class="col-1">
        <input matInput placeholder="Total Impurity" [(ngModel)]="impur.totalImpurity" name="totalImpurity" />
      </mat-form-field>

      <mat-form-field class="col-1">
        <input matInput placeholder="Unspecified Impurity" [(ngModel)]="impur.unspecifiedImpurity"
          name="unspecifiedImpurity" />
      </mat-form-field>
    </div>


    <div class="form-row borderbottom"> 
      <div class="col-1">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button mat-raised-button color="primary" (click)="addImpurity()" matTooltip="Add Impurity for Substance">
          Add Identity Critieria
        </button>
      </div>
      <app-cv-input class="col-1" domain="SSG_IMPURITY_TYPE" title="Identity Criteria Type" name="limitType"
        [model]="impurity.limitType" (valueChange)="impurity.limitType = $event">
      </app-cv-input>

      <mat-form-field class="col-1">
        <input matInput placeholder="Amount Value" [(ngModel)]="impur.totalImpurity" name="totalImpurity" />
      </mat-form-field>

    </div>

  </div> 
-->
<!-- repeat -->




<!--
  <div>
    <h2><span class="colorblue">Unspecified Impurities</span></h2>
  </div>
  <div class="col-1">
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-raised-button color="primary" (click)="addImpurity()" matTooltip="Add Impurity for Substance">
      Add Unspecified Impurity
    </button>
  </div>

  <div class="form-row">
    <div>
      <h2><span class="colorblue">Unspecified Impurities</span></h2>
    </div>
    <div class="col-1">
      &nbsp;&nbsp;&nbsp;&nbsp;
      <button mat-raised-button color="primary" (click)="addImpurity()" matTooltip="Add Impurity for Substance">
        Add Unspecified Impurity
      </button>
    </div>
  </div>

  <br><br>
  <div class="bordergray padleft padright">
    <div *ngFor="let impur of impurity.impuritiesList; let impIndex = index">
  
      <div class="form-row borderbottom">
  
        <div class="col-2 flex-column related-substance">
  
          <div class="related-substance-border">
            {{(impIndex+1)}}

            <app-substance-selector (selectionUpdated)="relatedSubstanceUpdated($event)"
              eventCategory="substanceRelationshipRelatedSub" placeholder="Related Substance" [hideImage]="false"
              header="Related Substance" [subuuid]="impur.relatedSubstanceUuid">
            </app-substance-selector>
          </div>
  
        </div>
  
        <app-cv-input class="col-1" domain="SSG_IMPURITY_TYPE" title="Impurity Type" name="source"
          [model]="impurity.impurityType" (valueChange)="impurity.impurityType = $event">
        </app-cv-input>
  
        <app-cv-input class="col-1" domain="SSG_IMPURITY_TYPE" title="Test Type" name="source" [model]="impurity.testType"
          (valueChange)="impurity.testType = $event">
        </app-cv-input>
  
        <mat-form-field class="col-1">
          <input matInput placeholder="Limit" [(ngModel)]="impur.limit" name="limit" />
        </mat-form-field>
  
      </div>
  
      <div class="form-row borderbottom"> 
        <app-cv-input class="col-1" domain="SSG_IMPURITY_TYPE" title="Limit Type" name="limitType"
          [model]="impurity.limitType" (valueChange)="impurity.limitType = $event">
        </app-cv-input>
  
        <mat-form-field class="col-1">
          <input matInput placeholder="Total Impurity" [(ngModel)]="impur.totalImpurity" name="totalImpurity" />
        </mat-form-field>
  
        <mat-form-field class="col-1">
          <input matInput placeholder="Unspecified Impurity" [(ngModel)]="impur.unspecifiedImpurity"
            name="unspecifiedImpurity" />
        </mat-form-field>
      </div>
  
  
      <div class="form-row borderbottom"> 
        <div class="col-1">
          &nbsp;&nbsp;&nbsp;&nbsp;
          <button mat-raised-button color="primary" (click)="addImpurity()" matTooltip="Add Impurity for Substance">
            Add Identity Critieria
          </button>
        </div>
        <app-cv-input class="col-1" domain="SSG_IMPURITY_TYPE" title="Identity Criteria Type" name="limitType"
          [model]="impurity.limitType" (valueChange)="impurity.limitType = $event">
        </app-cv-input>
  
        <mat-form-field class="col-1">
          <input matInput placeholder="Amount Value" [(ngModel)]="impur.totalImpurity" name="totalImpurity" />
        </mat-form-field>
  
      </div>
  
    </div> 

    <br><br>

    <div>
      <h2><span class="colorblue">Unspecified Impurities</span></h2>
    </div>
    <div class="col-1">
      &nbsp;&nbsp;&nbsp;&nbsp;
      <button mat-raised-button color="primary" (click)="addImpurity()" matTooltip="Add Impurity for Substance">
        Add Unspecified Impurity
      </button>
    </div>
  
    <div class="form-row">
      <div>
        <h2><span class="colorblue">Unspecified Impurities</span></h2>
      </div>
      <div class="col-1">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button mat-raised-button color="primary" (click)="addImpurity()" matTooltip="Add Impurity for Substance">
          Add Unspecified Impurity
        </button>
      </div>
    </div>
  
    <br><br>
    <div class="bordergray padleft padright">
      <div *ngFor="let impur of impurity.impuritiesList; let impIndex = index">
    
        <div class="form-row borderbottom">
    
          <div class="col-2 flex-column related-substance">
    
            <div class="related-substance-border">
              {{(impIndex+1)}}
   
              <app-substance-selector (selectionUpdated)="relatedSubstanceUpdated($event)"
                eventCategory="substanceRelationshipRelatedSub" placeholder="Related Substance" [hideImage]="false"
                header="Related Substance" [subuuid]="impur.relatedSubstanceUuid">
              </app-substance-selector>
            </div>
    
          </div>
    
          <app-cv-input class="col-1" domain="SSG_IMPURITY_TYPE" title="Impurity Type" name="source"
            [model]="impurity.impurityType" (valueChange)="impurity.impurityType = $event">
          </app-cv-input>
    
          <app-cv-input class="col-1" domain="SSG_IMPURITY_TYPE" title="Test Type" name="source" [model]="impurity.testType"
            (valueChange)="impurity.testType = $event">
          </app-cv-input>
    
          <mat-form-field class="col-1">
            <input matInput placeholder="Limit" [(ngModel)]="impur.limit" name="limit" />
          </mat-form-field>
    
        </div>
    
        <div class="form-row borderbottom"> 
          <app-cv-input class="col-1" domain="SSG_IMPURITY_TYPE" title="Limit Type" name="limitType"
            [model]="impurity.limitType" (valueChange)="impurity.limitType = $event">
          </app-cv-input>
    
          <mat-form-field class="col-1">
            <input matInput placeholder="Total Impurity" [(ngModel)]="impur.totalImpurity" name="totalImpurity" />
          </mat-form-field>
    
          <mat-form-field class="col-1">
            <input matInput placeholder="Unspecified Impurity" [(ngModel)]="impur.unspecifiedImpurity"
              name="unspecifiedImpurity" />
          </mat-form-field>
        </div>
    
    
        <div class="form-row borderbottom"> 
          <div class="col-1">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button mat-raised-button color="primary" (click)="addImpurity()" matTooltip="Add Impurity for Substance">
              Add Identity Critieria
            </button>
          </div>
          <app-cv-input class="col-1" domain="SSG_IMPURITY_TYPE" title="Identity Criteria Type" name="limitType"
            [model]="impurity.limitType" (valueChange)="impurity.limitType = $event">
          </app-cv-input>
    
          <mat-form-field class="col-1">
            <input matInput placeholder="Amount Value" [(ngModel)]="impur.totalImpurity" name="totalImpurity" />
          </mat-form-field>
    
        </div>
    
      </div> 




      <div>
        <h2><span class="colorblue">Total Impurities</span></h2>
      </div>

      <br><br>
      <div class="bordergray padleft padright">
        <div *ngFor="let impur of impurity.impuritiesList; let impIndex = index">
      
          <div class="form-row borderbottom">
      
            <div class="col-2 flex-column related-substance">
      
              <div class="related-substance-border">
                {{(impIndex+1)}}
       
                <app-substance-selector (selectionUpdated)="relatedSubstanceUpdated($event)"
                  eventCategory="substanceRelationshipRelatedSub" placeholder="Related Substance" [hideImage]="false"
                  header="Related Substance" [subuuid]="impur.relatedSubstanceUuid">
                </app-substance-selector>
              </div>
      
            </div>
      
            <app-cv-input class="col-1" domain="SSG_IMPURITY_TYPE" title="Impurity Type" name="source"
              [model]="impurity.impurityType" (valueChange)="impurity.impurityType = $event">
            </app-cv-input>
      
            <app-cv-input class="col-1" domain="SSG_IMPURITY_TYPE" title="Test Type" name="source" [model]="impurity.testType"
              (valueChange)="impurity.testType = $event">
            </app-cv-input>
      
            <mat-form-field class="col-1">
              <input matInput placeholder="Limit" [(ngModel)]="impur.limit" name="limit" />
            </mat-form-field>
      
          </div>
      
          <div class="form-row borderbottom"> 
            <app-cv-input class="col-1" domain="SSG_IMPURITY_TYPE" title="Limit Type" name="limitType"
              [model]="impurity.limitType" (valueChange)="impurity.limitType = $event">
            </app-cv-input>
      
            <mat-form-field class="col-1">
              <input matInput placeholder="Total Impurity" [(ngModel)]="impur.totalImpurity" name="totalImpurity" />
            </mat-form-field>
      
            <mat-form-field class="col-1">
              <input matInput placeholder="Unspecified Impurity" [(ngModel)]="impur.unspecifiedImpurity"
                name="unspecifiedImpurity" />
            </mat-form-field>
          </div>
      
      
          <div class="form-row borderbottom"> 
            <div class="col-1">
              &nbsp;&nbsp;&nbsp;&nbsp;
              <button mat-raised-button color="primary" (click)="addImpurity()" matTooltip="Add Impurity for Substance">
                Add Identity Critieria
              </button>
            </div>
            <app-cv-input class="col-1" domain="SSG_IMPURITY_TYPE" title="Identity Criteria Type" name="limitType"
              [model]="impurity.limitType" (valueChange)="impurity.limitType = $event">
            </app-cv-input>
      
            <mat-form-field class="col-1">
              <input matInput placeholder="Amount Value" [(ngModel)]="impur.totalImpurity" name="totalImpurity" />
            </mat-form-field>
      
          </div>
      
        </div> 
        <br><br><br><br>
 
</div>
-->