<div mat-dialog-header>
  <div class="form-row head">
    @if (formState == FormState.DRAFT_LIST) {
      <div class="title">Saved Drafts</div>
    }
    @if (formState == FormState.VALIDATION_RESULTS) {
      <div class="title">Drafts Validation</div>
    }
    @if (formState == FormState.SUBMISSION) {
      <div class="title">Submission Results</div>
    }
    <span class="middle-fill"></span>
    <button
      mat-icon-button
      matTooltip="Close Dialog"
      mat-dialog-close
      (click)="close()"
      >
      <mat-icon svgIcon="clear"></mat-icon>
    </button>
  </div>
</div>
@if (isLoading) {
  <div class="spinner-overlay">
    <mat-progress-spinner
      mode="indeterminate"
      color="primary"
    ></mat-progress-spinner>
  </div>
}
@if (formState == FormState.DRAFT_LIST) {
  <div>
    <mat-dialog-content>
      @if (filtered.length > 0) {
        <table
          mat-table
          matSort
          [dataSource]="filtered"
          (matSortChange)="sortData($event)"
          >
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>Select</th>
            <td mat-cell *matCellDef="let draft">
              <mat-checkbox
                [ngModel]="selectedKeys.includes(draft.key)"
                (change)="toggleDraft(draft, $event.checked)"
                matTooltip="Select for submission"
              ></mat-checkbox>
            </td>
          </ng-container>
          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>Delete</th>
            <td mat-cell *matCellDef="let draft">
              <button
                mat-icon-button
                matTooltip="Delete draft"
                (click)="deleteDraft(draft)"
                >
                <mat-icon svgIcon="delete_forever"></mat-icon>
              </button>
            </td>
          </ng-container>
          <ng-container matColumnDef="type">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Type</th>
            <td mat-cell *matCellDef="let draft">{{ draft.type }}</td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let draft">{{ draft.name }}</td>
          </ng-container>
          <ng-container matColumnDef="date">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Date Saved</th>
            <td mat-cell *matCellDef="let draft">
              <span>{{ draft.date | date : "medium" }} </span
                >@if (draft.auto) {
                <span style="margin-left: 8px"
                  ><b>[AUTOSAVE]</b></span
                  >
                  }<span
                  ><br />
                  {{ draft.fromNow }}</span
                  >
                </td>
              </ng-container>
              <ng-container matColumnDef="uuid">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>UUID</th>
                <td mat-cell *matCellDef="let draft">{{ draft.uuid }}</td>
              </ng-container>
              <ng-container matColumnDef="load">
                <th mat-header-cell *matHeaderCellDef>Use</th>
                <td mat-cell *matCellDef="let draft">
                  <button mat-button (click)="useDraft(draft)">Load Draft</button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          }
          @if (filtered.length == 0) {
            <div
              class="form-row"
              style="padding: 50px; font-size: 17px"
              >
              No drafts were found for these conditions under local storage. Substance
              drafts are stored in this browser's cache, so using an incognito tab or
              clearing cache will clear or not allow access to drafts. You can save and
              load stored record drafts using the buttons below.
            </div>
          }
        </mat-dialog-content>
        <div mat-dialog-actions>
          <div class="form-row">
            @if (data.uuid) {
              <div class="checkbox" style="padding: 10px">
                <mat-checkbox
                  [ngModel]="onlyCurrent"
                  (change)="filterToggle('current')"
                  matTooltip="selected"
                  >
                  Show only current record
                </mat-checkbox>
              </div>
            }
            <div class="checkbox" style="padding: 10px">
              <mat-checkbox
                [ngModel]="onlyRegister"
                (change)="filterToggle('register')"
                matTooltip="selected"
                >
                Show only new registrations
              </mat-checkbox>
            </div>
          </div>
          <div class="form-row buttons">
            <button
              mat-flat-button
              [disabled]="selectedKeys.length === 0"
              color="primary"
              (click)="validateSelected()"
              matTooltip="Validate and Submit selected drafts"
              >
              <span>Validate and Submit selected</span>
            </button>
            <a
              style="margin-right: 10px"
              mat-flat-button
              color="primary"
              [href]="downloadJsonHref"
              download="{{ fileName }}.json"
              matTooltip="Save a copy of all local drafts to a file"
              >
              <span>Save Backup</span>
            </a>
            <div class="file-row">
              <button
                mat-flat-button
                color="primary"
                style="margin-right: 10px"
                matTooltip="choose a local file of draft backups"
                (click)="openInput()"
                >
                Load A Backup
              </button>
              <div class="file-name" [ngClass]="filename ? 'test' : 'italics'">
                {{ filename ? filename : "no file chosen" }}
              </div>
              <input
                id="fileInput"
                hidden
                type="file"
                (change)="onFileSelect($event)"
                name="file1"
                accept=".json"
                />
            </div>
            <span class="middle-fill"></span>
            <button
              mat-flat-button
              color="primary"
              mat-dialog-close
              (click)="close()"
              >
              Close
            </button>
          </div>
        </div>
      </div>
    }


    @if (formState == FormState.VALIDATION_RESULTS) {
      <div>
        <mat-dialog-content>
          @for (draft of validatedDrafts; track draft; let i = $index) {
            <div class="draft-block">
              <div>
                <strong>Type:</strong> {{draft.json.type}}, <strong>Name:</strong> {{ draft.json.name ? draft.json.name : '-' }}
                @if (!draft.validationResult) {
                  <em>This substance cannot be submitted</em>
                }
              </div>
              @for (message of draft.validationMessages; track message; let i = $index) {
                <div class="message-row">
                  <span class="label" [ngClass]="{'label-error': message.messageType == 'ERROR' || message.messageType == 'SERVER ERROR', 'label-warning': message.messageType == 'WARNING', 'label-notice': message.messageType == 'NOTICE'}">
                    {{ message.messageType }}
                  </span>
                  <span>
                    {{ message.message }}
                    @for (link of message.links; track link) {
                      <span><br/>
                        <a [href]="fixLink(link.href)" class="internal-link"
                        target="_blank">{{ link.text }}</a>
                      </span>
                    }
                  </span>
                </div>
              }
            </div>
          }
        </mat-dialog-content>
        <div class="form-row">
          <button mat-flat-button [disabled]="!hasValidDrafts()" color="primary" (click)="submitValid()" matTooltip="Submit valid drafts">
            <span>Submit valid drafts</span>
          </button>
        </div>
      </div>
    }

    @if (formState == FormState.SUBMISSION) {
      <div>
        <mat-dialog-content>
          @for (draft of validatedDrafts; track draft; let i = $index) {
            <div class="draft-block">
              <div>
                <strong>Type:</strong> {{draft.json.type}}, <strong>Name:</strong> {{ draft.json.name ? draft.json.name : '-' }}
              </div>
              <div class="message-row">
                @if (draft.submitStatus == SubmissionStatus.CANNOT_BE_SUBMITTED || draft.submitStatus == SubmissionStatus.ERROR) {
                  <span class="label label-error">ERROR</span>
                }
                @if (draft.submitStatus == SubmissionStatus.SUCCESS) {
                  <span class="label label-success">SUCCESS</span>
                }
                @if (draft.submitStatus == SubmissionStatus.CANNOT_BE_SUBMITTED) {
                  <span>Could not be submitted due to validation errors</span>
                }
                @if (draft.submitStatus == SubmissionStatus.IN_PROGRESS) {
                  <em>Submission in progress</em>
                }
                @if (draft.submitStatus == SubmissionStatus.SUCCESS) {
                  <span><em><a href="{{draft.fileUrl}}" target="_blank">View Substance</a></em></span>
                }
                @if (draft.submitStatus == SubmissionStatus.ERROR) {
                  <span>Error during submission process</span>
                }
              </div>
            </div>
          }
        </mat-dialog-content>
      </div>
    }
