<div class="query-statement-container">
  <div class="condition-column">
    @if (index > 0) {
      <mat-form-field>
        <mat-select [formControl]="conditionControl" (openedChange)="openedChange($event)">
          @for (option of conditionOptions; track option) {
            <mat-option
              [value]="option">
              {{option}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    }
  </div>
  <div class="queryable-property-column">
    @if (isShowCommonFields) {
      <mat-form-field>
        <mat-select [formControl]="queryablePropertiesControl" (openedChange)="openedChange($event)">
          @for (option of queryableOptionsCommon; track option) {
            <mat-option
              [value]="option"
              [matTooltip]="option">
              {{option}}
            </mat-option>
          }
        </mat-select>
        <span class="middle-fill"></span>
        <mat-hint class="action-hint">
          <a (click)="showAllFields()">Show all fields</a>
        </mat-hint>
      </mat-form-field>
    }
    @if (!isShowCommonFields) {
      <div>
        <mat-form-field floatLabel="never">
          <input type="text"
            matInput
            [formControl]="queryablePropertiesAutocompleteControl"
            [matAutocomplete]="queryablePropertyOptions"
            placeholder="Search for desired field"
            (blur)="queryablePropertiesAutocompleteBlurred()">
          <a matSuffix (click)="clearSelectedQueryableProperty()" matTooltip="Clear input and show all options">
            <mat-icon svgIcon="clear"></mat-icon>
          </a>
          <mat-hint class="action-hint">
            <a (click)="showCommonFields()">Show common fields</a>
          </mat-hint>
        </mat-form-field>
        <mat-autocomplete
          #queryablePropertyOptions="matAutocomplete"
          (optionSelected)="queryablePropertySelected($event.option.value)"
          (opened)="increaseOverlayZindex()"
          (closed)=queryablePropertiesAutocompleteClosed()>
          @for (option of queryableOptionsAll; track option) {
            <mat-option [value]="option" [matTooltip]="option">
              {{option}}
            </mat-option>
          }
        </mat-autocomplete>
      </div>
    }
  </div>
  <div class="command-column">
    <mat-form-field [matTooltip]="selectedCommandOption">
      <mat-select [formControl]="commandControl" (openedChange)="openedChange($event)">
        @for (option of commandOptions; track option) {
          <mat-option [value]="option">
            {{option}}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <div class="query-column">
    @for (commandInput of commandInputs; track commandInput; let index = $index) {
      <div class="query-input">
        @if (commandInput.type == 'text' || commandInput.type == 'boolean' || commandInput.type == 'number') {
          <div>
            <mat-form-field floatLabel="never">
              <input
                [type]="commandInput.type"
                [name]="'input_' + index"
                matInput
                [(ngModel)]="commandInputValueDict[commandInput.type][index]"
                required
                placeholder="Enter search value"
                        (keyup)="commandInput.constructQuery(
                            $event.target.value.trim(),
                            selectedCondition,
                            selectedQueryableProperty,
                            selectedLucenePath,
                            queryUpdated,
                            queryParts,
                            commandInputValueDict[commandInput.type]
                        )">
              @if (!commandInputValueDict[commandInput.type][index]) {
                <mat-error>Required</mat-error>
              }
            </mat-form-field>
          </div>
        }
        @if (commandInput.type == 'datetime') {
          <div>
            <mat-form-field floatLabel="never">
              <input
                matInput
                required
                placeholder="m/d/yyyy"
                [(ngModel)]="commandInputValueDict[commandInput.type][index]"
                        (dateChange)="commandInput.constructQuery(
                            $event.value,
                            selectedCondition,
                            selectedQueryableProperty,
                            selectedLucenePath,
                            queryUpdated,
                            queryParts,
                            commandInputValueDict[commandInput.type]
                        )"
                        (dateInput)="commandInput.constructQuery(
                            $event.value,
                            selectedCondition,
                            selectedQueryableProperty,
                            selectedLucenePath,
                            queryUpdated,
                            queryParts,
                            commandInputValueDict[commandInput.type]
                        )"
                [matDatepicker]="queryDatepicker">
              @if (!commandInputValueDict[commandInput.type][index]) {
                <mat-error>Required</mat-error>
              }
              <mat-datepicker-toggle matSuffix [for]="queryDatepicker"></mat-datepicker-toggle>
              <mat-datepicker #queryDatepicker (opened)="increaseOverlayZindex()" (closed)="decreaseOverlayZindex()"></mat-datepicker>
            </mat-form-field>
          </div>
        }
        @if (commandInput.type == 'select') {
          <div>
            <mat-form-field floatLabel="never">
              <mat-select [(ngModel)]="commandInputValueDict[commandInput.type][index]"
                required
                placeholder="Select default option"
                (openedChange)="openedChange($event)"
                        (selectionChange)="commandInput.constructQuery(
                        $event.value,
                        selectedCondition,
                        selectedQueryableProperty,
                        selectedLucenePath,
                        queryUpdated,
                        queryParts,
                        commandInputValueDict[commandInput.type]
                    )">
                @for (option of cvOptions; track option) {
                  <mat-option
                    [value]="option.value"
                    [matTooltip]="option.display">
                    {{option.display}}
                  </mat-option>
                }
              </mat-select>
              @if (!commandInputValueDict[commandInput.type][index]) {
                <mat-error>Required</mat-error>
              }
            </mat-form-field>
          </div>
        }
      </div>
    }
  </div>
</div>
