.resolver-search-icon {
  font-size: 20px !important;
}

.result-container {
  flex-direction: row;
  justify-content: space-evenly;
  display: flex;
  justify-content: space-evenly;

}

.name-result {
  max-width: 300px;
  text-align: center;
  align-content: center;
}

.name-result-button {
  margin: 5px;
}

.mat-form-field {
    width: 500px;
    max-width: 100%;
}



.search ::ng-deep .mat-form-field-infix {
  border-top-width: 1px !important;
  border-bottom-width: 1px !important;
}