<div class = "form-row" *ngIf= "structure && type === 'polymer'" >
  <span class = "middle-fill"></span>
  <form class="structure-form polymer-form" >
    <span _ngcontent-gsrs-c14="" class="middle-fill"></span>
    <span class = "right-buttons">
    <button  mat-button color="primary"  matTooltip = "Import options" (click)="openStructureImportDialog()">
      <mat-icon svgIcon="cloud_upload"></mat-icon>
      Import
    </button>
    <button (click) = "exportStructure()"  mat-button color="primary" matTooltip = "export structure">
      <mat-icon svgIcon="get_app"></mat-icon>
      Export
    </button>
    <button mat-button color="primary" matTooltip = "preview structure stereochemistry" (click)="openStructureImageModal()">
      <mat-icon svgIcon="zoom_in"></mat-icon> View stereochemistry
    </button>
    </span>

    <mat-menu #importMenu ="matMenu">
      <button mat-menu-item (click)="openStructureImportDialog()">
        Import Structure
      </button>
     <!-- <button mat-menu-item (click)="openNameResolverDialog()">
        Resolve name
      </button> -->
    </mat-menu>
  </form>
</div>

<form class="structure-form" *ngIf="structure && type === 'structure'" >
  <div class = "button-row">
    <span class = "left-buttons">
    <button (click) = "duplicateCheck()" matTooltip = "check the database for duplicate structures" mat-button color="primary" class = "dupe-check">
      <mat-icon svgIcon="search"></mat-icon>
      Check for duplicates
    </button>
    </span>
    <span _ngcontent-gsrs-c14="" class="middle-fill"></span>
    <span class = "right-buttons">
    <button  mat-button color="primary"  matTooltip = "Import options" [matMenuTriggerFor]="importMenu">
      <mat-icon svgIcon="cloud_upload"></mat-icon>
      Import...
    </button>
    <button (click) = "exportStructure()"  mat-button color="primary" matTooltip = "export structure">
      <mat-icon svgIcon="get_app"></mat-icon>
      Export
    </button>
    <button mat-button color="primary" matTooltip = "preview structure stereochemistry" (click)="openStructureImageModal()">
      <mat-icon svgIcon="zoom_in"></mat-icon> View stereochemistry
    </button>
    </span>

    <mat-menu #importMenu ="matMenu">
      <button mat-menu-item (click)="openStructureImportDialog()">
        Import Structure
      </button>
      <button mat-menu-item (click)="openNameResolverDialog()">
        Resolve name
      </button>
    </mat-menu>
  </div>
  <div class = "submission-messages" *ngIf = "structureErrorsArray && structureErrorsArray.length > 0">
        <div class="validation-message" *ngFor="let err of structureErrorsArray; index as i" >
      <div class="message-type" [ngClass] = "err.messageType">{{err.messageType}}</div>
      <div class="message">{{err.message}}<span *ngFor = "let link of err.links"><br/>
        <a [href] = "fixLink(link.href)" class = "internal-link" target = "_blank">
          {{link.text}}
        </a></span></div>
      <button mat-icon-button matTooltip="Dismiss" (click)="dismissErrorMessage(i)">
        <mat-icon svgIcon="close"></mat-icon>
      </button>
    </div>
  </div>
  <div class="form-row">
    <mat-form-field class="mol-formula">
      <input matInput placeholder="Molecular Formula" [(ngModel)]="structure.formula" name="formula" required />
    </mat-form-field>

    <mat-form-field class="stereochemistry">
      <mat-label>Stereochemistry</mat-label>
      <mat-select [(ngModel)]="structure.stereochemistry" name="stereochemistry">
        <mat-option *ngFor="let type of stereoChemistryTypeList" [value]="type.value">
          {{type.display}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="optical-activity">
      <mat-label>Optical Activity</mat-label>
      <mat-select [(ngModel)] = "structure.opticalActivity" name="opticalActivity">
        <mat-option *ngFor="let activity of opticalActivityList" [value]="activity.value">
          {{activity.display}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <app-cv-input class="atropisomerism" key = 'Structure Has Atropisomerism'  title = "Additional Stereochemistry" [model] = "structure.atropisomerism"
                  (valueChange)= "structure.atropisomerism = $event" name = "opticalActivity">
    </app-cv-input>
  </div>
  <div class="form-row">
    <div class="key-value-pair">
      <div class="key">
        Molecular Weight
      </div>
      <div class="value">
        {{structure.mwt}}
      </div>
    </div>
    <div class="key-value-pair">
      <div class="key">
        Defined Stereocenters
      </div>
      <div class="value">
        {{structure.definedStereo}} / {{structure.stereoCenters}}
      </div>
    </div>
    <div class="key-value-pair">
      <div class="key">
        EZ Centers
      </div>
      <div class="value">
        {{structure.ezCenters}}
      </div>
    </div>
    <div class="key-value-pair">
      <div class="key">
        Structure Charge
      </div>
      <div class="value">
        {{structure.charge}}
      </div>
    </div>
    <div *ngIf="!hideAccess">
      <app-access-manager (accessOut)="updateAccess($event)" [access]="structure.access">
      </app-access-manager>
    </div>
  </div>
  <div class="form-row">
    <div class="stereo-comments">
      <div class="textarea-label">Stereo Comments</div>
      <textarea placeholder="Enter text here" [(ngModel)]="structure.stereoComments" name="stereoComments"></textarea>
    </div>
  </div>
</form>

