<form class="structure-form" *ngIf="structure && type === 'structure'" >
  <div class="form-row">
    <mat-form-field class="mol-formula">
      <input matInput placeholder="Molecular Formula" [(ngModel)]="structure.formula" name="formula" required />
    </mat-form-field>
    <mat-form-field class="stereochemistry">
      <mat-label>Stereochemistry</mat-label>
      <mat-select [(ngModel)]="structure.stereochemistry" name="stereochemistry">
        <mat-option *ngFor="let type of stereoChemistryTypeList" [value]="type.value">
          {{type.display}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="optical-activity">
      <mat-label>Optical Activity</mat-label>
      <mat-select [value] = "optical" (selectionChange)="updateOptical($event)" name="opticalActivity">
        <mat-option *ngFor="let activity of opticalActivityList" [value]="activity.value">
          {{activity.display}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="atropisomerism">
      <mat-label>Additional Stereochemistry</mat-label>
      <mat-select [(ngModel)]="structure.atropisomerism" name="opticalActivity">
        <mat-option *ngFor="let atropisomerism of atropisomerismList" [value]="atropisomerism.value">
          {{atropisomerism.display}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="settings_container" *ngIf="showSettings">
      <button mat-icon-button [matMenuTriggerFor]="settingsMenu" matTooltip="Advanced options">
        <mat-icon svgIcon="settings_applications"></mat-icon>
      </button>
      <mat-menu #settingsMenu="matMenu">
        <button mat-menu-item (click)="openStructureImportDialog()">
          Import
        </button>
        <button mat-menu-item (click)="openNameResolverDialog()">
          Resolve name
        </button>
        <span *ngIf="structure.id">
          <button mat-menu-item (click)="downloadStructure('mol')">
            Download mol
          </button>
          <button mat-menu-item (click)="downloadStructure('smiles')">
            Download smiles
          </button>
          <button mat-menu-item (click)="openStructureImageModal()">
            View stereochemistry
          </button>
        </span>
      </mat-menu>
    </div>
  </div>
  <div class="form-row">
    <div class="key-value-pair">
      <div class="key">
        Molecular Weight
      </div>
      <div class="value">
        {{structure.mwt}}
      </div>
    </div>
    <div class="key-value-pair">
      <div class="key">
        Defined Stereocenters
      </div>
      <div class="value">
        {{structure.definedStereo}} / {{structure.stereoCenters}}
      </div>
    </div>
    <div class="key-value-pair">
      <div class="key">
        EZ Centers
      </div>
      <div class="value">
        {{structure.ezCenters}}
      </div>
    </div>
    <div class="key-value-pair">
      <div class="key">
        Structure Charge
      </div>
      <div class="value">
        {{structure.charge}}
      </div>
    </div>
    <div *ngIf="!hideAccess">
      <app-access-manager (accessOut)="updateAccess($event)" [access]="structure.access">
      </app-access-manager>
    </div>
  </div>
  <div class="form-row">
    <div class="stereo-comments">
      <div class="textarea-label">Stereo Comments</div>
      <textarea placeholder="Enter text here" [(ngModel)]="structure.stereoComments" name="stereoComments"></textarea>
    </div>
  </div>
</form>
<div class = "form-row" *ngIf= "structure && type === 'polymer'" >
  <span class = "middle-fill"></span>
  <form class="structure-form polymer-form" >
  <div class="settings_container" *ngIf="showSettings">
    <button mat-icon-button [matMenuTriggerFor]="settingsMenu" matTooltip="Advanced options">
      <mat-icon svgIcon="settings_applications"></mat-icon>
    </button>
    <mat-menu #settingsMenu="matMenu">
      <button mat-menu-item (click)="openStructureImportDialog()">
        Import
      </button>
      <button mat-menu-item (click)="openNameResolverDialog()">
        Resolve name
      </button>
      <span *ngIf="structure.id">
        <button mat-menu-item (click)="downloadStructure('mol')">
          Dowload mol
        </button>
        <button mat-menu-item (click)="downloadStructure('smiles')">
          Download smiles
        </button>
        <button mat-menu-item (click)="openStructureImageModal()">
          View stereochemistry
        </button>
      </span>
    </mat-menu>
  </div>
</form>
</div>
