@if (!schema.CVDomain && (!schema.items || !schema.items.enum)) {
  <div class="widget form-group" [ngClass] = "schema.visibleIf ? 'indent': 'no-indent'" >
    @if (schema.title) {
      <label [attr.for]="id" class="horizontal control-label">
        {{ schema.title }}
      </label>
    }
    @if (schema.type!=='array') {
      <div class="checkbox">
        <label class="horizontal control-label">
          <input [formControl]="control" [attr.name]="name" [attr.id]="id" [indeterminate]="control.value !== false && control.value !== true ? true :null" type="checkbox" [disableControl]="schema.readOnly">
          @if (schema.readOnly) {
            <input [attr.name]="name" type="hidden" [formControl]="control">
          }
          {{schema.description}}
          @if (schema.comments) {
            <sup ><mat-icon style ="height: 18px;" svgIcon="help" color="primary" class = "help-icon" (click) = "openModal(info, schema.comments)"></mat-icon></sup>
          }
        </label>
      </div>
    }
    @if (schema.type==='array') {
      <div  [ngClass] = "schema.layout && schema.layout === 'horizontal' ? 'row-layout':''">
        @for (option of schema.items.oneOf; track option) {
          <div class="checkbox">
            <label class="horizontal control-label">
              <input [attr.name]="name"
                value="{{option.enum[0]}}" type="checkbox"
                [attr.disabled]="schema.readOnly"
                (change)="onCheck($event.target)"
                [attr.checked]="checked[option.enum[0]] ? true : null"
                [attr.id]="id + '.' + option.enum[0]"
                >
              {{option.description ? option.description : option.enum[0]}}
            </label>
          </div>
        }
      </div>
    }
  </div>
}


@if (!schema.CVDomain && schema.items && schema.items.enum) {
  <div class="widget form-group" [ngClass] = "schema.visibleIf ? 'indent': 'no-indent'">
    @if (schema.title) {
      <label [attr.for]="id" class="horizontal control-label">
        {{ schema.title }}
        @if (schema.comments && !schema.description) {
          <sup ><mat-icon style ="height: 18px;" color="primary" svgIcon="help"  class = "help-icon" (click) = "openModal(info, schema.comments)"></mat-icon></sup>
        }
      </label>
    }
    @if (schema.type!=='array') {
      <div class="checkbox">
        <label class="horizontal control-label">
          <input [formControl]="control" [attr.name]="name" [attr.id]="id" [indeterminate]="control.value !== false && control.value !== true ? true :null" type="checkbox" [disableControl]="schema.readOnly">
          @if (schema.readOnly) {
            <input [attr.name]="name" type="hidden" [formControl]="control">
          }
          {{schema.description}}
          @if (schema.comments) {
            <sup ><mat-icon style ="height: 18px;" svgIcon="help" color="primary" class = "help-icon" (click) = "openModal(info, schema.comments)"></mat-icon></sup>
          }
        </label>
      </div>
    }
    @if (schema.type==='array') {
      <div  [ngClass] = "schema.layout && schema.layout === 'horizontal' ? 'row-layout':''">
        @for (option of schema.items.enum; track option) {
          <div class="checkbox">
            <label class="horizontal control-label">
              <input [attr.name]="name"
                value="{{option}}" type="checkbox"
                [attr.disabled]="schema.readOnly"
                (change)="onCheck($event.target)"
                [attr.checked]="checked[option] ? true : null"
                [attr.id]="id + '.' + option"
                >
              {{option.description ? option.description : option}}
            </label>
          </div>
        }
      </div>
    }
  </div>
}

@if (schema.CVDomain) {
  <div class="widget form-group"  [ngClass] = "schema.visibleIf ? 'indent': 'no-indent'">
    @if (schema.title) {
      <label [attr.for]="id" class="horizontal control-label">
        {{ schema.title }}
        @if (schema.comments && !schema.description) {
          <sup  ><mat-icon style ="height: 18px;" color="primary" svgIcon="help"  class = "help-icon" (click) = "openModal(info, schema.comments)"></mat-icon></sup>
        }
      </label>
    }
    @if (schema.type!=='array') {
      <div class="checkbox">
        <label class="horizontal control-label">
          <input [formControl]="control" [attr.name]="name" [attr.id]="id" [indeterminate]="control.value !== false && control.value !== true ? true :null" type="checkbox" [disableControl]="schema.readOnly">
          @if (schema.readOnly) {
            <input [attr.name]="name" type="hidden" [formControl]="control">
          }
          {{schema.description}}
          @if (schema.comments) {
            <sup ><mat-icon style ="height: 18px;" color="primary" svgIcon="help"  class = "help-icon" (click) = "openModal(info, schema.comments)"></mat-icon></sup>
          }
        </label>
      </div>
    }
    @if (schema.type==='array') {
      <div  [ngClass] = "schema.layout && schema.layout === 'horizontal' ? 'row-layout':''">
        @for (option of options; track option) {
          <div class="checkbox">
            <label class="horizontal control-label">
              <input [attr.name]="name"
                value="{{option.value}}" type="checkbox"
                [attr.disabled]="schema.readOnly"
                (change)="onCheck($event.target)"
                [attr.checked]="checked[option.value] ? true : null"
                [attr.id]="id + '.' + option.value"
                >
              {{option.display}}
            </label>
          </div>
        }
      </div>
    }
  </div>
}

<ng-template #info let-data>
  {{data.comment}}
</ng-template>