dist: trusty

language: node_js
node_js:
  - 14.17.0

env:
  global:
    - TRAVIS_TAG=buildRelease

install:

  - cp package.dev.json package.json
  - rm -rf node_modules
  - rm -rf package-lock.json
  - rm -rf package.json
  - cp package.dev.json package.json
  - npm install
  - npm run build-file-select
  - npm run build-jsdraw-wrapper
  - npm run build-ketcher-wrapper
  - cp package.real.json package.json
  - npm install --legacy-peer-deps
  - npm install webpack
  - npm i --save webpack-sources --legacy-peer-deps
  - npm install -f @types/ws@8.5.4
  - export NODE_OPTIONS="--max-old-space-size=8192"
script:
  - npm run build:fda:prod
after_success:
  - if [ $TRAVIS_BRANCH = 'development_3.0' ]; then bash travisScript.sh; else echo "Not a branch set to push"; fi
  - zip -r deployable_binaries.zip dist/browser
  - ls
  - cp deployable_binaries.zip ../
  - ls
  - echo "$TRAVIS_TAG"
  - echo "${TRAVIS_TAG}"
  - "curl -X DELETE -H \"authorization: token $GIT_ACCESS_TOKEN\" \"https://api.github.com/repos/ncats/GSRSFrontend/git/refs/tags/${TRAVIS_TAG}\""
 

before_deploy:
  # Set up git user name and tag this commit
  - echo "before deploy"
  - if [ $TRAVIS_BRANCH = 'development_3.0' ]; then git tag $TRAVIS_TAG; fi
  - echo "$TRAVIS_TAG"

deploy:
  provider: releases
  api_key: ${GIT_ACCESS_TOKEN}
  file: "../deployable_binaries.zip"
  skip_cleanup: true
  on:
    all_branches: true