<br><br><br>
<div class="title">
  Advanced Search
</div>
<div class="content-container">
  <mat-card>
    <mat-card-title>
    </mat-card-title>
    <mat-card-content>

      <div>
        <mat-tab-group (selectedTabChange)="tabSelected($event)" style="margin-top:-35px;" class="tabs">
          <mat-tab label="Substance">
            <br>
            <!--
            <div class="titletab">Search for Substance</div>
            -->
          </mat-tab>
          <mat-tab label="Application">
            <br>
            <!--
            <div class="titletab">Search for Application</div>
            -->
          </mat-tab>
          <mat-tab label="Product">
            <br>
            <!--
            <div class="titletab">Search for Product</div>
            -->
          </mat-tab>
          <mat-tab label="Clinical Trial">
            <br>
            <!--
            <div class="titletab">Search for Clinical Trial</div>
            -->
          </mat-tab>
        </mat-tab-group>
      </div>

      <div class="builder-container margintop5px">

        <!--
        <div class="header-row">
          <div class="width5percent marginright15px">
           
          </div>
          <div class="width25percent marginright20px">
            Search In Fields
          </div>
          <div class="width25percent marginright10px">
            For
          </div>
          <div class="width33percent marginright20px">
            Query
          </div>
        </div>
        -->
        <div class="builder-row"
          *ngFor="let queryStatement of queryStatements; index as index, first as isFirst, last as isLast">
          <div class="query-statement-container">
            <app-advanced-query-statement 
            [category]="category"
            [queryStatementHash]="queryStatement.queryHash"
            [index]="index"
            [queryableDictionary]="queryableSubstanceDict"
            [queryableOptions]="displayProperties"
            [queryableOptionsCommon]="displayPropertiesCommon"
            (queryUpdated)="queryUpdated($event, index)">
            </app-advanced-query-statement>
          </div>
          <div class="actions-container">
            <div class="button-container">
              <button *ngIf="!isFirst || queryStatements.length > 1" mat-icon-button aria-label="remove query statement"
                (click)="removeQueryStatement(index)">
                <mat-icon svgIcon="remove_circle_outline"></mat-icon>
              </button>
            </div>
            <div class="button-container">
              <button *ngIf="isLast" mat-icon-button aria-label="add query statement" (click)="addQueryStatement()">
                <mat-icon svgIcon="add_circle_outline"></mat-icon>
              </button>
            </div>
            <div class="query-builder-actions" *ngIf="isFirst">
              <button mat-flat-button color="primary" (click)="processSearch()">Search</button>
            </div>
          </div>
        </div>

      </div>



      <!-- Structure Editor Begin -->
      <mat-expansion-panel [expanded]="true" class="panel-style bordergray">
        <mat-expansion-panel-header class="">
          <mat-panel-title class="margintop12px">
            AND Search Structure
          </mat-panel-title>
          <mat-panel-description class="marginleft25px">
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="search-content-container" #contentContainer>
          <mat-card>
            <div class="structure-editor-actions-container">
              <div class="editor-container">
                <app-structure-editor (editorOnLoad)="editorOnLoad($event)" (loadedMolfile)="molvecUpdate($event)">
                </app-structure-editor>
              </div>
              <div class="search-actions">
                <div class="two">
                  <mat-form-field class="search-type-select">
                    <mat-select placeholder="Search type" (selectionChange)="searchTypeSelected($event)"
                      [formControl]="searchTypeControl" value="substructure">
                      <mat-option value="substructure">
                        Substructure
                      </mat-option>
                      <mat-option value="similarity">
                        Similarity
                      </mat-option>
                      <mat-option value="exact">
                        Exact
                      </mat-option>
                      <mat-option value="flex">
                        Flex
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div class="similarity-cutoff" *ngIf="showSimilarityCutoff">
                    <div>Similarity cutoff (tanimoto)</div>
                    <mat-slider min=".40" max="1" step="0.01" [value]="similarityCutoff"
                      (input)="searchCutoffChanged($event)"></mat-slider>
                    <div>{{similarityCutoff}}</div>
                  </div>
                </div>
                <!--
              <div class="action-button-container three">
                <button class="search-button" name="search" mat-raised-button color="primary"
                  (click)="search()">Search</button>
              </div>
               -->
                <div class="action-button-container one">
                  <button class="import-button" name="export" mat-raised-button color="primary"
                    (click)="openStructureImportDialog()">Import</button>
                </div>
                <div class="action-button-container one">
                  <button class="export-button" name="import" mat-raised-button color="primary"
                    (click)="openStructureExportDialog()">Export</button>
                </div>
              </div>
            </div>
            <div>
              <h4>
                Get Structure From Name
              </h4>
              <app-name-resolver (structureSelected)="nameResolved($event)"></app-name-resolver>
            </div>
          </mat-card>
        </div>
      </mat-expansion-panel>
      <!-- Structure Editor End -->




      <!--
      <div class="query-builder-actions">
        <button mat-flat-button color="primary" (click)="processSearch()" [disabled]="!query">Search</button>
      </div>
      -->
      <div class="titlequery">
        Query
      </div>
      <div class="query-container">
        <div class="query-value">
          {{query}}
        </div>
      </div>

    </mat-card-content>
  </mat-card>

</div>