.reference-form-container {
    padding: 30px 0 12px 0;
    position: relative;
}

.notification-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    z-index: 10;
    background-color: rgba(255, 255, 255, .8);
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: #666;
}

.form-row {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: flex-end;

    .checkbox-container {
        padding-bottom: 18px;
    }
}

.form-actions {
    margin: 5px 0 10px 0;
}

.source-type, .citation, .url {
    width: 30%;
}

.tags {
    width: 40%;
}

::ng-deep .mat-menu-item {
    height: auto
}

::ng-deep .mat-checkbox-layout {
    white-space: normal;
}