<div class="reference-form-container">
  <div *ngIf="isDeleted" class="notification-backdrop">
    Deleted
  </div>
  <div class="form-row">
    <mat-form-field class="source-type">
      <mat-label>Source Type *</mat-label>
      <mat-select [formControl]="documentTypeControl">
        <mat-option *ngFor="let documentType of documentTypes" [value]="documentType.value">
          {{documentType.display}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="citation">
      <input matInput placeholder="Source Text/Citation *" [formControl]="citationControl" />
    </mat-form-field>
    <div class="checkbox-container">
      <mat-checkbox [formControl]="publicDomainControl">Public Domain</mat-checkbox>
    </div>
    <div>
      <app-access-manager (accessOut)="updateAccess($event)" [access]="reference.access">
      </app-access-manager>
    </div>
  </div>
  <div class="form-row">
    <mat-form-field class="url">
      <input matInput placeholder="URL" [formControl]="urlControl" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Source Id" [formControl]="idControl" />
    </mat-form-field>
    <app-tag-selector class="tags" (tagsUpdate)="updateTags($event)" [tags]="reference.tags"
      cvDomain="DOCUMENT_COLLECTION"></app-tag-selector>
  </div>
  <div class="form-row form-actions">
    <div *ngIf="reference.uuid">
      <button mat-button (click)="deleteReference()">
        <span>Delete</span>&nbsp;
        <mat-icon svgIcon="delete_forever"></mat-icon>
      </button>
    </div>
    <span class="fill-middle"></span>
    <div *ngIf="reference.uuid">
      <app-apply-reference [subReferenceUuid]="reference.uuid"></app-apply-reference>
    </div>
  </div>
</div>