.top-fixed {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 64px;
  width: 100%;
  background-color: var(--regular-white-color);
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 3px -2px var(--box-shadow-color), 0px 3px 4px 0px var(--box-shadow-color-2), 0px 1px 8px 0px var(--box-shadow-color-3);  z-index: 1001;
}

.form-content-container {
  overflow: hidden;
  padding-top: 110px;
}

.scrollable-container {
  padding-top: 15px;
}

.cards-container {
  width: 100%;
}

.title_box {
  width: 1140px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.titleblue {
  font-size: 18px;
  font-weight: 700px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--regular-blue-color);

  /*padding-left: 70px; */
}

.title {
   font-size: 24px;
   font-weight: 600px;
   font-family: Arial, Helvetica, sans-serif;
   /*padding-left: 70px; */
}

.mat-card {
  max-width: 1140px;
}

.row {
  width: 100%;
}

.divflex {
  display: flex;
}

.flex-container {
  display: flex;
}

.flex-item {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  width: 100%;
}

.col-6-1 {
  width: calc((100% - 20px * 5) / 6);
  margin-right: 20px;
}

.col-6-1:last-child {
  margin-right: 0px;
}

.col-2-1 {
  width: calc((100% - 20px * 1) / 2);
  margin-right: 20px;
}

.col-2-1:last-child {
  margin-right: 0px;
}

.col-3-1 {
  width: calc((100% - 25px * 2) / 3);
  margin-right: 25px;
}

.col-3-1:last-child {
  margin-right: 0px;
}

.col-5-1 {
  width: calc((100% - 30px * 4) / 5);
  margin-right: 30px;
}

.col-5-1:last-child {
  margin-right: 0px;
}

.col-4-1 {
  width: calc((100% - 30px * 3) / 4);
  margin-right: 30px;
}

.col-4-1:last-child {
  margin-right: 0px;
}

.col-4 {
  width: calc((100% - 20px) / (6/4));
  margin-right: 20px;
}

.col-4:last-child {
  margin-right: 0px;
}

.col-5 {
  width: calc((100% - 10px) / (6/5));
  margin-right: 10px;
}

.col-5:last-child {
  margin-right: 0px;
}

.col-5-more {
  width: calc((100% + 100px) / (6/5));
  margin-right: 10px;
}

.col-6 {
  width: 100%;
}

/*
.col-4-1 {
  width: calc((100% - 30px * 3) / 4);
  margin-right: 30px;
}

.col-4-1:last-child {
  margin-right: 10px;
}

.col-4-1-short {
  width: calc(((100% - 80px * 3) / 4) - 5px);
  margin-right: 30px;
}

.col-4-1-short:last-child {
  margin-right: 0px;
}

.col-4-3 {
  width: calc((100% - 30px) / (4/3));
  margin-right: 30px;
}

.col-4-3:last-child {
  margin-right: 0px;
}

.col-3-1 {
  width: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
}
*/

.hide-show-messages {
  margin-left: 10px;
  border: 1px solid;
}

.actions-container {
  max-width: 1028px;
  width: 100%;
  background-color: var(--regular-white-color);
  padding: 10px;
  display: flex;
}

.dismiss-container {
  display: flex;
}

.middle-fill {
  flex: 1 1 auto;
}

.submission-messages {
  overflow: hidden;
  height: auto;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  max-width: 1028px;
  width: 100%;
  background-color: var(--regular-white-color);
  display: flex;
  flex-direction: column;

  &.collapsed {
    max-height: 0;
  }

  &.expanded {
    max-height: 500px;
    overflow-y: auto;
    padding: 10px;
  }

  .submission-message {
    font-weight: 500;
    text-align: center;
  }

  .validation-message {
    display: flex;
    padding: 5px 0;
    align-items: center;

    .message-type {
      text-transform: uppercase;
      font-weight: 500;
      margin-right: 20px;
      padding:10px;
      border-radius:3px;
    }
  }

  .dismiss-container {
    display: flex;
  }

  .warning-message {
    color: var(--warning-dialog-color);
    background-color: var(--warning-dialog-bg-color);

  }

  .error-message {
    color: var(--error-dialog-color);
    background-color: var(--error-dialog-bg-color);
  }
}

.details-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-box {
  max-width: 1028px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.margintopneg10px {
  margin-top: -10px;
}

.margintop10px {
  margin-top: 10px;
}

.margintop50px {
  margin-top: 50px;
}

.margintop90px {
  margin-top: 90px;
}

marginleft50px {
  margin-left: 50px;
}

marginleftneg20px {
  margin-left: -20px;
}

marginleftneg40px {
  margin-left: -40px;
}

marginleftneg7px {
  margin-left: -7px;
}

.padtop5px {
  padding-top: 5px;
}

.padtop17px {
  padding-top: 17px;
}

.padleft7px {
  padding-left: 7px;
}

.padleft20px {
  padding-left: 20px;
}

.padleft185px {
  padding-left: 185px;
}

.padleftneg20px {
  padding-left: -20px;
}

.padright20px {
  padding-right: 20px;
}

.padbottom10px {
  padding-bottom: 10px;
}

.bordergray {
  border: 1px solid var(--regular-grey-color);
}

.borderblue {
  border: 2px solid var(--bluish-purple-color);
}

.bordergreen {
  border: 1px solid var(--regular-green-color);
}

.borderbottom {
  border-bottom: 2px solid var(--regular-blue-color);
  padding-top: 10px;
  padding-bottom: 10px;
}

.width40px {
  width: 40px;
}

.width50px {
  width: 50px;
}

.width25percent {
  width: 25%;
}

.width75percent {
  width: 75%;
}

.colorgray {
  color: var(--regular-grey-color);
}

.colorred {
  color: var(--regular-red-color);
}

.colorblue {
  color: var(--regular-blue-color);
}

.font11px {
  font-size: 11px;
}

.textalignright {
  text-align: right;
}

.textaligncenter {
  text-align: center;
}

.displayinlineblock {
  display: inline-block;
}

.floatleft {
  float: left;
}

.disabled {
  cursor: not-allowed;
}

.disabledfield {
  cursor: not-allowed;
  color: var(--regular-red-color);
}

/* CV INPUT OVERWRITE WIDTH */
.cvwidth {
  .mat-form-field {
    width: 20%;
  }
}

.cvwidth2 {
  width: 300px;
}

.mat-form-field-style > {

  /* OVERWRITE MATERIAL INPUT FIELDS */
  .mat-form-field-infix {
    color: var(--regular-blue-color);
  }

  .mat-select-value {
    color: var(--regular-blue-color);
  }

  .mat-form-field-label {
    color: var(--mat-form-field-label-color) !important;
  }

  .mat-form-field-underline {
    background-color: var(--mat-form-field-underline-bg-color) !important;
  }

  /*Focused: change color of label*/
  .mat-focused .mat-form-field-label {
    color: var(--mat-form-field-focused-color) !important;
  }

  /*Focused: change color of underline*/
  .mat-form-field-ripple {
    background-color: var(--mat-form-field-focused-color) !important;;
  }

  .mat-form-field-disabled .mat-form-field-underline
  {
    background-image: linear-gradient( to right, var(--img-linear-gradient-start-color) 0, var(--textarea-dark-border-color) 10%, var(--img-linear-gradient-color) 0 ) !important;
    background-size: 1px 100% !important;
    background-repeat: repeat-x !important;
    cursor: not-allowed;
  }

  .mat-form-field-disabled:hover {
    cursor: not-allowed;
  }

  mat-hint {
    color: var(--regular-red-color) !important;
  }

}

.errortext {
  color: var(--regular-red-color);
  font-size: 11px;
}

.divclear {
  clear: both;
}

::ng-deep .related-substance img {
  max-width:125px !important;
  margin: auto;
}

.tabStyle {
  width: 120px;
  height: 30px;
  border: 1px solid var(--regular-grey-color);
  background: var(--tabstyle-bg-color-4);
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tabStyleHeader {
  font-size: 14px;
  font-weight: bold;
  font-family: Verdana;
  color: var(--primary-title-color);
  padding-left: 30px;
  padding-top: 5px;
  padding-right: 5px;
}
