.query-statement-container {
  display: flex;
  width: 100%;
}

.condition-column {
  width: 100px;
  max-width: 100px;
  min-width: 100px;
  padding-right: 20px;
  padding-top: 1px;
}

.mat-form-field {
  width: 100%;
  max-width: 100%;

  ::ng-deep .mat-form-field-infix {
      width: 100%;
  }
}

.queryable-property-column {
  width: 350px;
  min-width: 350px;
  max-width: 350px;
  padding-right: 20px;
}

.command-column {
  display: flex;
  padding-right: 10px;
  padding-top: 1px;
  width: 250px;
  max-width: 250px;
  min-width: 250px;
}

.query-column {
  flex-grow: 1;
  display: flex;
}

.query-input {
  flex-grow: 1;
  padding: 0 10px;
}

.mat-hint.action-hint {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 12px;

  a {
    color: var(--link-primary-color);
  }

  div {
     color: var(--regular-grey-color);
     font-size: 12px; 
  }

  span {
    color: var(--regular-black-color);
  }
}

.mat-error {
  color: var(--regular-red-color);
}

.marginright20px {
  margin-right: 20px;
}

.marginright25px {
  margin-right: 25px;
}

.width5percent {
  width: 5%;
  min-width: 5%;
  max-width: 5%;
}

.width10percent {
  width: 10%;
  min-width: 10%;
  max-width: 10%;
}

.width15percent {
  width: 15%;
  min-width: 15%;
  max-width: 15%;
}

.width25percent {
  width: 25%;
  min-width: 25%;
  max-width: 25%;
}

.width27percent {
  width: 27%;
  min-width: 27%;
  max-width: 27%;
}

.width30percent {
  width: 30%;
  min-width: 30%;
  max-width: 30%;
}

.width33percent {
  width: 33%;
  min-width: 33%;
  max-width: 33%;
}

.bordergray {
  border: 1px solid var(--regular-grey-color);
}
