<div class="top-fixed">
  <div class="actions-container">

    <button mat-flat-button color="primary" (click)="showJSON()">Show JSON</button>&nbsp;&nbsp;&nbsp;

    <a mat-flat-button color="primary" [href]="downloadJsonHref" (click)="saveJSON()" download="{{jsonFileName}}.json">
      <span>Export JSON</span>
    </a>&nbsp;&nbsp;&nbsp;

    <!-- Do not show 'Import JSON' button when in Update Impurities page -->
    <span *ngIf="assay && !assay.id">
      <button mat-flat-button color="primary" (click)="importJSON()">Import JSON</button>
    </span>

    <button mat-flat-button class="hide-show-messages" (click)="toggleValidation()" [disabled]="isLoading"
      *ngIf="validationMessages && validationMessages.length > 0">
      {{showSubmissionMessages ? 'Hide' : 'Show'}} messages
      <mat-icon [svgIcon]="showSubmissionMessages ? 'chevron_up' : 'chevron_down'"></mat-icon>
    </button>
    <span class="middle-fill"></span>


    <!-- Register and View Application buttons -->
    <span *ngIf="assay">
      <span *ngIf="assay.id">
        <button mat-flat-button color="primary" [routerLink]="['/invitro-pharm/register']"
          matTooltip='Register In-vitro Pharmacology Assay Screening'>
          Register New Assay Screening
        </button>&nbsp;&nbsp;&nbsp;

        <a mat-flat-button color="primary" [routerLink]="['/invitro-pharm', assay.id]" target="_blank"
          matTooltip='View this Assay Screening Record (opens in a new window)'>
          <mat-icon class="small-icon" svgIcon="open_in_new" matTooltip="opens in new window"></mat-icon>
          View Assay Screening Record
        </a>&nbsp;&nbsp;&nbsp;

        <!--
        <span *ngIf="isAdmin">
          <button mat-flat-button color="primary" (click)="confirmDeleteImpurities()"
            matTooltip='Delete this Impurity'>
            Delete
          </button>&nbsp;&nbsp;&nbsp;
        </span>
        -->
      </span>
    </span>


    <!-- Validate and Submit Button -->
    &nbsp;
    <button mat-flat-button color="warn" (click)="validate()">Validate and Submit</button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-flat-button color="primary" [routerLink]="['/home']" matTooltip='Close this window'>Close</button>
  </div> <!-- div class=actions-container-->


  <!-- Validation Message Display -->
  <div [ngClass]="{'submission-messages': true, collapsed: !showSubmissionMessages, expanded: showSubmissionMessages}">
    <div class="submission-message" *ngIf="submissionMessage">
      {{submissionMessage}}
    </div>


    <!-- Validation Message Display and Submit Button -->
    <div *ngIf="validationMessages">
      <span *ngIf=" validationMessages.length > 0">
        <div class="submission-message" *ngIf='!serverError && !approving'>
          Please correct or dismiss the following errors and submit again:
        </div>
        <div class="validation-message" *ngFor="let message of validationMessages; index as i">
          <div class="message-type" [ngClass]="message.messageType == 'ERROR' ? 'error-message' : 'warning-message'">
            {{message.messageType}}</div>
          <div class="message">{{message.message}}<span *ngFor="let link of message.links"><br /><a [href]="link.href"
                target="_blank">{{link.text}}</a></span></div>
          <button mat-icon-button matTooltip="Dismiss" *ngIf="message.messageType != 'ERROR' && !approving"
            (click)="dismissValidationMessage(i)">
            <mat-icon svgIcon="cancel"></mat-icon>
          </button>
        </div>
      </span>

      <div class="dismiss-container">
        <span class="middle-fill"></span>
        <button mat-flat-button color="primary" (click)="submit()"
          [disabled]="isLoading || (this.validationResult === false)">{{validationMessages &&
          validationMessages.length > 0?'Dismiss All and ':''}}
          Submit</button>
      </div>
    </div>
    <!-- Validation Message and Submit Button -->

  </div> <!-- div class=actions-container -->
</div> <!-- div class=top-fixed -->


<!-- ####################################################################### -->
<!-- FORM ENTRY BEGIN -->
<!-- Display Form Fields -->

<div class="form-content-container mat-form-field-style">
  <div class="scrollable-container">

    <!-- Display Message-->
    <div class="message-style" *ngIf="message">
      {{message}}
    </div>

    <div *ngIf="assay">

      <div class="divflex margintop20px">
        <div class="width600px font24px">
          <b>{{title}}</b>
          &nbsp;&nbsp;

          <!-- Edit GSRS record button -->
          <a [routerLink]="['/invitro-pharm', assay.id, 'edit']" target="_blank" *ngIf="isAdmin"
            matTooltip='Edit GSRS In-vitro Pharmacology Record'>
            <mat-icon svgIcon="edit"></mat-icon>
          </a>&nbsp;&nbsp;

          <a color="primary" [href]="downloadJsonHref" (click)="saveJSON()" download="{{jsonFileName}}.json"
            matTooltip='Export Json'>
            <mat-icon svgIcon="get_app"></mat-icon>
          </a>&nbsp;&nbsp;&nbsp;
        </div>

        <div class="width50percent font11px margintop10px" *ngIf="assay.id">
          <span class="colorgray">Created By:</span> {{assay.createdBy}}&nbsp;&nbsp;&nbsp;
          <span class="colorgray">Create
            Date:</span>{{assay.creationDate|date: 'MM/dd/yyyy hh:mm:ss a'}}&nbsp;&nbsp;&nbsp;
          <span class="colorgray">Modified By:</span> {{assay.modifiedBy}}&nbsp;&nbsp;&nbsp;
          <span class="colorgray">Modify Date:</span> {{assay.lastModifiedDate|date: 'MM/dd/yyyy
          hh:mm:ss
          a'}}
        </div>
      </div> <!-- class=divflex -->


      <!-- ############################################################ -->
      <!-- ASSAY DETAILS FORM BEGIN                                     -->
      <!-- ************************************************************ -->
      <div class="details-container">

        <div class="margintop10px" style="width:100%;">

          <mat-card class="margintop10px">
            <mat-card-title>
            <!-- <span class="colorblue font20px"><b>Assay Information</b></span>  -->
            </mat-card-title>

            <mat-card-content>

              <!--
              <b>Select From Existing Assays: {{existingAssayList.length}}</b> &nbsp;&nbsp;<br>
              -->

              <div class="font15px">Step 1: Select from Existing Assays</div><br><br>

              <mat-form-field class="width100percent">
                <mat-label>Select From Existing Assay</mat-label>
                <mat-select [formControl]="existingAssayControl">
                  <mat-option *ngFor="let asy of existingAssayList; let index = index" [value]="index">
                    ID:{{asy.id}}&nbsp;&nbsp;
                    External Assay ID:{{asy.externalAssayId}}&nbsp;&nbsp;
                    External Assay Source:{{asy.externalAssaySource}}&nbsp;&nbsp;
                    Target Name:{{asy.targetName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>


              <!-- Existing Assay Suggestions/TypeAhead Begin -->
              <!--
              <mat-form-field [floatLabel]="'never'" class="search-form-field space-right-small" [ngClass]="source">
                <input class="search" type="text" [placeholder]="placeholder" aria-label="Search" matInput
                  [formControl]="searchControl" [matAutocomplete]="substanceSearchAuto" (focus)="focused()">

                <mat-hint *ngIf="hintMessage">{{hintMessage}}</mat-hint>
                <mat-error *ngIf="searchControl.invalid">{{errorMessage}}</mat-error>

                <mat-autocomplete class="substance-select" panelWidth="auto" #substanceSearchAuto="matAutocomplete"
                  (optionSelected)="substanceSearchOptionSelected($event)" (closed)="autoCompleteClosed()">
                  <div *ngFor="let field of suggestionsFields">
                    <div class="substance-suggestion-field"><span
                        class='field-styling'><b>{{field['display']}}</b></span></div>

                    <mat-option *ngFor="let suggestion of existingAssayList" [value]="suggestion.key">
                      <div [innerHTML]="highlight(suggestion.id)" class="suggestion-styling">{{suggestion.id}}</div>
                    </mat-option>

                  </div>
                  <pre aria-hidden="true" class="mat-option overflow-comp" id='overflow'></pre>
                </mat-autocomplete>

              </mat-form-field>
              -->
              <!-- Existing Assay Suggestions/TypeAhead End -->

              <!-- ASSAY INFORMATION DETAILS BEGIN -->

              <!--
              <table class="width100percent" *ngIf="assay">
                <tbody>

                  <tr>
                    <td class="fieldKey">Assay ID:</td>
                    <td>
                      <mat-form-field class="fieldvalue">
                        <input matInput placeholder="" [(ngModel)]="assay.assayId" name="assayId" />
                      </mat-form-field>
                    </td>
                  </tr>

                  <tr>
                    <td class="fieldKey">Assay Title:</td>
                    <td>
                      <mat-form-field class="fieldvalue">
                        <input matInput placeholder="" [(ngModel)]="assay.assayTitle" name="assayTitle" />
                      </mat-form-field>
                    </td>
                  </tr>

                  <tr>
                    <td class="fieldKey">Study Type:</td>
                    <td>
                      <mat-form-field class="fieldvalue">
                        <input matInput placeholder="" [(ngModel)]="assay.studyType" name="studyType" />
                      </mat-form-field>
                    </td>
                  </tr>

                  <tr class="bordergray">
                    <td class="fieldKey">Assay Format:</td>
                    <td>
                      <mat-form-field class="fieldvalue">
                        <input matInput placeholder="" [(ngModel)]="assay.assayFormat" name="assayFormat" />
                      </mat-form-field>
                    </td>
                  </tr>

                  <tr class="bordergray">
                    <td class="fieldKey">Bioassay Type:</td>
                    <td>
                      <mat-form-field class="fieldvalue">
                        <input matInput placeholder="" [(ngModel)]="assay.bioassayType" name="bioassayType" />
                      </mat-form-field>
                    </td>
                  </tr>

                  <tr class="bordergray">
                    <td class="fieldKey">Detection Method:</td>
                    <td>
                      <mat-form-field class="fieldvalue">
                        <input matInput placeholder="" [(ngModel)]="assay.detectionMethod" name="detectionMethod" />
                      </mat-form-field>
                    </td>
                  </tr>

                  <tr class="bordergray">
                    <td class="fieldKey">Target in the Test Name:</td>
                    <td>
                      <mat-form-field class="fieldvalue">
                        <input matInput placeholder="" [(ngModel)]="assay.targetName" name="targetName" />
                      </mat-form-field>
                    </td>
                  </tr>

                  <tr class="bordergray">
                    <td class="fieldKey">Target Name Approval ID:</td>
                    <td>
                      <mat-form-field class="fieldvalue">
                        <input matInput placeholder="" [(ngModel)]="assay.targetNameApprovalId"
                          name="targetNameApprovalId" />
                      </mat-form-field>
                    </td>
                  </tr>

                  <tr class="bordergray">
                    <td class="fieldKey">Target Species:</td>
                    <td>
                      <mat-form-field class="fieldvalue">
                        <input matInput placeholder="" [(ngModel)]="assay.targetSpecies" name="targetSpecies" />
                      </mat-form-field>
                    </td>
                  </tr>

                  <tr class="bordergray">
                    <td class="fieldKey">Human Homolog Target:</td>
                    <td>
                      <mat-form-field class="fieldvalue">
                        <input matInput placeholder="" [(ngModel)]="assay.humanHomologTarget"
                          name="humanHomologTarget" />
                      </mat-form-field>
                    </td>
                  </tr>

                  <tr class="bordergray">
                    <td class="fieldKey">Human Homolog Target Approval ID:</td>
                    <td>
                      <mat-form-field class="fieldvalue">
                        <input matInput placeholder="" [(ngModel)]="assay.humanHomologTargetApprovalId"
                          name="humanHomologTargetApprovalId" />
                      </mat-form-field>
                    </td>
                  </tr>

                  <tr class="bordergray">
                    <td class="fieldKey">External Assay Source:</td>
                    <td>
                      <mat-form-field class="fieldvalue">
                        <input matInput placeholder="" [(ngModel)]="assay.externalAssaySource"
                          name="externalAssaySource" />
                      </mat-form-field>
                    </td>
                  </tr>

                  <tr class="bordergray">
                    <td class="fieldKey">External Assay Source ID:</td>
                    <td>
                      <mat-form-field class="fieldvalue">
                        <input matInput placeholder="" [(ngModel)]="assay.externalAssayId" name="externalAssayId" />
                      </mat-form-field>
                    </td>
                  </tr>

                  <tr class="bordergray">
                    <td class="fieldKey">External Assay Reference:</td>
                    <td>
                      <mat-form-field class="fieldvalue">
                        <input matInput placeholder="" [(ngModel)]="assay.externalAssayReference"
                          name="externalAssayReference" />
                      </mat-form-field>
                    </td>
                  </tr>

                  <tr class="bordergray">
                    <td class="fieldKey">External Assay Source:</td>
                    <td>
                      <mat-form-field class="fieldvalue">
                        <input matInput placeholder="" [(ngModel)]="assay.externalAssaySource"
                          name="externalAssaySource" />
                      </mat-form-field>
                    </td>
                  </tr>

                  <tr class="bordergray">
                    <td class="fieldKey">External Assay Reference URL:</td>
                    <td>
                      <mat-form-field class="fieldvalue">
                        <input matInput placeholder="" [(ngModel)]="assay.externalAssayReferenceUrl"
                          name="externalAssayReferenceUrl" />
                      </mat-form-field>
                    </td>
                  </tr>

                </tbody>
              </table>
              -->
              <!-- ASSAY INFORMATION DEATILS END -->


              <!-- ####################################################-->
              <!-- SCREENING DETAILS BEGIN -->
              <br><br>
              <div class="font18px">
                <b>Total Screenings: {{(assay.invitroAssayScreenings.length)}}</b>

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button mat-flat-button color="primary" class="marginright30px bordergreen" color="primary"
                  (click)="addNewScreening(); $event.stopPropagation()" matTooltip="Add New Screening">
                  <mat-icon>add_circle_outline</mat-icon><span class="colorgreen">Add New Screening</span>
                </button>
              </div>

              <!-- Screening Loop -->
              <div class="marginbottom15px"
                *ngFor="let screening of assay.invitroAssayScreenings; let screeningIndex = index">





                <!-- ASSAY SCREENING END -->

              </div> <!-- LOOP: invitroAssayScreenings -->

            </mat-card-content>
          </mat-card>

        </div> <!-- class=width100 -->
      </div> <!-- class=cards-container -->
    </div> <!-- class=details-container -->


  </div> <!-- class=scrollable-container -->
</div> <!-- class=form-content-container -->


<ng-template #noRecord>
  <br><br><br><br>
  <div class="colororange padtop50px padleft50px">There is no Assay Screening Data found.</div>
</ng-template>