<div class="top-fixed">
  <div class="actions-container">

    <button mat-flat-button color="primary" (click)="showJSON()">Show JSON</button>&nbsp;&nbsp;&nbsp;

    <a mat-flat-button color="primary" [href]="downloadJsonHref" (click)="saveJSON()" download="{{jsonFileName}}.json">
      <span>Export JSON</span>
    </a>&nbsp;&nbsp;&nbsp;

    <!-- Do not show 'Import JSON' button when in Update Impurities page -->
    <span *ngIf="assay && !assay.id">
      <button mat-flat-button color="primary" (click)="importJSON()">Import JSON</button>
    </span>

    <button mat-flat-button class="hide-show-messages" (click)="toggleValidation()" [disabled]="isLoading"
      *ngIf="validationMessages && validationMessages.length > 0">
      {{showSubmissionMessages ? 'Hide' : 'Show'}} messages
      <mat-icon [svgIcon]="showSubmissionMessages ? 'chevron_up' : 'chevron_down'"></mat-icon>
    </button>
    <span class="middle-fill"></span>


    <!-- Register and View Application buttons -->
    <span *ngIf="assay">
      <span *ngIf="assay.id">
        <button mat-flat-button color="primary" [routerLink]="['/invitro-pharm/register']"
          matTooltip='Register In-vitro Pharmacology Assay Screening'>
          Register New Assay Screening
        </button>&nbsp;&nbsp;&nbsp;

        <a mat-flat-button color="primary" [routerLink]="['/invitro-pharm', assay.id]" target="_blank"
          matTooltip='View this Assay Screening Record (opens in a new window)'>
          <mat-icon class="small-icon" svgIcon="open_in_new" matTooltip="opens in new window"></mat-icon>
          View Assay Screening Record
        </a>&nbsp;&nbsp;&nbsp;

        <!--
        <span *ngIf="isAdmin">
          <button mat-flat-button color="primary" (click)="confirmDeleteImpurities()"
            matTooltip='Delete this Impurity'>
            Delete
          </button>&nbsp;&nbsp;&nbsp;
        </span>
        -->
      </span>
    </span>


    <!-- Validate and Submit Button -->
    &nbsp;
    <button mat-flat-button color="warn" (click)="validate()">Validate and Submit</button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-flat-button color="primary" [routerLink]="['/home']" matTooltip='Close this window'>Close</button>
  </div> <!-- div class=actions-container-->


  <!-- Validation Message Display -->
  <div [ngClass]="{'submission-messages': true, collapsed: !showSubmissionMessages, expanded: showSubmissionMessages}">
    <div class="submission-message" *ngIf="submissionMessage">
      {{submissionMessage}}
    </div>


    <!-- Validation Message Display and Submit Button -->
    <div *ngIf="validationMessages">
      <span *ngIf=" validationMessages.length > 0">
        <div class="submission-message" *ngIf='!serverError && !approving'>
          Please correct or dismiss the following errors and submit again:
        </div>
        <div class="validation-message" *ngFor="let message of validationMessages; index as i">
          <div class="message-type" [ngClass]="message.messageType == 'ERROR' ? 'error-message' : 'warning-message'">
            {{message.messageType}}</div>
          <div class="message">{{message.message}}<span *ngFor="let link of message.links"><br /><a [href]="link.href"
                target="_blank">{{link.text}}</a></span></div>
          <button mat-icon-button matTooltip="Dismiss" *ngIf="message.messageType != 'ERROR' && !approving"
            (click)="dismissValidationMessage(i)">
            <mat-icon svgIcon="cancel"></mat-icon>
          </button>
        </div>
      </span>

      <div class="dismiss-container">
        <span class="middle-fill"></span>
        <button mat-flat-button color="primary" (click)="submit()"
          [disabled]="isLoading || (this.validationResult === false)">{{validationMessages &&
          validationMessages.length > 0?'Dismiss All and ':''}}
          Submit</button>
      </div>
    </div>
    <!-- Validation Message and Submit Button -->

  </div> <!-- div class=actions-container -->
</div> <!-- div class=top-fixed -->


<!-- ####################################################################### -->
<!-- FORM ENTRY BEGIN -->
<!-- Display Form Fields -->

<div class="form-content-container mat-form-field-style">
  <div class="scrollable-container">

    <!-- Display Message-->
    <div class="message-style" *ngIf="message">
      {{message}}
    </div>

    <div *ngIf="assay">

      <div class="divflex margintop20px">
        <div class="width600px font24px">
          <b>{{title}}</b>
          &nbsp;&nbsp;

          <!-- Edit GSRS record button -->
          <span *ngIf="assay.createdBy">
            <a [routerLink]="['/invitro-pharm', assay.id, 'edit']" target="_blank" *ngIf="isAdmin"
              matTooltip='Edit GSRS In-vitro Pharmacology Record'>
              <mat-icon svgIcon="edit"></mat-icon>
            </a>&nbsp;&nbsp;
          </span>

          <a color="primary" [href]="downloadJsonHref" (click)="saveJSON()" download="{{jsonFileName}}.json"
            matTooltip='Export Json'>
            <mat-icon svgIcon="get_app"></mat-icon>
          </a>&nbsp;&nbsp;&nbsp;
        </div>

        <div class="width50percent font11px margintop10px" *ngIf="assay.id">
          <span *ngIf="assay.createdBy">
            <span class="colorgray">Created By:</span> {{assay.createdBy}}&nbsp;&nbsp;&nbsp;
            <span class="colorgray">Create
              Date:</span>{{assay.creationDate|date: 'MM/dd/yyyy hh:mm:ss a'}}&nbsp;&nbsp;&nbsp;
            <span class="colorgray">Modified By:</span> {{assay.modifiedBy}}&nbsp;&nbsp;&nbsp;
            <span class="colorgray">Modify Date:</span> {{assay.lastModifiedDate|date: 'MM/dd/yyyy
            hh:mm:ss
            a'}}
          </span>
        </div>
      </div> <!-- class=divflex -->


      <!-- ############################################################ -->
      <!-- ASSAY DETAILS FORM BEGIN                                     -->
      <!-- ************************************************************ -->
      <div class="details-container">

        <div class="margintop10px" style="width:100%;">

          <mat-card class="margintop10px">
            <mat-card-title>
            </mat-card-title>

            <mat-card-content>

              <!-- **** MAT-ACCORDIAN BEGIN *** -->
              <mat-accordion multi="true">

                <!--
                <mat-expansion-panel [expanded]="true">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <div class="divflex">
                        <div class="font22px colorblue width400px">
                          Step 1: Select from {{existingAssayList.length}} Existing Assays
                        </div>
                      </div>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <mat-form-field class="width100percent">
                    <mat-label>Select From Existing Assay</mat-label>
                    <mat-select [formControl]="existingAssayControl">
                      <mat-option *ngFor="let asy of existingAssayList; let index = index" [value]="index">
                        ID:{{asy.id}}&nbsp;&nbsp;
                        External Assay ID:{{asy.externalAssayId}}&nbsp;&nbsp;
                        External Assay Source:{{asy.externalAssaySource}}&nbsp;&nbsp;
                        Target Name:{{asy.targetName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <!- - Display Selected Assay - ->
                  <div *ngIf="assay.id">
                    <b>Assay Selected:</b>
                    <table class="tableStyle margintop20px width100percent textalignleft bordergray">
                      <tr class="textalignleft">
                        <th>View Details</th>
                        <th>Assay ID</th>
                        <th>External Assay ID</th>
                        <th>External Assay Source</th>
                        <th>Target Name</th>
                        <th>Test Agents</th>
                      </tr>
                      <tr>
                        <td>
                          <a [routerLink]="['/invitro-pharm', assay.id]" target="_blank"
                            matTooltip='View In-vitro Pharmacology Record'>
                            <span class="font14px">View Details</span>
                          </a>
                        </td>
                        <td>{{assay.assayId}}</td>
                        <td>{{assay.externalAssayId}}</td>
                        <td>{{assay.externalAssaySource}}</td>
                        <td>{{assay.targetName}}</td>
                        <td>
                          <div [innerHtml]="screeningDetails">
                          </div>
                        </td>
                      </tr>
                    </table>
                    <br>
                  </div> <!- - if assay.id exists - ->

                  <!- - Existing Assay Suggestions/TypeAhead End - ->

                </mat-expansion-panel>
                -->

                <!-- ################################################################# -->
                <!-- ################################################################# -->
                <!-- SCREENING DETAILS BEGIN -->

                <!--
                  <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <div class="divflex">
                          <div class="font22px colorblue width400px">
                            Step 2: Add Screening Data
                          </div>
                          <div>
                            <span class="font20px colorblack">Total Screenings:
                              {{(assay.invitroAssayScreenings.length)}}</span>
                          </div>
                        </div>
                      </mat-panel-title>
                      <mat-panel-description>
                        <div class="font18px">
                          <button mat-flat-button color="primary" class="marginright30px bordergreen" color="primary"
                            (click)="addNewScreening(); $event.stopPropagation()" matTooltip="Add New Screening">
                            <mat-icon>add_circle_outline</mat-icon><span class="colorgreen">Add New Screening</span>
                          </button>&nbsp;&nbsp;
                        </div>
                      </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div class="font18px">
                      <button mat-flat-button color="primary" class="marginright30px bordergreen" color="primary"
                        (click)="addNewScreening(); $event.stopPropagation()" matTooltip="Add New Screening">
                        <mat-icon>add_circle_outline</mat-icon><span class="colorgreen">Add New Screening</span>
                      </button>&nbsp;&nbsp;
                    </div>
                     -->

                <!-- Screening Loop -->
                <div class="marginbottom15px"
                  *ngFor="let screening of assay.invitroAssayScreenings; let screeningIndex = index">

                  <!-- Add divider if more than one screening -->
                  <!--
                      <span *ngIf="screeningIndex > 0">
                        <br>
                        <hr><br>
                      </span>


                      <div class="margintop10px font20px fontbold">Screening {{(screeningIndex+1)}} of
                        {{assay.invitroAssayScreenings.length}}
                        &nbsp;&nbsp;&nbsp;&nbsp;

                        <!- - DELETE SCREENING BUTTON - ->
                        <button mat-icon-button color="primary" (click)="confirmDeleteScreening(screeningIndex)"
                          matTooltip="Delete Screening {{(screeningIndex+1)}}">
                          <mat-icon>delete_forever</mat-icon>
                        </button>
                      </div>

                      <br>
                      -->

                  <!-- ************************************************************ -->
                  <!-- ************************************************************ -->
                  <!-- MAT-STEPPER BEGIN -->
                  <mat-stepper orientation="horizontal" [linear]="isLinear" #stepper>

                    <!-- SET ICONS -->
                    <ng-template matStepperIcon="phone">
                      <mat-icon>call_end</mat-icon>
                    </ng-template>
                    <ng-template matStepperIcon="chat">
                      <mat-icon>forum</mat-icon>
                    </ng-template>


                    <!-- ################### SPONSOR AND REFERENCE STEP ################# -->
                    <mat-step [stepControl]="firstFormGroup">
                      <form [formGroup]="firstFormGroup">

                        <ng-template matStepLabel>
                          <span class="font16px colorblack">Sponsor and Reference</span>
                        </ng-template>


                        <!-- SPONSOR DETAILS BEGIN -->
                        <div *ngIf="screening.invitroReference">
                          <div *ngIf="screening.invitroReference.invitroSponsor">

                            <div class="divflex margintop10px width95percent">

                              <div class="padtop5px colorblue font18px fontbold fontverdana">
                                Sponsor
                              </div>

                              <div class="marginleft30px padtop5px">
                                Enter new data below or select from existing Sponsor:
                              </div>

                              <!-- NEXT BUTTON -->
                              <div class="alignright">
                                <button mat-button matStepperNext>Next</button>
                              </div>
                            </div>

                            <!-- Form Entry -->
                            <div class="form-row margintop10px">
                              <div class="fieldKey">
                                <mat-label>Sponsor Contact Name:&nbsp;<span class="colorred">*</span></mat-label>
                              </div>
                              <mat-form-field class="fieldvalue">
                                <input matInput placeholder=""
                                  [(ngModel)]="screening.invitroReference.invitroSponsor.sponsorContactName"
                                  name="sponsorContactName" />
                              </mat-form-field>
                            </div>

                            <div class="form-row">
                              <div class="fieldKey">
                                <mat-label>Sponsor Affiliation:</mat-label>
                              </div>
                              <mat-form-field class="fieldvalue">
                                <input matInput placeholder=""
                                  [(ngModel)]="screening.invitroReference.invitroSponsor.sponsorAffiliation"
                                  name="sponsorAffiliation" />
                              </mat-form-field>
                            </div>

                            <div class="form-row">
                              <div class="fieldKey">
                                <mat-label>Sponsor Street Address:</mat-label>
                              </div>
                              <mat-form-field class="fieldvalue">
                                <input matInput placeholder=""
                                  [(ngModel)]="screening.invitroReference.invitroSponsor.sponsorStreetAddress"
                                  name="sponsorStreetAddress" />
                              </mat-form-field>
                            </div>

                            <div class="form-row">
                              <div class="fieldKey">
                                <mat-label>Sponsor City:</mat-label>
                              </div>
                              <mat-form-field class="fieldvalue">
                                <input matInput placeholder=""
                                  [(ngModel)]="screening.invitroReference.invitroSponsor.sponsorCity"
                                  name="sponsorCity" />
                              </mat-form-field>
                            </div>

                            <div class="form-row">
                              <div class="fieldKey">
                                <mat-label>Sponsor State:</mat-label>
                              </div>
                              <mat-form-field class="fieldvalue">
                                <input matInput placeholder=""
                                  [(ngModel)]="screening.invitroReference.invitroSponsor.sponsorState"
                                  name="sponsorState" />
                              </mat-form-field>
                            </div>

                            <div class="form-row">
                              <div class="fieldKey">
                                <mat-label>Sponsor Zipcode:</mat-label>
                              </div>
                              <mat-form-field class="fieldvalue">
                                <input matInput placeholder=""
                                  [(ngModel)]="screening.invitroReference.invitroSponsor.sponsorZipcode"
                                  name="sponsorZipcode" />
                              </mat-form-field>
                            </div>

                            <div class="form-row">
                              <div class="fieldKey">
                                <mat-label>Sponsor Country:</mat-label>
                              </div>

                              <app-cv-input class="fieldvalue" domain="PROD_COUNTRY_CODE" title="" name="sponsorCountry"
                                [model]="screening.invitroReference.invitroSponsor.sponsorCountry"
                                (valueChange)="screening.invitroReference.invitroSponsor.sponsorCountry = $event">
                              </app-cv-input>
                            </div>

                          </div> <!-- if invitroSponsor exists -->
                        </div> <!-- if screening.invitroReference exists -->
                        <!-- SPONSOR DETAILS END -->


                        <!-- REFERENCE DETAILS BEGIN -->
                        <div *ngIf="screening.invitroReference">
                          <br>

                          <div class="divflex margintop20px width95percent">

                            <div class="padtop5px colorblue font18px fontbold fontverdana">
                              Reference
                            </div>

                            <div class="marginleft30px padtop5px">
                              Enter new data below or select from existing Reference:
                            </div>

                            <!-- Existing Reference Suggestions/TypeAhead -->
                            <div class="marginleft20px">
                              <mat-form-field class="width300px">
                                <mat-label>Select From Existing Reference</mat-label>
                                <mat-select [formControl]="existingReferenceControl"
                                  (selectionChange)="selectionChangeExistingReference($event.value, screeningIndex)">
                                  <mat-option *ngFor="let ref of existingReferenceList; let indexReference = index"
                                    [value]="ref.referenceSourceType">
                                    {{ref.referenceSourceType}}&nbsp;&nbsp;
                                    {{ref.referenceSourceNumber}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>

                          </div>

                          <!-- Form Entry -->
                          <div class="form-row margintop10px">
                            <div class="fieldKey">
                              <mat-label>Reference Source Type:&nbsp;<span class="colorred">*</span></mat-label>
                            </div>

                            <app-cv-input class="fieldvalue" domain="INVITRO_REFERENCE_SOURCE_TYPE" title=""
                              name="referenceSourceType" [model]="screening.invitroReference.referenceSourceType"
                              (valueChange)="screening.invitroReference.referenceSourceType = $event">
                            </app-cv-input>
                          </div>

                          <div class="form-row margintop10px">
                            <div class="fieldKey">
                              <mat-label>Reference Source:&nbsp;<span class="colorred">*</span></mat-label>
                            </div>
                            <mat-form-field class="fieldvalue">
                              <input matInput placeholder=""
                                [(ngModel)]="screening.invitroReference.referenceSourceNumber"
                                name="referenceSourceNumber" />
                            </mat-form-field>
                          </div>

                          <div class="form-row margintop10px">
                            <div class="fieldKey">
                              <mat-label>Reference Digital Object Identifier:</mat-label>
                            </div>
                            <mat-form-field class="fieldvalue">
                              <input matInput placeholder=""
                                [(ngModel)]="screening.invitroReference.digitalObjectIdentifier"
                                name="digitalObjectIdentifier" />
                            </mat-form-field>
                          </div>

                        </div> <!-- if screening.invitroReference exists -->
                        <!-- REFERENCE DETAILS END -->

                        <!-- NEXT BUTTON -->
                        <div class="divflex margintop20px width95percent">
                          <div class=" alignright">
                            <button mat-button matStepperNext>Next</button>
                          </div>
                        </div>

                      </form>
                    </mat-step>


                    <!-- ################# REPORT, SPONSOR SUBMITTER, AND LABORATORY STEP ############### -->
                    <mat-step>

                      <ng-template matStepLabel>
                        <span class="font16px colorblack">Report and Laboratory</span>
                      </ng-template>

                      <!-- REPORT DETAILS BEGIN -->
                      <div *ngIf="screening.invitroSubmitterReport">

                        <div class="divflex margintop20px width95percent">

                          <div class="padtop5px colorblue font18px fontbold fontverdana">
                            Report
                          </div>

                          <div class="marginleft30px padtop5px">
                            Enter new Report data below:
                          </div>

                          <!-- NEXT BUTTON -->
                          <div class="alignright">
                            <button mat-button matStepperPrevious>Back</button>
                            <button mat-button matStepperNext>Next</button>
                          </div>
                        </div>

                        <div class="form-row margintop10px">
                          <div class="fieldKey">
                            <mat-label>Report Number:&nbsp;<span class="colorred">*</span></mat-label>
                          </div>
                          <mat-form-field class="fieldvalue">
                            <input matInput placeholder="" [(ngModel)]="screening.invitroSubmitterReport.reportNumber"
                              name="reportNumber" />
                          </mat-form-field>
                        </div>

                        <div class="form-row margintop10px">
                          <div class="fieldKey">
                            <mat-label>Report Date:</mat-label>
                          </div>
                          <mat-form-field class="fieldvalue">
                            <input matInput placeholder="" [(ngModel)]="screening.invitroSubmitterReport.reportDate"
                              name="reportDate" />
                          </mat-form-field>
                        </div>
                        <!-- REPORT DETAILS END -->


                        <!-- SPONSOR SUBMITTER DETAILS BEGIN -->
                        <div class="divflex margintop30px width95percent">

                          <div class="padtop5px colorblue font18px fontbold fontverdana">
                            Sponsor Report Submitter
                          </div>

                          <div class="marginleft30px padtop5px">
                            Enter new data below or select from existing Sponsor Submitter:
                          </div>

                        </div>

                        <!-- LOOP: Sponsor Submitter Form Entry -->
                        <div class="marginbottom15px"
                          *ngFor="let sponsorSub of screening.invitroSubmitterReport.invitroSponsorSubmitters; let sponsorSubIndex = index">

                          <!-- Form Entry -->
                          <div class="form-row margintop10px">
                            <div class="fieldKey">
                              <mat-label>Sponsor Report Submitter Name:&nbsp;<span class="colorred">*</span></mat-label>
                            </div>
                            <mat-form-field class="fieldvalue">
                              <input matInput placeholder="" [(ngModel)]="sponsorSub.sponsorReportSubmitterName"
                                name="sponsorReportSubmitterName" />
                            </mat-form-field>
                          </div>

                          <div class="form-row margintop10px">
                            <div class="fieldKey">
                              <mat-label>Sponsor Report Submitter Title:</mat-label>
                            </div>
                            <mat-form-field class="fieldvalue">
                              <input matInput placeholder="" [(ngModel)]="sponsorSub.sponsorReportSubmitterTitle"
                                name="sponsorReportSubmitterTitle" />
                            </mat-form-field>
                          </div>

                          <div class="form-row margintop10px">
                            <div class="fieldKey">
                              <mat-label>Sponsor Report Submitter Affiliation:</mat-label>
                            </div>
                            <mat-form-field class="fieldvalue">
                              <input matInput placeholder="" [(ngModel)]="sponsorSub.sponsorReportSubmitterAffiliation"
                                name="sponsorReportSubmitterAffiliation" />
                            </mat-form-field>
                          </div>

                          <div class="form-row margintop10px">
                            <div class="fieldKey">
                              <mat-label>Sponsor Report Submitter Email:</mat-label>
                            </div>
                            <mat-form-field class="fieldvalue">
                              <input matInput placeholder="" [(ngModel)]="sponsorSub.sponsorReportSubmitterEmail"
                                name="sponsorReportSubmitterEmail" />
                            </mat-form-field>
                          </div>

                          <div class="form-row margintop10px">
                            <div class="fieldKey">
                              <mat-label>Sponsor Report Submitter Phone Num:</mat-label>
                            </div>
                            <mat-form-field class="fieldvalue">
                              <input matInput placeholder="" [(ngModel)]="sponsorSub.sponsorReportSubmitterPhoneNumber"
                                name="sponsorReportSubmitterPhoneNumber" />
                            </mat-form-field>
                          </div>

                          <div class="form-row margintop10px">
                            <div class="fieldKey">
                              <mat-label>Sponsor Report Submitter Assay Type:</mat-label>
                            </div>
                            <mat-form-field class="fieldvalue">
                              <input matInput placeholder="" [(ngModel)]="sponsorSub.sponsorReportSubmitterAssayType"
                                name="sponsorReportSubmitterAssayType" />
                            </mat-form-field>
                          </div>

                        </div> <!-- LOOP: Sponsor Submitter -->
                      </div> <!-- if screening.invitroSubmitterReport exits -->
                      <!-- SPONSOR SUBMITTER DETAILS END -->


                      <!-- LABORATORY DETAILS BEGIN -->
                      <div *ngIf="screening.invitroLaboratory">

                        <div class="divflex margintop30px width95percent">

                          <div class="padtop5px colorblue font18px fontbold fontverdana">
                            Laboratory
                          </div>

                          <div class="marginleft30px padtop5px">
                            Enter new data below or select from existing Laboratory:
                          </div>

                        </div>

                        <!-- Form Entry -->
                        <div class="form-row margintop10px">
                          <div class="fieldKey">
                            <mat-label>Laboratory Name:&nbsp;<span class="colorred">*</span></mat-label>
                          </div>
                          <mat-form-field class="fieldvalue">
                            <input matInput placeholder="" [(ngModel)]="screening.invitroLaboratory.laboratoryName"
                              name="laboratoryName" />
                          </mat-form-field>
                        </div>

                        <div class="form-row">
                          <div class="fieldKey">
                            <mat-label>Laboratory Type:</mat-label>
                          </div>
                          <mat-form-field class="fieldvalue">
                            <input matInput placeholder="" [(ngModel)]="screening.invitroLaboratory.laboratoryType"
                              name="laboratoryType" />
                          </mat-form-field>
                        </div>

                        <div class="form-row">
                          <div class="fieldKey">
                            <mat-label>Laboratory Affiliation:</mat-label>
                          </div>
                          <mat-form-field class="fieldvalue">
                            <input matInput placeholder=""
                              [(ngModel)]="screening.invitroLaboratory.laboratoryAffiliation"
                              name="laboratoryAffiliation" />
                          </mat-form-field>
                        </div>

                        <div class="form-row">
                          <div class="fieldKey">
                            <mat-label>Laboratory Street Address:</mat-label>
                          </div>
                          <mat-form-field class="fieldvalue">
                            <input matInput placeholder=""
                              [(ngModel)]="screening.invitroLaboratory.laboratoryStreetAddress"
                              name="laboratoryStreetAddress" />
                          </mat-form-field>
                        </div>

                        <div class="form-row">
                          <div class="fieldKey">
                            <mat-label>City:</mat-label>
                          </div>
                          <mat-form-field class="fieldvalue">
                            <input matInput placeholder="" [(ngModel)]="screening.invitroLaboratory.laboratoryCity"
                              name="laboratoryCity" />
                          </mat-form-field>
                        </div>

                        <div class="form-row">
                          <div class="fieldKey">
                            <mat-label>State:</mat-label>
                          </div>
                          <mat-form-field class="fieldvalue">
                            <input matInput placeholder="" [(ngModel)]="screening.invitroLaboratory.laboratoryState"
                              name="laboratoryState" />
                          </mat-form-field>
                        </div>

                        <div class="form-row">
                          <div class="fieldKey">
                            <mat-label>Zipcode:</mat-label>
                          </div>
                          <mat-form-field class="fieldvalue">
                            <input matInput placeholder="" [(ngModel)]="screening.invitroLaboratory.laboratoryZipcode"
                              name="laboratoryZipcode" />
                          </mat-form-field>
                        </div>

                        <div class="form-row">
                          <div class="fieldKey">
                            <mat-label>Country:</mat-label>
                          </div>

                          <app-cv-input class="fieldvalue" domain="PROD_COUNTRY_CODE" title="" name="laboratoryCountry"
                            [model]="screening.invitroLaboratory.laboratoryCountry"
                            (valueChange)="screening.invitroLaboratory.laboratoryCountry = $event">
                          </app-cv-input>
                        </div>

                      </div> <!-- if invitroLaboratory exists -->
                      <!-- LABORATORY DETAILS END -->


                      <!-- BACK and NEXT BUTTON -->
                      <div class="divflex margintop20px width95percent">
                        <div class=" alignright">
                          <button mat-button matStepperPrevious>Back</button>
                          <button mat-button matStepperNext>Next</button>
                        </div>
                      </div>

                    </mat-step>


                    <!-- ################# TEST AGENT STEP ################# -->
                    <mat-step>
                      <ng-template matStepLabel>
                        <span class="font16px colorblack">Test Agent</span>
                        <!--
                          <br>
                          <span class="font11px" *ngIf="screening.invitroTestAgent">
                            {{screening.invitroTestAgent.testAgent}}&nbsp;
                          </span>
                          -->
                      </ng-template>

                      <!-- TEST AGENT DETAILS BEGIN -->
                      <div *ngIf="screening.invitroTestAgent">

                        <div class="divflex margintop30px width95percent">

                          <div class="padtop5px colorblue font18px fontbold fontverdana">
                            Test Agent
                          </div>

                          <div class="marginleft30px padtop5px">
                            Enter new data below or select from existing Test Agent:
                          </div>

                          <!-- Existing Reference Suggestions/TypeAhead -->
                          <div class="marginleft20px">
                            <mat-form-field class="width300px">
                              <mat-label>Select From Existing Test Agent</mat-label>
                              <mat-select [formControl]="existingTestAgentControl"
                                (selectionChange)="selectionChangeExistingTestAgent($event.value, screeningIndex)">
                                <mat-option *ngFor="let testAgt of existingTestAgentList; let indexTestAgent = index"
                                  [value]="testAgt.id">
                                  {{testAgt.testAgent}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>

                          <!-- NEXT BUTTON -->
                          <div class="alignright">
                            <button mat-button matStepperPrevious>Back</button>
                            <button mat-button matStepperNext>Next</button>
                          </div>
                        </div>

                        <!-- Form Entry -->
                        <div class="form-row margintop10px">
                          <div class="fieldKey">
                            <mat-label>Test Agent:</mat-label>
                          </div>

                          <!-- Substance Text Search Suggestions/TypeAhead -->
                          <app-substance-text-search class="fieldvalue"
                            [searchValue]="screening.invitroTestAgent.testAgent" placeholder="Search Substances"
                            (searchPerformed)="nameSearch($event, 'testAgent', screeningIndex)"
                            eventCategory="selectorSearch">
                          </app-substance-text-search>
                        </div>

                        <div class="form-row">
                          <div class="fieldKey">
                            <mat-label>Test Agent Approval ID:</mat-label>
                          </div>
                          <mat-form-field class="fieldvalue">
                            <input matInput placeholder="" [(ngModel)]="screening.invitroTestAgent.testAgentApprovalId"
                              name="testAgentApprovalId" />
                          </mat-form-field>
                        </div>

                        <div class="form-row">
                          <div class="fieldKey">
                            <mat-label>Test Agent Smile String:</mat-label>
                          </div>
                          <mat-form-field class="fieldvalue">
                            <input matInput placeholder="" [(ngModel)]="screening.invitroTestAgent.testAgentSmileString"
                              name="testAgentSmileString" />
                          </mat-form-field>
                        </div>

                        <div class="form-row">
                          <div class="fieldKey">
                            <mat-label>Molecular Formula Weight:</mat-label>
                          </div>
                          <mat-form-field class="fieldvalue">
                            <input matInput placeholder=""
                              [(ngModel)]="screening.invitroTestAgent.molecularFormulaWeight"
                              name="molecularFormulaWeight" />
                          </mat-form-field>
                        </div>

                        <div class="form-row">
                          <div class="fieldKey">
                            <mat-label>Active Moiety:</mat-label>
                          </div>
                          <mat-form-field class="fieldvalue">
                            <input matInput placeholder="" [(ngModel)]="screening.invitroTestAgent.activeMoiety"
                              name="activeMoiety" />
                          </mat-form-field>
                        </div>

                        <div class="form-row">
                          <div class="fieldKey">
                            <mat-label>Active Moiety Approval ID:</mat-label>
                          </div>
                          <mat-form-field class="fieldvalue">
                            <input matInput placeholder=""
                              [(ngModel)]="screening.invitroTestAgent.activeMoietyApprovalId"
                              name="activeMoietyApprovalId" />
                          </mat-form-field>
                        </div>

                        <div class="form-row">
                          <div class="fieldKey">
                            <mat-label>CAS Registry Number:</mat-label>
                          </div>
                          <mat-form-field class="fieldvalue">
                            <input matInput placeholder="" [(ngModel)]="screening.invitroTestAgent.casRegistryNumber"
                              name="casRegistryNumber" />
                          </mat-form-field>
                        </div>


                        <!-- MOVE TO NEW TABLE -->
                        <div class="form-row">
                          <div class="fieldKey">
                            <mat-label>Batch Number:</mat-label>
                          </div>
                          <mat-form-field class="fieldvalue">
                            <input matInput placeholder="" [(ngModel)]="screening.invitroTestAgent.batchNumber"
                              name="batchNumber" />
                          </mat-form-field>
                        </div>

                        <div class="form-row">
                          <div class="fieldKey">
                            <mat-label>Purity:</mat-label>
                          </div>
                          <mat-form-field class="fieldvalue">
                            <input matInput placeholder="" [(ngModel)]="screening.invitroTestAgent.purity"
                              name="purity" />
                          </mat-form-field>
                        </div>

                        <div class="form-row">
                          <div class="fieldKey">
                            <mat-label>Vehicle Composition:</mat-label>
                          </div>
                          <mat-form-field class="fieldvalue">
                            <input matInput placeholder="" [(ngModel)]="screening.invitroTestAgent.vehicleComposition"
                              name="vehicleComposition" />
                          </mat-form-field>
                        </div>

                      </div> <!-- if screening.invitroTestAgent exists -->
                      <!-- TEST AGENT DETAILS END -->

                      <!-- BACK and NEXT BUTTON -->
                      <div class="divflex margintop20px width95percent">
                        <div class=" alignright">
                          <button mat-button matStepperPrevious>Back</button>
                          <button mat-button matStepperNext>Next</button>
                        </div>
                      </div>

                    </mat-step>


                    <!-- ################# CONTROL STEP ################# -->
                    <mat-step>
                      <ng-template matStepLabel>
                        <span class="font16px colorblack">Control</span>
                      </ng-template>

                      <!-- CONTROL DETAILS BEGIN -->
                      <div *ngIf="screening.invitroControls">

                        <div class="divflex margintop30px width95percent">

                          <div class="padtop5px colorblue font18px fontbold fontverdana">
                            Control
                          </div>

                          <div class="marginleft30px padtop5px">
                            Enter new data below:
                          </div>

                          <!-- NEXT BUTTON -->
                          <div class="alignright">
                            <button mat-button matStepperPrevious>Back</button>
                            <button mat-button matStepperNext>Next</button>
                          </div>

                        </div>

                        <!-- Form Entry -->
                        <!-- CONTROL DETAILS BEGIN -->
                        <!-- Control Loop -->
                        <div *ngIf="screening.invitroControls">
                          <div class="marginbottom15px"
                            *ngFor="let ctrl of screening.invitroControls; let indexCtrl = index">

                            <div class="form-row">
                              <div class="fieldKey">
                                <mat-label>Control Substance:</mat-label>
                              </div>
                              <mat-form-field class="fieldvalue">
                                <input matInput placeholder="" [(ngModel)]="ctrl.control" name="control" />
                              </mat-form-field>
                            </div>

                            <div class="form-row">
                              <div class="fieldKey">
                                <mat-label>Control Substance Approval ID</mat-label>
                              </div>
                              <mat-form-field class="fieldvalue">
                                <input matInput placeholder="" [(ngModel)]="ctrl.control" name="control" />
                              </mat-form-field>
                            </div>

                          </div> <!-- FOR LOOP: invitroControls -->
                        </div> <!-- invitroControls exists -->
                        <!-- CONTROL DETAILS END -->

                      </div> <!-- if screening.invitroControls exists -->
                      <!-- CONTROL DETAILS END -->

                      <!-- BACK and NEXT BUTTON -->
                      <div class="divflex margintop20px width95percent">
                        <div class=" alignright">
                          <button mat-button matStepperPrevious>Back</button>
                          <button mat-button matStepperNext>Next</button>
                        </div>
                      </div>

                    </mat-step>


                    <!-- ################# RESULTS STEP ################# -->
                    <mat-step>
                      <ng-template matStepLabel>
                        <span class="font16px colorblack">Results</span>
                      </ng-template>

                      <!-- RESULT DETAILS BEGIN -->
                      <div *ngIf="screening.invitroAssayResult">

                        <div class="divflex margintop10px width95percent">

                          <div class="padtop5px colorblue font18px fontbold fontverdana">
                            Results
                          </div>

                          <!-- Select Assays from Assay Sets Dropdown -->
                          <div class="margintopneg15px marginleft100px padtop5px">
                            <mat-form-field class="width300px">
                              <mat-label>Select Assays from Assay Set: </mat-label>
                              <mat-select [formControl]="existingTestAgentControl"
                                (selectionChange)="selectionChangeExistingTestAgent($event.value, screeningIndex)">
                                <mat-option *ngFor="let testAgt of existingTestAgentList; let indexTestAgent = index"
                                  [value]="testAgt.id">
                                  {{testAgt.testAgent}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>

                          <div class="marginleft30px margintop5px font16px">
                            <b>Assay Set: Eurofins44 </b>
                          </div>

                          <div class="marginleft30px margintop5px font16px">
                            <b>Total Assays: {{existingAssayList.length}}</b>
                          </div>

                          <!-- NEXT BUTTON -->
                          <div class="alignright">
                            <button mat-button matStepperPrevious>Back</button>
                          </div>

                        </div>

                        <!-- Form Entry -->
                        <!-- Show Results in Rows -->
                        <hr>
                        <div class="borderbottom" *ngFor="let assay of existingAssayList; ; let index = index">

                          <div class="divflex width100percent">

                            <div class="marginright20px width30px">
                              {{(index+1)}}
                            </div>

                            <div class="marginright20px width200px colorlightblack fontbold">
                              {{assay.targetName}}&nbsp;
                            </div>

                            <div class="width75percent">
                              <div class="form-row">

                                <mat-form-field class="col-6-1">
                                  <input matInput placeholder="Test Agent Concentration"
                                    [(ngModel)]="screening.invitroAssayResult.testAgentConcentration"
                                    name="testAgentConcentration" />
                                </mat-form-field>

                                <app-cv-input class="col-6-1" domain="AMOUNT_UNIT"
                                  title="Test Agent Concentration Units" name="testAgentConcentrationUnits"
                                  [model]="screening.invitroAssayResult.testAgentConcentrationUnits"
                                  (valueChange)="screening.invitroAssayResult.testAgentConcentrationUnits = $event">
                                </app-cv-input>

                                <mat-form-field class="col-6-1">
                                  <input matInput placeholder="Result Value"
                                    [(ngModel)]="screening.invitroAssayResult.resultValue" name="resultValue" />
                                </mat-form-field>

                                <app-cv-input class="col-6-1" domain="AMOUNT_UNIT" title="Result Value Type"
                                  name="resultValueUnits" [model]="screening.invitroAssayResult.resultValueUnits"
                                  (valueChange)="screening.invitroAssayResult.resultValueUnits = $event">
                                </app-cv-input>

                                <mat-form-field class="marginright20px width86px">
                                  <input matInput placeholder="Comments"
                                    [(ngModel)]="screening.invitroAssayResult.comments" name="comments" />
                                </mat-form-field>

                                <mat-form-field class="marginright20px width86px">
                                  <input matInput placeholder="Measurements"
                                    [(ngModel)]="screening.invitroAssayResult.assayMeasurement"
                                    name="assayMeasurement" />
                                </mat-form-field>

                                <div class="width70px">
                                  <span *ngIf="index == 0">
                                    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                                    <br>
                                     <span class="font11px">Apply to All</span>
                                  </span>
                                </div>

                              </div>
                            </div> <!-- class=form-row -->

                          </div> <!-- class=divflex-->

                        </div> <!-- LOOP: existingAssayList -->


                        <br><br><br>
                        <div class="form-row">
                          <div class="fieldKey">
                            <mat-label>Test Concentration of Active Moiety:</mat-label>
                          </div>
                          <mat-form-field class="fieldvalue">
                            <input matInput placeholder=""
                              [(ngModel)]="screening.invitroAssayResult.testConcentrationActiveMoiety"
                              name="testConcentrationActiveMoiety" />
                          </mat-form-field>
                        </div>

                        <div class="form-row">
                          <div class="fieldKey">
                            <mat-label>Test Concentration Units of Active M:</mat-label>
                          </div>

                          <app-cv-input class="fieldvalue" domain="AMOUNT_UNIT" title=""
                            name="testConcentrationUnitsActiveMoiety"
                            [model]="screening.invitroAssayResult.testConcentrationUnitsActiveMoiety"
                            (valueChange)="screening.invitroAssayResult.testConcentrationUnitsActiveMoiety = $event">
                          </app-cv-input>
                        </div>

                        <div class="form-row">
                          <div class="fieldKey">
                            <mat-label>Ligand/Substrate Concentration:</mat-label>
                          </div>
                          <mat-form-field class="fieldvalue">
                            <input matInput placeholder=""
                              [(ngModel)]="screening.invitroAssayResult.ligandSubstrateConcentration"
                              name="ligandSubstrateConcentration" />
                          </mat-form-field>
                        </div>

                        <div class="form-row">
                          <div class="fieldKey">
                            <mat-label>Ligand/Substrate Concentration Units:</mat-label>
                          </div>

                          <app-cv-input class="fieldvalue" domain="AMOUNT_UNIT" title=""
                            name="ligandSubstrateConcentrationUnits"
                            [model]="screening.invitroAssayResult.ligandSubstrateConcentrationUnits"
                            (valueChange)="screening.invitroAssayResult.ligandSubstrateConcentrationUnits = $event">
                          </app-cv-input>
                        </div>

                        <div class="form-row margintop10px">
                          <div class="col-6-1">
                            <mat-label></mat-label>
                          </div>

                          <mat-checkbox class="col-6-1" [checked]="screening.invitroAssayResult.plasmaProteinAdded"
                            (change)="setPlasmaProteinCheckBox($event.checked, screeningIndex)">Plasma Protein Added?
                          </mat-checkbox>Plasma Protein Added?

                          <app-cv-input class="col-6-1" domain="INVITRO_DATA_TYPE" title="Type of Data:" name="dataType"
                            [model]="screening.invitroAssayResult.dataType"
                            (valueChange)="screening.invitroAssayResult.dataType = $event">
                          </app-cv-input>

                          <app-cv-input class="col-6-1" domain="INVITRO_NUMBER_OF_TESTS" title="Number of Tests"
                            name="numberOfTests" [model]="screening.invitroAssayResult.numberOfTests"
                            (valueChange)="screening.invitroAssayResult.numberOfTests = $event">
                          </app-cv-input>
                        </div>


                      </div> <!-- if screening.invitroAssayResult exists -->
                      <!-- RESULT DETAILS END -->

                      <!-- BACK and NEXT BUTTON -->
                      <div class="divflex margintop20px width95percent">
                        <div class=" alignright">
                          <button mat-button matStepperPrevious>Back</button>
                        </div>
                      </div>

                    </mat-step>

                  </mat-stepper>
                  <!-- MAT-STEPPER END -->


                  <!-- Assay Screening Ends -->
                </div> <!-- LOOP: invitroAssayScreenings -->

                <!--
                  </mat-expansion-panel>
                   -->
                <!-- ASSAY SCREENING END -->

              </mat-accordion>
            </mat-card-content>
          </mat-card>

        </div> <!-- class=width100 -->
      </div> <!-- class=cards-container -->
    </div> <!-- class=details-container -->


  </div> <!-- class=scrollable-container -->
</div> <!-- class=form-content-container -->
<br><br><br>

<ng-template #noRecord>
  <br><br><br><br>
  <div class="colororange padtop50px padleft50px">There is no Assay Screening Data found.</div>
</ng-template>