<div class="reference-form-container" *ngFor="let reference of references; last as isLast" [id]="reference.uuid">
  <div class="form-row">
    <mat-form-field class="source-type">
      <mat-label>Source Type *</mat-label>
      <mat-select [formControl]="reference.documentTypeControl">
        <mat-option *ngFor="let documentType of documentTypes" [value]="documentType.value">
          {{documentType.display}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="citation">
      <input matInput placeholder="Source Text/Citation *" [formControl]="reference.citationControl" />
    </mat-form-field>
    <div class="checkbox-container">
      <mat-checkbox [formControl]="reference.publicDomainControl">Public Domain</mat-checkbox>
    </div>
    <div>
      <app-access-manager (accessOut)="reference.updateAccess($event)" [accessIn]="reference.accessEmitter">
      </app-access-manager>
    </div>
  </div>
  <div class="form-row">
    <mat-form-field class="url">
      <input matInput placeholder="URL" [formControl]="reference.urlControl" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Source Id" [formControl]="reference.idControl" />
    </mat-form-field>
    <app-tag-selector class="tags" (tagsOut)="reference.updateTags($event)" [tagsIn]="reference.tagsEmitter"
      cvDomain="DOCUMENT_COLLECTION"></app-tag-selector>
  </div>
  <div class="form-row">
    <span class="fill-middle"></span>
    <div class="applied-menu-container">
      <button mat-flat-button [matMenuTriggerFor]="appliedOptionsMenu">
        <span>Apply to</span>
      </button>
      <mat-menu #appliedOptionsMenu="matMenu" xPosition="before">
        <ng-container *ngFor="let applyOption of reference.referenceApplied.applyOptions">
          <button mat-menu-item [matMenuTriggerFor]="optionsMenu">
            {{applyOption.property}}
          </button>
          <mat-menu #optionsMenu="matMenu">
            <div *ngFor="let option of applyOption.options" mat-menu-item (click)="$event.stopPropagation()">
              <mat-checkbox (change)="reference.referenceApplied.updateAppliedOtion($event, option.item)"
                [formControl]="option.control">
                {{option.display}}
              </mat-checkbox>
            </div>
          </mat-menu>
        </ng-container>
      </mat-menu>
    </div>
  </div>
  <mat-divider class="form-divider" [inset]="true" *ngIf="!isLast"></mat-divider>
</div>