<br><br><br><br>
<!-- Import EXCEL DATA and convert to JSON -->
<input type="file" (change)="onFileChange($event)" />

<div id="output"></div>
<br>
<div *ngIf="willDownload">
  <a id="download"> Download JSON File </a>
</div>
<br>

<span>
  <button mat-flat-button color="primary" (click)="importJSON()">Import JSON into Database</button>
</span>

<br><br>
<span *ngIf="submitMessage" class="colorgreen">{{submitMessage}}</span>

<br><br>

<!-- DISPLAY JSON -->
<!--
<div *ngIf="message">
  {{message}}
</div>
-->

<div *ngIf="importDataList.length > 0">
  <b>TOTAL RECORDS:&nbsp;<span class="colorgreen">{{importDataList.length}}</span></b>
  <br><br>
  <table border="1" *ngIf="message" class="bordergray">
    <tr class="font11px">
      <th>#</th>
      <th>External Source</th>
      <th>External ID</th>
      <th>Batch ID</th>
      <th>Test Date</th>
      <th>Assay Title</th>
      <th>Assay Target</th>
      <th>Assay target UNII</th>
      <th>Presention Type</th>
      <th>Presentation</th>
      <th>Study Type</th>
      <th>Ligand/substate</th>
      <th>Ligand/substate Unii</th>
      <th>ligand/substrate Concentration</th>
      <th>ligand/substrate Concentration Unit</th>
      <th>Screening Concentration</th>
      <th>Screening concentration Unit</th>
      <th>Percent Inhibition</th>
      <th>Control</th>
      <th>Control UNII</th>
      <th>Control Value Type</th>
      <th>Control Value</th>
      <th>Control Value Units</th>
      <th>Test Value Type</th>
      <th>Test Value</th>
      <th>Test Value Units</th>
      <th>Assay Type</th>
      <th>External Assay Reference</th>
    </tr>
    <tr class="font11px" *ngFor="let assay of importDataList; let index = index">
      <td>{{(index+1)}}</td>
      <td>{{assay.assayExternalSource}}</td>
      <td>{{assay.assayExternalId}}</td>
      <td>{{assay.batchId}}</td>
      <td>{{assay.testDate}}</td>
      <td>{{assay.assayTitle}}</td>
      <td>{{assay.assayTarget}}</td>
      <td>{{assay.assayTargetUnii}}</td>
      <td>{{assay.presentationType}}</td>
      <td>{{assay.presentation}}</td>
      <td>{{assay.assayStudyType}}</td>
      <td>{{assay.ligandSubstrate}}</td>
      <td>{{assay.ligandSubstrateUnii}}</td>
      <td>{{assay.ligandSubstrateConcentration}}</td>
      <td>{{assay.ligandSubstrateConcentrationUnit}}</td>
      <td>{{assay.screeningConcentration}}</td>
      <td>{{assay.screeningConcentrationUnit}}</td>
      <td>{{assay.percentInhibition}}</td>
      <td>{{assay.control}}</td>
      <td>{{assay.controlUnii}}</td>
      <td>{{assay.controlValueType}}</td>
      <td>{{assay.controlValue}}</td>
      <td>{{assay.controlValueUnits}}</td>
      <td>{{assay.testValueType}}</td>
      <td>{{assay.testValue}}</td>
      <td>{{assay.testValueUnits}}</td>
      <td>{{assay.assayType}}</td>
      <td>{{assay.assayExternalReference}}</td>
    </tr>
  </table>
</div>


<br>