@if (!schema.CVDomain && !schema.enum) {
  <div class="widget form-group" [ngClass] ="schema.visibleIf ? 'tabbed': ''" >
    @if (schema.title) {
      <label>{{schema.title}}
        @if (schema.comments && !schema.description) {
          <sup  ><mat-icon style ="height: 18px;" color="primary" svgIcon="help"   class = "help-icon" (click) = "openModal(info, schema.comments)"></mat-icon></sup>
        }
      </label>
    }
    @if (schema.description) {
      <span class="formHelp">{{schema.description}}
        @if (schema.comments) {
          <sup ><mat-icon style ="height: 18px;" svgIcon="help" color="primary" class = "help-icon" (click) = "openModal(info, schema.comments)"></mat-icon></sup>
        }
      </span>
    }
    <div [ngClass] = "schema.layout && schema.layout === 'horizontal' ? 'row-layout':''">
      @for (option of schema.oneOf; track option) {
        <div class="radio">
          <label class="horizontal control-label">
            <input  [formControl]="control" [attr.name]="name" [attr.id]="id + '.' + option.enum[0]" value="{{option.enum[0]}}" type="radio"  [disableControl]="schema.readOnly||option.readOnly">
            {{option.description? option.descripton : option.enum[0]}}
          </label>
        </div>
      }
    </div>
    @if (schema.readOnly) {
      <input [attr.name]="name" type="hidden" [formControl]="control" [ngClass] ="schema.visibleIf ? 'tabbed': ''" >
    }
  </div>
}

@if (!schema.CVDomain && schema.enum) {
  <div class="widget form-group" [ngClass] = "schema.visibleIf ? 'indent': 'no-indent'" >
    @if (schema.title) {
      <label>{{schema.title}}
        @if (schema.comments && !schema.description) {
          <sup ><mat-icon color="primary" style ="height: 18px;" svgIcon="help" class = "help-icon" (click) = "openModal(info, schema.comments)"></mat-icon></sup>
        }
      </label>
    }
    @if (schema.description) {
      <span class="formHelp">{{schema.description}}
        @if (schema.comments) {
          <sup ><mat-icon style ="height: 18px;" svgIcon="help" color="primary" class = "help-icon" (click) = "openModal(info, schema.comments)"></mat-icon></sup>
        }
      </span>
    }
    <div [ngClass] = "schema.layout && schema.layout === 'horizontal' ? 'row-layout':''">
      @for (option of schema.enum; track option) {
        <div class="radio">
          <label class="horizontal control-label">
            <input  [formControl]="control" [attr.name]="name" [attr.id]="id + '.' + option" value="{{option}}" type="radio"  [disableControl]="schema.readOnly">
            {{option}}
          </label>
        </div>
      }
    </div>
    @if (schema.readOnly) {
      <input [attr.name]="name" type="hidden" [formControl]="control" [ngClass] ="schema.visibleIf ? 'tabbed': ''" >
    }
  </div>
}

@if (schema.CVDomain) {
  <div class="widget form-group" [ngClass] = "schema.visibleIf ? 'indent': 'no-indent'" >
    @if (schema.title) {
      <label>{{schema.title}}
        @if (schema.comments && !schema.description) {
          <sup  [matTooltip] = "schema.comments"><mat-icon color="primary" style ="height: 18px;" svgIcon="help"  class = "help-icon" (click) = "openModal(info, schema.comments)"></mat-icon></sup>
        }
      </label>
    }
    @if (schema.description) {
      <span class="formHelp">{{schema.description}}
        @if (schema.comments) {
          <sup  [matTooltip] = "schema.comments"><mat-icon style ="height: 18px;" svgIcon="help" color="primary" class = "help-icon" (click) = "openModal(info, schema.comments)"></mat-icon></sup>
        }
      </span>
    }
    <div [ngClass] = "schema.layout && schema.layout === 'horizontal' ? 'row-layout':''">
      @for (option of options; track option) {
        <div class="radio">
          <label class="horizontal control-label">
            <input  [formControl]="control" [attr.name]="name" [attr.id]="id + '.' + option.display" value="{{option.value}}" type="radio"  [disableControl]="schema.readOnly||option.readOnly">
            {{option.display}}
          </label>
        </div>
      }
    </div>
    @if (schema.readOnly) {
      <input [attr.name]="name" type="hidden" [formControl]="control">
    }
  </div>
}

<ng-template #info let-data>
  {{data.comment}}
</ng-template>