.editor-container {
    width: 920px;
   min-height: 380px;
   margin: auto;
}

.cell {
    margin-right:5px;
}

@media(max-width: 1175px) {
    .structure-editor-actions-container {
        flex-direction: column;
        width: 100%;
    }

    .editor-container {
        width: 100%;
        height: 390px;
    }

    .search-actions {
        flex-direction: row;
        width: 100%;
       
    }
    .two {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .action-button-container {
        width: 50%;
        margin: auto;
    margin-top: 20px;
    }
}

@media(max-width: 970px) {
    .structure-editor-actions-container {
        width: 100%;
        overflow-x: auto;
    }

    .editor-container, .search-actions {
        min-width: 633px;
    }

    .jsdraw {
        .editor-container, .search-actions {
            min-width: 710px;
        }
    }
}

.form-row {
    display:flex;
    width: 100%;
    flex-direction: row;
}

::ng-deep table {
    z-index: 20000 !important;
}

.structure-img {
    margin-top:-20px;
    margin-bottom: -20px;
}


.validation {
    display:flex;
    flex-direction: column;
    width: 100%;  
    }
    
    
    .message {
        padding-top: 5px;
        padding-left: 15px;
    }



.ERROR {
    background-color: var(--regular-red-color);
    color: var(--error-dialog-color);
    background-color: var(--error-dialog-bg-color);
    padding: 4px 5px;
    margin-right: 5px;
    border-radius: 5px;
}


.WARNING {
color: var(--warning-dialog-color);
background-color: var(--warning-dialog-bg-color);
padding: 4px 5px;
margin-right: 5px;
border-radius: 5px;
}

.INFO {
color: var(--regular-black-color);
background-color: var(--regular-lightgray-color);
padding: 4px 5px;
margin-right: 5px;
border-radius: 5px;
}