.top-fixed {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 64px;
  width: 100%;
  background-color: var(--regular-white-color);
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 3px -2px var(--box-shadow-color), 0px 3px 4px 0px var(--box-shadow-color-2), 0px 1px 8px 0px var(--box-shadow-color-3);
  z-index: 1001;
}

.form-content-container {
  width: 1140px;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 110px;
}

.scrollable-container {
  padding-top: 15px;
}

.cards-container {
  width: 100%;
}

.actions-container {
  max-width: 1028px;
  width: 100%;
  background-color: var(--regular-white-color);
  padding: 10px;
  display: flex;
}

.details-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dismiss-container {
  display: flex;
}

.details-box {
  max-width: 1028px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.hide-show-messages {
  margin-left: 10px;
  border: 1px solid;
}

.middle-fill {
  flex: 1 1 auto;
}

.divflex {
  display: flex;
}

.divflexrow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.divcenter {
  max-width: 1140px;
  margin: 0 auto;
}

.divradius {
  border-radius: 6px 6px 0px 0px;
}

.divshadow {
  width: 100%;
  box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.divclear {
  clear: both;
}

.title_box {
  width: 1140px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.title {
  font-size: 24px;
  font-weight: 600px;
  font-family: Arial, Helvetica, sans-serif;
  /*padding-left: 70px; */
}

.titleblue {
  font-size: 18px;
  font-weight: 700px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--regular-blue-color);
}

.headerstyle {
  border-radius: 6px 6px 0px 0px;
  border: 1px solid var(--blue-color);
  background-color: var(--table-th-border-color);  /*--primary-title-color*/
  border-bottom: none;
  padding-left: 10px;
  height: 50px;
  color: #FFFFFF;
}

.tabStyle {
  width: 250px;
  height: 30px;
  border: 1px solid var(--regular-grey-color);
  background: var(--tabstyle-bg-img-end-color);
}

.fieldKey {
  width: 350px;
  font-weight: 800;
  padding-top: 20px;
  padding-left: 5px;
  margin-right: 10px;
}

.fieldvalue {
  width: 95%;
  height: 40px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #f7f7f7;
}

.row {
  width: 100%;
}

.form-row {
  display: flex;
  width: 97%;
  margin-bottom: 5px;
  margin-right: 20px;
}

.row-property {
  display: flex;
  width: 50%;
  border: 1px solid green;
}

.row-property-key {
  min-width: 40%;
  max-width: 40%;
  padding: 7px;
  font-size: 12px;
  font-weight: 600;
}

.col-6-2 {
  width: calc((100% - 25px * 2) / 3);
  margin-right: 25px;
}

.col-6-2:last-child {
  margin-right: 0px;
}

.col-6-3 {
  width: calc((100% - 25px * 1) / 2);
  margin-right: 25px;
}

.col-6-3:last-child {
  margin-right: 0px;
}

.col-6-4 {
  width: calc((100% - 20px) / (6/4));
  margin-right: 20px;
}

.col-6-4:last-child {
  margin-right: 0px;
}

.col-6-5 {
  width: calc((100% - 10px) / (6/5));
  margin-right: 10px;
}

.col-6-5:last-child {
  margin-right: 0px;
}

.col-5-more {
  width: calc((100% + 100px) / (6/5));
  margin-right: 10px;
}

.col-1 {
  width: 100%;
}

.col-2 {  /* 2 columns in one row */
  width: calc((100% - 30px * 1) / 2);
  margin-right: 25px;
}

.col-2:last-child {
  margin-right: 0px;
}

.col-3-1 {  /* 3 columns in one row */
  width: calc((100% - 25px * 2) / 3);
  margin-right: 30px;
}

.col-3-1:last-child {
  margin-right: 0px;
}

.col-3-1-half {
  width: calc((100% - 25px * 5) / 6);
  margin-right: 30px;
}

.col-3-1-half:last-child {
  margin-right: 0px;
}

.col-4-1 {  /* 4 columns in one row */
  width: calc((100% - 25px * 3) / 4);
  margin-right: 25px;
}

.col-4-1:last-child {
  margin-right: 0px;
}

.col-5-1 {  /* 5 columns in one row */
  width: calc((100% - 25px * 3) / 4);
  margin-right: 30px;
}

.col-5-1:last-child {
  margin-right: 0px;
}

.col-6-1 {  /* 6 columns in one row  */
  width: calc((100% - 30px * 5) / 6);
  margin-right: 30px;
}

.col-6-1:last-child {
  margin-right: 0px;
}

.col-7-1 {  /* 7 columns in one row  */
  width: calc((100% - 30px * 6) / 7);
  margin-right: 30px;
}

.col-7-1:last-child {
  margin-right: 0px;
}

.margintopneg10px {
  margin-top: -10px;
}

.margintopneg15px {
  margin-top: -15px;
}

.margintop5px {
  margin-top: 5px;
}

.margintop10px {
  margin-top: 10px;
}

.margintop15px {
  margin-top: 15px;
}

.margintop20px {
  margin-top: 20px;
}

.margintop25px {
  margin-top: 25px;
}

.margintop30px {
  margin-top: 30px;
}

.margintop40px {
  margin-top: 40px;
}

.margintop90px {
  margin-top: 90px;
}

marginbottom10px {
  margin-bottom: 10px;
}

marginbottom20px {
  margin-bottom: 20px;
}

marginbottom40px {
  margin-bottom: 40px;
}

.marginleft10px {
  margin-left: 10px;
}

.marginleft20px {
  margin-left: 20px;
}

.marginleft30px {
  margin-left: 30px;
}

.marginleft50px {
  margin-left: 50px;
}

.marginleft100px {
  margin-left: 100px;
}

.marginright20px {
  margin-right: 20px;
}

.marginright30px {
  margin-right: 30px;
}

.padtop5px {
  padding-top: 5px;
}

.padtop10px {
  padding-top: 10px;
}

.padtop20px {
  padding-top: 20px;
}

.bordergray {
  border: 1px solid var(--regular-grey-color);
}

.bordergreen {
  border: 1px solid var(--regular-green-color);
}

.width20px {
  width: 20px;
  min-width: 20px;
}

.width20px {
  width: 20px;
  min-width: 20px;
}

.width30px {
  width: 30px;
  min-width: 30px;
}

.width40px {
  width: 40px;
  min-width: 40px;
}

.width70px {
  width: 70px;
  min-width: 70px;
}

.width80px {
  width: 80px;
  min-width: 80px;
}

.width100px {
  width: 100px;
  min-width: 100px;
}

.width140px {
  width: 140px;
  min-width: 140px;
}

.width150px {
  width: 150px;
  min-width: 150px;
}

.width180px {
  width: 180px;
  min-width: 180px;
}

.width200px {
  width: 200px;
  min-width: 200px;
}

.width220px {
  width: 220px;
  min-width: 220px;
}

.width290px {
  width: 290px;
}

.width300px {
  width: 300px;
}

.width400px {
  width: 400px;
}

.width600px {
  width: 800px;
}

.width600px {
  width: 800px;
}

.width800px {
  width: 800px;
}

.width32percent {
  width: 32%;
}

.width60percent {
  width: 60%;
}

.width70percent {
  width: 70%;
}

.width75percent {
  width: 75%;
}

.width80percent {
  width: 80%;
}

.width90percent {
  width: 90%;
}

.width100percent {
  width: 100%;
}

.colorgray {
  color: var(--regular-grey-color);
}

.colorlightblack {
  color: rgb(98, 95, 95);
}

.colorblack {
  color: black;
}

.colorred {
  color: var(--regular-red-color);
}

.colorblue {
  color: var(--regular-blue-color);
}

.font11px {
  font-size: 11px;
}

.font12px {
  font-size: 12px;
}

.font13px {
  font-size: 13px;
}

.font14px {
  font-size: 14px;
}

.font15px {
  font-size: 15px;
}

.font16px {
  font-size: 16px;
}

.font17px {
  font-size: 17px;
}

.font18px {
  font-size: 18px;
}

.font20px {
  font-size: 20px;
}

.font22px {
  font-size: 22px;
}

.font24px {
  font-size: 24px;
}

.fontbold {
  font-weight: bold;
}

.fontverdana {
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.textalignright {
  text-align: right;
}

.textalignleft {
  text-align: left;
}

.floatleft {
  float: left;
}

.alignright {
  margin-left: auto;
}

.borderbottom {
  border-bottom: 1px solid var(--royal-blue-color);
}

.height35px {
  height: 35px !important;
  padding-left: 5px;
  padding-top: 3px;
}

.displayinlineblock {
  display: inline-block;
}

.disabled {
  cursor: not-allowed;
}

.disabledfield {
  cursor: not-allowed;
  color: var(--regular-red-color);
}

/* CV INPUT OVERWRITE WIDTH */
.cvwidth {
  .mat-form-field {
    width: 20%;
  }
}

.cvwidth2 {
  width: 300px;
}

hr {
  border: none;
  border-top: 4px dotted var(--regular-green-color);
  color: var(--hr-color);
  overflow: visible;
  text-align: center;
  height: 4px;
}

.related-substance {
  min-width: 250px;
  max-width: 250px;
}

.mat-card {
  max-width: 1140px;
}

.mat-form-field-style> {

  /* OVERWRITE MATERIAL INPUT FIELDS */
  .mat-form-field-infix {
    color: var(--regular-blue-color);
  }

  .mat-select-value {
    color: var(--regular-blue-color);
  }

  .mat-form-field-label {
    color: var(--mat-form-field-label-color) !important;
  }

  .mat-form-field-underline {
    background-color: var(--mat-form-field-underline-bg-color) !important;
  }

  /*Focused: change color of label*/
  .mat-focused .mat-form-field-label {
    color: var(--mat-form-field-focused-color) !important;
  }

  /*Focused: change color of underline*/
  .mat-form-field-ripple {
    background-color: var(--mat-form-field-focused-color) !important;
    ;
  }

  .mat-form-field-disabled .mat-form-field-underline {
    background-image: linear-gradient(to right, var(--img-linear-gradient-start-color) 0, var(--textarea-dark-border-color) 10%, var(--img-linear-gradient-color) 0) !important;
    background-size: 1px 100% !important;
    background-repeat: repeat-x !important;
    cursor: not-allowed;
  }

  .mat-form-field-disabled:hover {
    cursor: not-allowed;
  }

  mat-hint {
    color: var(--regular-red-color) !important;
  }
}

.mat-expansion-indicator {
  pointer-events: visiblefill !important;
}

.panel-style {

  .mat-panel-title {
    width: 300px;
    min-width: 300px;
    max-width: 300px;
  }
}

.errortext {
  color: var(--regular-red-color);
  font-size: 11px;
}

fieldset.border {
  border: 2px solid var(--regular-green-color) !important;
  padding: 0 10px 10px 10px;
  margin-bottom: 50px;
  border-bottom: none;
  border-radius: 8px;
  min-width: 0;
  /* override the default value of min-content */
  -webkit-box-shadow: 3px 6px 11px 1px var(--fieldset-box-shadow-color);
  -moz-box-shadow: 3px 6px 11px 1px var(--fieldset-box-shadow-color);
  box-shadow: 3px 4px 5px 1px var(--fieldset-box-shadow-color);
}

legend.border {
  width: auto !important;
  border: none;
  border-bottom: none;
  font-size: 15px;
  color: var(--legend-blue-border-color);
  font-family: Verdana;
  font-weight: bold;
  margin-bottom: 10px;
}

.custom-badge {
  .mat-badge-content {
    background: var(--mustard-color);
    color: var(--regular-white-color);
  }

  .mat-badge-medium .mat-badge-above .mat-badge-top .mat-badge-content {
    top: unset;
    right: unset;
  }
}

.submission-messages {
  overflow: hidden;
  height: auto;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  max-width: 1028px;
  width: 100%;
  background-color: var(--regular-white-color);
  display: flex;
  flex-direction: column;

  &.collapsed {
    max-height: 0;
  }

  &.expanded {
    max-height: 500px;
    overflow-y: auto;
    padding: 10px;
  }

  .submission-message {
    font-weight: 500;
    text-align: center;
  }

  .validation-message {
    display: flex;
    padding: 5px 0;
    align-items: center;

    .message-type {
      text-transform: uppercase;
      font-weight: 500;
      margin-right: 20px;
      padding: 10px;
      border-radius: 3px;
    }
  }

  .dismiss-container {
    display: flex;
  }

  .warning-message {
    color: var(--warning-dialog-color);
    background-color: var(--warning-dialog-bg-color);

  }

  .error-message {
    color: var(--error-dialog-color);
    background-color: var(--error-dialog-bg-color);
  }

}

/* Table Style Begin */
table.tableStyle {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  border: 1px solid var(--secondary-blue-color);
  background-color: var(--table-bg-color);
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

table.tableStyle td,
table.tableStyle th {
  border: 1px solid var(--table-th-border-color);
  /*padding: 3px 2px;*/
}

table.tableStyle td {
  font-size: 14px;
  vertical-align: top;
  height: 30px;
  /*padding: 10px 10px;*/
}

table.tableStyle tr:nth-child(even) {
  /* background: var(--table-tr-even-bg-color);*/
  /*background: var(--table-tr-even-bg-color-3); */
  background: var(--table-tr-even-bg-color-3);
}

table.tableStyle thead {
  background: var(--table-thead-bg-color);
  /* Header background */
  border-bottom: 1px solid var(--table-thead-border-color);
}

table.tableStyle thead th {
  font-size: 12px;
  font-weight: 700;
  color: var(--table-th-color);
  border-left: 1px solid var(--table-th-border-color-2);
  padding: 10px 10px;
  background: #ededed;
}

table.tableStyle thead th:first-child {
  border-left: none;
}

table.tableStyle tfoot {
  font-size: 14px;
  font-weight: bold;
  color: var(--white-color);
  background: var(--table-th-border-color-2);
  border-top: 2px solid var(--table-thead-border-color);
}

table.tableStyle tfoot td {
  font-size: 14px;
}

table.tableStyle tfoot .links {
  text-align: right;
}

table.tableStyle tfoot .links a {
  display: inline-block;
  background: var(--secondary-blue-color);
  color: var(--white-color);
  padding: 2px 8px;
  border-radius: 5px;
}

/* Table Style End */