<p>
browse ct 
</p>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->


 <!-- edit Column -->

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef>nctNumber</th>
    <td mat-cell *matCellDef="let element">
        <a [routerLink]="['/edit-clinical-trial', element.nctNumber]" [queryParams]="{}" >Edit</a>
      </td>
  </ng-container>

<!-- nctNumber Column -->
  <ng-container matColumnDef="nctNumber">
    <th mat-header-cell *matHeaderCellDef>nctNumber</th>
    <td mat-cell *matCellDef="let element"> {{element.nctNumber}} </td>
  </ng-container>

  <!-- title Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>title</th>
    <td mat-cell *matCellDef="let element">{{element.title}}</td>
  </ng-container>

  <!-- ID Column -->
  <ng-container matColumnDef="lastUpdated">
    <th mat-header-cell *matHeaderCellDef>lastUpdated</th>
    <td mat-cell *matCellDef="let element">{{element.lastUpdated|date: 'MM/dd/yyyy'}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>  
</table>