.structure-card-content {
    display: flex;
}

.structure-image-container {
    padding-left: 20px;
    flex-grow: 1;

    .structure-img {
        width: 100%;
        height: auto;
      cursor: zoom-in;
    }
}

.structure-img-big {
    width: 100%;
    height: 500px !important;
}


.blue-font ::ng-deep sub {
    margin-bottom: -10px;
}

.content-fix {
    min-height: 250px;
    padding: 15px 20px;

}

.src-column {
    display: flex;
    flex-direction:column;
    width:50%;
    
}

.actions {
    height: 75px;
}

.fixActionRow {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .spacer {
    flex-grow: 1;
  }

  ::ng-deep .mat-dialog-container {
    height: unset !important;
    max-height: 90%;
}

.black-pill, .gray-pill {
    color: var(--regular-white-color);
    padding: 1px 7px;
    border-radius: 11px;
}

.black-pill {
    background-color: var(--regular-black-color);
}

.gray-pill {
    background-color: var(--regular-grey-color);
}

.name {
    min-width: 175px;
}

@media(max-width: 700px) {
    .structure-card-content {
        flex-direction: column;
    }
}

.references-link{
  display: inline-flex;
  vertical-align: middle;
}

.float-right {
  float:right;
}

.icon-button {
  padding:5px;
  height:34px;
  width: 34px;
  min-width: 34px;
  margin: 2px;
}

.indent {
  padding-left: 15px;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.stereo-comments {
    max-width:175px;
}
