.middle-content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
}

.search-section {
    margin: 0 10px 0 20px;
}

.register-section {
    margin: 0 20px 0 10px;
}