.middle-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 66px;

    img {
        height: 30%;
        width: auto;
        margin-top: 20%;
    }
}