<mat-card class="welcome-banner" *ngIf="!isClosedWelcomeMessage">
  <div class="close-container">
    <button mat-icon-button (click)="closeWelcomeMessage()">
      <mat-icon svgIcon="close"></mat-icon>
    </button>
  </div>
  Welcome to the new user interface for GSRS 2.5! Please be aware that you can return to the classic view by clicking the white button on the top right. Please send any feedback to <a [href]="'mailto:' + contactEmail">{{contactEmail}}</a>.
</mat-card>
<div *ngIf="isClosedWelcomeMessage" class = "closed-welcome-padding">
</div>

<div class = "button-container">
  <button mat-raised-button class = "big-button" (click) = "browseSubstances()">Enter Browse Substances</button>
</div>
<div class="middle-content-container">

  <mat-card class="search-section">
    <mat-card-title>
      Search
    </mat-card-title>

    <mat-card-content class = "left-search">
      <mat-nav-list>
        <h3  class = "register-header">
          <img class = "old-icon" [src]="browseAll">
          Search GSRS</h3>
        <a mat-list-item routerLink="/browse-substance">
          <mat-icon matListIcon svgIcon="search"></mat-icon>
          Browse All Substances
        </a>
        <span *ngIf = "appId !== 'fda'">
                  <mat-divider></mat-divider>

          <a mat-list-item routerLink="/structure-search">
          <mat-icon matListIcon svgIcon="search"></mat-icon>
          Structure Search
        </a>
          <mat-divider></mat-divider>
        <a mat-list-item routerLink="/sequence-search">
          <mat-icon matListIcon svgIcon="search"></mat-icon>
          Sequence Search
        </a>
        </span>
        <span *ngIf = "appId === 'fda'">
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/browse-applications">
          <mat-icon matListIcon svgIcon="search"></mat-icon>
          Browse All Applications
        </a>
        <mat-divider></mat-divider>

        <a mat-list-item routerLink="/browse-clinical-trials">
          <mat-icon matListIcon svgIcon="search"></mat-icon>
          Browse All Clinical Trials
        </a>
        <mat-divider></mat-divider>

        <a mat-list-item [href]="baseDomain + clasicBaseHref + 'advancedSearch?t=substance'">
          <mat-icon matListIcon svgIcon="pageview"></mat-icon>
          Substance
          <mat-icon  class = "shrunken-icon"  svgIcon="open_in_new"></mat-icon>
        </a>

        <mat-divider></mat-divider>
        <a mat-list-item [href]="baseDomain + clasicBaseHref + 'advancedSearch?t=prod'">
          <mat-icon matListIcon svgIcon="local-pharmacy"></mat-icon>
          Product
          <mat-icon  class = "shrunken-icon"  svgIcon="open_in_new"></mat-icon>

        </a>

        <mat-divider></mat-divider>
        <a mat-list-item [href]="baseDomain + clasicBaseHref + 'advancedSearch?t=app'">
          <mat-icon matListIcon svgIcon="find-in-page"></mat-icon>
          Application
          <mat-icon  class = "shrunken-icon"  svgIcon="open_in_new"></mat-icon>

        </a>

        <mat-divider></mat-divider>
        <a mat-list-item [href]="baseDomain + clasicBaseHref + 'advancedSearch?t=clinical'">
          <mat-icon matListIcon svgIcon="insert-chart"></mat-icon>

          Clinical Trial
          <mat-icon  class = "shrunken-icon"  svgIcon="open_in_new"></mat-icon>

        </a>

        <mat-divider></mat-divider>
        <a mat-list-item [href]="baseDomain + clasicBaseHref + 'advancedSearch?t=biomarker'">
          <mat-icon matListIcon svgIcon="insert-chart"></mat-icon>

          Biomarker
          <mat-icon  class = "shrunken-icon"  svgIcon="open_in_new"></mat-icon>

        </a>

        <mat-divider></mat-divider>
        <a mat-list-item [href]="baseDomain + clasicBaseHref + 'advancedSearch?t=indication'">
          <mat-icon matListIcon svgIcon="insert-chart"></mat-icon>

          Indication/Sponsor
          <mat-icon  class = "shrunken-icon"  svgIcon="open_in_new"></mat-icon>

        </a>

        <mat-divider></mat-divider>
        <a mat-list-item [href]="baseDomain + clasicBaseHref + 'advancedSearch?t=adverse'">
          <mat-icon matListIcon svgIcon="note"></mat-icon>


          Adverse Event <mat-icon class = "shrunken-icon" svgIcon="open_in_new"></mat-icon>

        </a>

        <mat-divider></mat-divider>
        <a mat-list-item [href]="baseDomain + clasicBaseHref + 'advancedSearch'">
          <mat-icon matListIcon svgIcon="youtube"></mat-icon>

          Advanced Search
          <mat-icon  class = "shrunken-icon"  svgIcon="open_in_new"></mat-icon>

        </a>
      </span>
      </mat-nav-list>
    </mat-card-content>
  </mat-card>
  <mat-card class="register-section">
    <mat-card-title>
      Register<span *ngIf="!isAuthenticated"> (Login to Register)</span>
    </mat-card-title>
    <mat-card-content>
      <div class="register-card-content">
        <div class="register-main">
          <mat-nav-list class = "main-list">
            <h3 class = "register-header">
              <img class = "old-icon" [src]="chemicon">
              Register a Substance</h3>
            <a mat-list-item routerLink="/substances/register/chemical">
              <mat-icon matListIcon svgIcon="outline-description"></mat-icon>
              Chemical
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item routerLink="/substances/register/protein">
              <mat-icon matListIcon svgIcon="outline-description"></mat-icon>
              Protein
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item routerLink="/substances/register/polymer">
              <mat-icon matListIcon svgIcon="outline-description"></mat-icon>
              Polymer
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item routerLink="/substances/register/nucleicAcid">
              <mat-icon matListIcon svgIcon="outline-description"></mat-icon>
              Nucleic Acid
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item routerLink="/substances/register/structurallyDiverse">
              <mat-icon matListIcon svgIcon="outline-description"></mat-icon>
              Structurally Diverse
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item routerLink="/substances/register/concept">
              <mat-icon matListIcon svgIcon="outline-description"></mat-icon>
              Concept
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item routerLink="/substances/register/mixture">
              <mat-icon matListIcon svgIcon="outline-description"></mat-icon>
              Mixture
            </a>
            <span *ngIf = "appId !== 'fda'">
                          <mat-divider></mat-divider>

            <a mat-list-item routerLink="/substances/register/specifiedSubstanceG1">
              <mat-icon matListIcon svgIcon="outline-description"></mat-icon>

              Specified Substance Group 1
            </a>
                          </span>

          </mat-nav-list>
        </div>
        <mat-divider [vertical]="true" class = "divider-vertical" *ngIf = "appId === 'fda'"></mat-divider>
        <div  class="register-other"  *ngIf = "appId === 'fda'">
          <h3  class = "register-header">
            <img class = "old-icon" [src]="application">
            Other Registration</h3>
          <mat-nav-list class = "other-list">
            <a mat-list-item routerLink="/substances/register/specifiedSubstanceG1">
              <mat-icon matListIcon svgIcon="outline-description"></mat-icon>

              Specified Substance Group 1
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item [href]="baseDomain + clasicBaseHref + 'wizard?kind=specifiedSubstanceG2'">
              <mat-icon matListIcon svgIcon="outline-description"></mat-icon>

              Specified Substance Group 2
              <mat-icon  class = "shrunken-icon"  svgIcon="open_in_new"></mat-icon>

            </a>
            <mat-divider></mat-divider>
            <a mat-list-item [href]="baseDomain + clasicBaseHref + 'wizard?kind=specifiedSubstanceG3'">
              <mat-icon matListIcon svgIcon="outline-description"></mat-icon>

              Specified Substance Group 3
              <mat-icon  class = "shrunken-icon"  svgIcon="open_in_new"></mat-icon>

            </a>
            <mat-divider></mat-divider>
            <a mat-list-item [href]="baseDomain + clasicBaseHref + 'wizard?kind=specifiedSubstanceG4'">
              <mat-icon matListIcon svgIcon="outline-description"></mat-icon>

              Specified Substance Group 4
              <mat-icon  class = "shrunken-icon"  svgIcon="open_in_new"></mat-icon>

            </a>
            <mat-divider></mat-divider>
            <a mat-list-item [href]="baseDomain + clasicBaseHref + 'wizard?kind=specifiedSubstanceG4Manufacturing'">
              <mat-icon matListIcon svgIcon="outline-description"></mat-icon>

              Specified Substance Group 4 Manufacturing
              <mat-icon  class = "shrunken-icon"  svgIcon="open_in_new"></mat-icon>

            </a>
            <span *ngIf = "appId === 'fda'">
            <mat-divider></mat-divider>
            <a mat-list-item [href]="baseDomain + clasicBaseHref + 'registerProduct'">
              <mat-icon matListIcon svgIcon="outline-description"></mat-icon>

              Product
              <mat-icon  class = "shrunken-icon"  svgIcon="open_in_new"></mat-icon>

            </a>
            <mat-divider></mat-divider>
            <a mat-list-item [href]="baseDomain + clasicBaseHref + 'registerApplication'">
              <mat-icon matListIcon svgIcon="outline-description"></mat-icon>

              Application
              <mat-icon  class = "shrunken-icon"  svgIcon="open_in_new"></mat-icon>
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item [href]="baseDomain + clasicBaseHref + 'registerBiomarker'">
              <mat-icon matListIcon svgIcon="outline-description"></mat-icon>

              Biomarker
              <mat-icon  class = "shrunken-icon"  svgIcon="open_in_new"></mat-icon>
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item [href]="baseDomain + clasicBaseHref + 'registerIndication'">
              <mat-icon matListIcon svgIcon="outline-description"></mat-icon>

              Indication
              <mat-icon  class = "shrunken-icon"  svgIcon="open_in_new"></mat-icon>

            </a>
              </span>
          </mat-nav-list>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

