<mat-card class="welcome-banner" *ngIf="!isClosedWelcomeMessage">
  <div class="close-container">
    <button mat-icon-button (click)="closeWelcomeMessage()">
      <mat-icon svgIcon="close"></mat-icon>
    </button>
  </div>
  Welcome to the new user interface for GSRS 2.5! Please be aware that you can return to the classic view by clicking the white button on the top right. Please send any feedback to <a [href]="'mailto:' + contactEmail">{{contactEmail}}</a>.
</mat-card>
<div class="middle-content-container">
  <mat-card class="search-section">
    <mat-card-title>
      Search
    </mat-card-title>
    <mat-card-content>
      <mat-nav-list>
        <a mat-list-item routerLink="/browse-substance">
          <mat-icon matListIcon svgIcon="search"></mat-icon>
          Browse All Substances
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/browse-applications">
          <mat-icon matListIcon svgIcon="search"></mat-icon>
          Browse All Applications
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item [href]="baseDomain + '/ginas/app/advancedSearch?t=substance'">
          <mat-icon matListIcon svgIcon="open_in_new"></mat-icon>
          Substance
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item [href]="baseDomain + '/ginas/app/advancedSearch?t=prod'">
          <mat-icon matListIcon svgIcon="open_in_new"></mat-icon>
          Product
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item [href]="baseDomain + '/ginas/app/advancedSearch?t=app'">
          <mat-icon matListIcon svgIcon="open_in_new"></mat-icon>
          Application
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item [href]="baseDomain + '/ginas/app/advancedSearch?t=clinical'">
          <mat-icon matListIcon svgIcon="open_in_new"></mat-icon>
          Clinical Trial
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item [href]="baseDomain + '/ginas/app/advancedSearch?t=biomarker'">
          <mat-icon matListIcon svgIcon="open_in_new"></mat-icon>
          Biomarker
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item [href]="baseDomain + '/ginas/app/advancedSearch?t=indication'">
          <mat-icon matListIcon svgIcon="open_in_new"></mat-icon>
          Indication/Sponsor
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item [href]="baseDomain + '/ginas/app/advancedSearch?t=adverse'">
          <mat-icon matListIcon svgIcon="open_in_new"></mat-icon>
          Adverse Event
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item [href]="baseDomain + '/ginas/app/advancedSearch'">
          <mat-icon matListIcon svgIcon="open_in_new"></mat-icon>
          Advanced Search
        </a>
      </mat-nav-list>
    </mat-card-content>
  </mat-card>
  <mat-card class="register-section">
    <mat-card-title>
      Register<span *ngIf="!isAuthenticated"> (Login to Register)</span>
    </mat-card-title>
    <mat-card-content>
      <div class="register-card-content">
        <div>
          <mat-nav-list>
            <h3 matSubheader>Register a Substance</h3>
            <a mat-list-item routerLink="/substances/register/chemical">
              <mat-icon matListIcon svgIcon="outline-description"></mat-icon>
              Chemical
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item routerLink="/substances/register/protein">
              <mat-icon matListIcon svgIcon="outline-description"></mat-icon>
              Protein
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item routerLink="/substances/register/polymer">
              <mat-icon matListIcon svgIcon="outline-description"></mat-icon>
              Polymer
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item routerLink="/substances/register/nucleicAcid">
              <mat-icon matListIcon svgIcon="outline-description"></mat-icon>
              Nucleic Acid
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item routerLink="/substances/register/structurallyDiverse">
              <mat-icon matListIcon svgIcon="outline-description"></mat-icon>
              Structurally Diverse
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item routerLink="/substances/register/concept">
              <mat-icon matListIcon svgIcon="outline-description"></mat-icon>
              Concept
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item routerLink="/substances/register/mixture">
              <mat-icon matListIcon svgIcon="outline-description"></mat-icon>
              Mixture
            </a>
          </mat-nav-list>
        </div>
        <div>
          <mat-nav-list class="register-other">
            <a mat-list-item [href]="baseDomain + '/substances/register/specifiedSubstanceG1'">
              <mat-icon matListIcon svgIcon="outline-description"></mat-icon>
              Specified Substance Group 1
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item [href]="baseDomain + '/ginas/app/wizard?kind=specifiedSubstanceG2'">
              <mat-icon matListIcon svgIcon="open_in_new"></mat-icon>
              Specified Substance Group 2
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item [href]="baseDomain + '/ginas/app/wizard?kind=specifiedSubstanceG3'">
              <mat-icon matListIcon svgIcon="open_in_new"></mat-icon>
              Specified Substance Group 3
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item [href]="baseDomain + '/ginas/app/wizard?kind=specifiedSubstanceG4'">
              <mat-icon matListIcon svgIcon="open_in_new"></mat-icon>
              Specified Substance Group 4
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item [href]="baseDomain + '/ginas/app/wizard?kind=specifiedSubstanceG4Manufacturing'">
              <mat-icon matListIcon svgIcon="open_in_new"></mat-icon>
              Specified Substance Group 4 Manufacturing
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item [href]="baseDomain + '/ginas/app/registerProduct'">
              <mat-icon matListIcon svgIcon="open_in_new"></mat-icon>
              Product
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item [href]="baseDomain + '/ginas/app/registerApplication'">
              <mat-icon matListIcon svgIcon="open_in_new"></mat-icon>
              Application
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item [href]="baseDomain + '/ginas/app/registerBiomarker'">
              <mat-icon matListIcon svgIcon="open_in_new"></mat-icon>
              Biomarker
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item [href]="baseDomain + '/ginas/app/registerIndication'">
              <mat-icon matListIcon svgIcon="open_in_new"></mat-icon>
              Indication
            </a>
          </mat-nav-list>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
