<div class="note-form-container">
  <div *ngIf="note.$$deletedCode" class="notification-backdrop">
    Deleted&nbsp;
    <button mat-icon-button matTooltip="Undo" (click)="undoDelete()">
      <mat-icon svgIcon="undo"></mat-icon>
    </button>
  </div>
  <div class="form-row">
    <div class="delete-container">
      <button mat-icon-button matTooltip="Delete note" (click)="deleteNote()">
        <mat-icon svgIcon="delete_forever"></mat-icon>
      </button>
    </div>
    <div class="note">
      <div class="textarea-label">Note</div>
      <textarea placeholder="Enter text here" [(ngModel)]="note.note" required name="note" >
      </textarea>
    </div>
    <div>
      <app-access-manager (accessOut)="updateAccess($event)" [access]="note.access">
      </app-access-manager>
    </div>
  </div>
  <div class="form-row" *ngIf="!note.$$deletedCode">
    <div class="references-container">
      <app-domain-references [referencesUuids]="note.references" #references></app-domain-references>
    </div>
  </div>
  <app-audit-info [source] = "note"></app-audit-info>
</div>
