@if (schema.CVDomain) {
  <div class="widget form-group multiselect " [ngClass] ="schema.visibleIf ? 'tabbed': 'no-indent'">
    @if (schema.title) {
      <label [attr.for]="id" class="horizontal label control-label">
        {{ schema.title }}
        @if (schema.comments && !schema.description) {
          <sup ><mat-icon style ="height: 18px;" color="primary" svgIcon="help"  class = "help-icon" (click) = "openModal(info, schema.comments)"></mat-icon></sup>
        }
      </label>
    }
    @if (schema.description) {
      <span class="formHelp" >
        {{schema.description}}
        @if (schema.comments) {
          <sup  ><mat-icon style ="height: 18px;" svgIcon="help" color="primary" class = "help-icon" (click) = "openModal(info, schema.comments)"></mat-icon></sup>
        }
      </span>
    }
    @if (schema.type!='array') {
      <mat-select  multiple [formControl]="control" [attr.name]="name" [attr.id]="id"
        [disableControl]="schema.readOnly" class="form-control cv-select" >
        <ng-container>
          @for (option of options; track option) {
            <mat-option [value]="option.value">{{option.display}}</mat-option>
          }
        </ng-container>
      </mat-select>
    }
    @if (schema.type==='array') {
      <mat-select  multiple [formControl]="control" [attr.name]="name" [attr.id]="id"
        [disableControl]="schema.readOnly" class="form-control cv-select">
        @for (option of options; track option) {
          <mat-option [value]="option.value" >{{option.display}}</mat-option>
        }
      </mat-select>
    }
    @if (schema.readOnly) {
      <input [attr.name]="name" type="hidden" [formControl]="control">
    }
  </div>
}


@if (!schema.CVDomain) {
  <div class="widget form-group" [ngClass] ="schema.visibleIf ? 'tabbed': 'no-indent'">
    @if (schema.title) {
      <label [attr.for]="id" class="horizontal label control-label">
        {{ schema.title }}
        @if (schema.comments && !schema.description) {
          <sup><mat-icon style ="height: 18px;" color="primary" svgIcon="help"  class = "help-icon" (click) = "openModal(info, schema.comments)"></mat-icon></sup>
        }
      </label>
    }
    @if (schema.description) {
      <span class="formHelp">
        {{schema.description}}
        @if (schema.comments) {
          <sup ><mat-icon style ="height: 18px;" svgIcon="help" color="primary" class = "help-icon" (click) = "openModal(info, schema.comments)"></mat-icon></sup>
        }
      </span>
    }
    @if (schema.type!='array') {
      <mat-select [formControl]="control" [attr.name]="name" [attr.id]="id" [disableControl]="schema.readOnly" class="form-control cv-select">
        @if (schema.oneOf) {
          @for (option of schema.oneOf; track option) {
            <mat-option [value]="option.enum[0]" >{{option.description}}</mat-option>
          }
        } @else {
          @for (option of schema.enum; track option) {
            <mat-option [value]="option" >{{option}}</mat-option>
          }
        }
      </mat-select>
    }
    @if (schema.type==='array' && schema.items && schema.items.enum) {
      <mat-select multiple [formControl]="control" [attr.name]="name" [attr.id]="id" [disableControl]="schema.readOnly" class="form-control  cv-select">
        @for (option of schema.items.enum; track option) {
          <mat-option [value]="option" [disabled]="option.readOnly">{{option}}</mat-option>
        }
      </mat-select>
    }
    @if (schema.type==='array' && (!schema.items || !schema.items.enum)) {
      <mat-select multiple [formControl]="control" [attr.name]="name" [attr.id]="id" [disableControl]="schema.readOnly" class="form-control  cv-select">
        @for (option of schema.items.oneOf; track option) {
          <mat-option [value]="option.enum[0]" [disabled]="option.readOnly">{{option.description}}</mat-option>
        }
      </mat-select>
    }
    @if (schema.readOnly) {
      <input [attr.name]="name" type="hidden" [formControl]="control">
    }
  </div>
}

<ng-template #info let-data>
  {{data.comment}}
</ng-template>