.divcenter {
  text-align: center;
  margin-bottom: 10px;
}

.image-icon {
  width: 80%;
  height: 80% !important;
}

.zoom:hover{
  cursor: zoom-in;
}

.width95px {
  width: 95px;
}

.width110px {
  width: 110px;
}

::ng-deep {

  .structure-image-panel {

    .mat-dialog-container {
      padding: 5px;
      position: relative;
      overflow: hidden;
    }

    .mat-dialog-content {
      margin: 0;
      padding: 0;
      max-height: 100%;
    }

    .mat-tab-body-content {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.centering {
  margin: auto;
  width: 80%;
  height: 100%;
  text-align: center;
}

.emph {
  font-weight: bold;
}

.imageLink {
  color: green;
  font-weight: bold;
}

.nonImageBox {
  color: blue;
  background-color: aqua;
  width: 25%; 
  height: 100px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left:10px;
  margin-right:10px;
}

.something {
  max-width: 1240px;
  margin:auto;
  border: 30; 
}

.something_else {
  width: 100px;
  height: 100px;
  border-color: chocolate;
}