<div class="divcenter" *ngIf="uuid && substanceClass != 'chemical'">
  <a tabindex="0" role="img" aria-label="substance image" class="zoom" (click)="openImageModal(uuid)">
    <img class="image-icon" appSubstanceImage size="400" [entityId]="uuid">
  </a>
  <br>
</div>
<ng-container id="wrapAroundTable" *ngIf="dependencies.length > 0">
  <div><b>Dependencies</b></div>
<table mat-table [dataSource]="dependencies" > <!--*ngIf="dependencies.length > 0"-->
  <ng-container matColumnDef="relatedSubstance">
    <th mat-header-cell *matHeaderCellDef> Related Substance </th>
    <td mat-cell *matCellDef="let mod">
      <div *ngIf="mod.relatedSubstance">
        <a class="substance-name" [routerLink]="['/substances', mod.relatedSubstance.refuuid]" target="_blank">
          {{mod.relatedSubstance.name}}
        </a>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="structure">
    <th mat-header-cell *matHeaderCellDef> Structure </th>
    <td mat-cell *matCellDef="let mod">
      <div *ngIf="mod.relatedSubstance">
        <div class="bordergray width95px" *ngIf="mod.relatedSubstance.refuuid">
          <a tabindex="0" role="img" aria-label="substance image" class="zoom" (click)="openImageModal(mod.relatedSubstance.refuuid)">
            <img class="image-icon" appSubstanceImage size="90" [entityId]="mod.relatedSubstance.refuuid">
          </a>
        </div>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="relationshipType">
    <th mat-header-cell *matHeaderCellDef> Relationship Type </th>
    <td mat-cell *matCellDef="let mod"> {{mod.relationshipType}} </td>
  </ng-container>

  <ng-container matColumnDef="interactionType">
    <th mat-header-cell *matHeaderCellDef> Interaction Type </th>
    <td mat-cell *matCellDef="let mod"> {{mod.interactionType}} </td>
  </ng-container>

  <ng-container matColumnDef="mediatorSubtance">
    <th mat-header-cell *matHeaderCellDef> Mediator Substance </th>
    <td mat-cell *matCellDef="let mod">
      <div *ngIf="mod.mediatorSubstance">
        <a class="substance-name" [routerLink]="['/substances', mod.mediatorSubstance.refuuid]" target="_blank">
          {{mod.mediatorSubstance.name}}
        </a>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="comments">
    <th mat-header-cell *matHeaderCellDef class="width110px"> Comments </th>
    <td mat-cell *matCellDef="let mod"> {{mod.comments}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</ng-container>

<mat-paginator [length]="filtered && filtered.length || 0" [pageSize]="5" showFirstLastButtons="true"
  (page)="pageChange($event, analyticsEventCategory)" [pageSizeOptions]="[5, 10, 25, 100]" *ngIf="dependencies.length > 0">
</mat-paginator>

<ng-container *ngIf="showImage()">
  <!--div class="centering emph"> {{imageType}} </div>
  <div class="centering">
    <img class="image-icon" appSubstanceAltImage size="300" [entityId]="uuid" width="200px"  height="200px" 
      src={{imageUrlSet[currImage]}} alt="alternate image">
  </div>
  <div class="centering emph">{{currImage+1}} of {{imageUrlSet.length}}</div>
  <span *ngIf="currImage>0" (click)="currImage=currImage-1" class="imageLink">Previous</span> &nbsp;
  <span *ngIf="currImage<imageUrlSet.length-1" (click)="currImage=currImage+1" class="imageLink">Next</span>

  <br/-->
  <mat-grid-list cols="3" class = "useful-cards">
    <mat-grid-tile *ngFor="let imageUrl of imageUrlSet; index as imgNum">
        <mat-card class="temprow right-link left-link" >
          <div class="">
            <h3 class = "resource-link">
              {{imageType}}
            </h3>
          </div>
            <div class = "img-container">
              <img class="image-icon" appSubstanceAltImage size="200" [entityId]="uuid" width="200px"  height="200px" 
              src={{imageUrl}} alt="alternate image"/>
            </div>
            <div class="centering">
              <h3 class = "resource-link">
                {{imgNum+1}} of {{imageUrlSet.length}}
            </h3>
            </div>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
<br/>
  <div *ngIf="showTautomerInfo">
    <span>See <a href="https://en.wikipedia.org/wiki/Tautomer" target="_">https://en.wikipedia.org/wiki/Tautomer</a> for an explanation of 'tautomer'</span>
  </div>
</ng-container> 

<br>
<!-- simple example ng-container *ngIf="showDataAlways" class="something">
  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile *ngFor="let thing of somethingSet; index as imgNum" >
        <mat-card class="nonImageBox" >
            <h3 class = "resource-link">
                {{thing}}
            </h3>
        </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  </ng-container-->
