<mat-sidenav-container [hasBackdrop]="hasBackdrop">
  <mat-sidenav mode="side" opened #matSideNavInstance>
    <mat-nav-list appScrollNav>
      <a mat-list-item *ngFor="let property of substanceDetailsProperties" appScrollNavItem [scrollToElementId]="property.dynamicComponentId + (property.type ? property.type : '')" (click)="handleSidenavClick()">
        <span class="capitalized">{{property.title}}</span>
        <span class="chip" *ngIf="property.count != null">{{property.count}}</span>
        <span class="middle-fill"></span>
        <mat-icon svgIcon="chevron_right"></mat-icon>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <button class="expand-sidenav mat-elevation-z4" (click)="openSideNav()">
      <mat-icon svgIcon="chevron_right"></mat-icon>
    </button>
    <div class="side-nav-content">
      <div class="substance-details" *ngIf="substance">
        <div class="title-container">
          <h1>{{substance._name}}</h1>
        </div>
        <mat-accordion multi="true">
          <mat-expansion-panel expanded="true" *ngFor="let property of substanceDetailsProperties" [id]="property.dynamicComponentId + (property.type ? property.type : '')">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h2>{{property.title}}</h2>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div #dynamicComponent></div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>