<div class="top-fixed">
  <div class="actions-container">
    <button mat-flat-button color="primary" (click)="showJSON()">Show JSON</button>
    <button mat-flat-button class="hide-show-messages" (click)="toggleValidation()" [disabled]="isLoading"
      *ngIf="validationMessages && validationMessages.length > 0">
      {{showSubmissionMessages ? 'Hide' : 'Show'}} messages
      <mat-icon [svgIcon]="showSubmissionMessages ? 'chevron_up' : 'chevron_down'"></mat-icon>
    </button>
    <span class="middle-fill"></span>
    <button mat-flat-button color="primary" class="validate-button" (click)="validate()">Validate and Submit</button>
  </div>

  <!-- Validation Message Display -->
  <div [ngClass]="{'submission-messages': true, collapsed: !showSubmissionMessages, expanded: showSubmissionMessages}">
    <div class="submission-message" *ngIf="submissionMessage">
      {{submissionMessage}}
    </div>

    <!-- Validation Message Display and Submit Button -->
    <!--
    <div *ngIf="validationMessages">
      <span *ngIf=" validationMessages.length > 0">
        <div class="submission-message" *ngIf='!serverError && !approving'>
          Please correct or dismiss the following errors and submit again:
        </div>
        <div class="validation-message" *ngFor="let message of validationMessages; index as i">
          <div class="message-type" [ngClass]="message.messageType == 'ERROR' ? 'error-message' : 'warning-message'">
            {{message.messageType}}</div>
          <div class="message">{{message.message}}<span *ngFor="let link of message.links"><br /><a [href]="link.href"
                target="_blank">{{link.text}}</a></span></div>
          <button mat-icon-button matTooltip="Dismiss" *ngIf="message.messageType != 'ERROR' && !approving"
            (click)="dismissValidationMessage(i)">
            <mat-icon svgIcon="cancel"></mat-icon>
          </button>
        </div>
      </span>
    -->
    <div class="dismiss-container">
      <span class="middle-fill"></span>
      <button mat-flat-button color="primary" (click)="submit()"
        [disabled]="isLoading || (this.validationResult === false)">{{validationMessages && validationMessages.length > 0?'Dismiss All and ':''}}
        Submit</button>
    </div>
    <!--
    </div>
  -->
  </div>
</div>

<!-- Display Form Fields -->

<div class="form-content-container">
  <div class="scrollable-container">
    <div class="cards-container">

      <mat-card class="bordergray">

        <mat-card-title>
          Register New Application
        </mat-card-title>

        <mat-card-content>
          <br>
          <div class="row">
            <mat-form-field class="col-1">
              <mat-label>Center</mat-label>
              <mat-select matNativeControl [(ngModel)]="application.center" name="center" required>
                <mat-option *ngFor="let center of centerList" [value]="center.value">
                  {{center.display}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="col-1">
              <mat-label>Application Type</mat-label>
              <mat-select matNativeControl [(ngModel)]="application.appType" name="appType" required>
                <mat-option *ngFor="let appType of appTypeList" [value]="appType.value">
                  {{appType.display}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="col-1">
              <input matInput placeholder="Application Number" [(ngModel)]="application.appNumber" name="appNumber"
                required />
            </mat-form-field>

            <mat-form-field class="col-1">
              <mat-label>Application Status</mat-label>
              <mat-select matNativeControl [disabled]="isDisableData" [(ngModel)]="application.status" name="status">
                <mat-option *ngFor="let appStatus of appStatusList" [value]="appStatus.value">
                  {{appStatus.display}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="col-1">
              <input matInput placeholder="Submit Date" [(ngModel)]="application.submitDate" name="submitDate" />
            </mat-form-field>

            <mat-form-field class="col-1">
              <input matInput placeholder="Status Date" [disabled]="isDisableData" [(ngModel)]="application.statusDate"
                name="statusDate" />
            </mat-form-field>
          </div>


          <div class="row">
            <mat-form-field class="col-2">
              <input matInput placeholder="Sponsor Name" [disabled]="isDisableData"
                [(ngModel)]="application.sponsorName" name="sponsorName" />
            </mat-form-field>

            <mat-form-field class="col-1">
              <mat-label>Application Sub Type</mat-label>
              <mat-select matNativeControl [disabled]="isDisableData" [(ngModel)]="application.appSubType"
                name="appSubType">
                <mat-option *ngFor="let appSubType of appSubTypeList" [value]="appSubType.value">
                  {{appSubType.display}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="col-1">
              <input matInput placeholder="Division Class Desc" [disabled]="isDisableData"
                [(ngModel)]="application.divisionClassDesc" name="divisionClassDesc" />
            </mat-form-field>

            <mat-form-field class="col-1">
              <mat-label>Public Domain</mat-label>
              <mat-select matNativeControl [(ngModel)]="application.publicDomain" name="publicDomain">
                <mat-option *ngFor="let publicDomain of publicDomainList" [value]="publicDomain.value">
                  {{publicDomain.display}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="col-1">
              <input matInput placeholder="Non Proprietary Name" [(ngModel)]="application.nonProprietaryName"
                name="nonProprietaryName" />
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field class="col-3">
              <input matInput placeholder="Title" [(ngModel)]="application.title" name="title" />
            </mat-form-field>

            <mat-form-field class="col-3">
              <input matInput placeholder="External Title" [disabled]="isDisableData"
                [(ngModel)]="application.externalTitle" name="externalTitle" />
            </mat-form-field>
          </div>

          <!-- INDICATION Loop -->
          <div *ngFor="let ind of application.applicationIndicationList; let indIndex = index">
            <div class="row">
              <mat-form-field class="col-5">
                <input matInput placeholder="Indication" [(ngModel)]="ind.indication" name="indication" />
              </mat-form-field>

              <!-- INDICATION Button -->
              <button mat-icon-button color="primary" *ngIf="indIndex == 0" (click)="addNewIndication()"
                matTooltip="Add New Indication">
                <mat-icon svgIcon="add_circle_outline"></mat-icon>
              </button>
              <!-- Delete Indication -->
              <button mat-icon-button [ngStyle]="{'color':'orangered'}"
                [disabled]="application.applicationIndicationList.length == 1"
                (click)="confirmDeleteIndication(indIndex, ind.indication)" matTooltip="Delete Indication">
                <mat-icon>delete_forever</mat-icon>
              </button>
              <br>
            </div>
          </div> <!-- Indication Loop-->

          <!-- Product Form -->
          <app-product-form [application]="application"></app-product-form>

        </mat-card-content>
      </mat-card>
      <br><br><br>

    </div>
  </div>
</div>

<br>