.admin-container {
    padding-top:65px;
    width:100%;
}

.page-container {
    align-items: center;
    justify-content: center;
    padding: 65px 5px 0 5px;
}


.app-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 15px;
    max-width: 1500px;
    min-width: 1000px;
}

.full-width {
    width: 100%;
}

.tab-label {
    margin-right: 100px;
}