.mat-divider.mat-divider-inset {
  margin-left: 0;
}

.mat-divider {
  border-top-color: var(--box-shadow-color-3);
}
/* awtodo not sure about .code */
.code {
  &:nth-child(odd) {
    background-color: rgba(68, 138, 255, 0.07);

    ::ng-deep {
      .mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"])
        .mat-expansion-panel-header:hover {
        background-color: rgba(68, 138, 255, 0.15);
      }
    }
  }

  &:nth-child(even) {
    ::ng-deep {
      .mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"])
        .mat-expansion-panel-header:hover {
        background-color: rgba(128, 128, 128, 0.15);
      }
    }
  }

  ::ng-deep {
    .mat-expansion-panel,
    .mat-table,
    textarea {
      background-color: transparent;
    }
  }
}

.search {
  width: 400px;
  max-width: 100%;
}

::ng-deep .search-form-field .mat-mdc-form-field-infix {
  padding-bottom: 8px !important;
}
