<mat-card class = "monitor-container">

<div *ngIf = "loadJob">
    <div class = "full-row">
        <div class ="job-title">Importing {{loadJob.name}}</div>
        <span class = "middle-fill"></span>
        <div>Status: {{loadJob.status}}</div>
    </div>
<div class = "lower-body">
<div class = "loader-container">

  <div class = "progress-container">
    <div class = "bar-label">Progress</div>
        <div>  
    <mat-progress-bar class = "load-progress" color="accent" mode="determinate" [value] = "(dynamic / max)*(100)" >
    </mat-progress-bar>
    <div class = "label-row">
        <div [style.width.%] = "(dynamic / max)*(100)"  class = "count-cont">
                <span class = "count-row-label">{{dynamic}}</span>
        </div>
        </div>
</div>
           
</div>
<div class = "progress-container"  *ngIf = "(stats.extractPass && stats.extractPass >= 0) || stats.extractFail && stats.extractFail >= 0">
<div class = "bar-label">Extracted Records</div>  
    <mat-progress-bar class = "load-progress load-success" [color]="accent" mode="determinate" 
    [value] = "(stats.extractPass / max)*(100)"
    >
    </mat-progress-bar>

    <mat-progress-bar class = "load-progress load-fail" [color]="primary"  mode="determinate" 
    [value] = "(stats.extractFail / max)*(100)"
     >
    </mat-progress-bar>
    <div class = "label-row">
        <div [style.width.%] = "(stats.extractPass / max)*(100)"  class = "count-cont" *ngIf = "loadJob.statistics.recordsExtractedPassed > 0">
                <span class = "count-row-label">{{stats.extractPass}}</span>
        </div>
        <div [style.width.%] = "((stats.extractFail  - stats.extractPass) / max)*(100)" class = "count-cont" *ngIf = "loadJob.statistics.recordsExtractedFailed > 0">
            <span  class = "count-row-label">{{stats.extractFail - stats.extractPass}}</span>
        </div>
    </div>
</div>
<div class = "progress-container" *ngIf = "(stats.processedFail && stats.processedFail >=  0) || (stats.processedPass && stats.processedPass >=  0)">
    <div class = "bar-label">Processed Records</div>    
    <mat-progress-bar class = "load-progress load-success" [color]="accent" mode="determinate" 
    [value] = "(stats.processedPass  / max)*(100)" 
     >

    </mat-progress-bar>

    <mat-progress-bar class = "load-progress load-fail"  mode="determinate" 
    [value] = "(stats.processedFail / max)*(100)"
     >
    </mat-progress-bar>
    <div class = "label-row">
        <div [style.width.%] = "(stats.processedPass / max)*(100)"  class = "count-cont" *ngIf = "loadJob.statistics.recordsProcessedPassed > 0">
                <span class = "count-row-label">{{stats.processedPass}}</span>
        </div>
        <div [style.width.%] = "((stats.processedFail - stats.processedPass) / max)*(100)" class = "count-cont" *ngIf = "loadJob.statistics.recordsProccessedFailed > 0">
            <span  class = "count-row-label">{{stats.processedFail - stats.processedPass}}</span>
        </div>
    </div>
</div>
<div class = "progress-container"*ngIf = "(stats.persistPass && stats.persistPass >=  0) || stats.persistFail && stats.persistFail >=  0" >
    <div class = "bar-label">Persisted Records</div>    
    <mat-progress-bar class = "load-progress load-success"  [color]="accent" mode="determinate" 
    [value] = "(stats.persistPass / max)*(100)" 
    >
    </mat-progress-bar>

    <mat-progress-bar class = "load-progress load-fail" mode="determinate" 
    [value] = "(stats.persistFail / max)*(100)"
    >
    </mat-progress-bar>
    <div class = "label-row">
        <div [style.width.%] = "(stats.persistPass / max)*(100)"  class = "count-cont" *ngIf = "loadJob.statistics.recordsPersistedPassed > 0">
                <span class = "count-row-label">{{stats.persistPass}}</span>
        </div>
        <div [style.width.%] = "((stats.persistFail - stats.persistPass) / max)*(100)" class = "count-cont" *ngIf = "loadJob.statistics.recordsPersistedFailed > 0">
            <span  class = "count-row-label">{{stats.persistFail - stats.persistPass}}</span>
        </div>
    </div>
</div> 

<div class = "progress-container" >
    <div class = "bar-label">TEST</div>    
    <mat-progress-bar class = "load-progress load-success"  [color]="accent" mode="determinate" 
    [value] = "test.t1"
    >
    </mat-progress-bar>

    <mat-progress-bar class = "load-progress load-fail" mode="determinate" 
   [value] = "test.t3"
    >
    </mat-progress-bar>
    <div class = "label-row">
        <div [style.width.%] = "test.t1"  class = "count-cont">
                <span class = "count-row-label">{{test.t1}}</span>
        </div>
        <div [style.width.%] = "test.f1" class = "count-cont" >
            <span  class = "count-row-label">{{test.f1}}</span>
        </div>
    </div>
</div> 

<div class = "progress-container" >
    <div class = "bar-label">TEST</div>    
    <mat-progress-bar class = "load-progress load-success-old"  [color]="accent" mode="determinate" 
    [value] = "test.t1"
    >
    </mat-progress-bar>

    <mat-progress-bar class = "load-progress load-fail-old" mode="determinate" 
   [value] = "test.f1"
    >
    </mat-progress-bar>
   
</div> 



<div class = "progress-container" >
<div class = "bar-label">TEST</div>    
<mat-progress-bar class = "load-progress load-success-old"  [color]="accent" mode="determinate" 
[value] = "test.t1"
>
</mat-progress-bar>

<mat-progress-bar class = "load-progress load-fail-old" mode="determinate" 
[value] = "test.f1"
>
</mat-progress-bar>
</div> 
<div>testing</div>

<div>
    <div class = "spinner-container" >

            <div class = "spinner-row">
                    <div class = "bar-label">Persisted</div>    
                    <mat-progress-spinner class = "load-progress load-success"  [color]="accent" mode="determinate" 
                    [value] = "(stats.persistPass / max)*(100)" >
                    </mat-progress-spinner>
              
                    <mat-progress-spinner class = "load-progress mirror" mode="determinate" 
                    [value] = "(stats.persistFail / max)*(100)">
                    
                    </mat-progress-spinner>
            </div>

            <div class = "spinner-row">
                    <div class = "bar-label">Extracted</div>    
                    <mat-progress-spinner class = "load-progress load-success"  [color]="accent" mode="determinate" 
                    [value] = "(loadJob.statistics.recordsExtractedSuccess / max)*(100)" >
                    </mat-progress-spinner>
              
                    <mat-progress-spinner class = "load-progress mirror" mode="determinate" 
                    [value] = "(loadJob.statistics.recordsExtractedFailed / max)*(100)" >
                    
                    </mat-progress-spinner>
            </div>

            <div class = "spinner-row">
                    <div class = "bar-label">Processed</div>    
                    <mat-progress-spinner class = "load-progress load-success"  [color]="accent" mode="determinate" 
                    [value] = "(stats.processedPass / max)*(100)" >
                    </mat-progress-spinner>
              
                    <mat-progress-spinner class = "load-progress mirror" mode="determinate" 
                    [value] = "(stats.processedFail / max)*(100)" >
                    
                    </mat-progress-spinner>
                    
            </div>


        <div class = "spinner-row">
                <div class = "bar-label">test</div>
                <div class = "spinner-labels">
                    <div *ngIf = "test.t1 > 0" class = "count-label">
                            {{test.t1}}
                    </div>
                <mat-progress-spinner class = "load-progress load-success spinner"  [color]="accent" mode="determinate" diameter = "125"
                [value] = "test.t1" >
                </mat-progress-spinner>
          
                <mat-progress-spinner class = "load-progress mirror-test spinner" mode="determinate"  diameter = "125"
                [value] = "test.f1">
                </mat-progress-spinner>
                <div *ngIf = "test.f1 > 0" class = "count-label">
                        {{test.f1}} failed
                </div>
            </div>    

        </div>

        
        
       </div> 
</div>

</div>
<div class = "stat-container">
<div *ngIf="loadJob.start"  class = "label-value">
        <div class = "label">
       Time started: </div>
       <div class = "value" matTooltip = "{{loadJob.start | date: 'medium'}}"><span>{{startedHuman}}</span>
    </div>
    </div>
 <div *ngIf="loadJob.stop"  class = "label-value" >
        <div class = "label">
    Time Finished:</div>
    <div class = "value" matTooltip = "{{loadJob.stop | date: 'medium'}}"><span> {{finishedHuman}}</span>
 </div>
 </div>
<div class = "label-value">
     <div class = "label">Total time running:</div>
        <div class = "value"><code>{{humanTimeTotal}}</code></div>
    </div>
        <div class = "label-value">
                <div class = "label">Average Records per second:</div>
                <div class = "value"> <code>{{averagePersistRate | number}}</code> </div>
    </div>
        <div *ngIf = "!loadJob.stop"  class = "label-value">
                <div class = "label">  Estimated time left: </div>
        <div class = "value"><code>{{humanTimeLeft}}</code></div>
    </div>
            <div *ngIf = "!loadJob.stop"  class = "label-value">
                <div class = "label">Estimated total time: </div>
                <div class = "value"><code>{{humanTimeEstimate}}</code></div>
        
            </div>
</div>
</div>
<div class = "full-row">
    <button mat-button (click) = "clearJob()">New Data Entry</button>
    <span class = "middle-fill"></span>
    <button mat-button *ngIf = "!monitor" [disabled] = "loadJob.stop" (click) = "refresh()">Update</button>
    <button mat-button *ngIf = "monitor" (click) = "monitor = false">Stop Updating</button>

</div>

</div>
</mat-card>