@if (showProcessIndex === -1) {
  <div class="divflexright">
    @if (processList && processList.length > 0) {
      <div>
        <mat-checkbox [checked]="showSubstanceRole" (change)="updateShowSubstanceRole($event)">
          Show Substance Role
        </mat-checkbox>
      </div>
    }
    &nbsp;&nbsp;&nbsp;
    @if (processList && processList.length > 0) {
      <div>
        <mat-checkbox [checked]="showCriticalParameter" (change)="updateShowCriticalParameter($event)">
          Show Critical Parameter
        </mat-checkbox>
      </div>
    }
  </div>
}

<!--
<br><br>
<div class="divflex">
  <button mat-stroked-button color="primary" class="button-add" (click)="generateImage()" matTooltip="Generate Image">
    <mat-icon svgIcon="edit"></mat-icon>Generate Image
  </button>

  <button mat-stroked-button color="primary" class="button-add" (click)="generateHtmlToPdf()" matTooltip="Convert Html to Pdf">
    <mat-icon svgIcon="edit"></mat-icon>Convert Html to Pdf
  </button>

</div>
<br>


  <div id="divStepView">
    -->

    @for (process of processList; track process; let processIndex = $index) {
      <div class="margintop10px">
        @if (((showProcessIndex === -1) || (showProcessIndex > -1 && showProcessIndex === processIndex))) {
          <div>
            <fieldset class="border">
              <legend class="border">Process &nbsp;<b><span class="colorgreen font17px">{{processIndex + 1}} of
              {{processList.length}}</span></b>
            </legend>
            <!-- STEPS -->
            @for (site of process.sites; track site; let siteIndex = $index) {
              <div>
                @if (((showSiteIndex === -1) || (showSiteIndex > -1 && showSiteIndex === siteIndex))) {
                  <div>
                    @for (stage of site.stages; track stage; let stageIndex = $index) {
                      <div class="marginbottom30px">
                        @if (((showStageIndex === -1) || (showStageIndex > -1 && showStageIndex === stageIndex))) {
                          <div>
                            <fieldset class="border-step">
                              <legend class="border-step">Step &nbsp;<b>{{stageIndex + 1}}</b>
                            </legend>
                            <div class="divflexright">
                              <button mat-stroked-button color="primary" class="button-add" (click)="editInForm()"
                                matTooltip="Edit In Form">
                                <mat-icon svgIcon="edit"></mat-icon>Edit in Form View
                              </button>
                            </div>
                            <table class="width100percent margintopneg25px">
                              <tr class="">
                                <!-- Starting -->
                                <td class="width33percent textaligncenter">
                                  @for (startingMaterial of stage.startingMaterials; track startingMaterial; let startingMaterialIndex = $index) {
                                    <div class="paddingleft10px marginbottom10px"
                                      >
                                      @if (startingMaterial.substanceName) {
                                        <div>
                                          @if ((stage.startingMaterials.length > 1 && startingMaterialIndex !== 0)) {
                                            <div class="paddingtop15px font30px"
                                              >
                                              <b>+</b>
                                            </div>
                                          }
                                          <a class="zoom"
                                            (click)="openImageModal(startingMaterial.$$tmpStructureId || startingMaterial.substanceName?.refuuid, startingMaterial.substanceName?.approvalID, startingMaterial.substanceName?.refPname || startingMaterial.verbatimName)">
                                            <img appSubstanceImage [entityId]="startingMaterial.$$tmpStructureId || startingMaterial.substanceName?.refuuid">
                                          </a>
                                          <div>
                                            @if (startingMaterial.substanceName.refPname) {
                                              <span>
                                <a href="" (click)="openImageModal(startingMaterial.$$tmpStructureId || startingMaterial.substanceName?.refuuid, startingMaterial.substanceName?.approvalID, startingMaterial.substanceName?.refPname || startingMaterial.verbatimName);
                               false">
                                                  {{startingMaterial.substanceName.refPname}}
                                                </a>
                                              </span>
                                            }
                                            @if (startingMaterial.verbatimName) {
                                              <span>
                                                <br>
                                                  Material Display Name: {{startingMaterial.verbatimName}}
                                                </span>
                                              }
                                              @if (showSubstanceRole) {
                                                <span>
                                                  <br>
                                                    <b>({{startingMaterial.substanceRole}})</b>
                                                  </span>
                                                }
                                              </div>
                                            </div>
                                            } <!-- if substanceName object exists -->
                                            <!-- if AMOUNT exists, Display values-->
                                            <!-- ONLY DISPLAY if setting in the configuration is true -->
                                            @if (showAmountValues && showAmountValues === 'true') {
                                              <div>
                                                @if (startingMaterial.amount) {
                                                  <div>
                                                    {{displayAmount(startingMaterial.amount)}}
                                                  </div>
                                                }
                                              </div>
                                            }
                                          </div>
                                          } <!-- Starting Material Loop -->
                                        </td>
                                        <!-- Processing -->
                                        <td class="width33percent paddingleft10px">
                                          <!-- BEFORE ARROW  NON-SOLVENT RECORDS -->
                                          @for (processingMaterial of stage.processingMaterials; track processingMaterial; let processingMaterialIndex = $index) {
                                            <div
                                              >
                                              @if (processingMaterial.substanceRole) {
                                                <div>
                                                  @if (processingMaterial.substanceRole !== 'Solvent') {
                                                    <div>
                                                      @if (processingMaterial.substanceName) {
                                                        <div>
                                                          <div class="divflex">
                                                            <div class="margintopneg5px">
                                                              <!-- Display Structure when rollover icon -->
                                                              <button mat-button
                                                                (click)="openImageModal(processingMaterial.$$tmpStructureId || processingMaterial.substanceName?.refuuid, processingMaterial.substanceName?.approvalID, processingMaterial.substanceName?.refPname || processingMaterial.verbatimName)">
                                                                <mat-icon class="colorblue fontsize14px">info</mat-icon>
                                                              </button>
                                                            </div>
                                                            <div>
                                                              @if (processingMaterial.substanceName.refPname) {
                                                                <span>
                                      <a href="" (click)="openImageModal(processingMaterial.$$tmpStructureId || processingMaterial.substanceName?.refuuid, processingMaterial.substanceName?.approvalID, processingMaterial.substanceName?.refPname || processingMaterial.verbatimName);
                                     false">
                                                                    <b>{{processingMaterial.substanceName.refPname}}</b>
                                                                  </a>
                                                                </span>
                                                              }
                                                              @if (showSubstanceRole) {
                                                                <span>
                                                                  &nbsp;<b>({{processingMaterial.substanceRole}})</b>
                                                                </span>
                                                              }
                                                            </div>
                                                          </div>
                                                        </div>
                                                        } <!-- if substanceName object exists -->
                                                        <!-- if AMOUNT exists, Display values-->
                                                        <!-- ONLY DISPLAY if setting in the configuration is true -->
                                                        @if (showAmountValues && showAmountValues === 'true') {
                                                          <div>
                                                            @if (processingMaterial.amount) {
                                                              <div>
                                                                {{displayAmount(processingMaterial.amount)}}
                                                              </div>
                                                            }
                                                          </div>
                                                        }
                                                      </div>
                                                      } <!-- substanceRole !== 'Solvent' -->
                                                    </div>
                                                    } <!-- substanceRole exists -->
                                                  </div>
                                                  } <!-- Processing Material Loop -->
                                                  <!-- ARROW -->
                                                  <div class="paddingleft20px">
                                                    <img src="{{imageLoc}}" />
                                                  </div>
                                                  <!-- AFTER ARROW SOLVENT RECORDS -->
                                                  @for (processingMaterial of stage.processingMaterials; track processingMaterial; let processingMaterialIndex = $index) {
                                                    <div
                                                      >
                                                      @if (processingMaterial.substanceRole) {
                                                        <div>
                                                          @if (processingMaterial.substanceRole === 'Solvent') {
                                                            <div>
                                                              @if (processingMaterial.substanceName) {
                                                                <div>
                                                                  <div class="divflex">
                                                                    <div class="margintopneg5px">
                                                                      <!-- Display Structure when rollover icon -->
                                                                      <button mat-button
                                                                        (click)="openImageModal(processingMaterial.$$tmpStructureId || processingMaterial.substanceName?.refuuid, processingMaterial.substanceName?.approvalID, processingMaterial.substanceName?.refPname || processingMaterial.verbatimName)">
                                                                        <mat-icon class="colorblue fontsize14px">info</mat-icon>
                                                                      </button>
                                                                    </div>
                                                                    <div>
                                                                      <!--
                                                                      <a [routerLink]="['/substances', processingMaterial.substanceName.refuuid]"
                                                                        target="_blank">
                                                                        <b>{{processingMaterial.substanceName.refPname}}</b>
                                                                      </a>
                                                                      -->
                                                                      @if (processingMaterial.substanceName.refPname) {
                                                                        <span>
                                      <a href="" (click)="openImageModal(processingMaterial.$$tmpStructureId || processingMaterial.substanceName?.refuuid, processingMaterial.substanceName?.approvalID, processingMaterial.substanceName?.refPname || processingMaterial.verbatimName);
                                     false">
                                                                            <b>{{processingMaterial.substanceName.refPname}}</b>
                                                                          </a>
                                                                        </span>
                                                                      }
                                                                      @if (showSubstanceRole) {
                                                                        <span>
                                                                          &nbsp;<b>({{processingMaterial.substanceRole}})</b>
                                                                        </span>
                                                                      }
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                                } <!-- if substanceName object exists -->
                                                                <!-- if AMOUNT exists, Display values-->
                                                                <!-- ONLY DISPLAY if setting in the configuration is true -->
                                                                @if (showAmountValues && showAmountValues === 'true') {
                                                                  <div>
                                                                    @if (processingMaterial.amount) {
                                                                      <div>
                                                                        {{displayAmount(processingMaterial.amount)}}
                                                                      </div>
                                                                    }
                                                                  </div>
                                                                }
                                                              </div>
                                                              } <!-- substanceRole !== 'Solvent' -->
                                                            </div>
                                                            } <!-- substanceRole exists -->
                                                          </div>
                                                          } <!-- Processing Material Loop -->
                                                          <!-- SHOW CRITICAL PARAMETER -->
                                                          @for (criticalParameter of stage.criticalParameters; track criticalParameter; let criticalParameterIndex = $index) {
                                                            <div class="paddingleft25px paddingtop10px bo"
                                                              >
                                                              @if (showCriticalParameter) {
                                                                <span>
                                                                  @if (criticalParameter.value) {
                                                                    <div>
                                                                      <b>{{displayAmount(criticalParameter.value, criticalParameter.name)}}</b>
                                                                    </div>
                                                                  }
                                                                </span>
                                                              }
                                                            </div>
                                                          }
                                                        </td>
                                                        <!-- Resulting -->
                                                        <td class="width33percent textaligncenter paddingleft10px">
                                                          @for (resultingMaterial of stage.resultingMaterials; track resultingMaterial; let resultingMaterialIndex = $index) {
                                                            <div class="marginbottom10px"
                                                              >
                                                              @if (resultingMaterial.substanceName) {
                                                                <div>
                                                                  @if ((stage.resultingMaterials.length > 1 && resultingMaterialIndex !== 0)) {
                                                                    <div class="paddingtop15px font25px"
                                                                      >
                                                                      <b>+</b>
                                                                    </div>
                                                                  }
                                                                  <a class="zoom"
                                                                    (click)="openImageModal(resultingMaterial.$$tmpStructureId || resultingMaterial.substanceName?.refuuid, resultingMaterial.substanceName?.approvalID, resultingMaterial.substanceName?.refPname || resultingMaterial.verbatimName)">
                                                                    <img appSubstanceImage [entityId]="resultingMaterial.$$tmpStructureId || resultingMaterial.substanceName?.refuuid">
                                                                  </a>
                                                                  <div>
                                                                    <!--
                                                                    <a [routerLink]="['/substances', resultingMaterial.substanceName.refuuid]" target="_blank">
                                                                      {{resultingMaterial.substanceName.refPname}}
                                                                    </a>
                                                                    -->
                                                                    @if (resultingMaterial.substanceName.refPname) {
                                                                      <span>
                                <a href="" (click)="openImageModal(resultingMaterial.$$tmpStructureId || resultingMaterial.substanceName?.refuuid, resultingMaterial.substanceName?.approvalID, resultingMaterial.substanceName?.refPname || resultingMaterial.verbatimName);
                               false">
                                                                          {{resultingMaterial.substanceName.refPname}}
                                                                        </a>
                                                                      </span>
                                                                    }
                                                                    @if (resultingMaterial.verbatimName) {
                                                                      <span>
                                                                        <br>
                                                                          Material Display Name:{{resultingMaterial.verbatimName}}
                                                                        </span>
                                                                      }
                                                                      @if (showSubstanceRole) {
                                                                        <span>
                                                                          <br>
                                                                            <b>({{resultingMaterial.substanceRole}})</b>
                                                                          </span>
                                                                        }
                                                                      </div>
                                                                    </div>
                                                                    } <!-- if substanceName object exists -->
                                                                    <!-- if AMOUNT exists, Display values-->
                                                                    <!-- ONLY DISPLAY if setting in the configuration is true -->
                                                                    @if (showAmountValues && showAmountValues === 'true') {
                                                                      <div>
                                                                        @if (resultingMaterial.amount) {
                                                                          <div>
                                                                            {{displayAmount(resultingMaterial.amount)}}
                                                                          </div>
                                                                        }
                                                                      </div>
                                                                    }
                                                                  </div>
                                                                  } <!-- Resulting Material Loop -->
                                                                </td>
                                                              </tr>
                                                            </table>
                                                            <br>
                                                            </fieldset>
                                                          </div>
                                                          } <!-- stageIndex === showStageIndex -->
                                                        </div>
                                                        } <!-- Stage loop -->
                                                      </div>
                                                      } <!-- siteIndex === showSiteIndex -->
                                                    </div>
                                                    } <!-- Site loop -->
                                                  </fieldset>
                                                </div>
                                                } <!-- processIndex === showProcessIndex -->
                                              </div>
                                              } <!-- Process loop -->
                                              <!--
                                            </div> --> <!-- id=divStepView -->
                                            <br>
                                              <!--
                                              <div appScrollToTarget
                                                [id]="'stage_' + 0">TESING TESTING
                                              </div>
                                              -->