.divflexspace {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.divflex {
  display: flex;
}

.bordergray {
  border: 1px solid gray;
}

.margintopneg10px {
  margin-top: -10px;
}

.margintop10px {
  margin-top: 10px;
}

.marginbottom10px {
  margin-bottom: 10px;
}

.marginbottom20px {
  margin-top: 20px;
}

.paddingleft10px {
  padding-left: 10px;
}

.paddingleft20px {
  padding-left: 20px;
}

.paddingleft25px {
  padding-left: 25px;
}

.paddingleft350px {
  padding-left: 350px;
}

.paddingtop10px {
  padding-top: 10px;
}

.paddingtop15px {
  padding-top: 15px;
}

.paddingbottom10px {
  padding-bottom: 10px;
}

.font16px {
  font-size: 16px;
}

.font30px {
  font-size: 30px;
}

.width100percent {
  width: 100%;
}

.width33percent {
  width: 33%;
}

.textaligncenter {
  text-align: center;
}

fieldset.border {
  border: solid 2px rgb(27, 15, 184) !important;
  padding: 0 10px 10px 10px;
  border-bottom: none;
  border-radius: 8px;
  min-width: 0;  /* override the default value of min-content */
  -webkit-box-shadow: 2px 3px 3px 1px rgba(110,104,110,0.64);
  -moz-box-shadow: 2px 3px 5px 1px rgba(110,104,110,0.64);
  box-shadow: 2px 2px 3px 1px rgba(110,104,110,0.64);
}

legend.border {
  width: auto !important;
  border: none;
  border-bottom: none;
  font-size: 15px;
  color: #174793;
  font-family: Verdana;
  font-weight: bold;
  margin-bottom: 10px;
}

.structure-img-big {
  width: 100%;
  height: auto;
}

.zoom:hover{
  cursor:zoom-in;
}

