.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 65px 5px 0 5px;
}

.mat-card {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 750px;
    width: 100%;
}

.parameters {
    display: flex;
    justify-content: space-evenly;
    align-content: stretch;

    .mat-error {
        display: block;
        background-color: white;
        padding: 0 2px;
    }
}

.sequence-body {

    textarea {
        box-sizing: border-box;
        width: 100%;
        height: 300px;
        border: solid 1px rgba(0, 0, 0, 0.42);
        border-radius: 3px;
        padding: 10px;
    }
}

.actions {
    display: flex;
    padding-top: 10px;

    .align-right {
        margin-left: auto;
    }

  .padding-right {
    padding-right:10px;
  }
}
