.details {
  & .subunit {
    display: none;
  }

  & .subunit-sequence {
    display: block;
  }
}


.show {
  display:block;
}

.hide{
  display:none;
}

.raw {
  .subunit {
    display: block;
  }

  .subunit-sequence {
    display: none;
  }
}

.raw {
  & .subunit {
    display: block;
  }

  & .subunit-sequence {
    display: none;
  }
}

.subunit-sequence {
  margin-bottom: 30px;
}

.sequence-section-group {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}

.section-number {
  text-align: right;
  padding: 0 10px;
  font-size: .8em;
}

.sequence-section {
  flex-grow: 0;
  padding: 0 10px;
  flex-basis: 20%;
  flex-shrink: 0;
}

.section-units-container {
  display: flex;

  .section-unit {
    /*flex-grow: 1;*/

    &:hover {
      cursor: default;
    }
  }
}

.subunit {
  padding-top: 5px;
  padding-bottom: 20px;

  &:not(:last-child) {
    border-bottom: solid 1px rgba(0, 0, 0, 0.12);
  }
}

.raw-sequence {
  word-break: break-all;
  line-height: 26px;
}

.filters-container {
  display: flex;
  justify-content: flex-end;
}

.subunit-form-container {
  padding: 30px 10px 12px 10px;
  position: relative;
}

.notification-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  z-index: 10;
  background-color: rgba(255, 255, 255, .8);
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: #666;
}

.form-row {
  display: flex;
  align-items: flex-start;
  margin-top:20px;
}
  .delete-container {
    padding: 0 10px 8px 0;
    width:30px;
  }

.subunit-label {
  font-size: 18px;
  font-weight: 400;
  padding-top: 0px;
  margin-top: 10px;
  padding-left: 30px;
  width: 20%;
}

.buttons {
  width: 60%;
  display:flex;


}

.action-button {
  margin: 5px;
}
.disulfide{
  color:white;
  background-color: #cca300;
}

.other{
  color:white;
  background-color:darkslateblue;
}

.glycosylation{
  color:white;
  background-color:#608000;
}

.N-Glycosylation{
  color:white;
  background-color:#0066cc;
}

.C-Glycosylation{
  color:white;
  background-color:GRAY;
}

.O-Glycosylation{
  color:white;
  //background-color:darkgoldenrod;
  background-color:#ff6666;
}

.feature{
  border-top:1px solid magenta;
  border-bottom: 1px solid magenta;
}

.modification{
  color:white;
  background-color:DARKOLIVEGREEN;
}

.selectedSite{
  display:block;
  text-align: center;
}
/*
.chosen {
  color:black !important;
  background-color:turquoise !important;
}*/

.last-section {
  flex-basis: 0!important;
}

.siteref {
  display:block;
  width: 15.5px !important;
  text-align: center;
}

.generated {
  background-color: rgba(0, 0, 0, 0.15)
}

.subunit-container {
  padding: 5px;
}

.button-link {
  color: #4793d1;
  text-decoration: none;
  vertical-align: middle;
  font-weight: 500;
  text-align: center;
  line-height: 46px;
}
.convert {
  padding-right:40px;
}
.spacer {
  width: 20%;
}

.error {
  color: red;
}
