
  <div *ngIf="definitions.length > 0">
    This is a Definitional Concept of
    <div *ngFor="let definition of definitions">
      <div class="thumb-col">
       <img class="image-thumb" [src]="getSafeStructureImgUrl(definition.refuuid)">
        <div>
          <a class="substance-name" [routerLink]="['/substances', definition.refuuid]" >
            {{definition.refPname}}
          </a>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf = "definitions.length == 0">
    <i>This is a non-substance concept</i>
  </div>

