@if (loading === false) {
  <div>
    <div>
      <mat-form-field>
        <mat-label style="width: 100%;">Service</mat-label>
        <mat-select [(ngModel)]="currentService" (selectionChange)="onServiceSelectionChange($event)">
          @for (option of services; track option) {
            <mat-option [value]="option">
              {{option}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    @for (job of jobs; track job) {
      <mat-card class = "form-row">
        <app-scheduled-job [currentService] = "this.currentService" [job] = "job" pollIn = "true" ></app-scheduled-job>
      </mat-card>
    }
    @if (!jobs.length) {
      <mat-card class ="no-jobs">
        <h3>No scheduled tasks</h3>
      </mat-card>
    }
  </div>
}


@if (loading === true) {
  <div class = "loading-container">
    <mat-progress-spinner
      class="progress-spinner"
      [color]="primary"
      mode = "indeterminate">
    </mat-progress-spinner>
  </div>
}

