<div class="bordergray">
  <br>
  <hr>
  <br>
  <span class="title1"></span>
  <span matBadge="{{application.applicationProductList.length}}" matBadgeOverlap="false">
    <span class="title1">PRODUCT</span>
  </span>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button mat-raised-button color="primary" (click)="addNewProduct()" matTooltip="Add New Product">
    <mat-icon svgIcon="add_circle_outline"></mat-icon>Add New
    Product
  </button>
  <br><br>

  <div *ngFor="let product of application.applicationProductList; let prodIndex = index">

    <!-- Buttons: delete, review -->
    <div class="marginbottomminus17px padleft250px">
      <button mat-icon-button [ngStyle]="{'color':'green'}" *ngIf="application.applicationProductList.length > 1"
        (click)="confirmDeleteProduct(prodIndex)" matTooltip="Delete Product Details {{prodIndex + 1}}">
        <mat-icon>delete_forever</mat-icon>
      </button>
      &nbsp;&nbsp;
      <button mat-icon-button [ngStyle]="{'color':'green'}" (click)="copyProduct(product)"
        matTooltip="Copy Product Details {{prodIndex + 1 }} to a New Product">
        <mat-icon>file_copy</mat-icon>
      </button>
      &nbsp;&nbsp;
      <button mat-icon-button [ngStyle]="{'color':'green'}" (click)="reviewProduct(prodIndex)"
        matTooltip="Click to Confirm Product Details {{prodIndex + 1}} has been Reviewed">
        <mat-icon>check_circle</mat-icon>
      </button>
      <span class="font12px" *ngIf="reviewProductMessage">
        Product Data Reviewed By:
        <span class="colorred">
          {{reviewProductMessage[prodIndex]| date: 'MM/dd/yyyy h:mm:ss a'}}
        </span>
      </span>
    </div>

    <fieldset class="border">
      <legend class="border">Product Details:&nbsp;<b><span class="colorgreen font17px">{{prodIndex + 1}}</span></b>
      </legend>

      <!-- PRODUCT NAME LIST -->

      <div *ngFor="let prodName of product.applicationProductNameList; let prodNameIndex = index">

        <div class="form-row">
          <mat-form-field class="formfield2columnwidth">
            <input matInput placeholder="Product Name" [(ngModel)]="prodName.productName" name="productName" />
          </mat-form-field>

          <mat-form-field class="">
            <mat-label>Product Name Type</mat-label>
            <mat-select matNativeControl [(ngModel)]="prodName.productNameType" name="productNameType">
              <mat-option *ngFor="let productNameType of productNameTypeList" [value]="productNameType.value">
                {{productNameType.display}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div class="divflexrow">
            <div class="width50px">
              <button mat-icon-button color="primary" *ngIf="prodNameIndex == 0" (click)="addNewProductName(prodIndex)"
                matTooltip="Add New Product Name">
                <mat-icon>add_circle_outline</mat-icon>
              </button>
            </div>
            <button mat-icon-button color="primary" [disabled]="product.applicationProductNameList.length == 1"
              (click)="confirmDeleteProductName(prodIndex, prodNameIndex)" matTooltip="Delete Product Name">
              <mat-icon>delete_forever</mat-icon>
            </button>
          </div>
        </div>

      </div> <!-- ngFor product Name List -->

      <div class="form-row">
        <mat-form-field class="">
          <mat-label>Dosage From</mat-label>
          <mat-select matNativeControl [(ngModel)]="product.dosageForm" name="dosageForm">
            <mat-option *ngFor="let dosageForm of dosageFormList" [value]="dosageForm.value">
              {{dosageForm.display}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="">
          <mat-label>Route of Administration</mat-label>
          <mat-select matNativeControl [(ngModel)]="product.routeAdmin" name="routeAdmin">
            <mat-option *ngFor="let routeAdmin of routeAdminList" [value]="routeAdmin.value">
              {{routeAdmin.display}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="">
          <mat-label>Unit Of Presentation</mat-label>
          <mat-select matNativeControl [(ngModel)]="product.unitPresentation" name="unitPresentation">
            <mat-option *ngFor="let unitPresentation of unitPresentationList" [value]="unitPresentation.value">
              {{unitPresentation.display}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="">
          <input matInput placeholder="Amount" [(ngModel)]="product.amount" name="amount" />
        </mat-form-field>

        <mat-form-field class="">
          <mat-label>Unit</mat-label>
          <mat-select matNativeControl [(ngModel)]="product.unit" name="unit">
            <mat-option *ngFor="let unit of unitList" [value]="unit.value">
              {{unit.display}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- INGREDIENT -->
      <!--
      <div class="form-row">
        <app-ingredient-form [applicationIngredientList]="product.applicationIngredientList" [prodIndex]="prodIndex"></app-ingredient-form>
      </div>
    -->
    </fieldset>
    <br><br><br>
    <hr *ngIf="prodIndex > 0">
    <br>
  </div> <!-- Product repeat -->

</div>