<div class="">
  <br>
  <hr>
  <br>
  <span class="title1"></span>
  <span matBadge="{{application.applicationProductList.length}}" matBadgeOverlap="false">
    <span class="title1">PRODUCT</span>
  </span>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button mat-raised-button color="primary" (click)="addNewProduct()" matTooltip="Add New Product">
    <mat-icon svgIcon="add_circle_outline"></mat-icon>Add New
    Product
  </button>
  <br><br>

  <div *ngFor="let product of application.applicationProductList; let prodIndex = index">

    <fieldset class="border">
      <legend class="border">Product Details:&nbsp;<b><span class="colorgreen font17px">{{prodIndex + 1}}</span></b>
      </legend>

      <!-- PRODUCT NAME LIST -->
      <div *ngFor="let prodName of product.applicationProductNameList">

        <div class="form-row">
          <mat-form-field class="">
            <input matInput placeholder="Product Name" [(ngModel)]="prodName.productName" name="productName" />
          </mat-form-field>

          <mat-form-field class="">
            <mat-label>Product Name Type</mat-label>
            <mat-select matNativeControl [(ngModel)]="prodName.productNameType" name="productNameType">
              <mat-option *ngFor="let productNameType of productNameTypeList" [value]="productNameType.value">
                {{productNameType.display}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div> <!-- ngFor product Name List -->

      <div class="form-row">
        <mat-form-field class="">
          <mat-label>Dosage From</mat-label>
          <mat-select matNativeControl [(ngModel)]="product.dosageForm" name="dosageForm">
            <mat-option *ngFor="let dosageForm of dosageFormList" [value]="dosageForm.value">
              {{dosageForm.display}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="">
          <mat-label>Route of Administration</mat-label>
          <mat-select matNativeControl [(ngModel)]="product.routeAdmin" name="routeAdmin">
            <mat-option *ngFor="let routeAdmin of routeAdminList" [value]="routeAdmin.value">
              {{routeAdmin.display}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="">
          <mat-label>Unit Of Presentation</mat-label>
          <mat-select matNativeControl [(ngModel)]="product.unitPresentation" name="unitPresentation">
            <mat-option *ngFor="let unitPresentation of unitPresentationList" [value]="unitPresentation.value">
              {{unitPresentation.display}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="">
          <input matInput placeholder="Amount" [(ngModel)]="product.amount" name="amount" />
        </mat-form-field>

        <mat-form-field class="">
          <mat-label>Unit</mat-label>
          <mat-select matNativeControl [(ngModel)]="product.unit" name="unit">
            <mat-option *ngFor="let unit of unitList" [value]="unit.value">
              {{unit.display}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- INGREDIENT -->
      <div class="form-row">
        <app-ingredient-form [product]="product"></app-ingredient-form>
      </div>

    </fieldset>
    <br><br><br>
  </div> <!-- Product repeat -->

</div>