<div class="substance-selector-container">
  <!-- removed [label]="label || placeholder" from substance text search-->
  <app-substance-text-search
    [ngClass]="{ hidden: selectedSubstance }"
    (searchPerformed)="processSubstanceSearch($event)"
    [eventCategory]="eventCategory"
    [placeholder]="placeholder"
    [searchValue]="searchVal"
    source="form-search"
    >
  </app-substance-text-search>
  @if (previousSubstance) {
    <div class="undo">
      <button
        mat-icon-button
        (click)="revertEdit()"
        matTooltip="revert to previously selected"
        class="undo"
        >
        <mat-icon
          aria-label="Revert substance edit"
          [ngClass]="{ hidden: selectedSubstance }"
          svgIcon="undo"
        ></mat-icon>
      </button>
    </div>
  }

  @if (selectedSubstance) {
    <div class="selected-substance">
      @if (showOptions) {
        <div class="selected-substance-options">
          <button mat-mini-fab (click)="editSelectedSubstance()">
            <mat-icon
              aria-label="Edit Selected Substance"
              svgIcon="edit"
              matTooltip="change selection"
            ></mat-icon>
          </button>
          @if (selectedSubstance.uuid) {
            <a
              mat-mini-fab
              target="_blank"
              (click)="openInNewTab(selectedSubstance.uuid)"
              >
              <mat-icon
                aria-label="Open in new tab"
                svgIcon="open_in_new"
                matTooltip="view details in a new tab"
              ></mat-icon>
            </a>
          }
          <button mat-mini-fab (click)="delete()" matTooltip="delete" class="undo">
            <mat-icon aria-label="delete selection" svgIcon="cancel"></mat-icon>
          </button>
          <button
            mat-mini-fab
            (click)="StoreSelection()"
            matTooltip="Store as default relationship"
            class="undo"
            >
            <mat-icon
              aria-label="Store as default substance for relationship type"
              svgIcon="move_to_inbox"
            ></mat-icon>
          </button>
        </div>
      }
      <div class="section-header">{{ header }}</div>
      <div class="tile-title">
        @if (selectedSubstance.approvalID) {
          <span class="approval-id">
            {{ selectedSubstance.approvalID }}
          </span>
        }
        @if (selectedSubstance.$$tmpStructureId && selectedSubstance._name && !selectedSubstance.approvalID) {
          <span class="approval-id">
            Draft: {{selectedSubstance._name}}
          </span>
        }
      </div>
      <a class="zoom" (click)="openImageModal(substance)">
        <!-- Render structure for database substances using uuid -->
        @if (selectedSubstance.uuid && !hideImage && !selectedSubstance.$$tmpStructureId) {
          <img
            class="related-image"
            appSubstanceImage
            [entityId]="selectedSubstance.uuid"
            >
        }
        <!-- Render structure for draft substances using temporary interpreted structure id -->
        @if (selectedSubstance.$$tmpStructureId && !hideImage) {
          <img
            class="related-image"
            appSubstanceImage
            [entityId]="selectedSubstance.$$tmpStructureId"
            >
        }</a>
        <div class="name-div">
          @if (!selectedSubstance.$$tmpStructureId) {
            <span>
              <a
                target="_blank"
                class="name-link"
                (click)="openInNewTab(selectedSubstance.uuid)"
                matTooltip="view details in a new tab"
                >
                <span [innerHTML]="selectedSubstance._name"></span>
                <mat-icon
                  aria-label="Open in new tab"
                  class="new-tab"
                  svgIcon="open_in_new"
                ></mat-icon> </a
              ></span>
            }
            @if (errorMessage === 'Not in database') {
              <span class="code"
                ><br />NOT IN DATABASE</span
                >
              }
            </div>
            <div>
              <a class="under-link" (click)="!!editSelectedSubstance()"
                >Change Selection</a
                >
                <br />
              </div>
            </div>
          }
          @if (previousSubstance && !selectedSubstance) {
            <div>
              <a
                (click)="revertEdit()"
                style="color: #1565c0; font-weight: 550; margin-top: 5px"
                >Cancel and Revert</a
                >
              </div>
            }
            <div class="centered">
              <a
      style="
        color: #1565c0;
        font-weight: 550;
        margin-top: 3px;
        margin-right: 10px;
      "
                (click)="advanced('structure')"
                >Structure Search</a
                >
                <a
      style="
        color: #1565c0;
        font-weight: 550;
        margin-top: 3px;
        margin-right: 10px;
      "
                  (click)="advanced('name')"
                  >Name Search</a
                  >
                  @if (showDraftOption) {
                    <a
                      style="color: #1565c0; font-weight: 550; margin-top: 3px"
                      (click)="selectDraft()"
                      >Add Draft</a
                      >
                    }
                  </div>

                  @if (errorMessage === 'No substances found') {
                    <span class="code"
                      ><br />NO SUBSTANCES FOUND</span
                      >
                    }
                    <!-- Adding Edit, Register, and Structure links-->
                    @if (showMorelinks) {
                      <div class="divflex">
                        <!--
                        <div class="marginright10px" *ngIf="selectedSubstance && selectedSubstance.uuid">
                          <a style = "color: #1565c0;font-weight:550;text-decoration: underline" (click)="!!editSelectedSubstance()">Change Selection</a>
                        </div>
                        --->
                        @if (errorMessage) {
                          <div class="marginright10px">
                            <!-- Register Subtance -->
                            <a
                              (click)="registerNew()"
                              target="_blank"
                              matTooltip="Register New Substance"
                              >
                              <span class="font11px">Register New</span>
                            </a>
                          </div>
                        }
                      </div>
                    }
                  </div>
