<div class="substance-selector-container">
    <app-substance-text-search
      (searchPerformed)="processSubstanceSearch($event)" [eventCategory]="eventCategory"
      [placeholder]="placeholder" *ngIf="!selectedSubstance">
    </app-substance-text-search>
    <div class="selected-substance" *ngIf="selectedSubstance" (mouseenter)="showOptions = true" (mouseleave)="showOptions = false">
      <div class="selected-substance-options" *ngIf="showOptions">
        <button mat-mini-fab (click)="editSelectedSubstance()">
            <mat-icon aria-label="Edit Selected Substance" svgIcon="edit"></mat-icon>
        </button>
        <a mat-mini-fab target="_blank" [routerLink]="['/substances', selectedSubstance.uuid]">
            <mat-icon aria-label="Open in new tab" svgIcon="open_in_new"></mat-icon>
        </a>
      </div>
      <div class="section-header">{{header}}</div>
      <img [src]="substanceService.getSafeIconImgUrl(selectedSubstance)">
      <div>
        {{selectedSubstance._name}}
      </div>
    </div>
  </div>