<br>
<div *ngIf="assayScreening">
  <div *ngIf="assayScreening.id; else noRecord">
    <div class="details-container margintop90px">

      <mat-card class="bordergray">
        <mat-card-title>
          <div class="width650px margintop10px">
            In-vitro Pharmacology Assay Screening&nbsp;&nbsp;

            <!-- Edit GSRS record button -->
            <a [routerLink]="['/invitro-pharm', assayScreening.id, 'edit']" target="_blank" *ngIf="isAdmin"
              matTooltip='Edit GSRS In-vitro Pharmacology Record'>
              <mat-icon svgIcon="edit"></mat-icon>
            </a>&nbsp;&nbsp;

            <a color="primary" [href]="downloadJsonHref" (click)="saveJSON()" download="{{jsonFileName}}.json"
              matTooltip='Export Json'>
              <mat-icon svgIcon="get_app"></mat-icon>
            </a>&nbsp;&nbsp;&nbsp;
          </div>

          <div class="width50percent font11px margintop10px">
            <span class="colorgray">Created By:</span> {{assayScreening.createdBy}}&nbsp;&nbsp;&nbsp;
            <span class="colorgray">Create
              Date:</span>{{assayScreening.creationDate|date: 'MM/dd/yyyy hh:mm:ss a'}}&nbsp;&nbsp;&nbsp;
            <span class="colorgray">Modified By:</span> {{assayScreening.modifiedBy}}&nbsp;&nbsp;&nbsp;
            <span class="colorgray">Modify Date:</span> {{assayScreening.lastModifiedDate|date: 'MM/dd/yyyy hh:mm:ss
            a'}}
          </div>
        </mat-card-title>

        <mat-card-content>

          <!-- GENERAL INFORMATION Begin -->
          <br>
          <div class="margintop10px marginbottom30px">
            <table class="tableStyle">
              <tbody>
                <tr class="headerstyle2">
                  <td colspan="2"><span class="font20px">General Information</span></td>
                </tr>

                <tr>
                  <td class="fieldKey">Assay ID:</td>
                  <td>{{ assayScreening.assayId }}</td>
                </tr>

                <tr>
                  <td class="fieldKey">Assay Title:</td>
                  <td>{{ assayScreening.assayTitle }}</td>
                </tr>

                <tr>
                  <td class="fieldKey">Assay Format:</td>
                  <td>{{ assayScreening.assayFormat }}</td>
                </tr>

                <tr>
                  <td class="fieldKey">Study Type:</td>
                  <td>{{ assayScreening.studyType }}</td>
                </tr>

                <tr>
                  <td class="fieldKey">Bioassay Type:</td>
                  <td>{{ assayScreening.bioassayType }}</td>
                </tr>

                <tr>
                  <td class="fieldKey">Bioassay:</td>
                  <td>{{ assayScreening.bioassay }}</td>
                </tr>

                <tr>
                  <td class="fieldKey">Detection Method:</td>
                  <td>{{ assayScreening.detectionMethod }}</td>
                </tr>

                <tr>
                  <td class="fieldKey">Buffer Plasma Protein Concentration:</td>
                  <td>{{ assayScreening.bufferPlasmaProteinConcent }}</td>
                </tr>

                <tr>
                  <td class="fieldKey">Test Agent:</td>
                  <td>
                    <div *ngIf="assayScreening">
                      <span *ngIf="assayScreening">
                        <span class="colororange fontbold">{{ assayScreening.testAgent }}</span>
                      </span>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td class="fieldKey">Test Agent UNII:</td>
                  <td>
                    <div *ngIf="assayScreening.invitroTestCompound">
                      <div *ngIf="assayScreening.invitroTestCompound._testCompoundSubId; else noTestCompoundSubId">
                        <div class="divflex">
                          <div>
                            <a [routerLink]="['/substances', assayScreening.invitroTestCompound._testCompoundSubId]"
                              target="_blank">
                              <span class="">{{ assayScreening.invitroTestCompound.testCompoundUnii }}</span>
                            </a>
                          </div>
                          <div class="marginleft30px margintopneg10px width30px">
                            <a role="img" aria-label="substance image" class="zoom"
                              (click)="openImageModal(assayScreening.invitroTestCompound._testCompoundSubId)">
                              <img class="image-icon" appSubstanceImage size="90"
                                [entityId]="assayScreening.invitroTestCompound._testCompoundSubId">
                            </a>
                          </div>
                        </div>
                      </div>
                      <ng-template #noTestCompoundSubId>
                        {{ assayScreening.invitroTestCompound.testAgentUnii }}
                      </ng-template>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td class="fieldKey">Screening Concentration:</td>
                  <td>{{ assayScreening.screeningConcentration }}</td>
                </tr>

                <tr>
                  <td class="fieldKey">Screening Concentration Unit:</td>
                  <td>{{ assayScreening.screeningConcentrationUnit }}</td>
                </tr>

                <tr>
                  <td class="fieldKey">Percent Inhibition:</td>
                  <td>{{ assayScreening.percentInhibition }}</td>
                </tr>

                <tr>
                  <td class="fieldKey">Purity:</td>
                  <td>{{ assayScreening.purity }}</td>
                </tr>

                <tr>
                  <td class="fieldKey">Batch Number:</td>
                  <td>{{ assayScreening.batchNumber }}</td>
                </tr>

                <tr>
                  <td class="fieldKey">Report Date:</td>
                  <td>{{ assayScreening.reportDate | date: 'MM/dd/yyyy' }}</td>
                </tr>

                <tr>
                  <td class="fieldKey">Form Received:</td>
                  <td>{{ assayScreening.formReceived }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- Display Assay Details End -->


          <!-- ASSAY Details Begin -->
          <div class="margintop30px marginbottom30px">
            <table class="tableStyle">
              <tbody>
                <tr class="headerstyle2">
                  <td colspan="2"><span class="font20px">Assay Information</span></td>
                </tr>

                <tr>
                  <td class="fieldKey">Relationship Type:</td>
                  <td>
                    <div *ngIf="assayScreening.invitroTestCompound">
                      <div *ngIf="assayScreening.invitroTestCompound.invitroRelationships.length > 0">
                          <div *ngFor="let rel of assayScreening.invitroTestCompound.invitroRelationships">
                            {{rel.relationshipType}}
                          </div>
                      </div>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td class="fieldKey">Assay Type:</td>
                  <td>{{ assayScreening.assayType }}</td>
                </tr>

                <tr>
                  <td class="fieldKey">Assay Target:</td>
                  <td><span class="colororange fontbold">{{ assayScreening.assayTarget }}</span></td>
                </tr>

                <tr>
                  <td class="fieldKey">Assay Target UNII:</td>
                  <td>
                    <div *ngIf="assayTargetSubId; else noAssayTargetSubId">
                      <div class="divflex">
                        <div>
                          <a [routerLink]="['/substances', assayTargetSubId]" target="_blank">
                            <span class="">{{ assayScreening.assayTargetUnii }}</span>
                          </a>
                        </div>
                        <div class="marginleft30px margintopneg10px width30px">
                          <a role="img" aria-label="substance image" class="zoom"
                            (click)="openImageModal(assayTargetSubId)">
                            <img class="image-icon" appSubstanceImage size="90" [entityId]="assayTargetSubId">
                          </a>
                        </div>
                      </div>
                    </div>
                    <ng-template #noAssayTargetSubId>
                      {{ assayScreening.assayTargetUnii }}
                    </ng-template>
                  </td>
                </tr>

                <tr>
                  <td class="fieldKey">Ligand/Substrate:</td>
                  <td><span class="colororange fontbold">{{ assayScreening.ligandSubstrate }}</span></td>
                </tr>

                <tr>
                  <td class="fieldKey">Ligand/Substrate UNII:</td>
                  <td>
                    <div *ngIf="ligandSubId; else noLigandSubId">
                      <div class="divflex">
                        <div>
                          <a [routerLink]="['/substances', ligandSubId]" target="_blank">
                            <span class="">{{ assayScreening.ligandSubstrateUnii }}</span>
                          </a>
                        </div>
                        <div class="marginleft30px margintopneg10px width30px">
                          <a role="img" aria-label="substance image" class="zoom" (click)="openImageModal(ligandSubId)">
                            <img class="image-icon" appSubstanceImage size="90" [entityId]="ligandSubId">
                          </a>
                        </div>
                      </div>
                    </div>
                    <ng-template #noLigandSubId>
                      {{ assayScreening.ligandSubstrateUnii }}
                    </ng-template>
                  </td>
                </tr>

                <tr>
                  <td class="fieldKey">Ligand/Substrate Concentration:</td>
                  <td>{{ assayScreening.ligandSubstrateConcentration }}</td>
                </tr>

                <tr>
                  <td class="fieldKey">Ligand/Substrate Concentration Unit:</td>
                  <td>{{ assayScreening.ligandSubstrateConcentrationUnit }}</td>
                </tr>

                <tr>
                  <td class="fieldKey">Control:</td>
                  <td><span class="colororange fontbold">{{ assayScreening.control }}</span></td>
                </tr>

                <tr>
                  <td class="fieldKey">Control UNII:</td>
                  <td>
                    <div *ngIf="controlSubId; else noControlSubId">
                      <div class="divflex">
                        <div>
                          <a [routerLink]="['/substances', controlSubId]" target="_blank">
                            <span class="">{{ assayScreening.controlUnii }}</span>
                          </a>
                        </div>
                        <div class="marginleft30px margintopneg10px width30px">
                          <a role="img" aria-label="substance image" class="zoom"
                            (click)="openImageModal(controlSubId)">
                            <img class="image-icon" appSubstanceImage size="90" [entityId]="controlSubId">
                          </a>
                        </div>
                      </div>
                    </div>
                    <ng-template #noControlSubId>
                      {{ assayScreening.controlUnii }}
                    </ng-template>
                  </td>
                </tr>

                <tr>
                  <td class="fieldKey">Control Type:</td>
                  <td>{{ assayScreening.controlType }}</td>
                </tr>

                <tr>
                  <td class="fieldKey">Value Type:</td>
                  <td>{{ assayScreening.valueType }}</td>
                </tr>

                <tr>
                  <td class="fieldKey">Control Reference Value:</td>
                  <td>{{ assayScreening.controlReferenceValue }}</td>
                </tr>

                <tr>
                  <td class="fieldKey">Value Low:</td>
                  <td>{{ assayScreening.valueLow }}</td>
                </tr>

                <tr>
                  <td class="fieldKey">Value High:</td>
                  <td>{{ assayScreening.valueHigh }}</td>
                </tr>

                <tr>
                  <td class="fieldKey">Control Reference Unit:</td>
                  <td>{{ assayScreening.controlReferenceUnit }}</td>
                </tr>

                <tr>
                  <td class="fieldKey">Test Value Type:</td>
                  <td>{{ assayScreening.testValueType }}</td>
                </tr>

                <tr>
                  <td class="fieldKey">Test Value:</td>
                  <td>{{ assayScreening.testValue }}</td>
                </tr>

                <tr>
                  <td class="fieldKey">Test Value Unit:</td>
                  <td>{{ assayScreening.testValueUnit }}</td>
                </tr>

                <tr>
                  <td class="fieldKey">Presentation Type:</td>
                  <td>{{ assayScreening.presentationType }}</td>
                </tr>

                <tr>
                  <td class="fieldKey">Presentation:</td>
                  <td>{{ assayScreening.presentation }}</td>
                </tr>

                <tr>
                  <td class="fieldKey">Comments:</td>
                  <td>{{ assayScreening.comments }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- Display Assay Details End -->


          <!-- REFERENCES Begin -->
          <div class="margintop30px marginbottom30px">
            <table class="tableStyle">
              <tbody>
                <tr class="headerstyle2">
                  <td colspan="2"><span class="font20px">References</span></td>
                </tr>

                <tr>
                  <td class="fieldKey">Reference Source Type:</td>
                  <td>{{ assayScreening.referenceSourceType }}</td>
                </tr>

                <tr>
                  <td class="fieldKey">Reference Source ID:</td>
                  <td>{{ assayScreening.referenceSourceId }}</td>
                </tr>

                <tr>
                  <td class="fieldKey">Reference Source Url:</td>
                  <td>
                    <span *ngIf="assayScreening.referenceSourceUrl">
                      <a href="{{assayScreening.referenceSourceUrl}}" target="_blank">
                        {{assayScreening.referenceSourceUrl}}
                      </a>
                    </span>
                  </td>
                </tr>

                <tr>
                  <td class="fieldKey">External Assay ID:</td>
                  <td>{{ assayScreening.externalAssayId }}</td>
                </tr>

                <tr>
                  <td class="fieldKey">External Source:</td>
                  <td>{{ assayScreening.externalSource }}</td>
                </tr>

                <tr>
                  <td class="fieldKey">External Reference:</td>
                  <td>
                    <a href="{{ assayScreening.externalReference }}" target="_blank">
                      {{ assayScreening.externalReference }}
                    </a>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
          <!-- REFERENCES End -->


          <!-- SPONSOR Begin -->
          <div class="margintop30px marginbottom30px" *ngIf="assayScreening.invitroSponsor">
            <table class="tableStyle">
              <tbody>
                <tr class="headerstyle2">
                  <td colspan="2"><span class="font20px">Sponsor Information</span></td>
                </tr>

                <tr>
                  <td class="fieldKey">Sponsor Report Submitter Name:</td>
                  <td>{{ assayScreening.invitroSponsor.approverName }}</td>
                </tr>

                <tr>
                  <td class="fieldKey">Sponsor Report Submitter Title:</td>
                  <td>{{ assayScreening.invitroSponsor.sponsorTitle }}</td>
                </tr>

                <tr>
                  <td class="fieldKey">Sponsor Report Submitter Affiliation:</td>
                  <td>{{ assayScreening.invitroSponsor.sponsorAffiliation }}</td>
                </tr>

                <tr>
                  <td class="fieldKey">Sponsor Report Submitter Email:</td>
                  <td>{{ assayScreening.invitroSponsor.sponsorEmail }}</td>
                </tr>

                <tr>
                  <td class="fieldKey">Sponsor Report Submitter Phone Number:</td>
                  <td>{{ assayScreening.invitroSponsor.sponsorPhoneNumber }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- Sponsor End -->


          <!-- LABORATORY Begin -->
          <div class="margintop30px marginbottom30px" *ngIf="assayScreening.invitroLaboratory">
            <table class="tableStyle">
              <tbody>
                <tr class="headerstyle2">
                  <td colspan="2"><span class="font20px">Laboratory Information</span></td>
                </tr>

                <tr>
                  <td class="fieldKey">Laboratory Name:</td>
                  <td>{{ assayScreening.invitroLaboratory.laboratoryName }}</td>
                </tr>

                <tr>
                  <td class="fieldKey">Laboratory Type:</td>
                  <td>{{ assayScreening.invitroLaboratory.laboratoryType }}</td>
                </tr>

                <tr>
                  <td class="fieldKey">Laboratory Affiliation:</td>
                  <td>{{ assayScreening.invitroLaboratory.laboratoryAffiliation }}</td>
                </tr>

                <tr>
                  <td class="fieldKey">Laboratory Address:</td>
                  <td>{{ assayScreening.invitroLaboratory.laboratoryAddress }}</td>
                </tr>

                <tr>
                  <td class="fieldKey">City:</td>
                  <td>{{ assayScreening.invitroLaboratory.laboratoryCity }}</td>
                </tr>

                <tr>
                  <td class="fieldKey">State:</td>
                  <td>{{ assayScreening.invitroLaboratory.laboratoryState }}</td>
                </tr>

                <tr>
                  <td class="fieldKey">Zipcode:</td>
                  <td>{{ assayScreening.invitroLaboratory.laboratoryZipcode }}</td>
                </tr>

                <tr>
                  <td class="fieldKey">Country:</td>
                  <td>{{ assayScreening.invitroLaboratory.laboratoryCountry }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- LABORATORY End -->

        </mat-card-content>
      </mat-card>

    </div>
    <br><br><br><br>
  </div>
  <ng-template #noRecord>
    <br><br><br><br>
    <div class="colororange padtop50px padleft50px">There is no Assay Screening Data found.</div>
  </ng-template>

</div>