.user-container {
  display: flex;
  flex-direction: row;
}

.password-column {
  display: flex;
  flex-direction: column;
}

.loading-container {
  height: 200px;
  margin: auto;
}

.form-row {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-bottom: 15px;

  .username {
    width: 35%;
  }
  .email {
    width: 45%;
  }
  .active {
    width: 20%;
  }
}

.user-field {
  width: 90%;
}

.groups-group {
  width: 70%;
}

.roles-group {
  width: 30%;
}

.group-field {
  width: 90%;
  margin-top: 5px;
}


.message {
  margin: auto;
  text-align: center;
  padding: 10px;
}

.error-msg {
  background: var(--accent-warning);
  color: var(--surface-card);
  border: 1px solid var(--text-strong);
}

.box-label {
  padding-bottom: 10px;
}


::ng-deep .mdc-label {
  word-break: break-word !important;
  white-space: initial !important;
}

.group-checkbox {
  margin-bottom: -8px;

  mat-checkbox {
    --mdc-checkbox-state-layer-size: 32px;
  }
}

.submitted-container {
  height: 200px;
  vertical-align: middle;
  text-align: center;
  display: flex;
}

.submit-message {
  margin: auto;
  font-size: 20px;
}

.radio-item {
  display: block !important;  // Override Material inline flex
  margin-bottom: 8px;
}