.wrapper-container {
    padding: 10px;
    margin-top: 60px;
    margin-left: 30px; 
    margin-right: 30px;
    margin-bottom: 30px;
}
.json-add-form-field { 
    width: 100%;
    min-height: 40px; 
}
.clinical-trial-action-button { 
    margin-right: 10px;
}