.details-container {
  width: 100%;
}

.details-box {
  max-width: 1028px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  width: 100%;
}

.row {
  width: 100%;
}

.divflexrow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.divflexend {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.flex-column {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  text-align: left;
}

.col-4-1 {
  width: calc((100% - 20px * 3) / 4);   // 4 columns in each row
  margin-right: 20px;
}

.col-4-1:last-child {
  margin-right: 0px;
}

.col-half-4 {
  width: calc((100% - 20px * 7) / 8);
  margin-right: 20px;
}

.col-half-4:last-child {
  margin-right: 0px;
}

.col-4-2 {
  width: calc((100% - 20px * 1) / 2);  // 2 columns in each row
  margin-right: 20px;
}

.col-4-2:last-child {
  margin-right: 0px;
}

.col-half-4 {
  width: calc((100% - 20px * 7) / 8);
  margin-right: 20px;
}

.col-half-4:last-child {
  margin-right: 0px;
}

.col-1-5 {
  width: calc((100% - 20px * 4) / 5);
  margin-right: 20px;
}

.col-1-5:last-child {
  margin-right: 0px;
}

.bordergray {
  border: 1px solid var(--regular-grey-color);
}

.bordergreen {
  border: 1px solid var(--regular-green-color);
}

.margintopminus25 {
  margin-top: -25px;
}

.margintop10px {
  margin-top: 10px;
}

.margintop20px {
  margin-top: 20px;
}

.margintop30px {
  margin-top: 30px;
}

.maringright10px {
  margin-right: 10px;
}

.marginbottomminus12px {
  margin-bottom: -12px;
}

.pad10px {
  padding: 10px;
}

.padleft220px {
  padding-left: 220px;
}

.padbottom0px {
  padding: 0px;
}

.font11px {
  font-size: 11px;
}

.font12px {
  font-size: 12px;
}

.font17px {
  font-size: 17px;
}

.colorgreen {
  color: var(--regular-green-color);
}

.colorred {
  color: var(--regular-red-color);
}

.colororange {
  color: var(--orange-color-2);
}

.colormaroon {
  color: var(--regular-maroon-color);
}

.colorgray {
  color: var(--regular-grey-color);
}

.fontfamilyhelvetica {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.width40px {
  width: 40px;
}

.textalignright {
  text-align: right;
}

.titlegreen {
  color: var(--regular-green-color);
  font-size: 17px;
  font-weight: 500;
}

.titleorange {
  color: var(--regular-orangered-color);
  font-size: 17px;
  font-weight: 500;
}

.formfieldwidth {
  width: 160px !important;
}

.formfield2columnwidth {
  /* flex: 1; */
  width: 370px !important;
}

.formfield3columnwidth {
  width: 540px !important;
}

.formfieldfullpagewidth {
  width: 900px;
}

.prodNameField {
  width: calc((100% - 100px) / (5/4));
  margin-right: 30px;
}

.displayinlineblock {
  display: inline-block;
}

hr {
  border: none;
  border-top: 3px dotted var(--regular-green-color);
  color: var(--hr-color);
  overflow: visible;
  text-align: center;
  height: 5px;
}

.disabled {
  cursor: not-allowed;
}

.related-substance {
  max-width: 25%;
  width: 25%;
}

fieldset.border {
  border: solid 1px var(--orange-color-rgb-2) !important;
  padding: 0 10px 10px 10px;
  border-bottom: none;
  border-radius: 8px;
  min-width: 0;
  /* override the default value of min-content */
  -webkit-box-shadow: 3px 6px 11px 1px var(--fieldset-box-shadow-color);
  -moz-box-shadow: 3px 6px 11px 1px var(--fieldset-box-shadow-color);
  box-shadow: 3px 4px 5px 1px var(--fieldset-box-shadow-color);
}

legend.border {
  width: auto !important;
  border: none;
  border-bottom: none;
  font-size: 13px;
  color: var(--legend-blue-border-color);
  font-family: Verdana;
  font-weight: bold;
  margin-bottom: 10px;
}

::ng-deep .selected-substance {
  display: flex;
  flex-direction: column;
  text-align: left !important;
  position: relative;

  img {
    width: 100%;
    height: auto;
    display: block;
    max-width: 200px;
  }
}
