<!-- [ngClass]="{'bordergreen': showAdvancedSettings === true}"> -->
<div class="form-container">
  @if (showAdvancedSettings) {
    <div class="divflexright">
      <button
        mat-stroked-button
        color="primary"
        class="button-delete"
        matTooltip="Delete Site {{ siteIndex + 1 }}"
        (click)="confirmDeleteSite()"
        >
        <mat-icon svgIcon="delete_forever"></mat-icon>Delete Site
        {{ siteIndex + 1 }}
      </button>
    </div>
  }

  <div class="form-row">
    @if (
      configSettingsDisplay['siteName'] ||
      (configSettingsDisplay['siteName'] === undefined &&
      showAdvancedSettings)
      ) {
      <mat-form-field
        class="col-4-1"
        >
        <mat-label>Site Name</mat-label>
        <input matInput [(ngModel)]="site.siteName" name="site.siteName" />
      </mat-form-field>
    }

    @if (
      configSettingsDisplay['siteIdType'] ||
      (configSettingsDisplay['siteIdType'] === undefined &&
      showAdvancedSettings)
      ) {
      <app-cv-input
        class="col-4-1"
        domain="SSG_SITE_ID_TYPE"
        title="Site ID Type"
        name="siteIdType"
        [model]="site.siteIdType"
        (valueChange)="site.siteIdType = $event"
        >
      </app-cv-input>
    }

    @if (
      configSettingsDisplay['siteId'] ||
      (configSettingsDisplay['siteId'] === undefined && showAdvancedSettings)
      ) {
      <mat-form-field
        class="col-4-1"
        >
        <mat-label>Site ID</mat-label>
        <input matInput [(ngModel)]="site.siteId" name="site.siteId" />
      </mat-form-field>
    }

    @if (
      configSettingsDisplay['siteClearance'] ||
      (configSettingsDisplay['siteClearance'] === undefined &&
      showAdvancedSettings)
      ) {
      <app-cv-input
        class="col-4-1"
        domain="SSG_SITE_CLEARANCE"
        title="Site Clearance"
        name="siteClearance"
        [model]="site.siteClearance"
        (valueChange)="site.siteClearance = $event"
        >
      </app-cv-input>
    }
  </div>
  <!-- form row -->

  <div class="form-row">
    @if (
      configSettingsDisplay['siteAddress'] ||
      (configSettingsDisplay['siteAddress'] === undefined &&
      showAdvancedSettings)
      ) {
      <mat-form-field
        class="col-4-1"
        >
        <mat-label>Site Address</mat-label>
        <input matInput [(ngModel)]="site.siteAddress" name="site.siteAddress" />
      </mat-form-field>
    }

    @if (
      configSettingsDisplay['siteGPSLatitude'] ||
      (configSettingsDisplay['siteGPSLatitude'] === undefined &&
      showAdvancedSettings)
      ) {
      <mat-form-field
        class="col-4-1"
        >
        <mat-label>Site GPS Latitude</mat-label>
        <input
          matInput
          [(ngModel)]="site.siteGPSLatitude"
          name="site.siteGPSLatitude"
          />
      </mat-form-field>
    }

    @if (
      configSettingsDisplay['siteGPSLongitude'] ||
      (configSettingsDisplay['siteGPSLongitude'] === undefined &&
      showAdvancedSettings)
      ) {
      <mat-form-field
        class="col-4-1"
        >
        <mat-label>Site GPS Longitude</mat-label>
        <input
          matInput
          [(ngModel)]="site.siteGPSLongitude"
          name="site.siteGPSLongitude"
          />
      </mat-form-field>
    }

    @if (
      configSettingsDisplay['siteGPSElevation'] ||
      (configSettingsDisplay['siteGPSElevation'] === undefined &&
      showAdvancedSettings)
      ) {
      <mat-form-field
        class="col-4-1"
        >
        <mat-label>Site GPS Elevation</mat-label>
        <input
          matInput
          [(ngModel)]="site.siteGPSElevation"
          name="site.siteGPSElevation"
          />
      </mat-form-field>
    }
  </div>
  <!-- form row -->

  <div class="form-row">
    @if (
      configSettingsDisplay['companyName'] ||
      (configSettingsDisplay['companyName'] === undefined && true)
      ) {
      <mat-form-field
        class="col-4-1"
        >
        <mat-label>Company Name</mat-label>
        <input matInput [(ngModel)]="site.companyName" name="site.companyName" />
      </mat-form-field>
    }

    @if (
      configSettingsDisplay['companyId'] ||
      (configSettingsDisplay['companyId'] === undefined && true)
      ) {
      <mat-form-field
        class="col-4-1"
        >
        <mat-label>Company ID</mat-label>
        <input matInput [(ngModel)]="site.companyId" name="site.companyId" />
      </mat-form-field>
    }

    @if (
      configSettingsDisplay['companyIdType'] ||
      (configSettingsDisplay['companyIdType'] === undefined && true)
      ) {
      <app-cv-input
        class="col-4-1"
        domain="SSG_COMPANY_ID_TYPE"
        title="Company ID Type"
        [model]="site.companyIdType"
        (valueChange)="updateCompanyIdType($event)"
        >
      </app-cv-input>
    }

    @if (
      configSettingsDisplay['siteComments'] ||
      (configSettingsDisplay['siteComments'] === undefined &&
      showAdvancedSettings)
      ) {
      <mat-form-field
        class="col-4-1"
        >
        <mat-label>Comments</mat-label>
        <textarea
          matInput
          [(ngModel)]="site.siteComments"
          name="site.siteComments"
          rows="1"
        ></textarea>
      </mat-form-field>
    }
  </div>

  <!-- STAGES LIST BEGIN -->
  <div>
    @for (stage of site.stages; track stage; let stageIndex = $index) {
      <div
        class="marginbottom30px margintop15px"
        >
        <fieldset class="border">
          <legend class="border">
            {{ configTitleStage }}&nbsp;
            @if (site.stages.length > 0) {
              <span>
                <b>{{ stageIndex + 1 }} of {{ site.stages.length }}</b>
                &nbsp;&nbsp;
              </span>
            }
            <button class="buttonstyle" mat-button (click)="showSchemePreview()">
              Step View
            </button>
          </legend>
          <app-ssg4m-stages-form
            [stage]="stage"
            [processIndex]="processIndex"
            [siteIndex]="siteIndex"
            [stageIndex]="stageIndex"
            [showAdvancedSettings]="showAdvancedSettings"
            [tabSelectedView]="tabSelectedView"
            >
          </app-ssg4m-stages-form>
          <!-- Another Add Button-->
          <div class="divflex">
            <span class="middle-fill"></span>
            <button
              mat-stroked-button
              color="primary"
              class="button-add"
              (click)="addStage(processIndex, siteIndex)"
              >
              <mat-icon svgIcon="add_circle_outline"></mat-icon>Add
              {{ configTitleStage }}
            </button>
          </div>
        </fieldset>
      </div>
    }
    <!-- for Loop -->
    <!-- STAGES LIST END -->

    @if (site.stages && site.stages.length === 0) {
      <div class="divflexright">
        <span class="middle-fill"></span>
        <button
          mat-stroked-button
          color="primary"
          class=""
          (click)="addStage(processIndex, siteIndex)"
          >
          <mat-icon svgIcon="add_circle_outline"></mat-icon>Add
          {{ configTitleStage }}
        </button>
      </div>
    }
  </div>
</div>
