@import '~@angular/material/theming';

.main-notification {
    width: 100%;
    text-align: center;
    position: fixed;
    z-index: 100;
    transition: all 200ms ease;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px;
    font-weight: 500;
    top: 64px;

    &.hidden {
        height: 0;
        padding: 0;
    }
    
    &.showing {
        height: auto;
        box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14);
    }

    &.default {
        background-color: var(--link-primary-color);
        color: var(--regular-white-color);
    }

    &.success {
        background-color: var(--notif-success-bg-color);
        color: var(dark-grey-color);
    }

    &.error {
        background-color: var(--notif-error-bg-color);
        color: var(--regular-black-color);
    }
}
