.form-row {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: flex-end;

    .amount-type, .amount-average, .low, .high,
    .low-limit, .high-limit, .amount-units, .non-numeric-value {
        flex-grow: 1;
        padding-right: 15px;
    }

    .amount-type {
        width: 125px;
    }

    .amount-units {
        width: 110px;
    }

    .amount-average, .low, .high,
    .low-limit, .high-limit {
        width: 70px;
    }

    .non-numeric-value {
        width: 90px;
    }

    .jurisdiction {
        flex-grow: 1;
    }
}

.risen {
  margin-top: -15px;
}

.deselect {
    color: var(--text-color);
  }

.other-container {
  display: flex;
  flex-direction:column;
}

.custom {
  border-bottom: 1px solid var(--box-shadow-color-4);

}
.amount-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.right {
    float: right;
}
