.form-row {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: flex-start;

  .amount-type,
  .amount-average,
  .low,
  .high,
  .low-limit,
  .high-limit,
  .amount-units,
  .non-numeric-value {
    flex-grow: 1;
    padding-right: 15px;
  }

  .amount-type {
    width: 180px;
  }

  .amount-units {
    width: 180px;
  }

  .amount-average,
  .low,
  .high,
  .low-limit,
  .high-limit {
    width: 70px;
  }

  .non-numeric-value {
    width: 90px;
  }

  .jurisdiction {
    flex-grow: 1;
  }
}

.deselect {
  color: var(--text-color);
}

.other-container {
  display: flex;
  flex-direction: column;
}

.custom {
  //   padding-top: 10px;
  //   mat-form-field {
  //     width: 100%;
  //   }
}
.amount-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.right {
  float: right;
}
