.content-container { 
    width: 100%;
    bottom: 0px;
    position: fixed;
    height: 100px;
    background: #4793d1;
    color: #fff;
    padding: 10px;
    overflow: scroll;
}

.footer-row { 
    margin-top: 3px;
    display: flex;
    width: 100%;
    color: WhiteSmoke;
    justify-content: center;
}

.footer-row a {
    color: WhiteSmoke;
    text-decoration: none;
    padding-left: 3px;
    padding-right: 3px;
}


