.content-container { 
    width: 100%;
    bottom: 0px;
    position: fixed;
    height: 100px;
    background: #4793d1;
    color: #fff;
    padding: 10px;
    overflow: scroll;
    border: 1px solid red;
}

.footer-row { 
    margin-top: 3px;
    display: flex;
    width: 100%;
    color: WhiteSmoke;
    justify-content: center;
}


.footer-row a {
    color: WhiteSmoke;
    text-decoration: none;
}

@media (max-width:800px) {
.parent-nf { 
    flex: none;
    display: block;
    width: 100%;
}
.separator {
    display: none;
}
.link {
    flex: none;
    display: block;
    width: 100%;
    text-align: center;
}
.fragment {
    flex: none;
    display: block;
    width: 100%;
    text-align: center;
}

}
