<div class="flex-row">
  <mat-form-field [floatLabel]="'never'" class="search" *ngIf="relationships && relationships.length > pageSize">
    <input matInput placeholder="Search" [formControl]="searchControl">
  </mat-form-field>
  <span class="middle-fill"></span>
  <!-- <button mat-button (click)="addRelationship()">
    Add relationship <mat-icon svgIcon="add_circle_outline"></mat-icon>
  </button> -->
</div>
<mat-paginator *ngIf="relationships && relationships.length > 5" [length]="filtered && filtered.length || 0" [pageIndex]="page" [pageSize]="5" showFirstLastButtons="true"
    (page)="pageChange($event, analyticsEventCategory)" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
<div class="relationship" *ngFor="let relationship of paged; last as isLast; index as index" appScrollToTarget
  [id]="'substance-relationship-' + index">
  <app-relationship-form [relationship]="relationship" (relationshipDeleted)="deleteRelationship($event)">
  </app-relationship-form>
  <mat-divider class="form-divider" [inset]="true" *ngIf="!isLast"></mat-divider>
</div>
<mat-paginator *ngIf="relationships && relationships.length > 5" [length]="filtered && filtered.length || 0" [pageIndex]="page" [pageSize]="5" showFirstLastButtons="true"
  (page)="pageChange($event, analyticsEventCategory)" [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>