.middle-content-container {
    display: flex;
    justify-content: center;
    padding-top: 0px;
    margin-top: 75px;
}

.button-container {
  display:flex;
  justify-content: center;
  margin-top: 15px;
}

.custom-column {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.search-section {
    margin: 0 20px 0 20px;
    width: 300px;
}

.entry2 {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.label2 {
    width: 75%;
}

.value2 {
    width:25%;
}

.register-section {
    margin: 0 20px 0 10px;
    width: auto;
}

.register-header {
  font-size: 16px;
  font-weight: 400;
}

.register-card-content {
    display: flex;

    .register-other {
        margin-top: 10px;
        margin-left: 20px;
    }

  .register-main {
    margin-top: 10px;
    margin-right: 20px;
    min-width: 275px;
    margin-left: 10px;

    .main-list, .other-list {
      padding-top: 0px;
    }
  }
}

.old-icon {
  height: 28px;
  width: 30px;
  padding-right: 7px;
  margin-bottom: -5px;
}

.divider-vertical {
  margin-top: 65px;
}

.left-search {
  margin-top: 10px;
}

.shrunken-icon {
  width: 20px;
  padding-left: 5px;
}

.closed-welcome-padding {
  height:60px !important;
  width:100%;
}

.mat-list-base {
    position: relative;
}

.subtest {
  position: relative !important;
  padding: 2px;
}
a.mat-list-item {
    color: #1565c0;
}

.mat-list-base .mat-list-item .mat-list-icon {
    color: rgba(0, 0, 0, 0.87);
}

.mat-list-base .mat-list-item.mat-list-item-with-avatar {
    height: 48px !important;
}
.big-button {
  font-size: 19px !important;
  color: white !important;
  background-color: #4793d1 !important;
  padding: 3px 14px !important;
}

.button-container {
  margin-left:auto;
  margin-right: auto;
  margin-top: 15px;

  .big-button {
    font-size: 19px !important;
    color: white !important;
    background-color: #4793d1 !important;
    padding: 3px 14px !important;
  }
}

.welcome-banner {
    margin-top: 75px;

    .close-container {
      display: flex;
      justify-content: flex-end;
      color: #296ca3;
    }
  }


mat-list-item {
  height: 52px;
}

.home-card {
  margin-bottom: 15px;
}

.padding {
  padding-bottom: 5px;
  padding-bottom: 5px;
  margin-left: 61px;
  width: 90% !important;
}

.home {
  font-weight: 500;
  font-size: 27px;
  color: #4793d1;
}

.spaced {
  padding:5px;
}

.main-search {
  margin-left: 10%;
  margin-right: 10%;
  max-width: 100%;
  min-width: 80%;
}



.row {
  line-height: 24px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.flex-row {
  display: flex;
  width:100%;
  flex-direction: row;

  .equal-width {
      flex: 1 0 0;
  }
}

.label {
  min-width: 250px;
}
.value {
  min-width: 50px;
}

.data {
  margin: auto;
  font-weight:550;
  font-size: 20px;
    padding: 10px;
    padding-bottom: 15px;

}



.main-container {
  display: flex;
  flex-direction: row;
}

.main-page {
  margin: auto;
}

.side-bar {
  width: 350px;
  margin-top: 75px;
  padding: 0px;

}

.img-container {
  padding-left: 30px;
}

.divide-test {
  padding: 4px;
  position: relative !important;
}

.test {
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.custom-wrap:hover {
  text-decoration: underline;
  background-color: rgba(94, 145, 186, 0.2);
  cursor: pointer;
}

.custom-wrap {
}

.custom-header {
    margin-top: 32px;
}

.entry {
  color:#1565c0;
  display: flex;
  padding:5px;
  margin: auto;
}

.entry:hover {
 /* text-decoration: underline;
  background-color: rgba(94, 145, 186, 0.2);
  cursor: pointer;*/
}

.entry:hover div {
  text-decoration: underline;
  /*background-color: rgba(94, 145, 186, 0.2);*/
}

.half-column {
  width:28%;
display:flex;
flex-direction: column;
font-size: 18px;




  color {
    color:#1565c0;
  }
}
.even {
  flex-direction: row;
  flex-grow: 1;
}

.third {
  width: 33%;
  margin-bottom:20px;
}

.img-responsive {
  height: 170px;
}

.para {
  margin-top:10px;
  margin-bottom: 10px;
}