<div class="link-form-container" [formGroup]="testForm">
  @if (link.$$deletedCode) {
    <div class="notification-backdrop">
      Deleted&nbsp;
      <button mat-icon-button matTooltip="Undo" (click)="undoDelete()">
        <mat-icon svgIcon="undo"></mat-icon>
      </button>
    </div>
  }
  <div class="form-row">
    <div class="delete-container">
      <button mat-icon-button matTooltip="Delete link" (click)="deleteLink()">
        <mat-icon svgIcon="delete_forever"></mat-icon>
      </button>
    </div>
    @for (site of link.sites; track site; let index = $index) {
      <div class="sites">
        <mat-form-field class="site">
          <mat-label>{{ index === 0 ? "To" : "From" }}</mat-label>
          <mat-select
            [formControlName]="'site' + index"
            [compareWith]="compareSites"
            (selectionChange)="updateSuggestions($event.value, index)"
            class="site-select"
            [panelWidth]="null"
            >
            @for (cys of cysteine; track cys) {
              <mat-option [value]="cys">
                {{ cys.subunitIndex }}_{{ cys.residueIndex }}
              </mat-option>
            }
            <mat-option [value]="site">
              {{ site.subunitIndex }}_{{ site.residueIndex }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    }

    <button
      mat-icon-button
      matTooltip="Select from sequence view"
      (click)="openDialog()"
      >
      <mat-icon svgIcon="edit"></mat-icon>
    </button>
  </div>
</div>
