@use "../../../styles/variables" as *;

.version {
  color: var(--version-text-color);
  font-size: 10pt;
  line-height: 10px;
  text-align: right;
  padding-top: 4px;
  margin-right: -5px;
  margin-bottom: -4px;
}
.logo-container {
  display: flex;
  flex-direction: column;
  max-width: 160px;
  margin-right: 20px;
}

.tooltiptest {
  z-index: 9999 !important;
  background: #b71c1c;
}

.user {
  font-size: 12px;
  letter-spacing: 0.4px;
  color: var(--regular-white-color);
  white-space: nowrap;
}
.arrow-button {
  margin-left: -13px !important;
  height: 25px !important;
  width: 25px !important;
}

button.mat-mdc-button.top-button {
  --button-icon-svg-size: 100%;

  font-size: 16px;
        color: white;
        padding-right: 10px;
        margin-right: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
}
::ng-deep button.mat-mdc-button.top-button:hover {
    background-color: rgb(71, 147, 209) !important;
  }

.user-button {
  margin-bottom: -5px;

  ::ng-deep mat-icon {
    height: 30px;
    width: 30px;
    margin-bottom: -10px;
  }
  ::ng-deep svg {
    height: 30px;
    width: 30px;
    margin-bottom: -10px;
  }

  mat-icon {
    height: 30px;
    width: 30px;
    margin-bottom: -10px;
  }

  svg {
    height: 30px;
    width: 30px;
    margin-bottom: -10px;
  }
}
.icon-two {
  height: 24px !important;
  margin-left: 4px;
  width: 24px !important;

  svg {
    height: 25px !important;
    width: 25px !important;
  }
}
.logged-in .user-actions .mat-icon {
  height: 30px;
  width: 30px;
  margin-bottom: -10px;
}

.mat-icon .user-icon {
  height: 30px;
  width: 30px;
  margin-bottom: -10px;
}

.logged-in {
  display: flex;
  flex-direction: column;
  align-items: center;

  .user-actions {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3;
    // gap: 6px;

    .user-button.mat-mdc-icon-button {
      --mat-icon-button-icon-size: 30px;
      color: var(--regular-white-color);

      ::ng-deep .mat-icon {
        color: var(--regular-white-color);
        height: 30px !important;
        width: 30px !important;
      }

      ::ng-deep svg {
        fill: var(--regular-white-color);
        height: 30px !important;
        width: 30px !important;
      }
    }
  }

  .mat-icon,
  user-icon {
    height: 30px;
    width: 30px;
    margin-bottom: -10px;
    line-height: unset;
    color: white;
  }

  ::ng-deep svg {
    height: 30px;
    width: 30px;
    margin-bottom: -10px;
  }
}

// .mat-toolbar {
//   position: fixed;
//   top: 0;
//   z-index: 1001;
// }

.logo {
  height: 35px;
  margin-right: 20px;

  img {
    height: 100%;
    width: auto;
  }
}

.nav-big {
  .nav-item {
    padding: 0 5px;

    & > a {
      font-size: 16px;
      color: #e6e6e6;
      padding-bottom: 7px;
      transition: all 150ms linear;
      text-decoration: none;
      outline: none;

      &:hover,
      &.active {
        color: white;
        cursor: pointer;
        padding-bottom: 5px;
        border-bottom: 2px solid white;
        text-decoration: none;
      }
    }
  }
}

.nav-small {
  padding-right: 10px;

  button[mat-icon-button] {
    width: 50px;
    height: 50px;
  }

  .mat-icon {
    width: 40px !important;
    height: 40px !important;
  }
}

.user-section {
  position: relative;
}

.login-link {
  color: white !important;
  font-size: 16px;
  text-decoration: none;
}

.top-search {
  flex-grow: 1;
  max-width: 600px;
}

::ng-deep .transparent-background {
  background-color: transparent;
}

.classic-view-container {
  padding-left: 15px;
}

// @media(max-width: $nav-breaking-point) {
//   .nav-big {
//     display: none;
//   }
// }

@media (min-width: $nav-breaking-point) {
  .top-search {
    min-width: 500px;
  }
}
.extra-item {
  display: inline-block;
}

// hides all but main menu
@media (max-width: 1350px) {
  .extra-item {
    display: none !important;
  }
}

@media (max-width: 1650px) {
  .extra-item-2 {
    display: none !important;
  }
}
