<!-- ncats branch begin (2 open divs) -->
<div class="base-page-wrapper">
  @if (showTopBanner) {
    <app-top-banner />
  }

  <div class="base-menu-wrapper" [class.base-menu-wrapper-with-top-banner]="showTopBanner">
    <!-- ncats branch begin end -->
    @if (!isPfdaVersion) {
      <app-header />
    } @else {
      <app-pfda-toolbar />
    }

    <div class="base-main-wrapper" [class.base-main-wrapper-with-top-banner]="showTopBanner">
      <app-session-expiration />
      <app-loading />
      <router-outlet />

      <!-- ncats branch begin -->
      @if (showFooter) {
        <app-bottom-content-spacer />
      }
    </div>
  </div>
  <!-- ncats branch fragment ngClass.2 bottom -->
</div>

@if (showFooter) {
  <app-footer />
}
<!-- ncats branch end -->
