@import '../../../styles/variables';

.version {
  color: #182c4d;
  font-size: 10pt;
  line-height: 10px;
  text-align: right;
  padding-top: 4px;
  margin-right: -5px;
  margin-bottom: -4px;
}
.logo-container {
  display:flex;
  flex-direction: column;
  max-width: 160px;
  margin-right: 20px;

}

.tooltiptest {
  z-index: 9999 !important;
  background: #b71c1c;
}

.user {
  font-size:12px;
}
.arrow-button {
  margin-left: -13px !important;
  height:25px !important;
  width: 25px !important;
}

.top-button {
  padding-top: 10px;
    padding-bottom: 10px;
}
.user-button {
 margin-bottom:-5px;

  ::ng-deep mat-icon {
    height: 30px;
    width: 30px;
    margin-bottom: -10px;
  }
  ::ng-deep svg {
    height: 30px;
    width: 30px;
    margin-bottom: -10px;
  }

  mat-icon {
    height: 30px;
    width: 30px;
    margin-bottom: -10px;
  }

  svg {
    height: 30px;
    width: 30px;
    margin-bottom: -10px;
  }

}
.icon-two {
  height: 24px !important;
  margin-left: 4px;
  width: 24px !important;

  svg {
    height: 25px !important;
    width: 25px !important;
  }
}
:host ::ng-deep .mat-icon {
  height: 30px !important;
  width: 30px  !important;
  margin-bottom: -10px  !important;
}


.mat-icon .user-icon {
  height: 30px;
  width: 30px;
  margin-bottom: -10px;
}

.logged-in {
  margin:auto;
  text-align:center;
  max-width:90px;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;


  .mat-icon, user-icon {
    height: 30px;
    width: 30px;
    margin-bottom: -10px;
    line-height: unset;
  }
  ::ng-deep svg {
    height: 30px;
    width: 30px;
    margin-bottom: -10px;
  }

}


.mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 1001;
}

.logo {
  height: 35px;
  margin-right: 20px;

  img {
    height: 100%;
    width: auto;
  }
}

.nav-big {

  .nav-item {
    padding: 0 5px;

    &>a {
      font-size: 16px;
      color: #e6e6e6;
      padding-bottom: 7px;
      transition: all 150ms linear;
      text-decoration: none;
      outline: none;

      &:hover,
      &.active {
        color: white;
        cursor: pointer;
        padding-bottom: 5px;
        border-bottom: 2px solid white;
        text-decoration: none;
      }
    }
  }
}

.nav-small {
  padding-right: 10px;

  .mat-icon-button {
    width: 50px;
    height: 50px;
  }

  .mat-icon {
    width: 40px;
    height: 40px;
  }
}

.login-link {
  color: white;
  font-size: 16px;
  text-decoration: none;
}

.top-search {
  flex-grow: 1;
  max-width: 600px;

  ::ng-deep .mat-form-field {

    .mat-form-field-label {
      font-size: 16px;
      top: 1.98125em;
    }
  }
}

::ng-deep .transparent-background {
  background-color: transparent;
}

.classic-view-container {
  padding-left: 15px;

  ::ng-deep .mat-raised-button {
    color: #296ca3;
  }
}

// @media(max-width: $nav-breaking-point) {
//   .nav-big {
//     display: none;
//   }
// }



@media(min-width: $nav-breaking-point) {
  .top-search {
    min-width: 500px;
  }
  .menu-button :hover {
    background-color: rgb(71, 147, 209) !important;
  }
}
.extra-item {
  display: inline-block;
}

// hides extra browse (for half 1920 to save space)
@media(max-width: 1500px ) {
  .extra-browse {
    display: none !important;
  }
}

// hides all but main menu
@media(max-width: 1350px ) {
  .extra-item {
    display: none !important;
  }
}



  @media(max-width: 1610px ) {
    .add-at-low-res{
      display: inline !important;
    }

    .hide-at-low-res{
      display: none !important;
    }
  }

    @media(min-width: 1610px ) {
      .add-at-low-res{
        display: none !important;
      }

      .hide-at-low-res{
        display: inline-block;
      }
    }

  @media(max-width: 1650px ) {
    .extra-item-2 {
      display: none !important;
    }
  }


