<div class="top-fixed">
  <div class="actions-container">

    <!--
    <button mat-flat-button color="primary" (click)="showJSON()">Show JSON</button>&nbsp;&nbsp;&nbsp;

    <a mat-flat-button color="primary" [href]="downloadJsonHref" (click)="saveJSON()" download="{{jsonFileName}}.json">
      <span>Export JSON</span>
    </a>&nbsp;&nbsp;&nbsp;
    -->

    <!-- Do not show 'Import JSON' button when in Update Invitro Pharamcology page -->
    <!--
    <span *ngIf="assay && !assay.id">
      <button mat-flat-button color="primary" (click)="importJSON()">Import JSON</button>
    </span>
    -->

    <button mat-flat-button class="hide-show-messages" (click)="toggleValidation()" [disabled]="isLoading"
      *ngIf="validationMessages && validationMessages.length > 0">
      {{showSubmissionMessages ? 'Hide' : 'Show'}} messages
      <mat-icon [svgIcon]="showSubmissionMessages ? 'chevron_up' : 'chevron_down'"></mat-icon>
    </button>
    <span class="middle-fill"></span>

    <!-- Assay Details Link -->
    <!--
    <a mat-flat-button color="primary" routerLink="/invitro-pharm/{{assay.id}}" target="_blank"
      matTooltip='Opens in a new window' *ngIf="assay && assay.id">
      View Assay Details
      <mat-icon class="small-icon" svgIcon="open_in_new" matTooltip="opens in new window"></mat-icon>
    </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    -->

    <!-- Validate and Submit Button -->
    &nbsp;
    <button mat-flat-button color="warn" (click)="validate()">Validate and Submit</button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-flat-button color="primary" [routerLink]="['/home']" matTooltip='Close this window'>Close</button>
  </div> <!-- div class=actions-container-->


  <!-- Validation Message Display -->
  <div [ngClass]="{'submission-messages': true, collapsed: !showSubmissionMessages, expanded: showSubmissionMessages}">
    <div class="submission-message" *ngIf="submissionMessage">
      {{submissionMessage}}
    </div>


    <!-- Validation Message Display and Submit Button -->
    <div *ngIf="validationMessages">
      <span *ngIf=" validationMessages.length > 0">
        <div class="submission-message" *ngIf='!serverError && !approving'>
          Please correct or dismiss the following errors and submit again:
        </div>
        <div class="validation-message" *ngFor="let message of validationMessages; index as i">
          <div class="message-type" [ngClass]="message.messageType == 'ERROR' ? 'error-message' : 'warning-message'">
            {{message.messageType}}</div>
          <div class="message">{{message.message}}<span *ngFor="let link of message.links"><br /><a [href]="link.href"
                target="_blank">{{link.text}}</a></span></div>
          <button mat-icon-button matTooltip="Dismiss" *ngIf="message.messageType != 'ERROR' && !approving"
            (click)="dismissValidationMessage(i)">
            <mat-icon svgIcon="cancel"></mat-icon>
          </button>
        </div>
      </span>

      <div class="dismiss-container">
        <span class="middle-fill"></span>
        <button mat-flat-button color="primary" (click)="submit()"
          [disabled]="isLoading || (this.validationResult === false)">{{validationMessages &&
          validationMessages.length > 0?'Dismiss All and ':''}}
          Submit</button>
      </div>
    </div>
    <!-- Validation Message and Submit Button -->

  </div> <!-- div class=actions-container -->
</div> <!-- div class=top-fixed -->


<div class="form-content-container mat-form-field-style">
  <div class="scrollable-container">

    <div class="divcenter headerstyle margintop20px">

      <div class="width620px font24px">
        <b>{{title}}</b>
        &nbsp;&nbsp;
      </div>

    </div> <!-- class=divcenter -->


    <!-- ############################################################ -->
    <!-- ASSAY DETAILS FORM BEGIN                                     -->
    <!-- ************************************************************ -->
    <div class="details-container">
      <div class="width100percent">

        <mat-card class="bordergray">

          <!--
            <mat-card-title>
              <span class="colorblue font20px"><b>Assay Information</b></span>
            </mat-card-title>
            -->
          <mat-card-content class="marginright10px">


            <div class="divflex">

              <div>
                <!-- Display Existing Assay Set in the dropdown -->
                <mat-form-field class="width300px">
                  <mat-label>Select from Existing Assay Set: </mat-label>
                  <mat-select [formControl]="existingAssaySetControl"
                    (selectionChange)="selectionChangeExistingAssaySet($event.value)">
                    <mat-option *ngFor="let asySet of existingAssaySetList; let indexAssaySet = index"
                      [value]="asySet.assaySet">
                      {{asySet.assaySet}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <div class="colorred" *ngIf="assayMessage">{{assayMessage}}</div>
              </div>

              <!-- Add New Assay Set -->
              <div class="marginleft80px marginright10px marginbottom10px">
                <mat-form-field class="marginleft15px width150px">
                  <input matInput placeholder="Enter New Assay Set" [(ngModel)]="newAssaySet" name="newAssaySet" />
                </mat-form-field>
                <br>
                <span class="marginleft15px">
                  <button mat-flat-button color="primary" (click)="addNewAssaySet()">Add New
                    Assay Set</button>
                </span>
              </div>

            </div> <!-- class=divflex -->


            <!-- Display Assays -->
            <div *ngIf="allAssaysList">
              <div *ngIf="allAssaysList.length > 0">
                <div class="font18px colorblue"><b>All Assays ({{allAssaysList.length}})</b></div>
                <br>

                <table border="1">
                  <tr>
                    <th>#</th>
                    <th>External Assay Source</th>
                    <th>External Assay ID</th>
                    <th>Assay Target Name</th>
                    <th>Assay Title</th>
                    <th>Assay Set ({{selectedAssaySet}})</th>
                  </tr>

                  <tr class="font12px" *ngFor="let assay of allAssaysList; let indexResult = index">
                    <td>{{(indexResult+1)}}</td>
                    <td class="font12px">{{assay.externalAssaySource}}</td>
                    <td class="font12px">{{assay.externalAssayId}}</td>
                    <td class="font12px">{{assay.targetName}}</td>
                    <td class="font12px">{{assay.assayTitle}}</td>
                    <td>
                      <div class="marginleft30px">
                        <mat-checkbox color="primary" [checked]="assay._assaySet">
                        </mat-checkbox>
                      </div>
                    </td>
                  </tr> <!-- FOR LOOP: assay result -->

                </table>
              </div> <!-- if existingAssaysByAssaySetList > 0 -->
            </div> <!-- if existingAssaysByAssaySetList exists -->


            <div class="form-row">

              <div class="divflex borderlightgray divradius">

              </div> <!-- divflex -->

            </div> <!-- form-row -->

          </mat-card-content>
        </mat-card>

      </div> <!-- width100percent -->

    </div> <!-- class=details-container -->
    <br><br><br>

  </div> <!-- scrollable-container -->
</div> <!-- class=form-content-container -->