<div class="flex-row">
  <span class="middle-fill"></span>
  <mat-form-field [floatLabel]="'never'" class="search">
    <input matInput placeholder="Search" [formControl]="searchControl">
  </mat-form-field>
</div>
<div class="responsive">

  <table mat-table [dataSource]="paged">

    <ng-container matColumnDef="material">
      <th mat-header-cell *matHeaderCellDef> Material </th>
      <td mat-cell *matCellDef="let monomer">
        <div class="thumb-col">
          <div *ngIf="monomer.monomerSubstance.linkingID" class="code">{{monomer.monomerSubstance.linkingID}}</div>
          <img class="image-icon" [src]="getSafeStructureImgUrl(monomer.monomerSubstance.refuuid)">
          <div>
            <a class="substance-name" [routerLink]="['/substances', monomer.monomerSubstance.refuuid]">
              {{monomer.monomerSubstance.refPname}}
            </a>
          </div>
        </div>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> Amount </th>
      <td mat-cell *matCellDef="let monomer"> {{displayAmount(monomer.amount)}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let monomer"> {{monomer.type}} </td>
    </ng-container>
    <ng-container matColumnDef="defining">
      <th mat-header-cell *matHeaderCellDef> Defining </th>
      <td mat-cell *matCellDef="let monomer"> <span [className]="monomer.defining?'yesDef': 'noDef'">{{monomer.defining? 'No' : 'Yes'}} </span></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<mat-paginator [length]="filtered && filtered.length || 0" [pageSize]="5" showFirstLastButtons="true" (page)="pageChange($event, analyticsEventCategory)"
  [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
