.side-nav-content {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    flex-direction: row;
    align-items: center;
}

.substance-details {
    width: 100%;
    max-width: 928px;
    box-sizing: border-box;
}

.title-container {
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.title-card {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.white-background {
    background-color: var(--regular-white-color);
}

.substance-title {
    display: inline-block;
}

.approvalID {
    font-size: 20px;
    color: var(--pink-span-color);
    font-weight: 500;
}

.approvalIDColor {
    color: var(--pink-span-color);
    margin-bottom: 0px !important;
    margin-top: 0px !important;

}

.chip {
    display: inline-block;
    background-color: var(--pale-border-color);
    border-radius: 50%;
    padding: 0 5px;
    margin-left: 15px;
}

mat-panel-title {
    h2 {
        text-transform: capitalize;
    }
}

::ng-deep .nav-chevron {
    svg {
        height: 24px;
        width: 24px;
    }
}

@media(max-width: 1100px) {
    .title-container {
        padding-left: 25px;
    }
}

@media(max-width: 500px) {
    .title-container {
        h1 {
            word-break: break-all
        }
    }
}

@media(max-width: 603px) {
    ::ng-deep .mat-paginator-range-label {
        margin-left: 10px;
        margin-right: 10px;
    }
}
