<h4 class="panel-title">This substance has the following group 1 specified substance forms:</h4>
<div class="flex-row wrap">
  @for (component of substance.$$constituentParents; track component) {
    <div class="thumb-col">
      @if (component.approvalID) {
        <div class="code">{{component.approvalID}}</div>
      }
      @if (!component.approvalID) {
        <div class="code">{{component.uuid}}</div>
      }
      <img class="image-icon" appSubstanceImage [entityId]="component.uuid">
      <div>
        <a class="substance-name" [routerLink]="['/substances', component.uuid]">
          {{component._name}}
        </a>
      </div>
    </div>
  }
</div>
