.dialog-row {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.name-form {
    width: 400px;
}

.format {
    margin-left: 10px;
}

.padding {
    margin-bottom: 15px;
    padding-bottom:5px;
}