<div class="add-container">
  <div class="add-button">
    <button matButton (click)="openDialog()">
      Add Feature <mat-icon svgIcon="add_circle_outline"></mat-icon>
    </button>
  </div>
  @if (substanceType === 'protein') {
    <div class="add-button">
      <button matButton (click)="openAnyDialog()">
        Add Any Site Type <mat-icon svgIcon="add_circle_outline"></mat-icon>
      </button>
    </div>
  }
  <div class="middle-fill"></div>
  <div class="filters-container">
    <mat-button-toggle-group [value]="view" (change)="updateView($event)">
      <mat-button-toggle value="details">
        <mat-icon svgIcon="list"></mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="raw">
        <mat-icon svgIcon="view_stream"></mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>
<div [ngClass]="view">
  @for (subunit of subunits; track subunit; let isLast = $last; let index = $index) {
    <div
      appScrollToTarget
      [id]="'substance-subunit-' + index"
      >
      <app-subunit-form
        [subunit]="subunit"
        [view]="substanceType"
        (subunitDeleted)="deleteSubunit($event)"
        >
      </app-subunit-form>
      @if (!isLast) {
        <mat-divider
          class="form-divider"
          [inset]="true"
        ></mat-divider>
      }
    </div>
  }
</div>
@if (subunits && subunits.length > 0) {
  <div class="add-container-bottom">
    <div class="add-button">
      <button mat-button (click)="addSubunit()">
        Add Subunit <mat-icon svgIcon="add_circle_outline"></mat-icon>
      </button>
    </div>
  </div>
}
