.details {
  .subunit {
    display: none;
  }

  .subunit-sequence {
    display: block;
  }
}

.show {
  display:block;
}

.hide{
  display:none;
}

.raw {
  .subunit {
    display: block;
  }

  .subunit-sequence {
    display: none;
  }
}

.subunit-sequence {
  margin-bottom: 30px;
}

.sequence-section-group {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}

.section-number {
  text-align: right;
  padding: 0 10px;
  font-size: .8em;
}

.sequence-section {
  flex-grow: 0;
  padding: 0 10px;
  flex-basis: 20%;
  flex-shrink: 0;
}

.section-units-container {
  display: flex;

  .section-unit {
    flex-grow: 1;

    &:hover {
      cursor: default;
    }
  }
}

.subunit {
  padding-top: 5px;
  padding-bottom: 20px;

  &:not(:last-child) {
    border-bottom: solid 1px var(--box-shadow-color-3);
  }
}

.raw-sequence {
  word-break: break-all;
  line-height: 26px;
}


.add-container {
  display:flex;
  align-items: center;
  align-content: center;
}

.add-button {
  margin-right:10px;
}

.add-container-bottom {
  display: flex;
  margin-top: 10px;
  justify-content: flex-end;
}
