

.filters-container {
    display: flex;
    justify-content: flex-end;
}

.subunit-title {
  color: var(--link-color);
  text-decoration: none;
}

.subunit-label {
  font-weight: 500;
  font-size: 16px;
}

.form-row {
  display:flex;
  justify-content: space-between;
  padding-bottom:5px;
}

.sequence-container {
  padding-top: 20px;
}

error {
  color: var(--regular-red-color);
}

.subunit-row {
  padding-top: 10px;
}


.details {
  & .subunit {
    display: none;
  }

  & .subunit-sequence {
    display: block;
  }
}


.show {
  display:block;
}

.hide{
  display:none;
}

.raw {
  .subunit {
    display: block;
  }

  .subunit-sequence {
    display: none;
  }
}

.raw {
  & .subunit {
    display: block;
  }

  & .subunit-sequence {
    display: none;
  }
}

.subunit-sequence {
  margin-bottom: 30px;
}

.sequence-section-group {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}

.section-number {
  text-align: right;
  font-size: .8em;
}

.sequence-section {
  flex-grow: 0;
  padding: 0 10px;
  flex-basis: 20%;
  flex-shrink: 0;
}

.section-units-container {
  display: flex;

  .section-unit {
    /*flex-grow: 1;*/

    &:hover {
      cursor: default;
    }
  }
}

.subunit {
  padding-top: 5px;
  padding-bottom: 20px;

  &:not(:last-child) {
    border-bottom: solid 1px var(--box-shadow-color-3);
  }
}

.raw-sequence {
  word-break: break-all;
  line-height: 26px;
}

.siteref {
  display:block;
  width: 15.5px !important;
  text-align: center;
}

.last-section {
  flex-basis: 0!important;
}
.mat-icon {
  height: 15px !important;
  width: 15px !important;
}