.physical-form-container {
  padding: 30px 10px 12px 10px;
  position: relative;
}

.form-sub-row {
  max-width: 90%;
}

.related-substance {
  max-width: 175px;
}

.related-substance img {
  max-width:150px;
}
.notification-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  z-index: 10;
  background-color: rgba(255, 255, 255, .8);
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: #666;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .delete-container {
    padding: 0 10px 8px 0;
  }

  .code-system, .code-system-type, .type {
    flex-grow: 1;
    padding-right: 15px;
  }

  .code-text, .url {
    flex-grow: 1;
  }


}

.key-value-pair {
  display: flex;
  flex-direction: column;
  align-self: flex-start;

  .key {
    font-size: 11px;
    padding-bottom: 3.5px;
    line-height: 11px;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 400;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  .value {
    font-size: 15.5px;
  }
}

.references-container {
  width: 100%;
}

.form-row {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: flex-end;

  .checkbox-container {
    padding-bottom: 18px;
  }
}

.form-actions {
  justify-content: flex-start;
  margin: 5px 0 10px 0;
}
.form-content {
  flex-grow: 1;
}

.mod-type, .location-type {
  width: 33%;
}

.sites, .group-access {
  width:33%;
}

.extent, .amount {
  width:40%;
}

.group {
  width: 85px;
}

.type {
  max-width: 225px;
}

.access {
  width: 30%;
}


.name-form-container {
  padding: 30px 10px 12px 10px;
  position: relative;
}

.notification-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  z-index: 10;
  background-color: rgba(255, 255, 255, .8);
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: #666;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .delete-container {
    padding: 0 10px 8px 0;
  }

  .checkbox-container, .radio-container {
    padding-bottom: 18px;
  }

  .radio-container, .checkbox-container {
    padding-right: 15px;
  }

  .name, .tags, .domains, .type, .amount, .param-display {
    flex-grow: 1;
    padding-right: 15px;
  }

  .jurisdiction {
    flex-grow: 1;
  }
}

.references-container, .nameorgs-container {
  width: 100%;
}

.column-radio {
  ::ng-deep .mat-radio-label {
    flex-direction: column-reverse;
  }

  ::ng-deep .mat-radio-label-content {
    padding-left: 0;
    font-size: 11px;
    padding-bottom: 4px;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 400;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
}

.column-checkbox {
  ::ng-deep .mat-checkbox-layout {
    flex-direction: column-reverse;
    align-items: center;
  }

  ::ng-deep .mat-checkbox-inner-container {
    margin-right: unset;
    margin-left: unset;
  }

  ::ng-deep .mat-checkbox-layout .mat-checkbox-label {
    padding-left: 0;
    font-size: 11px;
    padding-bottom: 2px;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 400;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
}


.amount {
  display:flex;
  padding-bottom: 10px;
}

.amt-label {
    padding-top:11px;
}


.param-display {
  padding-top:10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.param-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 7px;
  padding-top: 7px;

  .param-display {
    max-width: 40%;
    padding-right:15px;
  }
  .param-amount {
    max-width: 60%;
  }

}


.invalid-note {
  margin-top: 5px;
  font-style: italic;
  font-size: 14px;
  color: red;
}