
<div class="padtop5px padleft25px font15px colorblue">
  <b>Clinical Trials Europe</b>
  &nbsp;&nbsp;&nbsp;
  <a [href]="exportUrl" target="_blank" matTooltip='Export Clinical Trial Europe Records' *ngIf="totalRecords > 0">
    <button mat-icon-button color="primary">
      <mat-icon>arrow_downward</mat-icon>Export
    </button>
  </a>   
</div>

<div class="responsive mat-table-style">
  <table mat-table [dataSource]="paged">

    <ng-container matColumnDef="nctNumber">
      <th mat-header-cell *matHeaderCellDef>Eudract Number</th>
      <td mat-cell *matCellDef="let clinical"> 
        <div *ngIf="clinical.eudractNumber">
          <a [routerLink]="['/clinicalTrialEuropeDetails', clinical.eudractNumber, 'eu']" target="_blank">{{clinical.eudractNumber}}</a>
          <!--
          <br><span class="font10px colorgray">(Europe)</span>
          -->
       </div>
      </td>
    </ng-container>
    
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let clinical"> {{clinical.title}} </td>
    </ng-container>

    <ng-container matColumnDef="sponsorName">
      <th mat-header-cell *matHeaderCellDef> Sponsor Name </th>
      <td mat-cell *matCellDef="let clinical"> {{clinical.sponsorName}} </td>
    </ng-container>

    <ng-container matColumnDef="productName">
      <th mat-header-cell *matHeaderCellDef> Product Name/Trade Name - Substances </th>
      <td mat-cell *matCellDef="let clinical"> {{clinical.sponsorName}} </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<mat-paginator [length]="totalRecords" [pageSize]="5" showFirstLastButtons="true" (page)="getSubstanceClinicalTrials($event)"
  [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>

