.font10px {
	font-size: 10px;
}

.font15px {
  font-size: 15px;
}

.colorgray {
	color: gray;
}

.padleft25px {
	padding-left: 25px;
}

.padtop5px {
  padding-top: 5px;
}

.colorblue {
  color: #4b4572;
}
