<div class="flex-row">
  @if (names && names.length > pageSize) {
    <mat-form-field [floatLabel]="'never'" class="search">
      <input matInput placeholder="Search" [formControl]="searchControl">
    </mat-form-field>
  }
  <span class="middle-fill"></span>
</div>

@if (names && names.length > 5) {
  <mat-paginator [length]="filtered && filtered.length || 0" [pageIndex]="page" [pageSize]="10" showFirstLastButtons="true" (page)="pageChange($event, analyticsEventCategory)"
    [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
}
@for (name of paged; track name; let isLast = $last; let index = $index) {
  <div class="name" appScrollToTarget [id]="'substance-name-' + index">
    <app-simplified-name-form [name]="name" (priorityUpdate)="priorityUpdated($event)" (nameDeleted)="deleteName($event)" [standardized] = "showStd"></app-simplified-name-form>
    @if (!isLast) {
      <mat-divider class="form-divider" [inset]="true"></mat-divider>
    }
  </div>
}
@if (names && names.length > 5) {
  <mat-paginator [length]="filtered && filtered.length || 0" [pageIndex]="page" [pageSize]="10" showFirstLastButtons="true" (page)="pageChange($event, analyticsEventCategory)"
    [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
}
