<div class="flex-row">
  <mat-form-field [floatLabel]="'never'" class="search" *ngIf="names && names.length > pageSize">
    <input matInput placeholder="Search" [formControl]="searchControl">
  </mat-form-field>
  <span class="middle-fill"></span>
  <button *ngIf="names && names.length > 0" class = 'standardize' matTooltip = "show / hide  additional rows" mat-button (click)="collapse()">{{expanded? 'Collapse':'Expand'}} All</button>
  <button *ngIf="names && names.length > 0" class = 'standardize' mat-button (click)="showMore = !showMore">{{showMore? 'Hide' : 'More'}}
    <mat-icon class="chevron" *ngIf = "!showMore" svgIcon="chevron_down"></mat-icon>
    <mat-icon class="chevron" *ngIf = "showMore" svgIcon="chevron_up"></mat-icon>
  </button>




</div>
<div class ="flex-row" *ngIf = "showMore">
    <span class="middle-fill"></span>
    <mat-checkbox [(ngModel)]="showStd" matTooltip="The standardized name value is generated upon submission" class = "checkbox">
      Show Standardized Name fields
  </mat-checkbox>
</div>

<mat-paginator *ngIf="names && names.length > 5" [length]="filtered && filtered.length || 0" [pageIndex]="page" [pageSize]="10" showFirstLastButtons="true" (page)="pageChange($event, analyticsEventCategory)"
    [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
<div class="name" *ngFor="let name of paged; last as isLast; index as index" appScrollToTarget [id]="'substance-name-' + index">
  <app-name-form [name]="name" (priorityUpdate)="priorityUpdated($event)" (nameDeleted)="deleteName($event)" [show] = "expanded" [standardized] = "showStd"></app-name-form>
  <mat-divider class="form-divider" [inset]="true" *ngIf="!isLast"></mat-divider>
</div>
<mat-paginator *ngIf="names && names.length > 5" [length]="filtered && filtered.length || 0" [pageIndex]="page" [pageSize]="10" showFirstLastButtons="true" (page)="pageChange($event, analyticsEventCategory)"
  [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
<div *ngIf = "names && names.length > 0" style = "display: flex;">
    <span class = "middle-fill"></span>
    <button mat-button (click)="addName()" [disabled] = "isAlternative">
        Add substance name <mat-icon svgIcon="add_circle_outline"></mat-icon>
      </button>
</div>
