.name-form-container {
  padding: 30px 10px 12px 10px;
  position: relative;
}

.form-row {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: flex-end;
}

.cv-input {
  margin-right: 15px;
}

.references-container {
  width: 100%;
}


