html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

div {
    box-sizing: border-box;
}

.side-nav-content {
    padding: 15px 10px;
}

a:hover, button:hover {
    cursor: pointer;
}


.multiselect-dropdown .dropdown-btn {
  display: inline-block;
  border: 0px !important;
  border-bottom: 1px solid rgba(0, 0, 0, .87) !important;
  width: 100%;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;

  .dropdown-down {
    border-top: 5px solid rgba(0, 0, 0, 0.54) !important;
    border-left: 5px solid transparent !important;
    border-right: 5px solid transparent !important;
  }
}


.mat-progress-bar-background{
  fill: whitesmoke !important;
}


.mat-button {
  color: #1565c0;
}
