@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
$my-blue: (
  50: #162b50,
  100: #a4c5e0,
  200: #229fdd,
  300: 	#4186be,
  400: #5c9fd6,
  500: #4793d1,
  600: #e53935,
  700: #d32f2f,
  800: #c62828,
  900: #b71c1c,
  A100: #162b50,
  A200: #162b50,
  A400: #162b50,
  A700: #162b50,
  contrast: (
    50: white,
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,)
);
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat.define-palette($my-blue, 500, 100, 50);
$candy-app-accent:  mat.define-palette($my-blue, A100);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat.define-palette($my-blue, A100);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat.define-light-theme((
  color: (
    primary: $candy-app-primary,
    accent: $candy-app-accent,
    warn: $candy-app-warn,
  ),
  density: -1 // try -1 (compact). Use -2 if you want tighter.
  // typography: mat.define-typography-config( /* keep if you had custom fonts */ )
  
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($candy-app-theme);
