.middle-fill {
    flex: 1 1 auto;
}

.margin-bottom {
    margin-bottom: 15px;
}

.name-value {
    display: flex;
    flex-direction: row;

    &:not(:last-child) {
        margin-bottom: 20px;
    }

    .name {
        min-width: 100px;
        padding-right: 15px;
    }

    .value {
        font-size: 1.1em;
    }
}

.blue-font {
    color: #1565C0
}

.capitalized {
    text-transform: capitalize;
}

.flex-row {
    display: flex;
    flex-direction: row;

    .equal-width {
        flex: 1 0 0;
    }
}

.responsive {
    overflow: auto;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.small-font {
    font-size: .8em;
}

.right-aligned {
    margin-left: auto;
}

.link {
    color: #1E88E5;
}

.font-medium-bold {
    font-weight: 500;
}

.no-break {
    white-space: nowrap;
}

.thumb-col{
  text-align:center;
  padding-left:5px;
  padding-right:5px;
  max-width:280px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
}

.image-thumb{
  height:150px;
  width:150px;
}

.code{
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
}

.black-pill, .gray-pill, .blue-pill {
  color: white;
  padding: 1px 7px;
  border-radius: 11px;
}

.black-pill {
  background-color: black;
}

.gray-pill {
  background-color: gray;
}

.blue-pill {
  background-color:#448aff;
}

.dialog-close{
  margin-top:10px;
  float:right;
}
