@use '@angular/material' as mat;

:root {

    --primary-color: #4793d1;
    --accent-secondary-main: #229fdd;
    --side-nav-bg-color: #002b5c;
    --surface-base: #ffffff;
    --accent-warning: red;
    --text-strong: black;
    --surface-card: white;
    --surface-subtle: rgb(242, 242, 242);
    --surface-muted: lightgray;
    --surface-muted-2: rgb(232, 232, 232);
    --surface-divider: gainsboro;
    --text-tertiary: grey;
    --regular-transparent-color: transparent;
    --accent-info: blue;
    --accent-deepest: navy;
    --highlight-soft: #f9f6e8;
    --highlight-main: yellow;
    --accent-attention: orange;
    --accent-alert: orangered;
    --accent-positive: green;
    --accent-positive-strong: darkgreen;
    --accent-natural: darkolivegreen;
    --accent-cool: turquoise;
    --accent-sky: lightskyblue;
    --accent-deep-primary: darkslateblue;
    --accent-mystical: purple;
    --accent-vivid: magenta;
    --accent-deep-warm: maroon;
    --accent-earth: #6e3408;
    --primary-title-color: #0857d6;
    --secondary-title-color: #27288a;
    --lighter-title-color: rgba(0, 0, 0, 0.87);
    --accent-primary-strong: #1945bd;
    --accent-primary-overlay: rgba(22, 84, 218, 0.753);
    --accent-secondary: #1C6EA4;
    --accent-prestige: #3c19d6;
    --accent-soft-primary: rgb(70, 101, 194);
    --text-muted-strong: #4e4e44;
    --accent-deep-rgb: rgb(34, 34, 175);
    --accent-pure-primary: rgb(0, 0, 255);
    --accent-secondary-rgb: rgb(71, 147, 209);
    --accent-mystical-soft: #7a0abbe0;
    --accent-mystical-strong: #4b4572;
    --accent-earth: rgb(122, 45, 17);
    --accent-deep-warm: rgb(90, 68, 68);
    --accent-warm: #E55913;
    --accent-warm-2: #d35e04;
    --accent-warm-rgb: rgb(207, 157, 63);
    --accent-warm-rgb-2: rgb(230, 115, 22);
    --accent-warm-strong: rgb(158, 56, 19);
    --accent-warm-soft: #f8cf88;
    --accent-positive: rgb(9, 121, 33);
    --accent-positive-soft: #bbc2a4;
    --accent-attention: rgb(231, 197, 2);
    --accent-spice: rgb(172, 141, 4);
    --text-soft: #777;
    --text-dark: #262626;
    --highlight-soft-attention: rgb(251, 247, 206);
    --highlight-soft-attention-2: rgba(251, 251, 180, 0.705);
    --highlight-soft-attention-3: rgba(255, 222, 121, 0.96);
    --feedback-mandatory: rgb(155, 39, 39);
    --surface-dark-overlay: #60615e;
    --error: rgb(173, 26, 26);
    --link-color: #1565C0;
    --link-primary-color: #448aff;
    --feedback-error-text: #c7254e;
    --table-bg-color: #FFFFFF;
    --table-bg-color-2: #f7f7f7;
    --table-th-border-color: #224998;
    --table-th-border-color-2: #D0E4F5;
    --table-th-border-color-3: #d1d1d1;
    --table-th-border-color-4: #5f656b;
    --table-tr-even-bg-color: #f3f3f3;
    --table-tr-even-bg-color-2: #DAE9F5;
    --table-tr-even-bg-color-3: #fbfdf7;
    --table-thead-bg-color: #0B6FA4;
    --table-thead-bg-color-2: #c0ccee;
    --table-thead-bg-color-3: #eeeadc;
    --table-thead-border-color: #444444;
    --table-th-color: #FFFFFF;
    --nth-child-color-1: rgba(128, 128, 128, .15);
    --nth-child-color-2: rgba(68, 138, 255, .07);
    --nth-child-color-3: rgba(68, 138, 255, .15);
    --error-dialog-color: #a94442;
    --error-dialog-bg-color: #f2dede;
    --warning-dialog-color: #8a6d3b;
    --warning-dialog-bg-color: #fcf8e3;
    --feedback-neutral-text: black;
    --feedback-neutral-bg: lightgray;
    --progress-bar-buffer-bg-color: rgba(0, 0, 0, 0.01);
    --progress-spinner-buffer-bg-color: rgb(212, 212, 212);
    --text-color: rgba(0, 0, 0, .5);
    --text-shadow-color: #000;
    --label-color: #404040;
    --dark-label-color: rgba(0, 0, 0, 0.54);
    --spinner-bg-color: rgba(150, 148, 148, 0.15);
    --spinner-stroke-color: #4793d1;
    --spinner-track-color: #e0e0e0;
    --loading-overlay-bg: rgba(0, 0, 0, 0.5);
    --border-color: rgba(0, 0, 0, .1);
    --border-soft: #E0E0E0;
    --border-soft-rgb: rgb(228, 218, 218);
    --border-soft-rgb-2: rgb(247, 241, 241);
    --border-soft-rgb-3: rgb(241, 241, 250);
    --border-soft-rgb-4: rgb(182, 175, 175);
    --border-subtle: #CCC;
    --border-subtle-rgb: rgb(182, 177, 177);
    --border-accent-rgb: rgb(67, 70, 148);
    --box-shadow-color: rgba(0, 0, 0, 0.2);
    --box-shadow-color-2: rgba(0, 0, 0, 0.14);
    --box-shadow-color-3: rgba(0, 0, 0, 0.12);
    --box-shadow-color-4: rgba(0, 0, 0, 0.35);
    --box-shadow-color-5: rgba(0, 0, 0, 0.26);
    --box-shadow-color-6: rgba(0, 0, 0, 0.45);
    --shadow-elevated: rgba(145, 140, 145, 1);
    --deprecated-color: rgba(0, 0, 0, .70);
    --surface-light: #f1f1f1;
    --surface-extra-light: #f2f3f4 ;
    --text-disabled: #666666;
    --version-text-color: #182c4d;
    --nav-link-color: #e6e6e6;
    --chevron-color: rgba(0, 0, 0, 0.6);
    --include-checkbox-border-color: #80CBC4;
    --include-checkbox-bg-color: #26A69A;
    --exclude-checkbox-border-color: #EF9A9A;
    --exclude-checkbox-bg-color: #EF5350;
    --query-bg-color: #ECECEC;
    --query-border-color: #DBDBDB;
    --mat-list-color: rgba(0, 0, 0, 0.87);
    --mat-form-field-label-color: rgb(127, 127, 133);
    --mat-form-field-underline-bg-color: rgb(68, 68, 218);
    --mat-form-field-focused-color: rgb(70, 116, 106);
    --row-hover-bg: rgba(94, 145, 186, 0.2);
    --icon-locked: #f0ad4e;
    --toast-success-bg: #A7FFEB;
    --toast-error-bg: #E57373;
    --feedback-success-text: #3f914c;
    --feedback-success-bg: #def2de;
    --row-zebra-stripe: #f9f9f9;
    --image-gradient-start: rgba(0, 0, 0, 1);
    --image-gradient-end: #c2c7cc;
    --input-border-strong: rgba(0, 0, 0, 0.42);
    --input-border-soft: #b3b3b3;
    --mat-icon-button-bg-color: rgba(242, 242, 242, .85);
    --structure-import-color: #595959;
    --structure-import-default-bg-color: rgba(68, 138, 255, .4);
    --structure-import-success-bg-color: rgba(167, 255, 235, .4);
    --structure-import-error-bg-color: rgba(229, 115, 115, .4);
    --overlay-modal-bg: rgba(255, 255, 255, .8);
    --overlay-modal-text: #666;
    --divider-strong: #333;
    --legend-success-border: #16997d;
    --legend-info-border: #174793;
    --legend-info-border-2: #007cba;
    --legend-warning-border: #b36d13;
    --legend-error-border: #700819;
    --legend-info-bg: #eff8ff;
    --legend-info-bg-strong: #2f6dd7;
    --legend-success-bg: #f8fdf8;
    --tree-child-bg: #cee8fb;
    --tree-child-bg-odd: rgba(0, 0, 0, .05);
    --chem-disulfide-bond: #cca300;
    --chem-glycosylation-bond: #608000;
    --chem-glycosylation-n-link: #0066cc;
    --chem-glycosylation-o-link: #ff6666;
    --fieldset-success-border: rgb(33, 136, 20);
    --fieldset-info-border: rgb(27, 15, 184);
    --fieldset-warning-border: rgb(179, 101, 12);
    --fieldset-error-border: rgb(172, 63, 63);
    --fieldset-earth-border: #5f391c;
    --fieldset-shadow: rgba(110, 104, 110, 0.64);
    --tab-active-bg: #e9f3d9;
    --tab-warning-bg: #fcf8eb;
    --tab-attention-bg: #eee2b9;
    --tab-info-bg: #cde3fd;
    --tab-muted-bg: #f3f1f1;
    --tab-link-bg: #1565C0;
    --tab-link-bg-strong: #3768bd;
    --tab-gradient-start: #fff;
    --tab-gradient-end: #b2b2b2;
    --app-body-bg: rgba(94, 145, 186, 0.12);
}
