@use 'material-design-theme';
@use 'base';
@use 'misc';
@use 'mat-side-nav';
@use 'table';
@use 'card';
@use 'expand-details';
@use 'styles';
@use 'angular-15-mdc-fixes';

html, body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:host .mdc-text-field {
    padding: 0 !important;
}

.mdc-text-field {
    padding: 0 !important;
}

:root {
  --mat-menu-item-label-text-size: 14px;
  --mat-menu-item-label-text-font: Roboto, "Helvetica Neue", sans-serif;
  --mat-button-text-label-text-tracking: normal;
  --mat-button-filled-label-text-tracking: normal;
  --mat-expansion-container-text-tracking: normal; 
}

