<div mat-dialog-title>
  <h1>JSON Object structure</h1>
  <div>
    <button mat-flat-button color="primary" (click)="raw = !raw">{{raw? 'Show Object':'Show Raw'}}</button>&nbsp;
    @if (!raw) {
      <button mat-flat-button (click)="expand = !expand">{{expand? 'collapse':'expand'}}</button>
    }
    <span class="middle-fill"></span>
    <a mat-flat-button color="primary" [href]="downloadJsonHref"
      download="{{jsonFilename}}.json">
      <span>Export JSON</span>
    </a>
  </div>
</div>

<div mat-dialog-content>
  @if (!raw) {
    <div class='formatted'>
      <ngx-json-viewer [json]="json" [expanded]="expand"></ngx-json-viewer>
    </div>
  }
  @if (raw) {
    <div class='raw'>
      <textarea class='raw-text'>{{json | json}}</textarea>
    </div>
  }
</div>

<div mat-dialog-actions>
  <button mat-flat-button color="primary" mat-dialog-close>Close</button>

  <span class="middle-fill"></span>
</div>