<div class="reference-form-container">
  <div *ngIf="reference.$$deletedCode" class="notification-backdrop">
    Deleted&nbsp;
    <button mat-icon-button matTooltip="Undo" (click)="undoDelete()">
      <mat-icon svgIcon="undo"></mat-icon>
    </button>
  </div>
  <div class="form-row">
    <app-cv-input required = 'true' class="source-type" domain = 'DOCUMENT_TYPE'  title = "Source Type" [model] = "reference.docType"
                  (valueChange)= "reference.docType = $event" name = "docType">
    </app-cv-input>
    <mat-form-field class="citation">
      <input matInput placeholder="Source Text/Citation" [(ngModel)]="reference.citation" required name="citation" />
    </mat-form-field>
    <div>
      <app-access-manager (accessOut)="updateAccess($event)" [access]="reference.access">
      </app-access-manager>
    </div>
  </div>
</div>
