.reference-form-container {
  padding: 10px 3px 4px 3px;
  position: relative;
}

.notification-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  z-index: 10;
  background-color: var(--notif-backdrop-bg-color);
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: var(--notif-backdrop-color);
}

.form-row {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: flex-end;

  .delete-container {
    padding: 0 10px 8px 0;
  }

  .source-type, .citation{
    flex-grow: 1;
    padding-right: 15px;
  }
}

.form-actions {
  justify-content: flex-start;
  margin: 5px 0 10px 0;
}

.url {
  width: 30%;
}

.tags {
  width: 40%;
}

.previous-ref {
  margin: auto;
  width: 90%;
}


.spinner {
  height: 20px;
  width: 20px;
}

.loading-container {
  display: flex;
  text-align: center;
  height: 26px;
}

.spinner-container {
  height: 20px;
  width: 20px;
  margin-right: 5px;

}

.progress-spinner {
  margin: auto;
}


.mat-progress-spinner {
  height: 20px !important;
  width: 20px !important;

  ::ng-deep svg {
    height: 20px !important;
    width: 20px !important;
  }

  svg {
    height: 20px !important;
    width: 20px !important;
  }
}
