<br><br><br>
<mat-sidenav-container>

  <mat-sidenav mode="side" opened>
    <app-facets-manager (facetsParamsUpdated)="facetsParamsUpdated($event)" (facetsLoaded)="facetsLoaded($event)"
      [rawFacets]="rawFacets" configName="products" includeFacetSearch="true">
    </app-facets-manager>
  </mat-sidenav>

  <!-- Browse Product Content -->
  <mat-sidenav-content>
    <div class="titlePosition">
      <span class="title">Browse Products</span>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Total:&nbsp;<span class="totalstyle font17px colorgray">{{totalProducts}}</span>
      &nbsp;&nbsp;
    </div>

    <!-- Pagination -->
    <div class="paginationPosition">
      <mat-paginator #paginator [length]="totalProducts" [pageIndex]="pageIndex" [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 50, 100]" (page)="changePage($event)">
      </mat-paginator>
    </div>

    <br><br><br>
    <!--
      <button class="expand-sidenav mat-elevation-z4" (click)="openSideNav()">
        <mat-icon svgIcon="chevron_right"></mat-icon>
      </button>
    -->

    <!--
    <div class="padleft10px" *ngIf="totalApplications > 0">
      <a [href]="exportUrl" target="_blank" matTooltip='Export Application Records'>
        <button mat-icon-button color="primary">
          <mat-icon>arrow_downward</mat-icon>Export
        </button>
      </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <span class="colorgray font9px">(Download up to 1000 records)</span>
    </div>
    -->

    <!-- Display Facet selection and Export Button -->
    <div class="padleft10px" *ngIf="totalProducts > 0">

      <!-- Display Facets selection -->
      <div class="search-parameters">
        <div class="mat-elevation-z2 selected-parameter" *ngFor="let facet of displayFacets">
          <div class='selected-container'>
            <span class="capitalized font-medium-bold selected-label">
              <mat-icon class="not-icon" svgIcon="not_interested" *ngIf="!facet.bool"></mat-icon>
              {{facet.type}}:
            </span>
            <span class="no-break selected-value">
              {{facet.val}}
            </span>
          </div>
          <div class="actions-container">
            <button mat-icon-button class="display-button" color="primary"
              (click)="facet.removeFacet(facet.type, facet.bool, facet.val)">
              <mat-icon class="display-icon" svgIcon="delete_forever"></mat-icon>
            </button>
          </div>
        </div>
      </div>

      <!-- Export Product Button -->
      <button matTooltip="Export Search Results" mat-button (click)="export()" *ngIf="isLoggedIn"
        class="mat-button export-button mat-raised-button">
        <mat-icon svgIcon="get_app"></mat-icon> Export
      </button>
    </div>
    <br>

    <!-- Display Content Details -->
    <div class="substance-cards">
      <mat-card class="bordergray" *ngFor="let product of products">

        <mat-card-title class="borderlightorange-bottom">
          <span class="font13px">Product NDC:</span>&nbsp;
          <a class="substance-name" [routerLink]="['/productElistDetails', product.productId, 'elist']" target="_blank">
            {{product.productNDC}}
          </a>
          &nbsp;&nbsp;&nbsp;
          <!--
          <a [routerLink]="['/application', application.id, 'edit']" target="_blank" *ngIf="isAdmin"
            matTooltip='Edit GSRS Application Record'>
            <mat-icon svgIcon="edit"></mat-icon>
          </a>
        
          <span class="center">Center:&nbsp;{{application.center}}</span>
          -->
          <span class="middle-fill"></span>
          <span class="font13px">Application:</span>&nbsp;
          <a class="approval-id" [routerLink]="['/productElistDetails', product.productId, 'elist']" target="_blank">
            <div *ngFor="let prodLabeler of product.productLabelerElistList; let indexLabeler = index">
              {{prodLabeler.applicationNumber}}
            </div>
          </a>
        
        </mat-card-title>

        <mat-card-content>

          <div class="row">
            <div class="row-property-2">
              <div class="row-property-key-2">
                Product Name:
              </div>
              <div class="row-property-value-2 font14px">
                <b>{{product.productName}}</b>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="row-property-2">
              <div class="row-property-key-2">
                Substance Name (Active):
              </div>
              <div class="row-property-value-2">
                <div *ngFor="let prodActiveIng of product.productActiveElistList; let indexActiveIng = index">
                  {{prodActiveIng.name}}
                </div>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="row-property-2">
              <div class="row-property-key-2">
                Substance Name (Inactive):
              </div>
              <div class="row-property-value-2">
                <div *ngFor="let prodInactiveIng of product.productInactiveElistList; let indexInActiveIng = index">
                  {{prodInactiveIng.name}}
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="row-property">
              <div class="row-property-key">
                Labeler Name:
              </div>
              <div class="row-property-value">
                <div *ngFor="let prodLabeler of product.productLabelerElistList; let indexLabeler = index">
                  {{prodLabeler.labelerName}}
                </div>
              </div>
            </div>
            <div class="row-property">
              <div class="row-property-key">
                Labeler DUNS:
              </div>
              <div class="row-property-value">
                <div *ngFor="let prodLabeler of product.productLabelerElistList; let indexLabeler = index">
                  {{prodLabeler.labelerDuns}}
                </div>
              </div>
            </div>
          </div>

          <!--
          <div class="row">
            <div class="row-property-2">
              <div class="row-property-key-2">
                Product Name Type:
              </div>
              <div class="row-property-value-2">
                <div *ngFor="let prodCode of product.productCodeElistList; let indexCode = index">
                  {{prodCode.productTypeName}}
                </div>
              </div>
            </div>
          </div>
          -->

          <div class="row">
            <div class="row-property">
              <div class="row-property-key">
                Product Name Type:
              </div>
              <div class="row-property-value">
                <div *ngFor="let prodCode of product.productCodeElistList; let indexCode = index">
                  {{prodCode.productTypeName}}
                </div>
              </div>
            </div>
            <div class="row-property">
              <div class="row-property-key">
                Marketing Status:
              </div>
              <div class="row-property-value">
                <div *ngFor="let prodMarket of product.productMarketElistList; let indexMarket = index">
                  {{prodMarket.marketingStatus}}
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="row-property-2">
              <div class="row-property-key-2">
                Dosage Form:
              </div>
              <div class="row-property-value-2">
                {{product.dosageFormName}}
              </div>
            </div>
          </div>

        </mat-card-content>

      </mat-card>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>