.thumb-col {
    height:175px;
    width:175px;
    margin: auto
}

.dialog-content {
  padding-top: 20px;
  min-height: 250px;
}

.dialog-body {
  min-height: 150px;
}
.spinner-container {
  height:20px;
  width:100%;
  margin-top: auto;
  align-content: center;
}

.substances-container {
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: auto;
}

.substance-button {
  margin: 10px;
  margin-right: 5px;
  padding: 0px;
}

.img-text {
  max-width:200px;
}

.button-content {
  background-color: var(--regular-white-color);
  padding: 5px;
  width: 210px;
  display: inline-block;
  float: none;
  text-align: center;


}

.label {
  width: 100%;
}

.new-icon {
  height:18px;
  width: 18px;
}