@import '../../../../styles/table';



.disabled {
    color: var(--box-shadow-color-5);
    background-color: var(--box-shadow-color-3);
    cursor: pointer;
    &:hover {
      cursor: pointer !important;
    }
  }
  
  .disabled:hover {
    cursor: pointer !important;
  
  }

  .disabled-btn {
    color: var(--box-shadow-color-5);
    background-color: var(--box-shadow-color-3);
    cursor: pointer;
    &:hover {
      cursor: pointer !important;
    }
  }
  
  .disabled-btn:hover {
    cursor: pointer !important;
  
  }