@if (loading === false) {
  <div>
    <div>
      <mat-form-field>
        <mat-label style="width: 100%;">Service</mat-label>
        <mat-select [(ngModel)]="currentService" (selectionChange)="onServiceSelectionChange($event)">
          @for (option of services; track option) {
            <mat-option [value]="option">
              {{option}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field style="width: 800px;">
        <mat-label style="width: 100%;">API Endpoint</mat-label>
        <mat-select [(ngModel)]="currentEndpoint" (selectionChange)="onEndpointSelectionChange($event)" style="width: 800px;">
          @for (option of endpoints; track option) {
            <mat-option [value]="option.path" style="width: 800px;">
              {{option.path}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>@if (currentEndpointUrl) {
      <span>
        <a class = 'ext-link endpoint-link' [attr.href]="currentEndpointUrl" target="_blank" title="Open endpoint as new raw browser tab"><mat-icon class="icon small-icon" svgIcon="open_in_new"></mat-icon></a>
      </span>
    }
  </div>
  <div class="scrollable-container" cdkScrollable>
    @if (content) {
      <div>
        @if (displayAsJson) {
          <div>
            <div style="margin-bottom: 10px;">
              <mat-checkbox (change)="onRawCheckboxChange($event)">Raw?</mat-checkbox>
            </div>
            @if (!rawContent) {
              <div>
                <ngx-json-viewer [json]="content" [raw]="true"></ngx-json-viewer>
              </div>
            }
            @if (rawContent) {
              <div>
                <pre style="white-space: pre-wrap;">{{ content | json }}</pre>
              </div>
            }
          </div>
        }
        @if (!displayAsJson) {
          <div>
            <pre style="white-space: pre-wrap;">{{ content }}</pre>
          </div>
        }
      </div>
    }
  </div>
</div>
}

@if (loading === true) {
  <div class = "loading-container">
    <mat-progress-spinner
      class="progress-spinner"
      [color]="primary"
      mode = "indeterminate">
    </mat-progress-spinner>
  </div>
}
