<div *ngIf = "loading === false">
    <!-- mat-card *ngFor = "let job of jobs" class = "form-row">
        <app-scheduled-job [job] = "job" pollIn = "true" ></app-scheduled-job>
        </mat-card>
    <mat-card *ngIf="!jobs.length" class ="no-jobs">
            <h3>No scheduled tasks</h3>
        </mat-card -->
</div>
       
<div class = "options-row">
    <div>
        <mat-form-field>
          <mat-label style="width: 100%;">Service</mat-label>
          <mat-select [(ngModel)]="currentService" (selectionChange)="onServiceSelectionChange($event)">
                <mat-option *ngFor="let option of services" [value]="option">
                  {{option}}
                </mat-option>
              </mat-select>
          </mat-form-field>
    </div>
    <div>
        <mat-form-field style="width: 800px;">
          <mat-label style="width: 100%;">API Endpoint</mat-label>
            <mat-select [(ngModel)]="currentEndpoint" (selectionChange)="onEndpointSelectionChange2($event)" style="width: 800px;">
                <mat-option *ngFor="let option of endpoints" [value]="option.path" style="width: 800px;">
                  {{option.path}}
                </mat-option>
              </mat-select>
          </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill" class="test" style="width: 800px;">
      <mat-label style="width: 100%;">API Response</mat-label>
      <textarea style="width: 100%; height: 300px" matInput readonly>{{text}}</textarea>
      </mat-form-field>
      </div>
</div>

<div class = "loading-container" *ngIf = "loading === true">
    <mat-progress-spinner
      class="progress-spinner"
      [color]="primary"
      mode = "indeterminate">
  </mat-progress-spinner>
  </div>
    
