.parameter-form-container {
  padding: 30px 10px 12px 10px;
  position: relative;
  display: flex;
}
.amount-title {
  margin-bottom: 10px;
  font-weight: bold;
}

.amount-form-container {
  padding: 0 7px;
}
