.form-row {
    width:100%;
    display:flex;
    flex-direction: row;
}

.spaced {
    width:100%;
    display:flex;
    flex-direction: row;
    align-content: space-between;
}
.user-container {
    padding: 20px 10px;
    min-height:200px;
}

.spinner {
    height: 100px;
    width: 100px;
    margin: auto;
}

.loading-container {
    width: 100%;
    min-height:200px;
}

.clear-button {
    vertical-align: middle;
}

.small-icon { 
    height: 20px;
    line-height: 20px;
}
.dropdown-content {
    display: none;
    box-shadow: 0px 8px 16px 0px var(--box-shadow-color);
}
.dropdown-content a {
    font-size: 12px;
    color: var(--regular-black-color);;
    display: block;
    padding: 12px 16px;
    width: 170px;
}
.dropdown-content a:hover {
    background-color: var(--lightgray-color);
}
.show {
    display: block !important;
}
.hide {
    display: none !important;
}
