::ng-deep .mat-expansion-panel-content > .mat-expansion-panel-body {
  padding: 0 12px 10px;
}

.mat-expansion-panel-header {
  padding: 0 12px;
}

.filter-box {
  padding: 10px;

  &:not(:last-child) {
      border-bottom: 1px solid #d9d9d9;
  }
}

.include {
  ::ng-deep .mat-checkbox-frame {
      border-color: #80CBC4;
  }

  ::ng-deep &.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
  ::ng-deep &.mat-checkbox-checked.mat-accent .mat-checkbox-background {
      background-color: #26A69A;
  }
}

.exclude {
  margin-left: 5px;
  ::ng-deep .mat-checkbox-frame {
      border-color: #EF9A9A;
  }

  ::ng-deep &.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
  ::ng-deep &.mat-checkbox-checked.mat-accent .mat-checkbox-background {
      background-color: #EF5350;
  }
}

.search-parameters {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  font-size: 13px;

  &.center {
      margin-top: 10px;
      justify-content: center;
  }

  & > div {
    /*
      padding: 5px 10px;
      margin-bottom: 5px;
      display: flex;
      align-items: center;
    */
      
      padding-left:10px;
      padding-right: 2px;
      margin-left:5px;
      margin-bottom: 5px;
      display: flex;
      align-items: center;
  }

  .actions-container {
      margin-left: auto;
      flex-shrink: 0;
  }
}

.controls-container {
  display: flex;
}

.mat-card {
  max-width: 928px;
  margin-bottom: 20px;
}

.mat-card, .controls-container {
  width: 100%;
  box-sizing: border-box;
}

.controls-container {
  display: flex;
  align-items: center;

  .mat-button-toggle-group {
      max-height: 36px;
  }

  .mat-paginator {
      margin-left: auto;
  }
}

.cards {

  .controls-container {
      max-width: 928px;
  }

  .substance-cards {
      display: block;
  }

  .substance-table {
      display: none;
  }
  .substance-tiles{
    display: none;
  }
}

.table {
  .substance-cards {
      display: none;
  }

  .substance-table {
      display: block;
  }

  .substance-tiles{
    display: none;
  }
}

.tiles {
.substance-cards {
  display: none;
}

.substance-table {
  display: none;
}

.substance-tiles{
  display: flex;
}

}

.mat-card-title, .facet-value {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}

.mat-card-title {
  white-space: normal;

  .substance-name {
    color: #448aff;
    padding-right: 10px;
  }

  .approval-id {
    font-size: 16px;
    color: red;
  }

  .center {
    font-size: 15px;
    color: blue;
    padding-left: 100px;
    display: inline-block;
}
}

.facet-value {
  padding: 6px 0;
  overflow: hidden;

  .facet-value-checkbox {
      padding: 0 3px 0 0;
  }

  .facet-value-label {
      padding: 0 3px;
      max-width: 150px;
      overflow: hidden;
      color: #404040;
      white-space: normal;
  }

  .facet-value-count {
      padding: 0 0 0 3px;
      overflow: hidden;
      font-weight: 500;
  }
}

.facet-actions {
  display: flex;
  align-items: center;
  margin-top: 10px;

  .pull-right {
      margin-left: auto;
  }

  .mat-flat-button {
      min-width: 70px;

      &:not(:first-child) {
          margin-left: 5px;
      }
  }
}

.mat-card-content {

  .mat-chip-list-container {
      margin-left: -20px;
      margin-bottom: 10px;
  }
}


.substance-content {
  display: flex;
  flex-direction: row;
}

.tile {
height:300px;
margin:10px;
padding:10px;
width: calc(25% - 20px);
min-width:200px;
max-width:230px;
align-content:center;
overflow:hidden;
text-overflow: ellipsis;
}

.tile .image-thumbnail {
margin:auto;
margin-bottom:20px;
height:175px;
width:175px;
}

.tile .structure-container {
width:100%;
padding-right:0px;
}

.tile-name {
white-space:nowrap;
text-overflow: ellipsis;
overflow: hidden;
width:100%;
height:25px;
}

.substance-tiles{
flex-flow: row wrap;
}

.image-other {
width:175px;
height:175px;
}

.substance-data {
  display: flex;
  flex-direction: row;

  &:not(:last-child) {
      margin-bottom: 15px;
  }

  .label {
      font-weight: bold;
      min-width: 120px;
  }
}

.structure-container {
  padding-right: 10px;
}

.no-results {
  text-align: center;
  margin-top: 30px;
  font-size: 1.2em;
}

.mat-paginator {
  background: transparent;
}

.image-thumbnail{
height:150px;
width:150px;
}

.space-bottom {
  margin-bottom: 5px;
}

.facet-advanced-options-link {
  margin-top: 7px;
  color: #448aff;
}

.facet-search-container {
  display: flex;

  .mat-form-field {
      flex-grow: 1;
  }
}

.facet-search-loading.mat-progress-bar {
  margin-top: -18px;
  margin-bottom: 1.09em;
}

@media(max-width: 1100px) {
  .controls-container, .search-parameters {
      padding-left: 30px;
  }

  .side-nav-content {
      padding-top: 10px;
  }
}

@media(max-width: 700px) {
  .mat-card-title {
      flex-direction: column;
      align-items: flex-start;

      .substance-name {
          margin-bottom: 10px;
      }
  }

  .substance-data {
      flex-direction: column;

      .label {
          margin-bottom: 10px;
      }

      .value, .code-system {
          padding-left: 20px;
      }
  }

  .search-parameters {
      font-size: .9em;

      .mat-icon-button {
          width: 35px;
          height: 35px;
          line-height: 35px;
      }
  }

  .side-nav-content {
      padding: 5px;
  }
}

@media(max-width: 600px) {

  .substance-content {
      flex-direction: column;

      .image-thumbnail {
          margin: 0 auto;
      }
  }

  .controls-container {

      ::ng-deep {

          .mat-paginator-range-l.references-link{
display: inline-flex;
vertical-align: middle;
}abel {
              margin: 0 3px 0 0;
          }

          .mat-paginator-page-size-select {
              margin-left: 0;
          }

          .mat-paginator-container {
              padding-right: 0;
              padding-left: 0;
          }

          .mat-paginator-page-size {
              margin-right: 4px;
          }

          .mat-paginator-range-actions {

              .mat-icon-button {
                  width: 35px;
                  height: 35px;
                  line-height: 35px;
              }
          }
      }
  }
}

@media(max-width: 505px) {
  .controls-container {

      ::ng-deep {

          .mat-paginator-page-size-label {
              display: none;
          }
      }
  }
}

.zoom{
cursor:zoom-in;
}

.icon-align{
margin-top: -10px;
vertical-align: bottom;
}

.ext-link{
color: #448aff;
text-decoration-style: unset;
}

.sort{
margin:auto;
}

.titlePosition {
  position:absolute;
  z-index:100;
  left:0px;
  top:20px;
}

.paginationPosition {
  position:absolute;
  z-index:200;
  left:500px;
  top:20px;
}

.title {
  color: #27288a;
  font-size: 24px;
  font-weight: 600px;
  padding-left:15px;
  padding-top: 10px;
}

.row {
  display: flex;
	width: 100%;
	/*border-bottom: solid 1px rgba(0, 0, 0, 0.12)*/
/*
  &:not(:last-child) {
    border-bottom: solid 1px rgba(0, 0, 0, 0.12);
	}
	*/
}

.row-property {
  display: flex;
  width: 50%;

	/*padding: 8px;*/
}

.row-property-key {
	min-width: 30%;
	max-width: 30%;
	padding: 7px;
  font-size: 12px;
  font-weight: 600;
	/*background-color: #edeff2;*/
}

.row-property-value {
	min-width: 70%;
	max-width: 70%;
	padding: 5px;
	font-size: 13px;
}

.row-property-2 {
  display: flex;
  width: 100%;

	/*padding: 8px;*/
}

.row-property-key-2 {
	min-width: 15%;
	max-width: 15%;
	padding: 7px;
  font-size: 12px;
  font-weight: 600;
	/*background-color: #edeff2;*/
}

.row-property-value-2 {
	min-width: 85%;
	max-width: 85%;
	padding: 5px;
	font-size: 13px;
}


.font9px{
  font-size: 9px;
}

.font10px{
  font-size: 10px;
}

.font12px{
  font-size: 12px;
}

.font17px {
  font-size: 17px;
}

.colorgray {
  color: gray;
}

.colorred {
  color: red;
}

.colorgreen {
  color: green;
}

.colororange {
  color: orange;
}

.bordergray {
  border:1px solid gray;
}

.borderlightorange-bottom {
  border-bottom:1px solid #f8cf88;
}

.borderlightgray {
  border:1px solid #bbc2a4;
}

.padtop5px {
  padding-top: 5px;
}

.padleft10px {
  padding-left: 10px;
}

.totalApp {
  display:inline-block;
  color:#FFFFFF;
  border:1px solid #CCC;
  background:#60615e;
  box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
  vertical-align:middle;
  max-width: 100px;
  font-weight: 500;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

.exportStyle {
  display: block; 
  width: 50px;
  height: 50px;
  padding: 0px;  
  border: 10px solid blue;
}
