<br><br><br>

<mat-sidenav-container>

  <mat-sidenav mode="side" opened>
    <app-facets-manager (facetsParamsUpdated)="facetsParamsUpdated($event)" (facetsLoaded)="facetsLoaded($event)"
      [rawFacets]="rawFacets" configName="applications" includeFacetSearch="true">
    </app-facets-manager>

  </mat-sidenav>


  <!-- Browse Application Content -->
  <mat-sidenav-content>
    <div class="titlePosition">
      <span class="title">Browse Applications</span>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Total:&nbsp;<span class="totalApp font17px colorgray">{{totalApplications}}</span>
      &nbsp;&nbsp;
    </div>

    <!-- Pagination -->
    <div class="paginationPosition">
      <mat-paginator #paginator [length]="totalApplications" [pageIndex]="pageIndex" [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 50, 100]" (page)="changePage($event)">
      </mat-paginator>
    </div>

    <br><br><br>
    <!--
      <button class="expand-sidenav mat-elevation-z4" (click)="openSideNav()">
        <mat-icon svgIcon="chevron_right"></mat-icon>
      </button>
    -->
    <div class="padleft10px" *ngIf="totalApplications > 0">
      <a [href]="exportUrl" target="_blank" matTooltip='Export Application Records'>
        <button mat-icon-button color="primary">
          <mat-icon>arrow_downward</mat-icon>Export
        </button>
      </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <span class="colorgray font9px">(Download up to 1000 records)</span>
    </div>

    <div class="export ">
      <button matTooltip="Export Search Results" mat-button (click)="export()" class="mat-button export-button mat-raised-button">
        <mat-icon svgIcon="get_app"></mat-icon> Export
      </button>
    </div>

    <!-- Display Content Details -->
    <div class="substance-cards">
      <mat-card class="bordergray" *ngFor="let application of applications">

        <mat-card-title class="borderlightorange-bottom">
          <a class="substance-name" [routerLink]="['/applicationDetails', application.id]" target="_blank">
            {{application.appType}}&nbsp;{{application.appNumber}}
          </a>
          &nbsp;&nbsp;&nbsp;
          <a [routerLink]="['/application', application.id, 'edit']" target="_blank" *ngIf="isAdmin"
            matTooltip='Edit GSRS Application Record'>
            <mat-icon svgIcon="edit"></mat-icon>
          </a>
          <!--
          &nbsp;&nbsp;
          <a [href]="updateApplicationUrl + application.id" target="_blank" *ngIf="isAdmin"
            matTooltip='Edit GSRS Application Record'>
            <mat-icon svgIcon="edit"></mat-icon>
          </a>
          -->
          <span class="center">Center:&nbsp;{{application.center}}</span>
          <span class="middle-fill"></span>
          <a class="approval-id" [routerLink]="['/applicationDetails', application.id]" target="_blank">
            Status: {{application.status}}
          </a>
        </mat-card-title>

        <mat-card-content>

          <!--Product-->
          <div *ngFor="let prod of application.applicationProductList; let index = index">

            <div class="row">
              <div class="row-property-2">
                <div class="row-property-key-2">
                  Product Name {{index + 1}}:
                </div>
                <div class="row-property-value-2">
                  <div *ngIf="prod.applicationProductNameList.length > 0; else noProdNameList">
                    <div *ngFor="let prodName of prod.applicationProductNameList; let indexName = index">

                      <div *ngIf="prodName.productName; else noProd">
                        &#9642;&nbsp;{{ prodName.productName }}
                      </div>
                      <ng-template #noProd>
                        (No Product)
                      </ng-template>

                    </div> <!-- repeat Product Name -->
                  </div>
                  <ng-template #noProdNameList>
                    (No Product)
                  </ng-template>
                </div>
              </div>
            </div>

            <div *ngFor="let ing of prod.applicationIngredientList; let indexIng = index">
              <div class=" row">
                <div class="row-property-2">
                  <div class="row-property-key-2">
                    Ingredient Name: {{ index + 1}}:
                  </div>
                  <div class="row-property-value-2">

                    <!-- Display Ingredient Name -->
                    <div *ngIf="ing.bdnum; else noIngred">
                      <span class="colorred">&diams;</span>
                      <a [routerLink]="['/substances', ing.substanceId]" target="_blank">{{ing.ingredientName}}</a>
                      <br>

                      <!-- Display Ingredient Type -->
                      <div *ngIf="ing.ingredientType">
                        <div *ngIf="ing.ingredientType === 'Active Ingredient'; else otherIngredType">
                          &nbsp;&nbsp;<span class="colorgreen">
                            ({{ ing.ingredientType }})
                          </span>
                        </div>
                        <ng-template #otherIngredType>
                          &nbsp;&nbsp;({{ ing.ingredientType }})
                        </ng-template>
                      </div>

                      <!-- Active Moiety -->
                      <div *ngIf="ing.activeMoietyUnii; else noActiveUnii" class="padtop5px">
                        <span class="colororange">&diams;</span>
                        <a [routerLink]="['/substances', ing.activeMoietyUnii]"
                          target="_blank">{{ing.activeMoietyName}}</a>
                        <span class="font10px colorgray">&nbsp;(Active Moiety)</span><br>
                        <br>
                      </div>
                      <ng-template #noActiveUnii>
                        <div *ngIf="ing.activeMoietyName">
                          {{ing.activeMoietyName}}
                          <span class="font10px colorgray">&nbsp;(Active Moiety)</span><br>
                        </div>
                      </ng-template>

                    </div>
                    <ng-template #noIngred>
                      (No Ingredient)
                    </ng-template>
                  </div>

                </div>
              </div>

            </div> <!-- repeat Ingred -->

          </div> <!-- repeat Prod-->

          <!--
            <div class="row-property">
              <div class="row-property-key">
                Title:
              </div>
              <div class="row-property-value">
                {{application.title}}
              </div>
            </div>
          -->

          <div class="row">
            <div class="row-property">
              <div class="row-property-key">
                Sponsor Name:
              </div>
              <div class="row-property-value">
                {{ application.sponsorName}}
              </div>
            </div>
            <div class="row-property">
              <div class="row-property-key">
                Submit Date:
              </div>
              <div class="row-property-value">
                {{application.submitDate}}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="row-property">
              <div class="row-property-key">
                App Sub Type:
              </div>
              <div class="row-property-value">
                {{ application.appSubType}}
              </div>
            </div>
            <div class="row-property">
              <div class="row-property-key">
                Status Date:
              </div>
              <div class="row-property-value">
                {{application.statusDate}}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="row-property">
              <div class="row-property-key">
                Indications:&nbsp;<span class="badge">{{application.applicationIndicationList.length}}</span>
              </div>
              <div class="row-property-value">
                <div class="" *ngFor="let ind of application.applicationIndicationList">
                  &bull;&nbsp;{{ ind.indication }}
                </div>
              </div>
            </div>

            <div class="row-property">
              <div class="row-property-key">
                Clinical Trials:&nbsp;<span class="badge">0
                  <!-- {{application.clinicalTrialList.length}}-->
                </span>
              </div>
              <div class="row-property-value">
                <!--
                      <div class="" *ngFor="let clinical of application.clinicalTrialList">
                          &bull;&nbsp;{{ clinical.nctNumber }}
                        </div>
                        -->
              </div>
            </div>
          </div>
        </mat-card-content>

      </mat-card>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>