<br><br><br>
<mat-sidenav-container>

  <mat-sidenav mode="side" opened>
    <app-facets-manager (facetsParamsUpdated)="facetsParamsUpdated($event)" (facetsLoaded)="facetsLoaded($event)"
      [rawFacets]="rawFacets" configName="applications" includeFacetSearch="true">
    </app-facets-manager>
  </mat-sidenav>

  <!-- Browse Application Content -->
  <mat-sidenav-content>
    <div class="side-nav-content">
      <div class="search-parameters">

        <div class="mat-elevation-z2 selected-parameter" *ngIf="searchTerm">
          <div>
            <span class="capitalized font-medium-bold no-break">Search Query:</span>&nbsp;
            <span>{{searchTerm}}</span>
          </div>
          <div class="actions-container">
            <button mat-icon-button color="primary" *ngIf="isSearchEditable" (click)="editAdvancedSearch()">
              <mat-icon svgIcon="edit"></mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="clearSearch()">
              <mat-icon svgIcon="delete_forever"></mat-icon>
            </button>
          </div>
        </div>

        <!-- Display Facets selection -->
        <div class="mat-elevation-z2 selected-parameter" *ngFor="let facet of displayFacets">
          <div class='selected-container'>
            <span class="capitalized font-medium-bold selected-label">
              <mat-icon class="not-icon" svgIcon="not_interested" *ngIf="!facet.bool"></mat-icon>
              {{facet.type}}:
            </span>
            <span class="no-break selected-value">
              {{facet.val}}
            </span>
          </div>
          <div class="actions-container">
            <button mat-icon-button class="display-button" color="primary"
              (click)="facet.removeFacet(facet.type, facet.bool, facet.val)">
              <mat-icon class="display-icon" svgIcon="delete_forever"></mat-icon>
            </button>
          </div>
        </div>
        <button class="reset-facets-button" mat-raised-button color="primary" (click)="clearFilters()"
          *ngIf="(displayFacets && displayFacets.length > 0) || searchTerm">
          <span>RESET</span>
        </button>
      </div>

      <!-- Title, Export, Pagination -->
      <div class="controls-container">

        <div class="title-container">
          <span class="main-title">Browse Applications</span>
        </div>

        <!-- Sort By -->
        <mat-form-field class="sort">
          <mat-label>Sort By</mat-label>
          <mat-select (selectionChange)="searchApplications()" [(ngModel)]="order">
            <mat-option *ngFor="let option of sortValues" [value]="option.value">
              {{option.display}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Export Application Button -->
        <div class="export" *ngIf="isAdmin">
          <button matTooltip="Export Search Results" mat-button (click)="export()"
            class="mat-button export-button mat-raised-button">
            <mat-icon svgIcon="get_app"></mat-icon> Export
          </button>
        </div>

        <div class="break"></div>
        <!-- Pagination -->
        <div class="full-paginator">
          <mat-paginator #paginator [length]="totalApplications" [pageIndex]="pageIndex" [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 50, 100]" [showFirstLastButtons]="true" (page)="changePage($event)">
          </mat-paginator>

          <div class="page-selector">
            <span class="page-label">Page: </span>
            <mat-form-field class="page-input" [ngClass]="{'bad-page':invalidPage}">
              <input matInput matTooltip="Type a page and press enter" [ngClass]="{'bad-page':invalidPage}"
                [value]="pageIndex + 1" #pagenum (keydown.enter)="customPage($event)"
                (input)="validatePageInput($event)? invalidPage = false: invalidPage = true"
                (focusout)="pagenum.value = pageIndex + 1; invalidPage = false">
            </mat-form-field>
            <span class="page-label"> of {{lastPage}}</span>
          </div>
        </div>
      </div>

      <div class="search-text">
        <!-- Search Any Text Text Box -->
        <mat-form-field class="width350px font13px">
          <input matInput placeholder="Search Any Text" [(ngModel)]="privateSearchTerm" name="privateSearchTerm"
            size="50" />
        </mat-form-field>
        <button class="activate-search-button" mat-icon-button (click)="setSearchTermValue()">
          <mat-icon svgIcon="search"></mat-icon>
        </button>
      </div>

      <!-- Display Content Details -->
      <div class="cards" *ngIf="applications && applications.length; else noRecordApplication">
        <div class="substance-cards">
          <mat-card *ngFor="let application of applications">
            <mat-card-title>
              <div>
                <a class="substance-name" [routerLink]="['/application', application.id]" target="_blank">
                  {{application.appType}}&nbsp;{{application.appNumber}}
                </a>
                &nbsp;&nbsp;&nbsp;
                <a [routerLink]="['/application', application.id, 'edit']" target="_blank" *ngIf="isAdmin"
                  matTooltip='Edit GSRS Application Record'>
                  <mat-icon svgIcon="edit"></mat-icon>
                </a>
              </div>

              <div>
                <span class="center">Center:&nbsp;{{application.center}}</span>
              </div>

              <div>
                <a class="approval-id" [routerLink]="['/application', application.id]" target="_blank">
                  Status: {{application.status}}
                </a>
              </div>
            </mat-card-title>

            <mat-card-content>

              <div class="row">

                <!-- ***** LEFT SIDE **** -->
                <div class="width70percent">
                  <div class="row">

                    <div class="width100percent">
                      <!--Product-->

                      <div *ngIf="application.applicationProductList.length > 0; else noRecordProdName">

                        <div *ngFor="let prod of application.applicationProductList; let index = index">

                          <div class="row">

                            <div class="row-property-key-4">
                              Product Name {{index + 1}}:
                            </div>
                            <div class="row-property-value-4">
                              <div *ngIf="prod.applicationProductNameList.length > 0; else noProdNameList">
                                <div *ngFor="let prodName of prod.applicationProductNameList; let indexName = index">
                                  <div *ngIf="prodName.productName; else noProd">
                                    <div *ngIf="prodName.deprecated && prodName.deprecated == 'Y'; else noDeprecated">
                                      &#9642;
                                      <span class="colorgray">
                                        <b>{{ prodName.productName }}</b>
                                      </span>
                                      <span class="font10px">
                                        (Deprecated)
                                      </span>
                                    </div>
                                    <ng-template #noDeprecated>
                                      &#9642;
                                      <span class="font14px colorlightblue"><b>{{ prodName.productName }}</b></span>
                                    </ng-template>
                                  </div>
                                  <ng-template #noProd>
                                    (No Product Name)
                                  </ng-template>
                                </div> <!-- repeat Product Name -->
                              </div>
                              <ng-template #noProdNameList>
                                (No Product Name)
                              </ng-template>
                            </div>
                            <!--
                    </div>
                  -->

                          </div>

                          <div *ngFor="let ing of prod.applicationIngredientList; let indexIng = index">
                            <div class=" row">
                              <!--
                      <div class="row-property-4">
                      -->
                              <div class="row-property-key-4">
                                Ingredient Name: {{ indexIng + 1}}:
                              </div>
                              <div class="row-property-value-4">

                                <!-- Display Ingredient Name -->
                                <div *ngIf="ing.substanceKey; else noIngred">
                                  <span class="colorred">&diams;</span>
                                  <a [routerLink]="['/substances', ing._substanceUuid]"
                                    target="_blank">{{ing._ingredientName}}</a>
                                  <br>

                                  <!-- Display Ingredient Type -->
                                  <div *ngIf="ing.ingredientType">
                                    <div *ngIf="ing.ingredientType === 'Active Ingredient'; else otherIngredType">
                                      <span class="colorgreen">({{ ing.ingredientType }})</span>
                                    </div>
                                    <ng-template #otherIngredType>
                                      ({{ ing.ingredientType }})
                                    </ng-template>
                                  </div>

                                  <!-- Active Moiety -->
                                  <div *ngIf="ing.activeMoietyUnii; else noActiveUnii" class="padtop5px">
                                    <!--
                                    <span class="colororange">&diams;</span>
                                    -->
                                    <a [routerLink]="['/substances', ing.activeMoietyUnii]"
                                      target="_blank">{{ing.activeMoietyName}}</a>
                                    <span class="font10px colorgray">&nbsp;(Active Moiety)</span>
                                    <br>
                                  </div>
                                  <ng-template #noActiveUnii>
                                    <div *ngIf="ing.activeMoietyName">
                                      {{ing.activeMoietyName}}
                                      <span class="font10px colorgray">&nbsp;(Active Moiety)</span><br>
                                    </div>
                                  </ng-template>

                                </div>
                                <ng-template #noIngred>
                                  (No Ingredient Name)
                                </ng-template>
                              </div>
                              <!--
                      </div>
                      -->
                              <!--

                              <div class="row-property-3">
                                <div class="row-property-key-3">
                                  Ingred Created By:<br><br>
                                  Ingred Edited By:
                                </div>
                                <div class="row-property-value-3">
                                  {{ing.createdBy}}<br>
                                  {{ing.createDate|date: 'MM/dd/yyyy h:mm:ss a'}}
                                  <br>
                                  {{ing.modifiedBy}}<br>
                                  {{ing.modifyDate|date: 'MM/dd/yyyy h:mm:ss a'}}
                                </div>
                              </div>
                            -->

                            </div>

                          </div> <!-- repeat Ingred -->

                        </div> <!-- repeat Prod-->

                      </div>

                      <ng-template #noRecordProdName>
                        <div class="row">
                          <div class="row-property-key-4">
                            Product Name 1:
                          </div>
                          <div class="row-property-value-4">
                            (No Product Name)
                          </div>
                        </div>
                        <div class="row">
                          <div class="row-property-key-4">
                            Ingredient Name 1:
                          </div>
                          <div class="row-property-value-4">
                            (No Ingredient Name)
                          </div>
                        </div>
                      </ng-template>

                    </div>

                  </div>


                  <div class="row">
                    <div class="row-property-key-4">
                      Title:
                    </div>
                    <div class="row-property-value-4">
                      {{application.title}}
                    </div>
                  </div>

                  <div class="row">
                    <div class="row-property-key-4">
                      Sponsor Name:
                    </div>
                    <div class="row-property-value-4">
                      {{ application.sponsorName}}
                    </div>
                  </div>

                  <div class="row">
                    <div class="row-property">
                      <div class="row-property-key-3">
                        Status Date:
                      </div>
                      <div class="row-property-value-3">
                        &nbsp;{{application.statusDate}}
                      </div>
                    </div>
                    <div class="row-property">
                      <div class="row-property-key">
                        Clinical Trials:
                        <span class="badge">
                          {{application._clinicalTrialList.length}}
                        </span>
                      </div>
                      <div class="row-property-value">
                        &nbsp;
                        <div class="" *ngFor="let clinical of application._clinicalTrialList">
                          &bull;&nbsp;
                          <span *ngIf="clinical.nctNumber">
                            <a target="_blank" title="see clinicaltrials.gov" [href]="'https://clinicaltrials.gov/ct2/show/' + clinical.nctNumber">{{clinical.nctNumber}}</a>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="row-property">
                      <div class="row-property-key-3">
                        Submit Date:
                      </div>
                      <div class="row-property-value-3">
                        &nbsp;{{application.submitDate}}
                      </div>
                    </div>

                    <div class="row-property">
                      <div class="row-property-key">
                        Indications:&nbsp;
                        <!--
                    <span class="badge">{{application.applicationIndicationList.length}}</span>
                    -->
                      </div>
                      <div class="row-property-value">
                        <div class="" *ngFor="let ind of application.applicationIndicationList">
                          <span *ngIf="ind.indication">
                            &bull;&nbsp;{{ ind.indication }}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!--
              <div class="row-property-3 bordergray">

              <div class="row">
                <div class="row-property-key-3">
                  Create Date:
                </div>
                <div class="row-property-value-3">
                  {{application.createDate|date: 'MM/dd/yyyy h:mm:ss a'}}
                </div>
              </div>

              <div class="row">
                <div class="row-property-key-3">
                  Created:
                </div>
                <div class="row-property-value-3">
                  {{application.createdBy}}

                {{application.modifiedBy}}<br>
                {{application.modifyDate|date: 'MM/dd/yyyy h:mm:ss a'}}

                </div>
              </div>
              </div> -->

                  <!--
            </div> -->
                  <!-- left side-->

                </div> <!-- LEFT SIDE -->


                <!-- **** RIGH SIDE ****  -->

                <div class="width30percent">

                  <!--  *ngIf="isAdmin" -->
                  <span>
                    <div class="row">
                      <div class="row-property-key-5">
                        Create By:
                      </div>
                      <div class="row-property-value-5">
                        {{application.createdBy}}
                      </div>
                    </div>

                    <div class="row">
                      <div class="row-property-key-5">
                        Create Date:
                      </div>
                      <div class="row-property-value-5">
                        {{application.creationDate|date: 'MM/dd/yyyy h:mm a'}}
                      </div>
                    </div>

                    <div class="row">
                      <div class="row-property-key-5">
                        Edited By:
                      </div>
                      <div class="row-property-value-5">
                        {{application.modifiedBy}}
                      </div>
                    </div>

                    <div class="row">
                      <div class="row-property-key-5">
                        Edit Date:
                      </div>
                      <div class="row-property-value-5">
                        {{application.lastModifiedDate|date: 'MM/dd/yyyy h:mm a'}}
                      </div>
                    </div>
                  </span>

                </div> <!-- right side -->

              </div> <!-- row -->

            </mat-card-content>

          </mat-card>
        </div>
      </div>

      <!-- Pagination at the bottom of the page -->
      <!--
      <div class="controls-container">
        <mat-paginator #paginator [length]="totalApplications" [pageIndex]="pageIndex" [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 50, 100]" [showFirstLastButtons]="true" (page)="changePage($event)">
        </mat-paginator>
      </div>
      -->
      <ng-template #noRecordApplication>
        <!-- No Application Found. -->
      </ng-template>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>