.search-content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 65px 5px 0 5px;
}

.mat-card-title {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}

.clean-button {
    margin-top: -15px;
  }


.mat-card {
    margin-top: 15px;
    box-sizing: border-box;
    max-width:1170px;
}

.structure-editor-actions-container {
    display: flex;
    flex-direction: row;
}

.editor-container {
    width: 920px;
   min-height: 460px;
}

.ketcher {
    .editor-container {
        height: 460px;
    }
}

.jsdraw {
    .editor-container {
        min-height: 330px;
    }
}

.search-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px;
    margin-left: 10px;
    border-left: 1px solid #b3b3b3;

    .mat-slider-horizontal {
        width: 100%;
    }
}

.similarity-cutoff {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.action-button-container {
    margin-top: 20px;
    align-self: flex-end;
    width: 100%;

    button {
        width: 100%;
    }
}

@media(max-width: 1175px) {
    .structure-editor-actions-container {
        flex-direction: column;
        width: 100%;
    }

    .editor-container {
        width: 100%;
        height: 390px;
    }

    .search-actions {
        flex-direction: row;
        width: 100%;

    }
    .two {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .action-button-container {
        width: 50%;
        margin: auto;
    margin-top: 20px;
    }
}

@media(max-width: 970px) {
    .structure-editor-actions-container {
        width: 100%;
        overflow-x: auto;
    }

    .editor-container, .search-actions {
        min-width: 633px;
    }

    .jsdraw {
        .editor-container, .search-actions {
            min-width: 710px;
        }
    }
}

