h2 {
    margin-top: 0;
}

.directions {
    margin-bottom: 5px;
}

textarea {
    box-sizing: border-box;
    width: 100%;
    height: 50vh;
    border: solid 1px var(--textarea-light-border-color);
    border-radius: 2px;
    padding: 5px;
    margin: 0;

    &.has-message {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.import-actions {
    padding-top: 10px;
}

.message-container {
    padding: 5px 0;
    text-align: center;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;

    &.default {
        background-color: var(--structure-import-default-bg-color);
        color: var(--structure-import-color);
    }

    &.success {
        background-color: var(--structure-import-success-bg-color);
        color: var(--structure-import-color);
    }

    &.error {
        background-color: var(--structure-import-error-bg-color);
        color: var(--structure-import-color);
    }
}
