<h2 mat-dialog-title>
  Import Structure
</h2>
<div mat-dialog-content>
  <div class="directions">Enter molfile or smiles:</div>
  <div class="text-area-container">
    <textarea [formControl]="importTextControl" [ngClass]="{ 'has-message': message }"></textarea>
  </div>
</div>
@if (isLoading) {
  <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
}
@if (message) {
  <div [ngClass]="['message-container', messageClass]">
    {{message}}
  </div>
}
<div class="import-actions" mat-dialog-actions>
  <button mat-button ncatsFileSelect (selectedFile)="fileSelected($event)" (click)="fileBrowse()">Browse</button>
  <span class="middle-fill"></span>
  <button mat-button (click)="dismissDialog()">Close</button>
  <button class="import-button" mat-button (click)="importStructure()">Import</button>
</div>
