.facet-search-container {
    display: flex;

    .mat-form-field {
        flex-grow: 1;
    }
}

.facet-search-loading.mat-progress-bar {
    margin-top: -18px;
    margin-bottom: 1.09em;
}

.facet-value {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    padding: 6px 0;
    overflow: hidden;

    .facet-value-checkbox {
        padding: 0 3px 0 0;
    }

    .facet-value-label {
        padding: 0 3px;
        max-width: 150px;
        overflow: hidden;
        color: #404040;
        white-space: normal;
    }

    .facet-value-count {
        padding: 0 0 0 3px;
        overflow: hidden;
        font-weight: 500;
    }
}

.include {
    ::ng-deep .mat-checkbox-frame {
        border-color: #80CBC4;
    }

    ::ng-deep &.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
    ::ng-deep &.mat-checkbox-checked.mat-accent .mat-checkbox-background {
        background-color: #26A69A;
    }
}

.exclude {
    margin-left: 5px;
    ::ng-deep .mat-checkbox-frame {
        border-color: #EF9A9A;
    }

    ::ng-deep &.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
    ::ng-deep &.mat-checkbox-checked.mat-accent .mat-checkbox-background {
        background-color: #EF5350;
    }
}

.show-more {
    color:#448aff;
}

.show-more:hover {
    text-decoration: underline;
}

.facet-advanced-options-link {
    margin-top: 7px;
    color: #448aff;
}

.facet-actions {
    display: flex;
    align-items: center;
    margin-top: 10px;

    .pull-right {
        margin-left: auto;
    }

    .mat-flat-button {
        min-width: 70px;

        &:not(:first-child) {
            margin-left: 5px;
        }
    }
}

.deprecated {
    font-size: 14px;
    margin-left: 25px;
    color: rgba(0, 0, 0, .70);
    margin-bottom: 15px;

::ng-deep .mat-checkbox-inner-container {
        height: 14px;
        width: 14px;
    }

    ::ng-deep  .mat-checkbox-layout {
        margin-bottom: 10px;
    }
}
