<h3>Application</h3>

<div class="responsive">
  <table mat-table [dataSource]="paged">

    <ng-container matColumnDef="appType">
      <th mat-header-cell *matHeaderCellDef> Application Type </th>
      <td mat-cell *matCellDef="let application"> {{application.appType}} </td>
    </ng-container>
    
    <ng-container matColumnDef="appNumber">
      <th mat-header-cell *matHeaderCellDef> Application Number </th>
      <td mat-cell *matCellDef="let application"> {{application.appNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="center">
      <th mat-header-cell *matHeaderCellDef> Center </th>
      <td mat-cell *matCellDef="let application"> {{application.center}} </td>
    </ng-container>

    <ng-container matColumnDef="sponsorName">
      <th mat-header-cell *matHeaderCellDef> Sponsor Name </th>
      <td mat-cell *matCellDef="let application"> {{application.sponsorName}} </td>
    </ng-container>

    <ng-container matColumnDef="applicationStatus">
      <th mat-header-cell *matHeaderCellDef> Application Status </th>
      <td mat-cell *matCellDef="let application"> {{application.applicationStatus}} </td>
    </ng-container>

    <ng-container matColumnDef="applicationSubType">
      <th mat-header-cell *matHeaderCellDef> Application Sub Type </th>
      <td mat-cell *matCellDef="let application"> {{application.applicationSubType}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<mat-paginator [length]="totalRecords" [pageSize]="5" showFirstLastButtons="true" (page)="getSubstanceApplications($event)"
  [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
