<div *ngIf="(loadingComplete === true && foundCenterList === false && applicationCount === 0)">
  <br>
  <div class="padleft25px colorblue"><b>No Application Found</b></div>
  <br>
</div>

<mat-tab-group (selectedTabChange)="applicationTabSelected($event)">
  <mat-tab label="{{appCenter}}" *ngFor="let appCenter of centerList; let index = index">

    <div class="padtop5px padleft25px font15px colorblue">
      <b> {{appCenter}}</b>
      &nbsp;&nbsp;&nbsp;
      <span class="colorred">{{loadingStatus}}</span>
      &nbsp;&nbsp;&nbsp;
      <!-- Export Button -->
      <span class="export">
        <button matTooltip="Export Search Results" mat-button (click)="export()"
          class="mat-button export-button mat-raised-button">
          <mat-icon svgIcon="get_app"></mat-icon> Export
        </button>
      </span>

      <!--
      <a [href]="exportUrl" target="_blank" matTooltip='ApplicationRecords' *ngIf="totalRecords > 0">
        <button mat-icon-button color="primary">
          <mat-icon>arrow_downward</mat-icon>Export All Applications
        </button>
      </a>
      -->
    </div>

    <div class="responsive mat-table-style">

      <!-- Spinner -->
      <div *ngIf="showSpinner" class="spinnerstyle">
        <mat-progress-spinner diameter="80" color="warn" mode="indeterminate">
        </mat-progress-spinner>
      </div>

      <table mat-table [dataSource]="paged" class="font12px">
        <ng-container matColumnDef="appType">
          <th mat-header-cell *matHeaderCellDef> Application Type </th>
          <td mat-cell *matCellDef="let application">
            <!--
            <span *ngIf="(application.fromTable && application.fromTable === 'SRS')">
            -->
            <a [routerLink]="['/application', application.id]" target="_blank">{{application.appType}}</a>
            &nbsp;&nbsp;
            <a [routerLink]="['/application', application.id, 'edit']" target="_blank" *ngIf="isAdmin"
              matTooltip='Edit GSRS Application Record'>
              <mat-icon svgIcon="edit"></mat-icon>
            </a>
            <!--
            </span>
             -->
            <!--
            <span *ngIf="application.fromTable && application.fromTable !== 'SRS'">
              <a [routerLink]="['/applicationDarrtsDetails', application.appType, application.appNumber]"
                target="_blank">{{application.appType}}</a>
              <br><span class="font10px colorgray">(Integrity)</span>
            </span>
            -->
          </td>
        </ng-container>

        <ng-container matColumnDef="appNumber">
          <th mat-header-cell *matHeaderCellDef> Application Number </th>
          <td mat-cell *matCellDef="let application"> {{application.appNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="productName">
          <th mat-header-cell *matHeaderCellDef> Product Name </th>
          <td mat-cell *matCellDef="let application">

            <div *ngFor="let prod of application.applicationProductList; let i = index">
              <!-- Product Names-->
              <div class="row" *ngFor="let prodName of prod.applicationProductNameList; let i = index">
                {{prodName.productName}}
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="sponsorName">
          <th mat-header-cell *matHeaderCellDef> Sponsor Name </th>
          <td mat-cell *matCellDef="let application"> {{application.sponsorName}} </td>
        </ng-container>

        <ng-container matColumnDef="applicationStatus">
          <th mat-header-cell *matHeaderCellDef> Application Status </th>
          <td mat-cell *matCellDef="let application"> {{application.appStatus}} </td>
        </ng-container>

        <ng-container matColumnDef="applicationSubType">
          <th mat-header-cell *matHeaderCellDef> Application Sub Type </th>
          <td mat-cell *matCellDef="let application"> {{application.appSubType}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [length]="totalRecords" [pageSize]="5" showFirstLastButtons="true"
      (page)="getApplicationBySubstanceKeyCenter($event)" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </mat-tab>
</mat-tab-group>

<!--
</div>
<ng-template #nocenter>
  <br>
  <div class="padleft25px colorblue"><b>No Application Found</b></div>
  <br>
</ng-template>
-->