.font9px {
  font: size 10px;
}

.font10px {
	font-size: 10px;
}

.font12px {
	font-size: 12px;
}

.font15px {
  font-size: 15px;
}

.padleft25px {
	padding-left: 25px;
}

.padtop5px {
  padding-top: 5px;
}

.colorblue {
  color: #4b4572;
}

.colorgray {
	color: gray;
}

.colorred {
  color: red;
}

.mat-cell {
  font-size: 12px;
}

/*
.mat-row:nth-child(even){
  background-color:FFFFFF;
}

.mat-row:nth-child(odd){
  background-color: #e4f0ec;
}
*/

