.relationship-form-container {
    padding: 30px 10px 12px 10px;
    position: relative;
    display: flex;
}

.notification-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    z-index: 10;
    background-color: rgba(255, 255, 255, .8);
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: #666;
}

.related-substance, .mediator-substance {
    max-width: 25%;
    width: 25%;
}

.form-content {
    flex-grow: 1;
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .delete-container {
        padding: 0 10px 8px 0;
    }

    .type, .qualification, .interaction-type, .comments {
        flex-grow: 1;
        padding-right: 15px;
    }
}

.key-value-pair {
    display: flex;
    flex-direction: column;
    align-self: flex-start;

    .key {
        font-size: 11px;
        padding-bottom: 3.5px;
        line-height: 11px;
    }

    .value {
        font-size: 15.5px;
    }
}

.references-container {
    width: 100%;
}

.amount-title {
    margin-bottom: 10px;
    font-weight: bold;
}

.amount-form-container {
    padding: 0 7px;
}