@import '../../../../styles/table';

.search {
    width: 400px;
    max-width: 100%;
}

.a-link {
  text-decoration:none;
  color: var(--link-color);
}


.form-row {
  width:100%;
  display: flex;
  flex-direction:row;
   .label {
     width:10%;
     font-weight: 600;
     min-width: 100px;
   }
   .content {
     width:90%;
   }
   padding-bottom: 25px;
}

.show-filter-span {
  display: block;
  float: right;
}
