<div class="padtop5px padleft25px font15px colorblue">
  <b>In-vitro Pharmacology Summary</b>
  &nbsp;&nbsp;&nbsp;
  <!-- Export Button -->
  <!--
    <span class="export" *ngIf="isAdmin && totalRecords > 0">
      <button matTooltip="Export Search Results" mat-button (click)="export()"
        class="mat-button export-button mat-raised-button">
        <mat-icon svgIcon="get_app"></mat-icon> Export
      </button>
    </span>
    -->
</div>

<div class="responsive mat-table-style">
  <!-- Spinner -->
  <div *ngIf="showSpinner" class="spinnerstyle">
    <mat-progress-spinner diameter="80" color="warn" mode="indeterminate">
    </mat-progress-spinner>
  </div>

  <table mat-table [dataSource]="paged">

    <ng-container matColumnDef="viewDetails">
      <th mat-header-cell *matHeaderCellDef class="width100px">View Details</th>
      <td mat-cell *matCellDef="let invitro">
        <div *ngIf="invitro.id">
          <div *ngIf="isAdmin; else noLogin">
            <a [routerLink]="['/invitro-pharm', invitro.id]" target="_blank"
              matTooltip='View Invitro Pharmacology Record'>
              View
            </a>
          </div>
          <ng-template #noLogin>
            Please Login to View/Edit
          </ng-template>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="referenceSource">
      <th mat-header-cell *matHeaderCellDef> Reference Source</th>
      <td mat-cell *matCellDef="let assay"> {{assay.referenceSourceTypeNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="testAgent">
      <th mat-header-cell *matHeaderCellDef> Test Agent</th>
      <td mat-cell *matCellDef="let assay"> {{assay.testAgent}} </td>
    </ng-container>

    <ng-container matColumnDef="assayTargetName">
      <th mat-header-cell *matHeaderCellDef> Assay Target Name </th>
      <td mat-cell *matCellDef="let assayscreen">
        <div *ngIf="assayscreen.targetNameSubstanceUuid; else noAgentTargetNameSubUuid">
          <a [routerLink]="['/substances', assayscreen.targetNameSubstanceUuid]" target="_blank"
            matTooltip="Go to Substance Details page">
            {{ assayscreen.targetName }}
          </a>
        </div>
        <ng-template #noAgentTargetNameSubUuid>
          {{assayscreen.targetName}}
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="bioassayType">
      <th mat-header-cell *matHeaderCellDef> Bioassay Type</th>
      <td mat-cell *matCellDef="let assay"> {{assay.bioassayType}} </td>
    </ng-container>

    <ng-container matColumnDef="testAgentConcentration">
      <th mat-header-cell *matHeaderCellDef> Test Agent Concentration</th>
      <td mat-cell *matCellDef="let assay">
        {{assay.testAgentConcentration}}&nbsp;
        {{assay.testAgentConcentrationUnits}}
      </td>
    </ng-container>

    <ng-container matColumnDef="resultValue">
      <th mat-header-cell *matHeaderCellDef> Result Value</th>
      <td mat-cell *matCellDef="let assay">
        {{assay.resultValue}}&nbsp;
        {{assay.resultValueUnits}}
      </td>
    </ng-container>

    <ng-container matColumnDef="resultType">
      <th mat-header-cell *matHeaderCellDef> Result Type</th>
      <td mat-cell *matCellDef="let assay"> {{assay.resultType}} </td>
    </ng-container>

    <ng-container matColumnDef="relationshipType">
      <th mat-header-cell *matHeaderCellDef> Relationship Type</th>
      <td mat-cell *matCellDef="let assay"> {{assay.relationshipType}} </td>
    </ng-container>

    <ng-container matColumnDef="interactionType">
      <th mat-header-cell *matHeaderCellDef> Interaction Type</th>
      <td mat-cell *matCellDef="let assay"> {{assay.interactionType}} </td>
    </ng-container>

    <!--
    <ng-container matColumnDef="testAgent">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="width100px">Test Compound</th>
      <td mat-cell *matCellDef="let assay">
        <div *ngIf="testCompoundSubNameMatch == true; else noTestCompoundSubName">
          <span class="colororange">{{ assay.testAgent }}</span>
        </div>
        <ng-template #noTestCompoundSubName>
          <a [routerLink]="['/substances', assay.testCompoundUnii]" target="_blank">
            {{ assay.testAgent}}
          </a>
        </ng-template>
      </td>
    </ng-container>
    -->

    <!--
    <ng-container matColumnDef="testCompound">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Test Compound </th>
      <td mat-cell *matCellDef="let assay">
        <div *ngIf="assay._testCompoundSubId; else noTestCompoundSubId">
          <a [routerLink]="['/substances', assay._testCompoundSubId]" target="_blank"
            matTooltip="Go to Substance Details page">
            {{ assay.testCompound }}
          </a>
        </div>
        <ng-template #noTestCompoundSubId>
          {{assay.testCompound}}
        </ng-template>
      </td>
    </ng-container>
    -->

    <tr mat-header-row *matHeaderRowDef="testAgentSummaryColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: testAgentSummaryColumns;"></tr>
  </table>
</div>

<mat-paginator [length]="invitroPharmTotalRecords" [pageSize]="5" showFirstLastButtons="true"
  (page)="getInvitroPharm($event)" [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
