<div class="padtop5px padleft25px font15px colorblue">
  <b>In-vitro Pharmacology Summary</b>
  &nbsp;&nbsp;&nbsp;
  <!-- Export Button -->
  <span class="export" *ngIf="isAdmin && invitroPharmTotalRecords > 0">
    <button matTooltip="Export Search Results" mat-button (click)="export()"
      class="mat-button export-button mat-raised-button">
      <mat-icon svgIcon="get_app"></mat-icon> Export
    </button>
  </span>
</div>

<div class="responsive mat-table-style">
  <!-- Spinner -->
  <div *ngIf="showSpinner" class="spinnerstyle">
    <mat-progress-spinner diameter="80" color="warn" mode="indeterminate">
    </mat-progress-spinner>
  </div>

  <table mat-table [dataSource]="paged">

    <ng-container matColumnDef="viewDetails">
      <th mat-header-cell *matHeaderCellDef class="width80px">View Details</th>
      <td mat-cell *matCellDef="let assay">
        <div *ngIf="assay.id">
          <div *ngIf="isAdmin; else noLogin">
            <a [routerLink]="['/invitro-pharm', assay.id]" target="_blank"
              matTooltip='View Invitro Pharmacology Record'>
              View
            </a>

            &nbsp;&nbsp;
            <!-- Edit Assay Data -->
            <a [routerLink]="['/invitro-pharm/assay', assay.id, 'edit']" target="_blank" *ngIf="isAdmin"
              matTooltip='Edit Assay Record ONLY'>
              <mat-icon svgIcon="edit"></mat-icon>
            </a>&nbsp;
          </div>
          <ng-template #noLogin>
            Please Login to View/Edit
          </ng-template>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="testAgent">
      <th mat-header-cell *matHeaderCellDef class="width100px"> Test Agent</th>
      <td mat-cell *matCellDef="let assay"> {{assay.testAgent}} </td>
    </ng-container>

    <ng-container matColumnDef="assayTargetName">
      <th mat-header-cell *matHeaderCellDef> Assay Target Name </th>
      <td mat-cell *matCellDef="let assay">
        <div *ngIf="assay.targetNameSubstanceKey; else noTargetNameSubstanceKey">
          <a [routerLink]="['/substances', assay.targetNameSubstanceKey]" target="_blank"
            matTooltip="Go to Substance Details page">
            {{ assay.targetName }}
          </a>
        </div>
        <ng-template #noTargetNameSubstanceKey>
          <div *ngIf="assay.targetNameApprovalId; else noTargetNameApprovalId">
            <a [routerLink]="['/substances', assay.targetNameApprovalId]" target="_blank"
              matTooltip="Go to Substance Details page">
              {{ assay.targetName }}
            </a>
          </div>
          <ng-template #noTargetNameApprovalId>
            {{assay.targetName}}
          </ng-template>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="bioassayType">
      <th mat-header-cell *matHeaderCellDef> Bioassay Type</th>
      <td mat-cell *matCellDef="let assay"> {{assay.bioassayType}} </td>
    </ng-container>

    <ng-container matColumnDef="referenceSource">
      <th mat-header-cell *matHeaderCellDef> Reference Source</th>
      <td mat-cell *matCellDef="let assay">

        <div class="rowStyle" [ngClass]="{'bordertop': indexScreening > 0}"
          *ngFor="let screening of assay.screeningList; let indexScreening = index">
          <div *ngIf="screening.invitroAssayResultInformation">
            <div *ngIf="screening.invitroAssayResultInformation.invitroReferences">
              <div *ngIf="screening.invitroAssayResultInformation.invitroReferences.length > 0">
                <div
                  *ngFor="let reference of screening.invitroAssayResultInformation.invitroReferences; let indexRef = index">
                  <span *ngIf="reference.primaryReference">
                    <span *ngIf="reference.primaryReference == true">
                      <span *ngIf="reference.sourceType">
                        {{reference.sourceType}}
                      </span>
                      <span *ngIf="reference.sourceId">
                        {{reference.sourceId}}
                      </span>
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- LOOP -->
      </td>
    </ng-container>

    <ng-container matColumnDef="resultValue">
      <th mat-header-cell *matHeaderCellDef> Result Value</th>
      <td mat-cell *matCellDef="let assay">
        <div class="rowStyle" [ngClass]="{'bordertop': indexScreening > 0}"
          *ngFor="let screening of assay.screeningList; let indexScreening = index">
          <div *ngIf="screening.invitroSummary">
            <span *ngIf="screening.invitroSummary.resultValueAverage">
              {{screening.invitroSummary.resultValueAverage}}&nbsp;(Avg)
            </span>
            <span *ngIf="screening.invitroSummary.resultValueLow">
              {{screening.invitroSummary.resultValueLow}}&nbsp;(Low)
            </span>
            <span *ngIf="screening.invitroSummary.resultValueHigh">
              {{screening.invitroSummary.resultValueHigh}}&nbsp;(High)
            </span>
            {{screening.invitroSummary.resultValueUnits}}
          </div>
        </div> <!-- LOOP -->
      </td>
    </ng-container>

    <ng-container matColumnDef="resultType">
      <th mat-header-cell *matHeaderCellDef> Result Type</th>
      <td mat-cell *matCellDef="let assay">
        <div class="rowStyle" [ngClass]="{'bordertop': indexScreening > 0}"
          *ngFor="let screening of assay.screeningList; let indexScreening = index">
          <div *ngIf="screening.invitroSummary">
            {{screening.invitroSummary.resultType}}
          </div>
        </div> <!-- LOOP -->
      </td>
    </ng-container>

    <ng-container matColumnDef="relationshipType">
      <th mat-header-cell *matHeaderCellDef> Relationship Type</th>
      <td mat-cell *matCellDef="let assay">
        <div class="rowStyle" [ngClass]="{'bordertop': indexScreening > 0}"
          *ngFor="let screening of assay.screeningList; let indexScreening = index">
          <div *ngIf="screening.invitroSummary">
            {{screening.invitroSummary.relationshipType}}
          </div>
        </div> <!-- LOOP -->
      </td>
    </ng-container>

    <ng-container matColumnDef="interactionType">
      <th mat-header-cell *matHeaderCellDef> Interaction Type</th>
      <td mat-cell *matCellDef="let assay">
        <div class="rowStyle" [ngClass]="{'bordertop': indexScreening > 0}"
          *ngFor="let screening of assay.screeningList; let indexScreening = index">
          <div *ngIf="screening.invitroSummary">
            {{screening.invitroSummary.interactionType}}
          </div>
        </div> <!-- LOOP -->
      </td>
    </ng-container>

    <ng-container matColumnDef="isFromResult">
      <th mat-header-cell *matHeaderCellDef> From Result Data</th>
      <td mat-cell *matCellDef="let assay">
        <div class="rowStyle" [ngClass]="{'bordertop': indexScreening > 0}"
          *ngFor="let screening of assay.screeningList; let indexScreening = index">
          <div *ngIf="screening.invitroSummary">
            <span *ngIf="screening.invitroSummary.isFromResult && screening.invitroSummary.isFromResult == true">
              <mat-icon matTooltip="This Summary data is from Result data">
                check_circle_outline
              </mat-icon>
            </span>
          </div>
        </div> <!-- LOOP -->
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="testAgentSummaryColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: testAgentSummaryColumns;"></tr>
  </table>
</div>

<mat-paginator [length]="invitroPharmTotalRecords" [pageSize]="5" showFirstLastButtons="true"
  (page)="getInvitroPharmacology($event)" [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>