.mat-table-style {
  td.mat-cell {
    vertical-align: top;
    font-size: 12px;
  }
}

.rowStyle {
  height: 40px !important;
  display: block;
  /*display: table-cell; */
  /*border-top: 1px solid var(--regular-grey-color);*/
}

.spinnerstyle {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: var(--spinner-bg-color);
  z-index: 1;
  display: flex;
  align-items: top; /* Verticle align */
  justify-content: center; /* horizonal align */
}

.bordergray {
  border: 1px solid var(--regular-grey-color);
}

.bordertop {
  border-top: 1px solid var(--regular-grey-color);
}

.borderbottom {
  border-bottom: 1px solid var(--regular-grey-color);
}

.font10px {
	font-size: 10px;
}

.font12px {
  font-size: 12px;
}

.font15px {
  font-size: 15px;
}

.fontbold {
  font-weight: bold;
}

.colorgray {
	color: var(--regular-grey-color);
}

.colorred {
  color: var(--regular-red-color);
}

.colorgreen {
  color: var(--regular-green-color);
}

.colorpurple {
  color: var(--regular-purple-color);
}

.colorblue {
  color: var(--deep-purple-color);
}

.colororange {
  color: var(--orange-color);
}

.padleft25px {
	padding-left: 25px;
}

.padtop5px {
  padding-top: 5px;
}

.marginbottom10px {
  margin-bottom: 10px;
}

.height40px {
  height: 40px;
}

.width80px {
  width: 80px;
}

.width100px {
  width: 100px;
}

/*
ol, li {
  margin-left:0px;
  padding-left:0px;
}​*/