<div class="moiety" *ngFor="let moiety of moieties; last as isLast">
  <div class="flex-row">
      <div class="moiety-structure flex-colum">
        <div class="structure-title">Moiety Structure</div>
        <img appSubstanceImage [entityId]="moiety.id" stereo = "true">
      </div>
      <div class="structure-form-container flex-column">
        <app-structure-form [structure]="moiety" type="structure" hideAccess="true"></app-structure-form>
      </div>
  </div>
  <div class="amount-form-container">
    <div class="count-amount-title">Count Amount</div>
    <div>
      <app-amount-form [substanceAmount]="moiety.countAmount"></app-amount-form>
    </div>
  </div>
  <mat-divider class="form-divider" [inset]="true" *ngIf="!isLast"></mat-divider>
</div>
