.mat-divider.mat-divider-inset {
    margin-left: 0;
}

.mat-divider {
    border-top-color: var(--text-color);
}

.moiety {

    &:nth-child(odd) {
        background-color: var(--nth-child-color-2);

        ::ng-deep {

            .mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"]) .mat-expansion-panel-header:hover {
                background-color: var(--nth-child-color-3);
            }
        }
    }

    &:nth-child(even) {
        ::ng-deep {

            .mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"]) .mat-expansion-panel-header:hover {
                background-color: var(--nth-child-color-1);
            }
        }
    }

    ::ng-deep {
        .mat-expansion-panel, .mat-table, textarea {
            background-color: var(--regular-transparent-color);
        }
    }
}

.moiety-structure {
    max-width: 20%;
    width: 20%;

    img {
        width: 100%;
        height: auto;
        vertical-align: middle;
    }
}

.structure-title {
    padding: 10px 0 0 7px;
    font-weight: bold;
    margin-bottom: 10px;
}

.structure-form-container {
    flex-grow: 1;
}

.count-amount-title {
    margin-bottom: 10px;
    font-weight: bold;
}

.amount-form-container {
    padding: 0 7px;
}