<div class="container">
    <span class="exitBtn" (click)="exit()">X</span>
    <mat-card>
      <mat-card-title>
        Enter email associated with the account:
      </mat-card-title>
      <mat-card-content>
        <form class="form" [formGroup]="pwdForm">
          <mat-form-field>
              <input type="email" matInput placeholder="Enter professional email address" formControlName="email" email>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button color="primary" mat-flat-button [disabled]="pwdForm.invalid" (click)="pwdRecovery()">SEND PASSWORD RECOVERY</button>
      </mat-card-actions>
    </mat-card>
  </div>
