<div class="product-details-container">
  <mat-card>
    <mat-card-title>
      Product Details
    </mat-card-title>
    <mat-card-content *ngIf="product">
      <div class="product-details-row">
        <div class="product-property">
          <div class="product-property-key">
            Product NDC:
          </div>
          <div class="product-property-value">
            11111-2222
          </div>
        </div>
        <div class="product-property">
          <div class="product-property-key">
            Application Number:
          </div>
          <div class="product-property-value">
            {{product.appNumber}}
          </div>
        </div>
      </div>
      <div class="product-details-row">
        <div class="product-property">
          <div class="product-property-key">
            Product Name:
          </div>
          <div class="product-property-value">
            {{product.proprietaryName}}
          </div>
        </div>
        <div class="product-property">
          <div class="product-property-key">
            Product Name Type:
          </div>
          <div class="product-property-value">
            {{product.productType}}
          </div>
        </div>
      </div>
      <div class="product-details-row">
        <div class="product-property">
          <div class="product-property-key">
            Non Proprietary Name:
          </div>
          <div class="product-property-value">
            NAME 1, NAME 2, NAME 3, NAME 4, NAME 5, NAME 6, NAME 7, NAME 8, NAME 9, NAME 10
          </div>
        </div>
        <div class="product-property">
          <div class="product-property-key">
            Proprietary Name Suffix:
          </div>
          <div class="product-property-value">

          </div>
        </div>
      </div>
      <div class="product-details-row">
        <div class="product-property">
          <div class="product-property-key">
            Labeler Name:
          </div>
          <div class="product-property-value">

          </div>
        </div>
        <div class="product-property">
          <div class="product-property-key">
            Dosage Form Name:
          </div>
          <div class="product-property-value">

          </div>
        </div>
      </div>
      <div class="product-details-row">
        <div class="product-property">
          <div class="product-property-key">
            Marketing Category Name:
          </div>
          <div class="product-property-value">

          </div>
        </div>
        <div class="product-property">
          <div class="product-property-key">
            Start Marketing Date:
          </div>
          <div class="product-property-value">

          </div>
        </div>
      </div>
      <div class="product-details-row">
        <div class="product-property">
          <div class="product-property-key">
            Route Name:
          </div>
          <div class="product-property-value">

          </div>
        </div>
        <div class="product-property">
          <div class="product-property-key">
            End Marketing Date:
          </div>
          <div class="product-property-value">

          </div>
        </div>
      </div>
      <div class="product-details-row">
        <div class="product-property">
          <div class="product-property-key">
            Color:
          </div>
          <div class="product-property-value">

          </div>
        </div>
        <div class="product-property">
          <div class="product-property-key">
            Flavor:
          </div>
          <div class="product-property-value">

          </div>
        </div>
      </div>
      <div class="product-details-row">
        <div class="product-property">
          <div class="product-property-key">
            Shape:
          </div>
          <div class="product-property-value">

          </div>
        </div>
        <div class="product-property">
          <div class="product-property-key">
            Imprint Text:
          </div>
          <div class="product-property-value">

          </div>
        </div>
      </div>
      <div class="product-details-row">
        <div class="product-property">
          <div class="product-property-key">
            Size (mm):
          </div>
          <div class="product-property-value">

          </div>
        </div>
        <div class="product-property">
          <div class="product-property-key">
            Number of Fragments:
          </div>
          <div class="product-property-value">

          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>