.mat-table-style {
  td.mat-cell {
    vertical-align: top;
    font-size: 12px;
  }
  position: relative;
}

.divflex {
  display: flex;
}

.font8px {
  font-size: 8px;
}

.font10px {
  font-size: 10px;
}

.font15px {
  font-size: 15px;
}

.margintop10px {
  margin-top: 10px;
}

.margintop90px {
  margin-top: 90px;
}

marginleft50px {
  margin-left: 50px;
}

.padleft25px {
  padding-left: 25px;
}

.padtop5px {
  padding-top: 5px;
}

.padtop10px {
  padding-top: 10px;
}

.padtopneg50px {
  padding-top: -50px;
}

.colorblue {
  color: var(--deep-purple-color);
}

.colorgray {
  color: var(--regular-grey-color);
}

.colorred {
  color: var(--regular-red-color);
}

.colororange {
  color: var(--orange-color-rgb-2);
}

.bordergray {
  border: 1px solid var(--regular-grey-color);
}

.width120px {
  width: 120px;
  display: block;
}

.width200px {
  width: 200px;
  display: block;
}

.spinnerstyle {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: var(--spinner-bg-color);
  z-index: 1;
  display: flex;
  align-items: top; /* Verticle align */
  justify-content: center; /* horizonal align */
}

