<div class="padtop5px padleft25px font15px colorblue">
  <b>Adverse Event PT</b>
  &nbsp;&nbsp;&nbsp;
  <a [href]="exportUrl" target="_blank" matTooltip='Adverse Event PT Records' *ngIf="totalRecords > 0">
    <button mat-icon-button color="primary">
      <mat-icon>arrow_downward</mat-icon>Export
    </button>
  </a>  
</div>
<!--
<div class="flex-row">
  <span class="middle-fill"></span>
  <mat-form-field [floatLabel]="'never'" class="search">
    <input matInput placeholder="Search" [formControl]="searchControl">
  </mat-form-field>
</div>
-->
<div class="responsive mat-table-style">
  <table mat-table [dataSource]="paged">

    <!--
    <ng-container matColumnDef="bdnum">
      <th mat-header-cell *matHeaderCellDef> Bdnum </th>
      <td mat-cell *matCellDef="let product"> <div innerHTML="{{product.productNDC}}"></div></td>
    </ng-container>
  -->
    <ng-container matColumnDef="ptTerm">
      <th mat-header-cell *matHeaderCellDef> PT Term </th>
      <td mat-cell *matCellDef="let adverse"> {{adverse.ptTerm}} </td>
    </ng-container>

    <ng-container matColumnDef="primSoc">
      <th mat-header-cell *matHeaderCellDef> Prim SOC </th>
      <td mat-cell *matCellDef="let adverse"> {{adverse.primSoc}} </td>
    </ng-container>

    <ng-container matColumnDef="caseCount">
      <th mat-header-cell *matHeaderCellDef> Case Count </th>
      <td mat-cell *matCellDef="let adverse"> {{adverse.caseCount}} </td>
    </ng-container>

    <ng-container matColumnDef="ptCount">
      <th mat-header-cell *matHeaderCellDef> PT Count </th>
      <td mat-cell *matCellDef="let adverse"> {{adverse.ptCount}} </td>
    </ng-container>

    <ng-container matColumnDef="prr">
      <th mat-header-cell *matHeaderCellDef> PRR </th>
      <td mat-cell *matCellDef="let adverse"> {{adverse.prr | number : '.2-2'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<mat-paginator [length]="totalRecords" [pageSize]="5" showFirstLastButtons="true"
  (page)="getSubstanceAdverseEventPt($event)" [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>