.mat-table-style {
  td.mat-cell {
    vertical-align: top;
    font-size: 12px;
  }
  position: relative;
}

.divflex {
  display: flex;
}

.font8px {
  font-size: 8px;
}

.font15px {
  font-size: 15px;
}

.margintop10px {
  margin-top: 10px;
}

.margintop90px {
  margin-top: 90px;
}

marginleft50px {
  margin-left: 50px;
}

.padleft25px {
  padding-left: 25px;
}
  
.padtop5px {
  padding-top: 5px;
}

.padtop10px {
  padding-top: 10px;
}

.padtopneg50px {
  padding-top: -50px;
}

.colorblue {
  color: #4b4572;
}
  
.colorgray {
  color: gray;
}

.colorred {
  color: red;
}

.colororange {
  color: rgb(228, 134, 46);
}

.bordergray {
  border: 1px solid gray;
}

.width120px {
  width: 120px;
  display: block;
}

.width200px {
  width: 200px;
  display: block;
}

.spinnerstyle {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(150, 148, 148, 0.15);
  z-index: 1;
  display: flex;
  align-items: top; /* Verticle align */
  justify-content: center; /* horizonal align */
}

