.font15px {
    font-size: 15px;
  }
  
  .padleft25px {
      padding-left: 25px;
  }
  
  .padtop5px {
    padding-top: 5px;
  }
  
  .colorblue {
    color: #4b4572;
  }
  
  .colorgray {
      color: gray;
  }

  .mat-cell {
    font-size: 12px;
  }