.search-form-field {
    width: 300px;
    
    .mat-input-element {
        font-size: 16px;
    }

    ::ng-deep .mat-form-field-label {
        font-size: 16px;
        top: 1.98125em;
    }
}

.substance-suggestion-field {
    padding: 8px 6px;
    color: #666666;
    overflow: hidden;
}

.search-container {
    mat-form-field {
        overflow: hidden;
    }
}

@media(max-width: 865px) {

    .search-container {
        mat-form-field {
            width: 0;
        }
    }
}