.structure-image-content>div {
    max-width: 500px;
    margin: auto;
}
/* this is a hack to try to add a scroll bar sometimes */

.title {
    font-size: 2em;
    margin-block-end: .67em;
    margin-block-start: .67em;
    font-weight: bold;
}

.full-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
}