<div class="process-form-container">
  <div *ngIf="process.$$deletedCode" class="notification-backdrop">
    Deleted&nbsp;
    <button mat-icon-button matTooltip="Undo" (click)="undoDelete()">
      <mat-icon svgIcon="undo"></mat-icon>
    </button>
  </div>
  <div class="form-row">
    <div class="delete-container">
      <button mat-icon-button matTooltip="Delete Process" (click)="deleteProcess()">
        <mat-icon svgIcon="delete_forever"></mat-icon>
      </button>
    </div>

    <div class="process">
      <mat-form-field class="col-5-1">
        <input matInput placeholder="Process Name" [(ngModel)]="process.processName" name="process.processName" />
      </mat-form-field>
      <!--
      <button mat-button (click)="addSite()">
        Add Sites <mat-icon svgIcon="add_circle_outline"></mat-icon>
      </button>
      -->
    </div>
  </div> <!-- form row -->

  <!-- SITES LIST BEGIN -->
  <hr>
  <div>
    <div *ngIf="showAdvancedSettings">
      <span matBadge="{{process.sites.length}}" matBadgeOverlap="false">
        <span class="fontsize18px"><b>Site Information</b></span>
      </span>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button mat-raised-button color="primary" (click)="addSite()" matTooltip="Add New Site">
        <mat-icon svgIcon="add_circle_outline"></mat-icon>Add Sites
      </button>
      <br><br>
    </div>

    <div class="margintop10px marginbottom20px" *ngFor="let site of process.sites; let siteIndex = index">
      <fieldset class="border">
        <legend class="border">Site &nbsp;<b><span class="colorgreen font17px">{{siteIndex + 1}}</span></b>
        </legend>
        <app-ssg4m-sites [site]="site" [processIndex]="processIndex" [siteIndex]="siteIndex"
          [showAdvancedSettings]="showAdvancedSettings">
        </app-ssg4m-sites>
      </fieldset>
    </div> <!-- loop -->
  </div>
  <!-- SITES LIST END -->
</div>