.process-form-container {
  padding: 5px 10px 12px 10px;
  position: relative;
}

.notification-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  z-index: 10;
  background-color: var(--notif-backdrop-bg-color);
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: var(--notif-backdrop-color);
}

.form-row {
  display: flex;
  width: 100%;

  .delete-container {
    padding: 0 10px 8px 0;
  }

  .col-4-1 {
    width: calc((100% - 20px * 3) / 4); // 4 column
    margin-right: 20px;
  }

  .col-3-1 {
    width: calc((100% - 20px * 2) / 3); // 3 column
    margin-right: 20px;
  }

  .col-2-1 {
    width: calc((100% - 20px * 1) / 2); // 2 column
    margin-right: 20px;
  }
}

.references-container {
  width: 100%;
}

hr {
  border: none;
  border-top: 3px dotted var(--regular-green-color);
  color: var(--hr-color);
  overflow: visible;
  text-align: center;
  height: 5px;
}

.divflex {
  display: flex;
}

.bordergray {
  border: 1px solid var(--regular-grey-color);
}

.borderorange {
  border: 1px solid var(--regular-orangered-color);
}

.fontsize17px {
  font-size: 17px;
}

.fontsize18px {
  font-size: 18px;
}

.margintop10px {
  margin-top: 10px;
}

.margintop10px {
  margin-top: 10px;
}

.marginleft50px {
  margin-left: 50px;
}

.marginbottom20px {
  margin-bottom: 10px;
}

.colorgreen {
  color: var(--regular-green-color);
}

.divflexright {
  display: flex;
  justify-content: flex-end;
}

.button-add {
  z-index: 1;
  position: relative;
  top: -45px;
  margin-right: 25px;
  color: red;
  background-color: #FFFFFF;
  border: 1px solid red;
}

.button-delete {
  display: flex;
  justify-content: flex-end;
  margin-top: -65px;
  color: red;
}

fieldset.border {
  border: solid 1px var(--fieldset-green-border-color) !important;
  padding: 0 10px 10px 10px;
  border-bottom: none;
  border-radius: 8px;
  min-width: 0;  /* override the default value of min-content */
  -webkit-box-shadow: 2px 3px 3px 1px var(--fieldset-box-shadow-color);
  -moz-box-shadow: 2px 3px 5px 1px var(--fieldset-box-shadow-color);
  box-shadow: 2px 2px 3px 1px var(--fieldset-box-shadow-color);
}

legend.border {
  width: auto !important;
  border: none;
  border-bottom: none;
  font-size: 15px;
  font-family: Verdana;
  font-weight: bold;
  margin-bottom: 10px;
}
