.bordergray {
  border: 1px border gray;
}

.mat-divider.mat-divider-inset {
  margin-left: 0;
}

.mat-divider {
  border-top-color: rgba(0, 0, 0, .5);
}

.process {
  margin-bottom: 50px;

  &:nth-child(odd) {
      background-color: rgba(68, 138, 255, .07);

      ::ng-deep {

          .mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"]) .mat-expansion-panel-header:hover {
              background-color: rgba(68, 138, 255, .15);
          }
      }
  }

  &:nth-child(even) {
      ::ng-deep {

          .mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"]) .mat-expansion-panel-header:hover {
              background-color: rgba(128, 128, 128, .15);
          }
      }
  }

  ::ng-deep {
      .mat-expansion-panel, .mat-table, textarea {
          background-color: transparent;
      }
  }
}

.search {
  width: 400px;
  max-width: 100%;
}

.paddingleft400px {
  padding-left: 400px;
}

fieldset.border {
  border: solid 2px rgb(27, 15, 184) !important;
  padding: 0 10px 10px 10px;
  border-bottom: none;
  border-radius: 8px;
  min-width: 0;  /* override the default value of min-content */
  -webkit-box-shadow: 2px 3px 3px 1px rgba(110,104,110,0.64);
  -moz-box-shadow: 2px 3px 5px 1px rgba(110,104,110,0.64);
  box-shadow: 2px 2px 3px 1px rgba(110,104,110,0.64);
}

legend.border {
  width: auto !important;
  border: none;
  border-bottom: none;
  font-size: 15px;
  color: #174793;
  font-family: Verdana;
  font-weight: bold;
  margin-bottom: 10px;
}

/* label style */
.mat-tab-label{
  /*
  background: #d1d0d8;
  color:  rgb(155, 39, 39);
  min-width: 60px!important;
  border-radius: 100px;
  */
}
/* focus style */
.mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus, .mat-tab-group.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus, .mat-tab-nav-bar.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus, .mat-tab-nav-bar.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus{
  /* background: #e7e7e7; */
}
/* ink bar style */
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  /*
  background: rgba(149, 165, 166,0.3);
  height: 35px;
  border-radius: 100px;
  margin-bottom: 5px;
  */
}

.tabs .mat-tab-labels, .mat-tab-label, .mat-tab-link {
  /* color: red !important; */
}

:host ::ng-deep .mat-tab-label {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  background-color: rgb(226, 226, 226);
  margin-left: 5px;
  border-radius: 10px 10px 0px 0px;
  flex-wrap: wrap!important;
  min-width: 120px;
  max-width: 120px;
  height: 35px;
}
/*
::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  color: red;
  background-color: green;
}
*/

:host ::ng-deep .mat-tab-header {
  border-bottom: 2px solid rgb(67, 70, 148);
}

:host ::ng-deep .mat-tab-label-active {
  color: #FFFFFF;
  font-weight: bold;
  background-color: rgb(20, 76, 189);
  /*
   color: rgb(248, 250, 248);
   background-color: rgb(44, 70, 141);

   opacity: 1;
     */
}

:host ::ng-deep .mat-ink-bar {
  background-color: var(--primary-color,#261c53) !important;
  height: 1px;
}

::ng-deep.mat-tab-label .mat-tab-label-content {
  /* flex-wrap: wrap!important; */
}

