.bordergray {
  border: 1px border var(--regular-grey-color);
}

.mat-divider.mat-divider-inset {
  margin-left: 0;
}

.mat-divider {
  border-top-color: var(--text-color);
}

.process {
  margin-bottom: 50px;

  &:nth-child(odd) {
      background-color: var(--nth-child-color-2);

      ::ng-deep {

          .mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"]) .mat-expansion-panel-header:hover {
              background-color: var(--nth-child-color-3);
          }
      }
  }

  &:nth-child(even) {
      ::ng-deep {

          .mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"]) .mat-expansion-panel-header:hover {
              background-color: var(--nth-child-color-1);
          }
      }
  }

  ::ng-deep {
      .mat-expansion-panel, .mat-table, textarea {
          background-color: var(--regular-transparent-color);
      }
  }
}

.search {
  width: 400px;
  max-width: 100%;
}

.paddingleft400px {
  padding-left: 400px;
}

fieldset.border {
  border: solid 2px var(--fieldset-blue-border-color) !important;
  padding: 0 10px 10px 10px;
  border-bottom: none;
  border-radius: 8px;
  min-width: 0;  /* override the default value of min-content */
  -webkit-box-shadow: 2px 3px 3px 1px var(--fieldset-box-shadow-color);
  -moz-box-shadow: 2px 3px 5px 1px var(--fieldset-box-shadow-color);
  box-shadow: 2px 2px 3px 1px var(--fieldset-box-shadow-color);
}

legend.border {
  width: auto !important;
  border: none;
  border-bottom: none;
  font-size: 15px;
  color: var(--legend-blue-border-color);
  font-family: Verdana;
  font-weight: bold;
  margin-bottom: 10px;
}

:host ::ng-deep .mat-tab-list .mat-tab-label {
  color: var(--regular-black-color);
  background-color: var(--pale-border-color-rgb-2);
  border-right: 1px solid var(--grey-border-color-rgb);
}

:host ::ng-deep .mat-tab-header {
  border-bottom: 2px solid var(--deep-purple-border-color-rgb);
}

:host ::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  color: var(--regular-black-color);
  font-weight: bold;
  background-color: var(--white-color);
}

:host ::ng-deep .mat-ink-bar {
  background-color: var(--primary-color, --royal-blue-color) !important;
  height: 3px;
}

/* Tyler trying to make the sites disappear by default */
fieldset.border.minimize {
    border: none !important;
    padding: 0px !important;
    box-shadow: none !important;
    margin-top: 0px  !important;
}

