<div class="structure-card-content" *ngIf="structure">
  <div>
    <div class="name-value">
      <div class="name">Stereochemistry</div>
      <div class="value black-pill">{{structure.stereochemistry}}</div>
    </div>
    <div class="name-value">
      <div class="name">Molecular Formula</div>
      <div class="value blue-font">{{structure.formula}}</div>
    </div>
    <div class="name-value">
      <div class="name">Molecular Weight</div>
      <div class="value blue-font">{{structure.mwt}}</div>
    </div>
    <div class="name-value">
      <div class="name">Optical Activity</div>
      <div class="value gray-pill">{{structure.opticalActivity}}</div>
    </div>
    <div class="name-value">
      <div class="name">Defined Stereocenters</div>
      <div class="value gray-pill">{{structure.definedStereo}}</div>
    </div>
    <div class="name-value">
      <div class="name">E/Z Centers</div>
      <div class="value gray-pill">{{structure.ezCenters}}</div>
    </div>
    <div class="name-value">
      <div class="name">Charge</div>
      <div class="value gray-pill">{{structure.charge}}</div>
    </div>
  </div>
  <div class="structure-image-container">
    <img class="structure-img" [src]="getSafeStructureImgUrl(structure.id)">
  </div>
</div>
