<div class = "alignment-container">
  <div class = "alignment-label">
    <span class = "subunit">Subunit {{alignmentArray.subunitIndex}}</span>
    <span class = "alignment-id">{{alignmentArray.id}}</span>
  </div>
  @if (text || targetSitesText || alignmentBodyText) {
    <div class="alignment-input">
      @if (text) {
        <pre class="alignment-stats" [innerText]="text"></pre>
      }
      @if (targetSitesText) {
        <pre class="alignment-target-sites" [innerText]="targetSitesText"></pre>
      }
      @if (alignmentBodyText) {
        <pre class="alignment-body" [innerText]="alignmentBodyText"></pre>
      }
    </div>
  }

</div>
