.width1140px {
	width: 1140px;
  max-width: 1140px;
}

.font11px {
  font-size: 11px;
}

.font12px {
  font-size: 12px;
}

.font14px {
  font-size: 14px;
}

.font16px {
  font-size: 16px;
}

.font18px {
  font-size: 18px;
}

.colorred {
	color: red;
}

.colorgreen {
	color: green;
}

.colorpurple {
	color: purple;
}

.bordergray {
  border: 1px solid gray;
}

.padtop20px {
	padding-top: 20px;
}

.padleft5px {
  padding-left: 5px;
}

.padleft10px {
  padding-left: 10px;
}

.padleft15px {
  padding-left: 15px;
}

.padleft30px {
  padding-left: 20px;
}

.padtop5px {
	padding-top: 5px;
}

.padbottom7px {
	padding-bottom: 7px;
}

.headerstyle {
	font-size: 13px;
	vertical-align: top;
	color: #241983;
	padding-left: 3px;
	background-color: rgb(236, 236, 236);
	border-bottom: 1px solid gray;
	border-right: 1px solid gray;
}

.cellstyle {
	vertical-align: top;
	text-align: top;
  padding-left: 3px;
  padding-top: 3px;
	border-right: 1px solid gray;
}

.backgroundyellow {
  background-color: rgba(255, 255, 158, 0.705);
}

.divflex {
	display: flex;
}
