.width1140px {
	width: 1140px;
  max-width: 1140px;
}

.font11px {
  font-size: 11px;
}

.font12px {
  font-size: 12px;
}

.font14px {
  font-size: 14px;
}

.font16px {
  font-size: 16px;
}

.font18px {
  font-size: 18px;
}

.colorred {
	color: var(--regular-red-color);
}

.colorgreen {
	color: var(--regular-green-color);
}

.colorpurple {
	color: var(--regular-purple-color);
}

.bordergray {
  border: 1px solid var(--regular-grey-color);
}

.padtop20px {
	padding-top: 20px;
}

.padleft5px {
  padding-left: 5px;
}

.padleft10px {
  padding-left: 10px;
}

.padleft15px {
  padding-left: 15px;
}

.padleft30px {
  padding-left: 20px;
}

.padtop5px {
	padding-top: 5px;
}

.padbottom7px {
	padding-bottom: 7px;
}

.headerstyle {
	font-size: 13px;
	vertical-align: top;
	color: var(--secondary-title-color);
	padding-left: 3px;
	background-color: var(--pale-border-color-rgb-2);
	border-bottom: 1px solid var(--regular-grey-color);
	border-right: 1px solid var(--regular-grey-color);
}

.cellstyle {
	vertical-align: top;
	text-align: top;
  padding-left: 3px;
  padding-top: 3px;
	border-right: 1px solid var(--regular-grey-color);
}

.backgroundyellow {
  background-color: var(--light-yellow-color-2);
}

.divflex {
	display: flex;
}
