.form-container {
  padding: 5px 10px 12px 10px;
  position: relative;
}

.notification-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  z-index: 10;
  background-color: var(--overlay-modal-bg);
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: var(--overlay-modal-text);
}

.form-row {
  display: flex;
  width: 100%;
  align-items: flex-start;

  .col-1-1 {
    width: calc((100% - 20px * 1)); // 1 column
    margin-right: 20px;
  }

  .col-2-1 {
    width: calc((100% - 20px * 1) / 2); // 2 column
    margin-right: 20px;
  }

  .col-3-1 {
    width: calc((100% - 20px * 2) / 3); // 3 column
    margin-right: 20px;
  }

  .col-4-1 {
    width: calc((100% - 20px * 3) / 4); // 4 column
    margin-right: 20px;
  }
}
/*
.form-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .delete-container {
      padding: 0 10px 8px 0;
  }

  .row {
      flex-grow: 1;
      padding-right: 15px;
  }
}
*/

.references-container {
  width: 100%;
}

.materialborder {
  padding-top: 10px;
  margin-top: 15px;
  border: 2px solid var(--border-soft-rgb-4);
}

.materialtitle {
  font-size: 18px;
  padding-left: 10px;
}

.divflex {
  display: flex;
}

.divflexright {
  display: flex;
  justify-content: flex-end;
}

.bordergray {
  border: 1px solid var(--text-tertiary);
}

.borderorange {
  border: 1px solid var(--accent-alert);
}

.fontsize18px {
  font-size: 18px;
}

.colorgreen {
  color: var(--accent-positive);
}

.margintop10px {
  margin-top: 10px;
}

.margintop20px {
  margin-top: 20px;
}

.margintop40px {
  margin-top: 40px;
}

.marginleft40px {
  margin-left: 40px;
}

.marginbottom20px {
  margin-top: 20px;
}

.button-add {
  z-index: 1;
  position: relative;
  top: 25px;
  margin-right: 20px;
  background-color: var(--surface-base);
  border: 1px solid var(--legend-info-border-2);
}

.button-delete-stage {
  z-index: 1;
  position: absolute;
  top: -60px;
  margin-right: 20px;
  color: var(--accent-warning);
  background-color: var(--surface-base);
  border: 1px solid var(--accent-warning);
}

.button-delete {
  display: flex;
  justify-content: flex-end;
  margin-top: -15px;
}

.button-insert-before {
  z-index: 1;
  position: absolute;
  top: -60px;
  margin-right: 190px;
  color: var(--legend-info-border-2);
  background-color: var(--surface-base);
  border: 1px solid var(--legend-info-border-2);
}

.button-insert-after {
  z-index: 1;
  position: absolute;
  top: -60px;
  margin-right: 190px;
  color: var(--legend-info-border-2);
  background-color: var(--surface-base);
  border: 1px solid var(--legend-info-border-2);
}

fieldset.border {
  border: solid 2px #a0a0a3 !important;
  padding: 0 10px 10px 10px;
  border-bottom: none;
  border-radius: 3px;
  margin-bottom: 30px;
  min-width: 0; /* override the default value of min-content */
  /*
  -webkit-box-shadow: 2px 3px 3px 1px var(--fieldset-shadow);
  -moz-box-shadow: 2px 3px 5px 1px var(--fieldset-shadow);
  box-shadow: 2px 2px 3px 1px var(--fieldset-shadow); */
}

legend.border {
  width: auto !important;
  border: none;
  border-bottom: none;
  font-size: 15px;
  /* FDA COLOR BLUE CODE Hex: var(--legend-info-border-2) */
  color: var(--legend-info-border-2);
  font-family: Verdana;
  font-weight: bold;
  margin-bottom: 10px;
}

.mat-menu-item {
  color: var(--legend-info-border-2) !important;
}
