.form-container {
  padding: 5px 10px 12px 10px;
  position: relative;
}

.notification-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  z-index: 10;
  background-color: var(--notif-backdrop-bg-color);
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: var(--notif-backdrop-color);
}

.form-row {
  display: flex;
  width: 100%;

  .col-4-1 {
    width: calc((100% - 20px * 3) / 4); //four column
    margin-right: 20px;
  }

  .col-1-1 {
    width: calc((100% - 20px * 1)); //one column
    margin-right: 10px;
  }
}
/*
.form-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .delete-container {
      padding: 0 10px 8px 0;
  }

  .row {
      flex-grow: 1;
      padding-right: 15px;
  }
}
*/

.references-container {
  width: 100%;
}

.materialborder {
  padding-top: 10px;
  margin-top: 15px;
  border: 2px solid var(--pale-border-color-rgb-4);
}

.materialtitle {
  font-size: 18px;
  padding-left: 10px;
}

.divflex {
  display: flex;
}

.divflexright {
  display: flex;
  justify-content: flex-end;
}

.bordergray {
  border: 1px solid var(--regular-grey-color);
}

.borderorange {
  border: 1px solid var(--regular-orangered-color);
}

.fontsize18px {
  font-size: 18px;
}

.colorgreen {
  color: var(--regular-green-color);
}

.margintop10px {
  margin-top: 10px;
}

.marginleft40px {
  margin-left: 40px;
}

.marginbottom20px {
  margin-top: 20px;
}

.button-add {
  z-index: 1;
  position: relative;
  top: 25px;
  margin-right: 20px;
  background-color: #FFFFFF;
  border: 1px solid #007CBA;
}

.button-delete-stage {
  z-index: 1;
  position: absolute;
  top: -60px;
  margin-right: 20px;
  color: red;
  background-color: #FFFFFF;
  border: 1px solid red;
}

.button-delete {
  display: flex;
  justify-content: flex-end;
  margin-top: -15px;
}

.button-insert-before {
  z-index: 1;
  position: absolute;
  top: -60px;
  margin-right: 360px;
  color: #007CBA;
  background-color: #FFFFFF;
  border: 1px solid #007CBA;
}

.button-insert-after {
  z-index: 1;
  position: absolute;
  top: -60px;
  margin-right: 180px;
  color: #007CBA;
  background-color: #FFFFFF;
  border: 1px solid #007CBA;
}

fieldset.border {
  border: solid 2px #A0A0A3 !important;
  padding: 0 10px 10px 10px;
  border-bottom: none;
  border-radius: 3px;
  margin-bottom: 30px;
  min-width: 0;  /* override the default value of min-content */
  /*
  -webkit-box-shadow: 2px 3px 3px 1px rgba(110,104,110,0.64);
  -moz-box-shadow: 2px 3px 5px 1px rgba(110,104,110,0.64);
  box-shadow: 2px 2px 3px 1px rgba(110,104,110,0.64); */
}

legend.border {
  width: auto !important;
  border: none;
  border-bottom: none;
  font-size: 15px;
  /* FDA COLOR BLUE CODE Hex: #007CBA */
  color: #007CBA;
  font-family: Verdana;
  font-weight: bold;
  margin-bottom: 10px;
}
