::ng-deep .mat-form-field-underline {
    display: none;
}

.text-input-form mat-form-field { 
    width:100% !important;
}


.text-input-form mat-form-field { 
    width:100% !important;
}

.text-input-form textarea  {
    width:80%;
    border: 2px solid gray;
}