.login-container {
  width: 100%;
  //display: flex;
  align-items: center;
  justify-content: center;
  padding: 86px 20px 20px 20px;
}

.login-card {
  max-width: 400px;
  width: 100%;
  //box-sizing: border-box;
  //position: absolute;
}

.login-card-content {
  padding: 0;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 20px;
}

::ng-deep .mat-mdc-form-field.mat-form-field-appearance-fill .mdc-text-field {
  padding: 0;
}

.login-actions {
  display: flex;
  justify-content: flex-end;
  padding: 0;
}
.reg-link > button {
  padding: 10px 15px;
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--regular-white-color);
  border-radius: 5px;
}
.button-div {
  margin: auto;
  text-align: center;
}
