<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    
  </mat-sidenav>
  <mat-sidenav-content>

    <div class="side-nav-content">
      <mat-accordion multi="true">
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h2>Overview</h2>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <div class="name-value">
              <div class="name">Substance Class</div>
              <div class="value blue-font">{{substance.substanceClass}}</div>
            </div>
            <div class="name-value">
              <div class="name">Record UNII</div>
              <div class="value blue-font">{{substance._approvalIDDisplay}}</div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>      
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>