.side-nav-content {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    flex-direction: row;
    align-items: center;
}

.substance-details {
    width: 70%;
}

.title-card {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 10px;
}