.cache-data {
    display: flex;
    flex-direction: row;
    padding: 5px;
    

    &:not(:last-child) {
        border-bottom: 1px solid var(--nth-child-color-1);
    }

    .name {
        font-weight: bold;
        min-width: 100px;
        width: 45%;
    }

    &:nth-child(even) {
        background-color: var(--nth-child-color-2);
    }

}

.data-column {
    width: 40%;

}

.cache-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;

    .data-column {
        width: 45%;
        min-width:400px;
        padding:7px;
    }
}


.database-table-container {
    flex-basis:100%;
    margin-top:20px;
}

.database-table {
    table {
        tr{
            &:nth-child(odd) {}
                
        }
      
    }

    .mat-row:nth-child(odd){
        background-color: var(--nth-child-color-2);
            }

}
