.property-form-container {
  padding: 30px 10px 12px 10px;
  position: relative;
  display: flex;
}

.type,
.qualification,
.interaction-type {
  ::ng-deep mat-form-field {
    width: 100%;
  }
}

.notification-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  z-index: 10;
  background-color: var(--overlay-modal-bg);
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: var(--overlay-modal-text);
}

.referenced-substance {
  max-width: 25%;
  width: 25%;
}

.form-content {
  flex-grow: 1;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .delete-container {
    padding: 0 10px 8px 0;
  }

  .checkbox-container,
  .radio-container {
    padding-bottom: 16px;
    padding-right: 15px;
  }

  .name,
  .type {
    flex-grow: 1;
    padding-right: 15px;
  }
}

.references-container {
  width: 100%;
}

.amount-title {
  margin-bottom: 10px;
  font-weight: bold;
}

.amount-form-container {
  padding: 0 7px;
}

.column-checkbox {
  ::ng-deep .mat-internal-form-field {
    flex-direction: column-reverse;
    align-items: center;
  }

  ::ng-deep .mat-internal-form-field > label {
    margin-right: 0 !important;
    margin-left: 0;
    padding: 0;
  }

  ::ng-deep .mdc-label {
    padding-left: 0;
    font-size: 11px;
    padding-bottom: 7.5px;
    line-height: 11px;
  }
}

.parameters-title {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
