.filter-box {
    padding: 10px;

    &:not(:last-child) {
        border-bottom: 1px solid #d9d9d9;
    }
}

.mat-card {
    margin-bottom: 20px;
}

.mat-card, .mat-paginator {
    width: 100%;
    max-width: 928px;
    box-sizing: border-box;
}

.mat-card-title, .facet-value {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}

.mat-card-title {
    white-space: normal;

    .substance-name {
        color: #448aff;
        padding-right: 10px;
    }

    .approval-id {
        font-size: 16px;
        color: red;
    }
}

.facet-value {
    padding: 6px 0;
    overflow: hidden;

    .facet-value-checkbox {
        padding: 0 3px 0 0;
    }

    .facet-value-label {
        padding: 0 3px;
        max-width: 150px;
        overflow: hidden;
        color: #404040;
    }

    .facet-value-count {
        padding: 0 0 0 3px;
        overflow: hidden;
        font-weight: 500;
    }
}

.mat-card-content {

    .mat-chip-list-container {
        margin-left: -20px;
        margin-bottom: 10px;
    }
}

.substance-content {
    display: flex;
    flex-direction: row;
}

.substance-data {
    display: flex;
    flex-direction: row;

    &:not(:last-child) {
        margin-bottom: 15px;
    }

    .label {
        font-weight: bold;
        min-width: 100px;
    }
}

.structure-container {
    padding-right: 10px;
}

.no-results {
    text-align: center;
    margin-top: 30px;
    font-size: 1.2em;
}

.mat-paginator {
    background: transparent;
}

.image-thumbnail{
  height:150px;
  width:150px;
}

.space-bottom {
    margin-bottom: 5px;
}