<mat-sidenav-container [hasBackdrop]="hasBackdrop">
  <mat-sidenav #matSideNavInstance mode="side" opened="false">
    <mat-accordion multi="true">
      <mat-expansion-panel *ngFor="let facet of facets" [expanded]="facetParams[facet.name] != null">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{facet.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="facet-value" *ngFor="let value of facet.values">
          <div class="facet-value-checkbox">
            <mat-checkbox class="include" matTooltip="Include" (change)="updateFacetSelection($event, facet.name, value.label, true)"
              [checked]="facetParams[facet.name] != null && facetParams[facet.name].params[value.label] == true">
            </mat-checkbox>
            <mat-checkbox class="exclude" matTooltip="Exclude" (change)="updateFacetSelection($event, facet.name, value.label, false)"
              [checked]="facetParams[facet.name] != null && facetParams[facet.name].params[value.label] == false">
            </mat-checkbox>
          </div>
          <div class="facet-value-label">
            {{value.label}}
          </div>
          <div class="middle-fill"></div>
          <div class="facet-value-count">
            {{value.count}}
          </div>
        </div>
        <div class="facet-actions" *ngIf="facetParams[facet.name] != null">
          <mat-checkbox *ngIf="facetParams[facet.name] && facetParams[facet.name].showAllMatchOption" [(ngModel)]="facetParams[facet.name].isAllMatch">
            All Match
          </mat-checkbox>
          <div class="pull-right">
            <button mat-flat-button [disabled]="isLoading" (click)="clearFacetSelection(facet.name)">
              Clear
            </button>
            <button class="apply-button" mat-flat-button color="primary" [disabled]="isLoading" (click)="searchSubstances()">
              Apply
            </button>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>
  <mat-sidenav-content>
    <button class="expand-sidenav mat-elevation-z4" (click)="openSideNav()">
      <mat-icon svgIcon="chevron_right"></mat-icon>
    </button>
    <div class="side-nav-content" [ngClass]="view" *ngIf="substances && substances.length">
      <div class="search-parameters">
        <div class="mat-elevation-z2" *ngIf="searchTerm">
          <div>
            <span class="capitalized font-medium-bold no-break">Search Query:</span>&nbsp;
            <span class="no-break">{{this.searchTerm}}</span>
          </div>
          <div class="actions-container">
            <button mat-icon-button color="primary" (click)="clearSearch()">
              <mat-icon svgIcon="delete_forever"></mat-icon>
            </button>
          </div>
        </div>
        <div class="mat-elevation-z2" *ngIf="smiles">
          <div>
            <span class="capitalized font-medium-bold no-break">{{structureSearchTerm && searchType}} Query:</span>
            &nbsp;
            <span class="no-break">
              <span>{{this.smiles}}</span>
              <span *ngIf="searchType && searchType == 'similarity'">
                &nbsp;&ge; {{searchCutoff}}
              </span>
            </span>
          </div>
          <div class="actions-container">
            <button mat-icon-button color="primary" [routerLink]="['/structure-search']" [queryParams]="{ structure: structureSearchTerm, type: searchType, cutoff: searchCutoff }">
              <mat-icon svgIcon="edit"></mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="clearStructureSearch()">
              <mat-icon svgIcon="delete_forever"></mat-icon>
            </button>
          </div>
        </div>
        <div class="mat-elevation-z2" *ngIf="sequenceSearchTerm">
          <div>
            <span class="capitalized font-medium-bold no-break">Sequence Query:</span>
            &nbsp;
            <span class="no-break">
              <span>{{getSequenceDisplay(sequenceSearchTerm)}}</span>
            </span>
          </div>
          <div class="actions-container">
            <button mat-icon-button color="primary" [routerLink]="['/sequence-search']" [queryParams]="{ sequence: sequenceSearchTerm, type: searchType, cutoff: searchCutoff, 'seq_type': searchSeqType }">
              <mat-icon svgIcon="edit"></mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="clearSequenceSearch()">
              <mat-icon svgIcon="delete_forever"></mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="controls-container">
        <mat-button-toggle-group [value]="view" (change)="updateView($event)">
          <mat-button-toggle value="table">
            <mat-icon svgIcon="list"></mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="cards">
            <mat-icon svgIcon="view_stream"></mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
        <mat-paginator #paginator [length]="totalSubstances" [pageIndex]="pageIndex" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 50, 100]"
          (page)="changePage($event)">
        </mat-paginator>
      </div>
      <div class="substance-cards">
        <mat-card *ngFor="let substance of substances">
          <mat-card-title>
            <a class="substance-name" [routerLink]="['/substances', substance.uuid]">
              {{substance._name}}
            </a>
            <span class="middle-fill"></span>
            <a class="approval-id">
              {{substance.approvalID}}
            </a>
          </mat-card-title>

          <mat-card-content>
            <div class="substance-content">
              <div class="structure-container">
                <div *ngIf="substance.structure">
                  <div class="mat-chip-list-container" *ngIf="substance.structure.stereochemistry">
                    <mat-chip-list selectable="false" multiple="false">
                      <mat-chip color="primary" selected>{{substance.structure.stereochemistry}}</mat-chip>
                    </mat-chip-list>
                  </div>
                </div>
                <div class="image-thumbnail">
                  <div *ngIf="substance.structure || substance.polymer">
                    <a class = "zoom" (click)="openImageModal(substance)">
                      <img [src]="getSafeStructureImgUrl(substance.uuid)">
                    </a>
                  </div>
                  <div *ngIf="!substance.structure && !substance.polymer">
                    <img [src]="getSafeStructureImgUrl(substance.uuid)">
                  </div>
                </div>
              </div>
              <div>
                <div class="substance-data substance-names" *ngIf="substance.names && substance.names.length">
                  <div class="label">Names:</div>
                  <div>
                    <div class="value space-bottom" *ngFor="let nameObject of substance.names | take: 5">
                      {{nameObject.name}}
                    </div>
                  </div>
                </div>
                <div class="substance-data substance-code-systems" *ngIf="substance.codeSystems">
                  <div class="label">Codes:</div>
                  <div>
                    <div class="margin-bottom" *ngFor="let codeSystemName of substance.codeSystemNames | take: 5">
                      <div class="code-system">
                        <span class="label">{{codeSystemName}}</span>:&nbsp;
                        <span class="value" *ngFor="let codeObject of substance.codeSystems[codeSystemName]; last as isLast">{{codeObject.code.trim()}}
                          <span *ngIf="!isLast">, </span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="substance-data substance-relationships" *ngIf="substance.relationships && substance.relationships.length">
                  <div class="label">Relationthips:</div>
                  <div class="value">
                    {{substance.relationships.length}}
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="substance-table">
        <div class="responsive">
          <table mat-table [dataSource]="substances">

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let substance">{{substance._name}}</td>
            </ng-container>

            <ng-container matColumnDef="approvalID">
              <th mat-header-cell *matHeaderCellDef> Approval ID </th>
              <td mat-cell *matCellDef="let substance">{{substance.approvalID}}</td>
            </ng-container>

            <ng-container matColumnDef="names">
              <th mat-header-cell *matHeaderCellDef> Names </th>
              <td mat-cell *matCellDef="let substance">
                <span *ngIf="substance.names && substance.names.length">
                  <div *ngFor="let nameObject of substance.names | take: 5; last as isLast">
                    {{nameObject.name}}
                    <span *ngIf="!isLast">; </span>
                  </div>
                </span>
              </td>
            </ng-container>

            <ng-container matColumnDef="codes">
              <th mat-header-cell *matHeaderCellDef> Codes </th>
              <td mat-cell *matCellDef="let substance">
                <span *ngIf="substance.codeSystems">
                  <span *ngFor="let codeSystemName of substance.codeSystemNames | take: 5">
                    <div>
                      <strong>{{codeSystemName}}</strong>:&nbsp;
                      <span *ngFor="let codeObject of substance.codeSystems[codeSystemName]; last as isLastCodeObject">{{codeObject.code.trim()}}
                        <span *ngIf="!isLastCodeObject">, </span>
                      </span>
                    </div>
                  </span>
                </span>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>
    </div>
    <div class="no-results" *ngIf="!isLoading && !isError && (!substances || substances.length === 0)">
      Your search did not return any results. Please try modying it or
      <a class="link" (click)="clearFilters()">click here</a> to clear all your search criteria.
      <div class="search-parameters center">
        <div class="mat-elevation-z2" *ngIf="searchTerm">
          <div>
            <span class="capitalized font-medium-bold no-break">Search Query:</span>&nbsp;
            <span class="no-break">{{this.searchTerm}}</span>
          </div>
          <div class="actions-container">
            <button mat-icon-button color="primary" (click)="clearSearch()">
              <mat-icon svgIcon="delete_forever"></mat-icon>
            </button>
          </div>
        </div>
        <div class="mat-elevation-z2" *ngIf="smiles">
          <div>
            <span class="capitalized font-medium-bold no-break">{{structureSearchTerm && searchType}} Query:</span>
            &nbsp;
            <span class="no-break">
              <span>{{this.smiles}}</span>
              <span *ngIf="searchType && searchType == 'similarity'">
                &nbsp;&ge; {{searchCutoff}}
              </span>
            </span>
          </div>
          <div class="actions-container">
            <button mat-icon-button color="primary" [routerLink]="['/structure-search']" [queryParams]="{ structure: structureSearchTerm, type: searchType, cutoff: searchCutoff }">
              <mat-icon svgIcon="edit"></mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="clearStructureSearch()">
              <mat-icon svgIcon="delete_forever"></mat-icon>
            </button>
          </div>
        </div>
        <div class="mat-elevation-z2" *ngIf="sequenceSearchTerm">
            <div>
              <span class="capitalized font-medium-bold no-break">Sequence Query:</span>
              &nbsp;
              <span class="no-break">
                <span>{{getSequenceDisplay(sequenceSearchTerm)}}</span>
              </span>
            </div>
            <div class="actions-container">
              <button mat-icon-button color="primary" [routerLink]="['/sequence-search']" [queryParams]="{ sequence: sequenceSearchTerm, type: searchType, cutoff: searchCutoff, 'seq_type': searchSeqType }">
                <mat-icon svgIcon="edit"></mat-icon>
              </button>
              <button mat-icon-button color="primary" (click)="clearSequenceSearch()">
                <mat-icon svgIcon="delete_forever"></mat-icon>
              </button>
            </div>
          </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
