.param-container {
  width: 100%;
  display: flex;
  flex-direction:column;

  .param-name, .param-amount {
    padding-bottom: 5px;
    padding-top: 6px;

  }
}


.empty {
  font-style: italic;
}

.bottom-border {
  border-bottom: 1px solid var(--sub-hierarchy-odd-bg-color);
}
