.font10px {
	font-size: 10px;
}

.font15px {
  font-size: 15px;
}

.colorgray {
	color: gray;
}

.padleft25px {
	padding-left: 25px;
}

.padtop5px {
  padding-top: 5px;
}

.colorblue {
  color: #4b4572;
}

.mat-cell {
  font-size: 12px;
}

.btn1 {
  color : rgb(49, 46, 46);
  background-color: rgba(255, 222, 121, 0.96);
  border-radius: 10px 0 0 10px;
  font-size: 16px;
}

.mat-raised-button.mat-primary {
  line-height: 25px;
  padding: 2px 8px; 
}