
.clinical-trials-browse-edit1 {
  text-decoration: none;
}

.clinical-trials-browse-edit2 {
  text-decoration: none;
}
.clinical-trials-browse-edit1,
.clinical-trials-browse-edit2 {
  padding-left: .5em;
  padding-right: .5em;
}

.mat-table-style {
  td.mat-cell {
    vertical-align: top;
    font-size: 12px;
  }
}

.font10px {
	font-size: 10px;
}

.font15px {
  font-size: 15px;
}

.colorgray {
	color: var(--regular-grey-color);
}

.padleft25px {
	padding-left: 25px;
}

.padtop5px {
  padding-top: 5px;
}

.colorblue {
  color: var(--deep-purple-color);
}

.colorred {
  color: var(--regular-red-color);
}

.btn1 {
  color : var(--maroon-color);
  background-color: var(--light-yellow-color-3);
  border-radius: 10px 0 0 10px;
  font-size: 16px;
}

.spinnerstyle {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: var(--spinner-bg-color);
  z-index: 1;
  display: flex;
  align-items: top; /* Verticle align */
  justify-content: center; /* horizonal align */
}
