<div class="padtop5px padleft25px font15px colorblue">
  <b>Clinical Trial</b>
  <!--
  &nbsp;&nbsp;&nbsp;
  <a [href]="exportUrl" target="_blank" matTooltip='Export Clinical Trial Records' *ngIf="totalRecords > 0">
  -->
    <!--
    <button mat-raised-button color="primary">
      <mat-icon>arrow_downward</mat-icon>Export
    </button>

    <button mat-icon-button color="primary">
      <mat-icon>arrow_downward</mat-icon>Export
    </button>
  </a>
     -->
</div>

<div class="responsive mat-table-style">

  <!-- Spinner -->
  <div *ngIf="showSpinner" class="spinnerstyle">
    <mat-progress-spinner diameter="80" color="warn" mode="indeterminate">
    </mat-progress-spinner>
  </div>

  <table mat-table [dataSource]="paged">

    <ng-container matColumnDef="nctNumber">
      <th mat-header-cell *matHeaderCellDef> NCT Number </th>
      <td mat-cell *matCellDef="let clinical">

        <a target="_blank" title="see clinicaltrials.gov" [href]="'https://clinicaltrials.gov/ct2/show/' + clinical.trialNumber">{{clinical.trialNumber}}</a>

        <!--
        <div *ngIf="clinical.fromSource === 'EU'">
          <a [routerLink]="['/clinicalTrialEuropeDetails', clinical.nctNumber, 'eu']"
            target="_blank">{{clinical.nctNumber}}</a>
          <br><span class="font10px colorgray">(Europe)</span>
        </div>
        <div *ngIf="clinical.fromSource != 'EU'">
          <a [routerLink]="['/clinicalTrialDetails', clinical.nctNumber, 'srs']"
            target="_blank">{{clinical.nctNumber}}</a>
        </div>
      -->
      </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let clinical"> {{clinical.title}} </td>
    </ng-container>

    <ng-container matColumnDef="sponsorName">
      <th mat-header-cell *matHeaderCellDef> Sponsor Name </th>
      <td mat-cell *matCellDef="let clinical"> {{clinical.sponsor}} </td>
    </ng-container>

    <ng-container matColumnDef="conditions">
      <th mat-header-cell *matHeaderCellDef> Conditions </th>
      <td mat-cell *matCellDef="let clinical"> {{clinical.conditions}} </td>
    </ng-container>

    <ng-container matColumnDef="outcomemeasures">
      <th mat-header-cell *matHeaderCellDef> Outcome Measures </th>
      <td mat-cell *matCellDef="let clinical"> {{clinical.outcomeMeasures}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<mat-paginator [length]="totalRecords" [pageSize]="5" showFirstLastButtons="true"
  (page)="getSubstanceClinicalTrials($event)" [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>