

<div style="padding: 10px; margin-top: 60px; margin-left: 30px;  margin-right: 30px;  margin-bottom: 30px;" 
        class="example-container mat-elevation-z8">
	<!-- div class="example-header">
		<mat-form-field>
			<input matInput #filter (keyup)="applyFilter($event.target.value)" placeholder="Filter">
			<button mat-icon-button matSuffix aria-label="clear" *ngIf="filter.value" (click)="filter.value=''; applyFilter('');">
        <mat-icon>close</mat-icon>
      </button>
		</mat-form-field>
	</div -->
	<!-- TODO figure out how to get back to the browse facility same page as last time  -->

	<div  *ngIf="clinicalTrial">
		<p><a target="_new" title="see clinicaltrials.gov" href="https://clinicaltrials.gov/ct2/show/{{clinicalTrial.nctNumber}}">{{clinicalTrial.nctNumber}}</a>
		&nbsp;<span *ngIf="clinicalTrial.title">{{clinicalTrial.title}}</span></p>
		<p *ngIf="clinicalTrial.sponsorList">{{clinicalTrial.sponsorList.join("; ")}}</p>
		<p *ngIf="clinicalTrial.lastUpdated">{{clinicalTrial.lastUpdated|date : "MM/dd/yyyy"}}</p>
	</div>

	<div  *ngIf="clinicalTrial">
			<span *ngIf="true"> 
				<mat-checkbox style='margin-left: 15px;' [disabled]="!isAdmin" [value]="clinicalTrial.gsrsMatchingComplete"  [(ngModel)] = "clinicalTrial.gsrsMatchingComplete"> 
					<label>Matching Complete</label> 
				</mat-checkbox>
			</span> 
	
		</div>
	
	<h3>Substances in Clinical Trial</h3>
	<div *ngIf="isAdmin">
		<button mat-icon-button matSuffix aria-label="Add" (click)="addRow();">Add</button>
		<button mat-icon-button matSuffix aria-label="Update Clinical Trial" (click)="updateClinicalTrial();">Update CT</button>
	</div>

	<mat-table #table [dataSource]="dataSource">
<!--
		<ng-container matColumnDef="index">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Index</th>
			<td mat-cell *matCellDef="let element; let i = index">{{i}}</td>
		  </ng-container>
-->
		<!-- id  -->
		<ng-container matColumnDef="id" style='width: 30px;'>
			<mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
			<mat-cell *matCellDef="let element">
				<mat-form-field floatLabel="never">
					<input disabled matInput placeholder="id" [value]="element.id" [(ngModel)]="element.id">
				</mat-form-field>
			</mat-cell>
		</ng-container>
		<!-- name -->
		<ng-container matColumnDef="name">
			<mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
			<mat-cell *matCellDef="let element; let i = index;">
				<span *ngIf="!isAdmin"> 
					{{element.name}}
				</span> 
				<span *ngIf="isAdmin">
					<mini-search [myIndex]="i" [myInitialSearch]="element && element.name" (miniSearchOutput)="reportMiniSearchOutput($event)"></mini-search>
				</span>
			</mat-cell>
!		</ng-container>
		<!-- substanceUuid -->
		<ng-container matColumnDef="substanceUuid">
			<mat-header-cell *matHeaderCellDef> Substance UUID </mat-header-cell>
			<mat-cell *matCellDef="let element">
					<span *ngIf="!isAdmin"> 
					{{element.substanceUuid}}
					</span> 
					<span *ngIf="isAdmin"> 
						<mat-form-field floatLabel="never">
					<input  matInput placeholder="substanceUuid" [value]="element.substanceUuid" [(ngModel)]="element.substanceUuid">
					</mat-form-field> 
				</span> 
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="protectedMatch">
			<mat-header-cell *matHeaderCellDef> Protected Match </mat-header-cell>
			<mat-cell *matCellDef="let element">
					<span *ngIf="!isAdmin"> 
					{{element.protectedMatch}}
					</span>
					<span>
						<mat-checkbox style='margin-left: 15px;' [disabled]="!isAdmin" [value]="element.protectedMatch"  [(ngModel)] = "element.protectedMatch"> 
							<label><mat-icon style='color:gray;' class="mat-icon material-icons" role="img" aria-hidden="true">lock</mat-icon></label> 
						</mat-checkbox>				
					</span> 
			</mat-cell>
		</ng-container>


		<!-- link -->
		<ng-container matColumnDef="link">
			<mat-header-cell *matHeaderCellDef></mat-header-cell>
			<mat-cell *matCellDef="let element">
					<a [routerLink]="['/substances', element.substanceUuid]" >link</a>
			</mat-cell>
		</ng-container>

		<!-- delete -->
		<ng-container matColumnDef="delete">
				<mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
				<mat-cell *matCellDef="let element; let i = index">
					<button mat-icon-button matSuffix aria-label="Del" (click)="removeRow(i);">Del</button>
				</mat-cell>
			</ng-container>	
		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

	</mat-table>


	<div *ngIf="isAdmin">
		<button mat-icon-button matSuffix aria-label="Add" (click)="addRow();">Add</button>
		<button mat-icon-button matSuffix aria-label="Update Clinical Trial" (click)="updateClinicalTrial();">Update CT</button>
	</div>


	<div *ngIf="true">

	<div *ngIf="clinicalTrial">

	<h3>Trial Details</h3>

	<div>
		<p>NCT Number: <a target="_new" title="see clinicaltrials.gov" href="https://clinicaltrials.gov/ct2/show/{{clinicalTrial.nctNumber}}">{{clinicalTrial.nctNumber}}</a></p>
		<p *ngIf="clinicalTrial.title">Title: {{clinicalTrial.title}}</p>

		<p *ngIf="clinicalTrial.recruitment">Recruitment: {{clinicalTrial.recruitment}}</p>

		<div *ngIf="clinicalTrial.conditions">
				<p>Conditions:</p>
				<div style="margin-left:2em;" *ngFor="let content of clinicalTrial.conditions.split('\|')">{{ content }}</div>
		</div>
		<div *ngIf="clinicalTrial.sponsors">
				<p>Sponsors:</p>
				<div style="margin-left:2em;" *ngFor="let content of clinicalTrial.sponsors.split('\|')">{{ content }}</div>
		</div>
		<div *ngIf="clinicalTrial.locations">
			<p>Locations:</p>
			<div style="margin-left:2em;" *ngFor="let content of clinicalTrial.locations.split('\|')">{{ content }}</div>
		</div>
		
		<div *ngIf="clinicalTrial.intervention">
			<p>Intervention:</p>
			<div style="margin-left:2em;" *ngFor="let content of clinicalTrial.intervention.split('\|')">{{ content }}</div>
		</div>
		<p *ngIf="clinicalTrial.fundedBys">Funded Bys: {{clinicalTrial.fundedBys}}</p>
		<p *ngIf="clinicalTrial.phases">Phases: {{clinicalTrial.phases}}</p>
		<p *ngIf="clinicalTrial.studyTypes">Study Types: {{clinicalTrial.studyTypes}}</p>
		<p *ngIf="clinicalTrial.ageGroups">Age Groups: {{clinicalTrial.ageGroups}}</p>
		<div *ngIf="clinicalTrial.ageGroups">
				<p>Age Groups:</p>
				<div style="margin-left:2em;" *ngFor="let content of clinicalTrial.ageGroups.split('\|')">{{ content }}</div>
		</div>
		<p *ngIf="clinicalTrial.gender">Gender: {{clinicalTrial.gender}}</p>
		<p *ngIf="clinicalTrial.allocation">Allocation: {{clinicalTrial.allocation}}</p>
		<p *ngIf="clinicalTrial.studyResults">Study Results: {{clinicalTrial.studyResults}}</p>
		<p *ngIf="clinicalTrial.enrollment">Enrollment: {{clinicalTrial.enrollment}}</p>
		<p *ngIf="clinicalTrial.otherIds">Other Ids: {{clinicalTrial.otherIds}}</p>
		<p *ngIf="clinicalTrial.acronym">Acronym: {{clinicalTrial.acronym}}</p>
		<p *ngIf="clinicalTrial.startDate">Study Start Date: {{clinicalTrial.startDate|date : "MM/dd/yyyy"}}</p>
		<p *ngIf="clinicalTrial.lastVerified">Last Verified: {{clinicalTrial.lastVerified}}</p>
		<p *ngIf="clinicalTrial.completionDate">Study Completion Date: {{clinicalTrial.completionDate|date : "MM/dd/yyyy"}}</p>
		<p *ngIf="clinicalTrial.primaryCompletionDate">Primary Completion Date: {{clinicalTrial.primaryCompletionDate|date : "MM/dd/yyyy"}}</p>
		<p *ngIf="clinicalTrial.studyStartDate">Study Start Date: {{clinicalTrial.studyStartDate|date : "MM/dd/yyyy"}}</p>
		<p *ngIf="clinicalTrial.firstReceived">First Received: {{clinicalTrial.firstReceived|date : "MM/dd/yyyy"}}</p>
		<p *ngIf="clinicalTrial.lastUpdated">Last Updated: {{clinicalTrial.lastUpdated|date : "MM/dd/yyyy"}}</p>
		<div *ngIf="clinicalTrial.outcomeMeasures">
				<p>Outcome Measures:</p>
				<div style="margin-left:2em;" *ngFor="let content of clinicalTrial.outcomeMeasures.split('\|')">{{ content }}</div>
		</div>
		<p>Url: <a target="_new" title="see clinicaltrials.gov" href="https://clinicaltrials.gov/ct2/show/{{clinicalTrial.nctNumber}}">{{clinicalTrial.url}}</a></p>

	</div>
	</div>
	</div>
	
	<div *ngIf="true">
		<div style="margin-top: 50px">isAdmin: {{isAdmin}}</div>

		<div *ngIf="clinicalTrial">
			<div>&nbsp;</div>

			<div>clinicalTrial: {{clinicalTrial|json}}</div>
		</div>

		<div *ngIf="dataSource.data">
			<div>&nbsp;</div>
			<div>datasource.data: {{dataSource.data|json}}</div>
		</div>

		<div *ngIf="miniSearchOutputReported">
				<div>&nbsp;</div>
			<div>miniSearchOutputReported: {{miniSearchOutputReported}}</div>
		</div>
	</div>

</div>
