/* Structure */
.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 750px;
    margin-bottom: 1em;
  }
  

  mat-header-cell, mat-cell {
    margin-top: .1em;
    margin-left: .2em;
    margin-right: .2em;
    margin-bottom: .1em;
  }

 button {
   margin-right: 1em;
 }

.clinical-trial-edit-page { 
  padding: 10px;
  margin-top: 60px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
 }

.indent-list { 
  margin-left:2em;
}

.top-spacer {
  margin-top: 50px;
}

.id-container {
  width: 30px;
}

.protected-match-checkbox { 
  margin-left: 15px;
}
.protected-match-icon { 
  color:var(--regular-grey-color);
}
.match-complete-checkbox { 
  margin-left: 15px;
}
.small-text {
  font-size: 80%;
}

.emphasize { 
  font-weight: bold;
}

.trial-detailsheader {
  font-size: 18px;
}

.trial-detailsone {
  border: 1px solid var(--box-shadow-color-3);
  padding: 0em 1em 1em .5em;
  float: left;
  overflow: auto;
  max-height: 300px;
  max-width: 500px;
  margin-right: 1em;
}

.container { 
  display: flex;
}

.trial-detailstwo {
    border: 1px solid var(--box-shadow-color-3);
    padding: 0em 1em 1em .5em;
    float: left;
    overflow: auto;
    max-height: 300px;
    max-width: 400px;
    margin-right: 1em;
}
.copy-button {
  padding: .2em;
}

.note-index {
  font-weight: bold;
}
.full-width {
   width: 100%;
}

.outcome-result-note { 
  border: 1px solid var(--box-shadow-color-3);
  padding: 10px;
  margin-top: 10px;
}

.button-align-two { 
  text-align: right;
}