<div class="na-form-container" *ngIf = "nucleicAcid">
  <div class="form-row">
    <app-cv-input class = "type" domain = "NUCLEIC_ACID_TYPE" title = "Nucleic Acid Type" (valueChange) = "update('nucleicAcidType',$event)" [model] = nucleicAcid.nucleicAcidType></app-cv-input>
    <div class = "mat-form-field-flex subtype">
      <app-tag-selector placeholder = "nucleic acid subtype" class="tags" (tagsUpdate)="updateSubtype($event)" [tags]="nucleicAcid.nucleicAcidSubType"
                        cvDomain="NUCLEIC_ACID_SUBTYPE"></app-tag-selector>
    </div>
    <div class= "location-container origin">
      <app-cv-input domain = "SEQUENCE_ORIGIN" title = "Sequence Origin" (valueChange) = "update('sequenceOrigin',$event)" [model] = "nucleicAcid.sequenceOrigin"></app-cv-input>
    </div>
    <app-cv-input class = "seqtype" domain = "SEQUENCE_TYPE" title = "Sequence Type" [model] = "nucleicAcid.sequenceType" (valueChange)="update('sequenceType',$event)"></app-cv-input>
    <app-access-manager (accessOut)="updateAccess($event)" [access]="nucleicAcid.access">
    </app-access-manager>
  </div>
</div>
