<div class="substance-selector-container">
  <app-substance-text-search
    [searchValue]="searchValue"
    [ngClass]="{ hidden: selectedSubstance }"
    (searchPerformed)="processSubstanceSearch($event)"
    (searchValueOut)="searchValueOutChange($event)"
    [eventCategory]="eventCategory"
    [placeholder]="placeholder"
    [label]="label || placeholder"
    >
  </app-substance-text-search>
  @if (selectedSubstance) {
    <div
      class="selected-substance"
      (mouseenter)="showOptions = true"
      (mouseleave)="showOptions = false"
      >
      @if (showOptions) {
        <div class="selected-substance-options">
          <button mat-mini-fab (click)="editSelectedSubstance()">
            <mat-icon
              aria-label="Edit Selected Substance"
              svgIcon="edit"
            ></mat-icon>
          </button>
          @if (selectedSubstance.uuid) {
            <a
              mat-mini-fab
              target="_blank"
              [routerLink]="['/substances', selectedSubstance.uuid]"
              >
              <mat-icon aria-label="Open in new tab" svgIcon="open_in_new"></mat-icon>
            </a>
          }
        </div>
      }
      <div class="section-header">{{ header }}</div>
      @if (selectedSubstance.uuid) {
        <img
          class="related-image"
          appSubstanceImage
          [entityId]="selectedSubstance.uuid"
          />
      }
      <!-- Spinner -->
      <div>
        @if (loadingStructure) {
          <mat-progress-spinner
            strokeWidth="3"
            [diameter]="30"
            mode="indeterminate"
            >
          </mat-progress-spinner>
        }
      </div>
      <div>
        <!-- {{selectedSubstance._name}} -->
        @if (errorMessage === 'Not in database') {
          <span class="code"
            ><br />NOT IN DATABASE</span
            >
          }
        </div>
      </div>
    }
  </div>
