#structure_canvas {
  margin:auto;
  display: flex;
  align-content: center;
  text-align: center;
}

.below-editor-container {
  margin-top: 10px;
  display: flex;
  align-content: center;
  align-items: center;
}

.molvec-message {
  flex-grow: 1;
}


.options {
  margin-right: 10px;
}

#canvas-container {
  width:100%;
  text-align:center;
}

.canvas-message {
  font-weight:bold;
  color:var(--regular-red-color);
}

.canvas-label {
  padding-top: 5px;
}

.toggle {
  margin-left:10px;
  font-weight:bold;
}


.z-index {
  z-index: 9999 !important;
}


.high {
  z-index: 0 !important;

}

.higher {
  z-index: 9988 !important;

}