.mat-tree-node {
    min-height:30px !important;
  }
  .hierarchy-tree-invisible {
    display: none;
  }
  
  .hierarchy-tree ul,
  .hierarchy-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  
  .spacer {
    width: 50%;
  }
  .approval {
    color: var(--regular-maroon-color);
    flex: 0 0 100%;
  }
  
  .end {
    white-space: nowrap;
    max-width: 250px;
    flex: 0 0 100%;
    flex-wrap: nowrap;
    overflow: hidden;
    font-style: italic;
    text-overflow: ellipsis;
  
  }
  
  .hierarchy-link {
    white-space: nowrap;
    flex-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .tree-button {
    height:30px !important;
    line-height: 30px !important;
    width: 35px;
    background-color: var(--regular-transparent-color);
    border: 0px;
  }
  .right-container {
    max-width: 250px;
    text-align: right;
    white-space: nowrap;
    flex-wrap: wrap;
    display: flex;
    padding-right: 10px;
    margin: 4px;
    vertical-align: top;
    justify-content: right;
  }
  
  .title {
    align-items: center;
    display: flex;
    max-width: calc(100% - 300px);
  }
  
  .tree-label {
    padding-bottom: 10px;
    font-weight: bold;
  }
  
  .filler {
    flex: 1 1 auto;
    vertical-align: center;
    height: 2px;
    margin-top: auto;
    margin-bottom:auto;
    margin-left :50px;
    padding-left: 20px;
  
  }
  
  .filler-line {
    height: 2px;
    width: 100%;
  }
  
  .no-border {
    border-top:0px;
  }
  .primary {
    background-color: var(--sub-hierarchy-bg-color) !important;
  }
  
  .hierarchy-link {
    color: var(--link-primary-color);
    font-style: unset;
    max-lines: 2;
  }
  .odd {
    background-color: var(--sub-hierarchy-odd-bg-color);
  }
  .node-container {
    display:flex;
    width:calc(100% - 35px);
    justify-content: space-between;
  }
  
  .hierarchy-edit {
    height: 20px;
    margin-left: 15px;
  }
  
  
  .mat-card {
    max-width: 1228px;
    margin-bottom: 20px;
  }
  
  .mat-card, .controls-container {
    width: 100%;
    box-sizing: border-box;
  }
  
  .current-record {
    font-weight:bold;
  }
  
