<!-- Impurities Unspecified -->

@if (impuritiesUnspecifiedIndex > 0) {
  <span>
    <hr />
    <br />
  </span>
}

<div class="marginleftneg7px">
  <div class="form-row">
    @if (
      configSettingsDisplay['impurityType'] ||
      (configSettingsDisplay['impurityType'] === undefined && true)
      ) {
      <app-cv-input
        class="col-6-1"
        domain="IMPURITIES_IMPURITY_TYPE"
        title="Impurity Type"
        name="impurityType"
        [model]="impuritiesUnspecified.impurityType"
        (valueChange)="impuritiesUnspecified.impurityType = $event"
        >
      </app-cv-input>
    }

    @if (
      configSettingsDisplay['testType'] ||
      (configSettingsDisplay['testType'] === undefined && true)
      ) {
      <app-cv-input
        class="col-6-1"
        domain="IMPURITIES_TEST_TYPE"
        title="Test Type"
        name="testType"
        [model]="impuritiesUnspecified.testType"
        (valueChange)="impuritiesUnspecified.testType = $event"
        >
      </app-cv-input>
    }

    @if (
      configSettingsDisplay['limitType'] ||
      (configSettingsDisplay['limitType'] === undefined && true)
      ) {
      <app-cv-input
        class="col-6-1"
        domain="IMPURITIES_LIMIT_TYPE"
        title="Limit Type"
        name="limitType"
        [model]="impuritiesUnspecified.limitType"
        (valueChange)="impuritiesUnspecified.limitType = $event"
        >
      </app-cv-input>
    }

    @if (
      configSettingsDisplay['limitValue'] ||
      (configSettingsDisplay['limitValue'] === undefined && true)
      ) {
      <mat-form-field
        class="col-6-1"
        >
        <mat-label>Limit Value</mat-label>
        <input
          matInput
          placeholder="Limit Value"
          [(ngModel)]="impuritiesUnspecified.limitValue"
          name="limitValue"
          />
      </mat-form-field>
    }

    @if (
      configSettingsDisplay['unit'] ||
      (configSettingsDisplay['unit'] === undefined && true)
      ) {
      <app-cv-input
        class="col-6-1"
        domain="PROD_UNIT"
        title="Unit"
        name="unit"
        [model]="impuritiesUnspecified.unit"
        (valueChange)="impuritiesUnspecified.unit = $event"
        >
      </app-cv-input>
    }

    @if (
      configSettingsDisplay['comments'] ||
      (configSettingsDisplay['comments'] === undefined && true)
      ) {
      <mat-form-field
        class="col-6-1"
        >
        <mat-label>Comments</mat-label>
        <textarea
          matInput
          [(ngModel)]="impuritiesUnspecified.comments"
          name="comments"
          rows="1"
        ></textarea>
      </mat-form-field>
    }

    <div class="marginleftneg7px" style="margin-left: -40px">
      <button
        mat-icon-button
        color="primary"
        (click)="confirmDeleteImpuritiesUnspecified()"
        matTooltip="Delete Unspecified Impurities {{
          impuritiesUnspecifiedIndex + 1
        }}"
        >
        <mat-icon>delete_forever</mat-icon>
      </button>
    </div>
  </div>

  <!-- Identity Criteria -->
  <div class="flex-container margintop10px marginleftneg7px">
    @if (
      configSettingsDisplay['identityCriteriaType'] ||
      (configSettingsDisplay['identityCriteriaType'] === undefined && true) ||
      configSettingsDisplay['amountValue'] ||
      (configSettingsDisplay['amountValue'] === undefined && true)
      ) {
      <div
        class="width25percent padbottom10px"
        >
        <button
          mat-raised-button
          color="primary"
          (click)="addNewIdentityCriteria()"
          matTooltip="Add Identity Criteria"
          >
          <mat-icon svgIcon="add_circle_outline"></mat-icon>Add Identity Criteria
        </button>
      </div>
    }

    <div class="width75percent">
      @for (
        identityCriteria of impuritiesUnspecified.identityCriteriaList; track
        identityCriteria; let identityCriteriaUnspecIndex = $index) {
        <div
          class="marginbottom10px"
          >
          <div class="form-row padleft7px">
            @if (
              configSettingsDisplay['identityCriteriaType'] ||
              (configSettingsDisplay['identityCriteriaType'] === undefined &&
              true)
              ) {
              <app-cv-input
                class="col-3-1"
                domain="IMPURITIES_IDENTITY_CRITERIA_TYPE"
                title="Identity Criteria Type"
                name="identityCriteriaType"
                [model]="identityCriteria.identityCriteriaType"
                (valueChange)="identityCriteria.identityCriteriaType = $event"
                >
              </app-cv-input>
            }
            @if (
              configSettingsDisplay['amountValue'] ||
              (configSettingsDisplay['amountValue'] === undefined && true)
              ) {
              <mat-form-field
                class="col-3-1"
                >
                <mat-label>Amount Value</mat-label>
                <input
                  matInput
                  [(ngModel)]="identityCriteria.amountValue"
                  name="amountValue"
                  />
              </mat-form-field>
            }
            @if (
              configSettingsDisplay['criteriaUnit'] ||
              (configSettingsDisplay['criteriaUnit'] === undefined && true)
              ) {
              <app-cv-input
                class="col-4-1"
                domain="PROD_UNIT"
                title="Unit"
                name="unit"
                [model]="identityCriteria.unit"
                (valueChange)="identityCriteria.unit = $event"
                >
              </app-cv-input>
            }
            <!-- Delete Button -->
            @if (
              configSettingsDisplay['identityCriteriaType'] ||
              (configSettingsDisplay['identityCriteriaType'] === undefined &&
              true) ||
              configSettingsDisplay['amountValue'] ||
              (configSettingsDisplay['amountValue'] === undefined && true)
              ) {
              <div
                class="col-3-1"
                >
                <button
                  mat-icon-button
                  color="primary"
              (click)="
                confirmDeleteIdentityCriteria(identityCriteriaUnspecIndex)
              "
              matTooltip="Delete Identity Criteria {{
                identityCriteriaUnspecIndex + 1
              }}"
                  >
                  <mat-icon>delete_forever</mat-icon>
                </button>
              </div>
            }
          </div>
        </div>
      }
      <!-- Loop -->
    </div>
  </div>
</div>
