.top-fixed {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 64px;
  width: 100%;
  background-color: white;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  z-index: 1001;
}

.form-content-container {
  overflow: hidden;
  padding-top: 110px;
}

.scrollable-container {
  padding-top: 15px;
}

.cards-container {
  width: 100%;
}

.title_box {
  width: 1140px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.title {
   font-size: 24px;
   font-weight: 600px;
   font-family: Arial, Helvetica, sans-serif;
   /*padding-left: 70px; */
}

.mat-card {
  max-width: 1140px;
}

.row {
  width: 100%;
}

.divflex {
  display: flex;
  /*
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  */
}

.flex-container {
  display: flex;
}

.flex-item {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  width: 100%;
}

.col-1 {
  width: calc((100% - 30px * 5) / 6);
  margin-right: 30px;
}

.col-1:last-child {
  margin-right: 0px;
}  

.col-2 {
  width: calc((100% - 30px * 2) / 3); 
  margin-right: 30px;
}

.col-5-1 {
  width: calc((100% - 30px * 4) / 5);
  margin-right: 30px;
}

.col-2:last-child {
  margin-right: 0px;
}  

.col-3 {
  width: calc((100% - 30px * 1) / 2);
  margin-right: 30px;
}

.col-3:last-child {
  margin-right: 0px;
}  

.col-4 {
  width: calc((100% - 20px) / (6/4));
  margin-right: 20px;
}

.col-4:last-child {
  margin-right: 0px;
}  

.col-5 {
  width: calc((100% - 10px) / (6/5));
  margin-right: 10px;
}

.col-5:last-child {
  margin-right: 0px;
}  

.col-5-more {
  width: calc((100% + 100px) / (6/5));
  margin-right: 10px;
}

.col-6 {
  width: 100%;
}

.col-4-1 {
  width: calc((100% - 30px * 3) / 4);
  margin-right: 30px;
}

.col-4-1:last-child {
  margin-right: 0px;
}

.col-4-3 {
  width: calc((100% - 30px) / (4/3));
  margin-right: 30px;
}

.col-4-3:last-child {
  margin-right: 0px;
}

.col-3-1 {
  width: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
}

.hide-show-messages {
  margin-left: 10px;
  border: 1px solid;
}

.actions-container {
  max-width: 1028px;
  width: 100%;
  background-color: white;
  padding: 10px;
  display: flex;
}

.dismiss-container {
  display: flex;
}

.middle-fill {
  flex: 1 1 auto;
}

.submission-messages {
  overflow: hidden;
  height: auto;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  max-width: 1028px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;

  &.collapsed {
    max-height: 0;
  }

  &.expanded {
    max-height: 500px;
    overflow-y: auto;
    padding: 10px;
  }

  .submission-message {
    font-weight: 500;
    text-align: center;
  }

  .validation-message {
    display: flex;
    padding: 5px 0;
    align-items: center;

    .message-type {
      text-transform: uppercase;
      font-weight: 500;
      margin-right: 20px;
      padding:10px;
      border-radius:3px;
    }
  }

  .dismiss-container {
    display: flex;
  }

  .warning-message {
    color: #8a6d3b;
    background-color: #fcf8e3;

  }

  .error-message {
    color: #a94442;
    background-color: #f2dede;
  }

}

.details-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-box {
  max-width: 1028px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.margintopneg10px {
  margin-top: -10px;
}

.margintop10px {
  margin-top: 10px;
}

.margintop90px {
  margin-top: 90px;
}

marginleft50px {
  margin-left: 50px;
}

marginleftneg7px {
  margin-left: -7px;
}

.padtop5px {
  padding-top: 5px;
}

.padtop17px {
  padding-top: 17px;
}

.padleft7px {
  padding-left: 7px;
}

.padleft20px {
  padding-left: 20px;
}

.padright20px {
  padding-right: 20px;
}

.bordergray {
  border: 1px solid gray;
}

.bordergreen {
  border: 1px solid green;
}

.borderbottom {
  border-bottom: 2px solid blue;
  padding-top: 10px;
  padding-bottom: 10px;
}

.width40px {
  width: 40px;
}

.width50px {
  width: 50px;
}

.width25percent {
  width: 25%;
}

.width75percent {
  width: 75%;
}

.colorgray {
  color: gray;
}

.colorred {
  color: red;
}

.colorblue {
  color: blue;
}

.font11px {
  font-size: 11px;
}

.textalignright {
  text-align: right;
}

.textaligncenter {
  text-align: center;
}

.displayinlineblock {
  display: inline-block;
}

.floatleft {
  float: left;
}

.disabled { 
  cursor: not-allowed; 
} 

.disabledfield { 
  cursor: not-allowed;
  color: red; 
} 

/* CV INPUT OVERWRITE WIDTH */
.cvwidth {
  .mat-form-field {
    width: 20%;
  }
}

.cvwidth2 {
  width: 300px;
}

.mat-form-field-style > {

  /* OVERWRITE MATERIAL INPUT FIELDS */
  .mat-form-field-infix {
    color: blue;
  }

  .mat-select-value {
    color: blue;
  }  

  .mat-form-field-label {
    color: rgb(127, 127, 133) !important;
  }

  .mat-form-field-underline {
    background-color: rgb(68, 68, 218) !important;
  } 

  /*Focused: change color of label*/
  .mat-focused .mat-form-field-label {
    color: rgb(70, 116, 106) !important;
  }

  /*Focused: change color of underline*/
  .mat-form-field-ripple {
    background-color: rgb(70, 116, 106) !important;;
  } 

  .mat-form-field-disabled .mat-form-field-underline 
  { 
    background-image: linear-gradient( to right, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 0.42) 10%, #c2c7cc 0 ) !important; 
    background-size: 1px 100% !important;
    background-repeat: repeat-x !important; 
    cursor: not-allowed;
  } 

  .mat-form-field-disabled:hover {
    cursor: not-allowed;
  }

  mat-hint {
    color: red !important;
  }
  
}

.errortext {
  color: red;
  font-size: 11px;
}

.divclear {
  clear: both;
}

::ng-deep .related-substance img {
  max-width:125px !important;
  margin: auto;
}