<div class="padtop5px padleft25px font15px colorblue">
  <b>Adverse Event DME</b>
  &nbsp;&nbsp;&nbsp;
  <a [href]="exportUrl" target="_blank" matTooltip='Adverse Event DME Records' *ngIf="totalRecords > 0">
    <button mat-icon-button color="primary">
      <mat-icon>arrow_downward</mat-icon>Export
    </button>
  </a>  
</div>
<!--
<div class="flex-row">
  <span class="middle-fill"></span>
  <mat-form-field [floatLabel]="'never'" class="search">
    <input matInput placeholder="Search" [formControl]="searchControl">
  </mat-form-field>
</div>
-->
<div class="responsive mat-table-style">
  <table mat-table [dataSource]="paged">

    <ng-container matColumnDef="dmeReactions">
      <th mat-header-cell *matHeaderCellDef> DME Reactions </th>
      <td mat-cell *matCellDef="let adverse"> {{adverse.dmeReactions}} </td>
    </ng-container>

    <ng-container matColumnDef="ptTermMeddra">
      <th mat-header-cell *matHeaderCellDef> PT Term Meddra </th>
      <td mat-cell *matCellDef="let adverse"> {{adverse.ptTermMeddra}} </td>
    </ng-container>

    <ng-container matColumnDef="caseCount">
      <th mat-header-cell *matHeaderCellDef> Case Count </th>
      <td mat-cell *matCellDef="let adverse"> {{adverse.caseCount}} </td>
    </ng-container>

    <ng-container matColumnDef="dmeCount">
      <th mat-header-cell *matHeaderCellDef> Dme Count </th>
      <td mat-cell *matCellDef="let adverse"> {{adverse.dmeCount}} </td>
    </ng-container>

    <ng-container matColumnDef="dmeCountPercent">
      <th mat-header-cell *matHeaderCellDef> Dme Count Percent </th>
      <td mat-cell *matCellDef="let adverse"> {{adverse.dmeCountPercent}} </td>
    </ng-container>

    <ng-container matColumnDef="weightedAvgPrr">
      <th mat-header-cell *matHeaderCellDef> Weighted Average PRR</th>
      <td mat-cell *matCellDef="let adverse"> {{adverse.weightedAvgPrr | number : '.2-2'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<mat-paginator [length]="totalRecords" [pageSize]="5" showFirstLastButtons="true"
  (page)="getSubstanceAdverseEventDme($event)" [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>