<div class="responsive">
  <table mat-table [dataSource]="properties">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let property"> {{property.name}} </td>
    </ng-container>

    <ng-container matColumnDef="property type">
      <th mat-header-cell *matHeaderCellDef> Property Type </th>
      <td mat-cell *matCellDef="let property"> {{property.propertyType}} </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> Amount </th>
      <td mat-cell *matCellDef="let property"> {{toString(property.value)}} 
        <span *ngIf="codeIsProtected(property.value.access)" matTooltip="Not Public">
          <mat-icon svgIcon="lock" class="icon-align blue-font" *ngIf="codeIsProtected(property.value.access)"></mat-icon>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="referenced substance">
      <th mat-header-cell *matHeaderCellDef> Referenced Substance </th>
      <td mat-cell *matCellDef="let property"><div *ngIf = "property.referencedSubstance" class = "thumb-col">
        <div *ngIf = "property.referencedSubstance.linkingID" class = "code" >{{property.referencedSubstance.linkingID}}</div>
        <img class = "image-thumb" appSubstanceImage [entityId]="property.referencedSubstance.refuuid">
        <div>
          <a class="substance-name" [routerLink]="['/substances', property.referencedSubstance.refuuid]" >
          {{property.referencedSubstance.name}}
          </a>
        </div>
      </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="defining">
      <th mat-header-cell *matHeaderCellDef> Defining </th>
      <td mat-cell *matCellDef="let property"> {{property.defining}} </td>
    </ng-container>

    <ng-container matColumnDef="parameters">
      <th mat-header-cell *matHeaderCellDef> Parameters </th>
      <td mat-cell *matCellDef="let property">
          <div *ngFor = "let parameter of property.parameters">{{parameter.name}}<br>{{parameter.type}}<br/>{{toString(parameter.value)}}</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="references">
      <th mat-header-cell *matHeaderCellDef> References </th>
      <td mat-cell *matCellDef="let property">
        <button class = "mat-raised-button mat-primary dialog-close" (click)="openModal(refTemplate)"  [disabled]="property.references.length <= 0">View</button>

        <ng-template #refTemplate>
          <h2 mat-dialog-title>References</h2>
          <div mat-dialog-content>
            <app-references-manager [substance] = "substance" [references] = "property.references"></app-references-manager>
          </div>
            <div mat-dialog-actions>
              <span class="middle-fill"></span>
              <button class="mat-raised-button mat-primary" mat-dialog-close>Close</button>
            </div>
        </ng-template>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
