@if (this.schema.widget.id ==='hidden') {
  <input
    [attr.name]="name" type="hidden" [formControl]="control">
} @else {
  <div class="widget form-group" [ngClass] = "schema.visibleIf ? 'indent': 'no-indent'">
    <label [attr.for]="id" class="horizontal control-label"  style = "display:inline-block; min-width:250px;margin-right:7px;">
      {{ schema.title }}
      @if (schema.comments && !schema.description) {
        <sup ><mat-icon color="primary" style ="height: 18px;" svgIcon="help" class = "help-icon" (click) = "openModal(info, schema.comments)"></mat-icon></sup>
      }
    </label>
    @if (schema.description) {
      <span class="formHelp">{{schema.description}}
        @if (schema.comments) {
          <sup  ><mat-icon style ="height: 18px;" color="primary" svgIcon="help" class = "help-icon" (click) = "openModal(info, schema.comments)"></mat-icon></sup>
        }
      </span>
    }
    <input [name]="name" [attr.readonly]="(schema.widget.id!=='color') && schema.readOnly?true:null"
      class="text-widget.id textline-widget form-control"
      [attr.type]="!this.schema.widget.id || this.schema.widget.id === 'string' ? 'text' : this.schema.widget.id"
      [attr.id]="id"  [formControl]="control" [attr.placeholder]="schema.placeholder"
      [attr.maxLength]="schema.maxLength || null"
      [attr.minLength]="schema.minLength || null"
      [attr.required]="schema.isRequired || null"
      [attr.disabled]="(schema.widget.id=='color' && schema.readOnly)?true:null">
    @if ((schema.widget.id==='color' && schema.readOnly)) {
      <input [attr.name]="name" type="hidden" [formControl]="control">
    }
  </div>
}
