<div class="responsive">
  <table mat-table [dataSource]="linkages">

    <ng-container matColumnDef='linkage'>
      <th mat-header-cell *matHeaderCellDef> Linkage </th>
      <td mat-cell *matCellDef="let linkage"> {{getLinkageDisplay(linkage.linkage)}} </td>
    </ng-container>

    <ng-container matColumnDef='Structure'>
        <th mat-header-cell *matHeaderCellDef> Structure </th>
        <td mat-cell *matCellDef="let linkage"> <img class = "structure" [src] = "linkage.structure" /></td>
      </ng-container>

    <ng-container matColumnDef='Site Range'>
      <th mat-header-cell *matHeaderCellDef> Site Range </th>
      <td mat-cell *matCellDef="let linkage"> {{linkage.sitesShorthand}} </td>
    </ng-container>

    <ng-container matColumnDef='Site Count'>
      <th mat-header-cell *matHeaderCellDef> Site Count </th>
      <td mat-cell *matCellDef="let linkage"> {{getSiteCount(linkage.sites)}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row style = "height:145px" *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
