.domain-reference {
    display: block;
    padding: 5px 0 10px 0;
    color: #448aff;
}

.mat-expansion-panel:not([class*="mat-elevation-z"]), .mat-expansion-panel {
    box-shadow: none;
}

.mat-expansion-panel-header {
    padding: 0;
}

.domain-references-content {

    .title {
        margin-bottom: 5px;
    }

    ::ng-deep .mat-expansion-panel-body {
        padding: 0;
    }
}

.mat-expansion-panel-header-title {
    &.block-display {
        display: block;
    }
}