
<div class = 'float-right' *ngIf="structure">
    <a class="mat-icon-button" title="Download molfile" [href]="molfileHref" download="{{substance.approvalID? substance.approvalID.toString() : substance.uuid.toString()}}.mol">
      <mat-icon svgIcon="get_app"></mat-icon>
    </a>
  </div>
<div class="flex-row center-content" *ngIf="structure">
  
  <div class="structure-image-container">
    <img class="structure-img" appSubstanceImage [entityId]="structure.id" size="400">
  </div>
  
</div>




<div class = flex-row *ngIf ="classification">
  <div class = "classification">

    <div class="name-value" *ngIf = "classification.polymerClass" >
      <div class="name">Polymer Class:</div>
      <div class="value">{{classification.polymerClass}}</div>
    </div>

    <div class="name-value" *ngIf = "classification.sourceType" >
      <div class="name">Source Type:</div>
      <div class="value">{{classification.sourceType}}</div>
    </div>

    <div class="name-value" *ngIf = "classification.polymerSubclass" >
      <div class="name">Polymer SubClass:</div>
      <div class="value">{{classification.polymerSubclass}}</div>
    </div>
  </div>
  <div>
    <div class = "selected-substance" *ngIf="classification.parentSubstance" >
      <div class="name">Parent Substance</div>
      <div *ngIf="classification.parentSubstance && classification.parentSubstance.linkingID" class="code">
        {{classification.parentSubstance.linkingID}}</div>
      <img class="image-icon"  *ngIf = "relatedSubstanceUuid && relatedSubstanceUuid !== '' "
        appSubstanceImage [entityId]="relatedSubstanceUuid" size="400">
      <div>
        <a class="substance-name" [routerLink]="['/substances', relatedSubstanceUuid || '']">
          {{classification.parentSubstance.name}}
        </a>
      </div>
    </div>
  </div>

</div>



