<div class="responsive columns">
  <div class = "flex-row form-row2">
    <div class = "add-button">
      <button mat-button (click)="addLink()">
        Add Link <mat-icon svgIcon="add_circle_outline"></mat-icon>
      </button>
    </div>

    <div class = "cysteine">
      Number of unspecified Cysteine residues: {{cysteineBonds}}
    </div>
  </div>

  <div *ngFor = "let disulfideLink of disulfideLinks; last as isLast; index as index"  appScrollToTarget [id]="'substance-disulfide-links-' + index"
       class = "site-set" [ngClass] = "index % 2 === 0? 'side-border':''">
    <mat-divider *ngIf = "index % 2 === 0" [vertical]="true" style = "" [inset] = "true"></mat-divider>
    <app-disulfide-links-form [link]="disulfideLink" (linkDeleted)="deleteDisulfideLink($event)"></app-disulfide-links-form>
    <mat-divider class="form-divider" [inset]="true" *ngIf="!isLast && (index !== disulfideLinks.length - 2)"></mat-divider>
  </div>
</div>



