.name-form-container {
    padding: 30px 10px 12px 10px;
    position: relative;
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .checkbox-container, .radio-container {
        padding-bottom: 18px;
    }

    .radio-container {
        padding-right: 15px;
    }

    .name, .tags, .domains {
        flex-grow: 1;
        padding-right: 15px;
    }

    .jurisdiction {
        flex-grow: 1;
    }
}