<div class="form-row">
  @if (
    configSettingsDisplay['testType'] ||
    (configSettingsDisplay['testType'] === undefined && true)
    ) {
    <mat-form-field
      class="col-3-1"
      >
      <mat-label>Test Type</mat-label>
      <input matInput [(ngModel)]="impuritiesTotal.testType" name="testType" />
    </mat-form-field>
  }

  @if (
    configSettingsDisplay['limitType'] ||
    (configSettingsDisplay['limitType'] === undefined && true)
    ) {
    <app-cv-input
      class="col-5-1"
      domain="IMPURITIES_LIMIT_TYPE"
      title="Limit Type"
      name="limitType"
      [model]="impuritiesTotal.limitType"
      (valueChange)="impuritiesTotal.limitType = $event"
      >
    </app-cv-input>
  }

  @if (
    configSettingsDisplay['limitValue'] ||
    (configSettingsDisplay['limitValue'] === undefined && true)
    ) {
    <mat-form-field
      class="col-5-1"
      >
      <mat-label>Limit Value</mat-label>
      <input
        matInput
        [(ngModel)]="impuritiesTotal.limitValue"
        name="limitValue"
        />
    </mat-form-field>
  }

  @if (
    configSettingsDisplay['amountValue'] ||
    (configSettingsDisplay['amountValue'] === undefined && true)
    ) {
    <mat-form-field
      class="col-5-1"
      >
      <mat-label>Amount Value</mat-label>
      <input
        matInput
        [(ngModel)]="impuritiesTotal.amountValue"
        name="amountValue"
        />
    </mat-form-field>
  }

  @if (
    configSettingsDisplay['comments'] ||
    (configSettingsDisplay['comments'] === undefined && true)
    ) {
    <mat-form-field
      class="col-5-1"
      >
      <mat-label>Comments</mat-label>
      <textarea
        matInput
        [(ngModel)]="impuritiesTotal.comments"
        name="comments"
        rows="1"
      ></textarea>
    </mat-form-field>
  }
</div>
