.risen {
  margin-top: -15px;
}


.custom {
  padding-bottom: 10px;
  padding-top:10px;
  border-bottom: 1px solid rgba(0, 0, 0, .45);
}

.deselect {
  color: rgba(0, 0, 0, .5);
}

.add-term {
  margin-left: -7px;
  margin-bottom: -10px;
}

.form-row {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.value, .display, .description {
  flex-grow: 1;
  padding-right: 15px;
}
.cv-field {
  width:100%;
}


.add-term {
  color:#229fdd;
  font-style: italic;
}
