<div class="flex-row">
  <mat-form-field class="cv-field" subscriptSizing="dynamic">
    <mat-label>{{ title }} {{ required ? " *" : "" }}</mat-label>
    <mat-select
      [(ngModel)]="privateMod"
      name="term"
      (ngModelChange)="select($event)"
      [disabled]="disable"
      >
      @if (privateMod) {
        <mat-option [value]="null"
          ><span class="deselect">Clear selection</span></mat-option
          >
        }
        @for (term of vocabulary; track term) {
          <mat-option [value]="term.value">
            {{ term.display }}
          </mat-option>
        }
        @if (
          privateMod &&
          !inCV(vocabulary, privateMod) &&
          privateMod !== '' &&
          privateMod !== 'other'
          ) {
          <mat-option
            value="{{ privateMod }}"
            >{{ privateMod }} (not in CV)</mat-option
            >
          }
          <mat-option value="other">Other (New Value)</mat-option>
        </mat-select>
        @if (hintMessage) {
          <mat-hint>{{ hintMessage }}</mat-hint>
        }
      </mat-form-field>
      @if (
        privateMod &&
        !inCV(vocabulary, privateMod) &&
        privateMod !== 'other' &&
        canManageCVs
        ) {
        <a
          class="add-term"
          mat-button
          matTooltip="add term to Controlled Vocabulary"
          (click)="addToVocab()"
          >
          add
        </a>
      }
    </div>
    @if (privateMod === 'other') {
      <div class="custom">
        <mat-form-field>
          <mat-label>Custom Value</mat-label>
          <input matInput (focusout)="updateOrigin($event.target)" name="custom" />
        </mat-form-field>
      </div>
    }
