.risen {
  margin-top: -15px;
}

.custom {
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid var(--box-shadow-color-6);
}

.deselect {
  color: var(--text-color);
}

.form-row {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.value,
.display,
.description {
  flex-grow: 1;
  padding-right: 15px;
}
.cv-field {
  width: 100%;

  mat-hint {
    color: var(--regular-red-color);
  }
}

.add-term {
  --mat-text-button-horizontal-padding: 4px;
  color: var(--secondary-blue) !important;
  font-style: italic;
  min-width: 0 !important;
  flex-shrink: 0;
  margin-left: -4px;
  align-self: center;
  margin-bottom: 8px;
}
