.custom {
  padding-top: 10px;

  mat-form-field {
    width: 100%;
  }
}

.deselect {
  color: var(--text-color);
}

.form-row {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.value,
.display,
.description {
  flex-grow: 1;
  padding-right: 15px;
}
.cv-field {
  width: 100%;

  mat-hint {
    color: var(--accent-warning);
  }
}

.add-term {
  --mat-text-button-horizontal-padding: 4px;
  color: var(--accent-secondary-main) !important;
  font-style: italic;
  min-width: 0 !important;
  flex-shrink: 0;
  margin-left: -4px;
  align-self: center;
  margin-bottom: 8px;
}
