
.form-row {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: flex-end;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .delete-container {
      padding: 0 10px 8px 0;
  }

  .col {
      flex-grow: 1;
      padding-right: 15px;
  }

  .col-1-1 {
    width: calc((100% - 20px * 1)); //one column
    margin-right: 20px;
  }
}

.related-substance {
  width: 350px;
  max-width: 350px;
}

::ng-deep .selected-substance {
  display: flex;
  flex-direction: column;
  text-align: left !important;
  position: relative;
  img {
      width: 100%;
      height: auto;
      display: block;
      max-width: 220px;
  }
}

.marginleft50px {
  margin-left: 50px;
}

.font11px {
  font-size: 11px;
}
