
.form-row {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: flex-end;
}

.related-substance {
  width: 350px;
  max-width: 350px;
}

::ng-deep .selected-substance {
  display: flex;
  flex-direction: column;
  text-align: left !important;
  position: relative;
  img {
      width: 100%;
      height: auto;
      display: block;
      max-width: 220px;
  }
}
