<div class="widget form-group">
  <!--  <label *ngIf="schema.title" [attr.for]="id" class="horizontal control-label">
  TESTING
</label>-->
@if (schema.type!=='array') {
  <div class="checkbox" [ngClass] ="schema.visibleIf ? 'tabbed': ''" >
    <label class="horizontal control-label" >
      <span style = "width:24px; height: 24px; display:inline-block; vertical-align: bottom">
        @if (schema.children && control.value !== true) {
          <mat-icon svgIcon="chevron_right"></mat-icon>
        }
        @if (schema.children && control.value === true) {
          <mat-icon svgIcon="chevron_down"></mat-icon>
        }
      </span>
      <input [formControl]="control" [attr.name]="name" [attr.id]="id"  type="checkbox" [disableControl]="schema.readOnly">
      @if (schema.readOnly) {
        <input [attr.name]="name" type="hidden" [formControl]="control">
      }
      {{schema.title ? schema.title : schema.description}} @if (schema.comments) {
      <sup  ><mat-icon color="primary" class = "help-icon" (click) = " openModal(info, schema.comments); $event.preventDefault();" style ="height: 18px;" svgIcon="help"></mat-icon></sup>
    }
  </label>
</div>
}
@if (schema.type==='array') {
  @for (option of schema.items.oneOf; track option) {
    <div class="checkbox">
      <label class="horizontal control-label">
        <input [attr.name]="name"
          value="{{option.enum[0]}}" type="checkbox"
          [attr.disabled]="schema.readOnly"
          (change)="onCheck($event.target)"
          [attr.checked]="checked[option.enum[0]] ? true : null"
          [attr.id]="id + '.' + option.enum[0]"
          >
        {{option.description}}
      </label>
    </div>
  }
}
</div>

<ng-template #info let-data>
  {{data.comment}}
</ng-template>
