<div class="info-container">
  <a *ngIf="substance && substance.uuid" aria-label="FDA details"
    [href]="baseDomain + '/ginas/app/substance/' + substance.uuid + '#fdadetails'" target="_blank">
  </a>
</div>

<div class="bordergray mat-tab-style">
  <mat-tab-group>

    <mat-tab label="Product ({{productCount}})" *ngIf="loadedComponents && loadedComponents.products">

      <div *ngIf="(loadingComplete === true && foundProvenanceList === false && productCount === 0)">
        <br>
        <div class="padleft25px colorblue"><b>No Product Found</b></div>
        <br>
      </div>

      <!-- PRODUCT PROVENANCE TABS -->
      <mat-tab-group (selectedTabChange)="tabSelected($event)">
        <mat-tab label="{{prov}}" *ngFor="let prov of provenanceList; let index = index">

          <div class="divflex padtop5px padleft25px font15px colorblue">
            <b> {{prov}}</b>
            &nbsp;&nbsp;&nbsp;
            <span class="colorred">{{loadingStatus}}</span>
            &nbsp;&nbsp;&nbsp;

            <!-- Export Button -->
            <span class="export" *ngIf="canExport && totalRecords > 0">
              <button matTooltip="Export Search Results" mat-button mat-raised-button (click)="export()"
                class="export-button">
                <mat-icon svgIcon="get_app"></mat-icon> Export All Products
              </button>
            </span>

          </div>

          <!-- Data Table -->
          <div class="responsive mat-table-style">
            <div *ngIf="showSpinner" class="spinnerstyle">
              <mat-progress-spinner diameter="80" color="warn" mode="indeterminate">
              </mat-progress-spinner>
            </div>

            <table mat-table [dataSource]="paged" class="font12px" matSort (matSortChange)="sortData($event)"
              matSortActive="productCode" matSortDirection="asc" matSortDisableClear>

              <ng-container matColumnDef="view">
                <th mat-header-cell *matHeaderCellDef> View </th>
                <td class="width80px" mat-cell *matCellDef="let product">
                  <a class="substance-name" [routerLink]="['/product', product.id]" target="_blank">
                    View
                  </a>
                  &nbsp;&nbsp;
                  <a [routerLink]="['/product', product.id, 'edit']" target="_blank" *ngIf="isAdmin"
                    matTooltip='Edit GSRS Product Record'>
                    <mat-icon svgIcon="edit"></mat-icon>
                  </a>
                </td>
              </ng-container>

              <ng-container matColumnDef="productCode">
                <th mat-header-cell *matHeaderCellDef> Product Code </th>
                <td class="width120px" mat-cell *matCellDef="let product">

                  <span *ngFor="let prodProv of product.productProvenances; let i = index">
                    <div *ngIf="prodProv.productCodes; else noProdCodes">

                      <span *ngFor="let prodCode of prodProv.productCodes; let i = index">
                        <span *ngIf="i > 0"><br></span>
               
                        <!-- Display Daily Med link, if Product Code Type is 'NDC CODE'-->
                        <span *ngIf="prodCode._dailyMedUrl">
                          <a href="{{prodCode._dailyMedUrl}}" target="_blank" alt="Go to DailyMed website"
                            title="Go to DailyMed website">
                            {{prodCode.productCode}}
                          </a>
                        </span>

                        <!-- Display PhPID link, if Product Code Type is 'PhPID'-->
                        <span *ngIf="prodCode._phpIdUrl">
                          <a href="{{prodCode._phpIdUrl}}" target="_blank" alt="Go to PhPID Publish website"
                            title="Go to PhPID Publish website">
                            {{prodCode.productCode}}
                          </a>
                        </span>

                        <!-- Display RxNorm link, if Product Code Type is 'RxNorm'-->
                        <span *ngIf="prodCode._rxNormUrl">
                          <a href="{{prodCode._rxNormUrl}}" target="_blank" alt="Go to RxNorm website"
                            title="Go to RxNorm website">
                            {{prodCode.productCode}}
                          </a>
                        </span>

                        <span *ngIf="!prodCode._dailyMedUrl && !prodCode._phpIdUrl && !prodCode._rxNormUrl">
                          {{prodCode.productCode}}
                        </span>

                        <span class="colorgray">&nbsp;({{prodCode.productCodeType}})</span>
                        
                        <mat-icon class="small-icon" svgIcon="open_in_new" matTooltip="opens in new window">
                        </mat-icon>
                      </span> <!-- loop productCodes -->

                    </div>
                    <ng-template #noProdCodes></ng-template>
                  </span>
                </td>
              </ng-container>

              <ng-container matColumnDef="productName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </th>
                <td mat-cell *matCellDef="let product">
                  <div *ngFor="let prodProv of product.productProvenances; let indexProv = index">
                    <ol>
                      <div *ngFor="let prodName of prodProv.productNames; let indexProdName = index">
                        <span *ngIf="indexProv > 0"><br></span>
                        <li>{{prodName.productName}}

                          <span *ngIf="prodName.productNameType">
                            <span class="colorgray font11px">&nbsp;({{prodName.productNameType}})</span>
                          </span>
                        </li>
                      </div>
                    </ol>
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="labelerName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Labeler Name </th>
                <td mat-cell *matCellDef="let product"> {{product.labelerName}}
                  <div *ngFor="let prodProv of product.productProvenances">
                    <div *ngFor="let prodComp of prodProv.productCompanies">
                      {{prodComp.companyName}}
                    </div>
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell *matCellDef="let product">
                  <div *ngFor="let prodProv of product.productProvenances">
                    {{prodProv.productStatus}}
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="productType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Type </th>
                <td mat-cell *matCellDef="let product">
                  <div *ngFor="let prodProv of product.productProvenances">
                    {{prodProv.productType}}
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="ingredientType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Ingredient Type </th>
                <td mat-cell *matCellDef="let product">
                  <div *ngFor="let prodManuItem of product.productManufactureItems">
                    <div *ngFor="let prodLot of prodManuItem.productLots">
                      <div *ngFor="let prodIngred of prodLot.productIngredients">

                        <div *ngIf="prodIngred.substanceKey">
                          <div *ngIf="(bdnum === prodIngred.substanceKey) || substanceUuid === prodIngred.substanceKey
                          || approvalId === prodIngred.substanceKey">
                            {{prodIngred.ingredientType}}
                          </div>
                        </div>

                      </div> <!-- for loop -->
                    </div>
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="applicationNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Application Type Number </th>
                <td mat-cell *matCellDef="let product">
                  <div *ngFor="let prodProv of product.productProvenances">
                    {{prodProv.applicationType}}&nbsp;{{prodProv.applicationNumber}}
                  </div>
                  {{product.appTypeNumber}}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
          <mat-paginator [length]="totalRecords" [pageSize]="5" showFirstLastButtons="true"
            (page)="getSubstanceProducts($event)" [pageSizeOptions]="[5, 10, 25, 100]">
          </mat-paginator>
        </mat-tab>

      </mat-tab-group>

    </mat-tab>

    <mat-tab label="Application ({{applicationCount}})" *ngIf="loadedComponents && loadedComponents.applications">
      <app-substance-application [bdnum]="bdnum" (countApplicationOut)="getApplicationCount($event)">
      </app-substance-application>
    </mat-tab>

    <div *ngIf="loadedComponents && loadedComponents.clinicaltrials">
      <mat-tab label="Clinical Trial ({{clinicalTrialCount}})">
        <app-substance-clinical-trials [bdnum]="bdnum" [substanceUuid]="substance.uuid"
          (countClinicalTrialOut)="getClinicalTrialCount($event)">
        </app-substance-clinical-trials>
      </mat-tab>
    </div>


    <mat-tab label="Clinical Trial Europe ({{clinicalTrialEuCount}})"
      *ngIf="loadedComponents && loadedComponents.clinicaltrials">
      <app-substance-clinical-trials-eu [bdnum]="bdnum" [substanceUuid]="substance.uuid"
        (countClinicalTrialEuOut)="getClinicalTrialEuCount($event)">
      </app-substance-clinical-trials-eu>
    </mat-tab>

    <mat-tab label="Adverse Event PT ({{advPtCount}})" *ngIf="loadedComponents && loadedComponents.adverseevents">
      <app-substance-adverseeventpt [bdnum]="bdnum" [substanceName]="substanceName"
        (countAdvPtOut)="getAdvPtCount($event)">
      </app-substance-adverseeventpt>
    </mat-tab>

    <mat-tab label="Adverse Event DME ({{advDmeCount}})" *ngIf="loadedComponents && loadedComponents.adverseevents">
      <app-substance-adverseeventdme [bdnum]="bdnum" (countAdvDmeOut)="getAdvDmeCount($event)">
      </app-substance-adverseeventdme>
    </mat-tab>

    <mat-tab label="Adverse Event CVM ({{advCvmCount}})" *ngIf="loadedComponents && loadedComponents.adverseevents">
      <app-substance-adverseeventcvm [bdnum]="bdnum" (countAdvCvmOut)="getAdvCvmCount($event)">
      </app-substance-adverseeventcvm>
    </mat-tab>

    <mat-tab label="Impurities Specs ({{impuritiesCount}})" *ngIf="loadedComponents && loadedComponents.impurities">
      <app-substance-impurities [substanceUuid]="substance.uuid" (countImpuritiesOut)="getImpuritiesCount($event)"
        [substanceName]="substanceName">
      </app-substance-impurities>
    </mat-tab>

    <mat-tab label="SSG4 Manufacturing ({{ssg4mCount}})" *ngIf="loadedComponents && loadedComponents.ssg4m">
      <app-substance-ssg4m [substanceUuid]="substance.uuid" (countSsg4mOut)="getSsg4mCount($event)"
        [substanceName]="substanceName">
      </app-substance-ssg4m>
    </mat-tab>

    <mat-tab label="In Vitro Pharmacology Summary ({{invitroPharmSummaryCount}})"
      *ngIf="loadedComponents && loadedComponents.invitropharmacology">
      <app-substance-invitro-pharmacology-summary [substance]="substance" [substanceUuid]="substance.uuid"
        [substanceUnii]="substance.approvalID" (countInvitroPharmSummaryOut)="getInvitroPharmSummaryCount($event)"
        [substanceName]="substanceName">
      </app-substance-invitro-pharmacology-summary>
    </mat-tab>

    <mat-tab label="In Vitro Pharmacology Screening ({{invitroPharmScreeningCount}})"
      *ngIf="loadedComponents && loadedComponents.invitropharmacology">
      <app-substance-invitro-pharmacology [substance]="substance" [substanceUuid]="substance.uuid"
        [substanceUnii]="substance.approvalID" (countInvitroPharmScreeningOut)="getInvitroPharmScreeningCount($event)"
        [substanceName]="substanceName">
      </app-substance-invitro-pharmacology>
    </mat-tab>

  </mat-tab-group>
</div>