.mat-table-style {
  td.mat-cell {
    vertical-align: top;
    font-size: 12px;
  }

}

.mat-tab-style {
  :host ::ng-deep .mat-mdc-tab .mdc-tab__text-label,
  .mat-tab-labels, .mat-tab-label, .mat-tab-link {
    color: var(--accent-info);
  }
}

:host ::ng-deep .mat-mdc-tab-list .mat-mdc-tab,
:host ::ng-deep .mat-tab-list .mat-tab-label {
  flex-grow: 0 !important;
  flex-shrink: 0 !important;
}

.bordergray {
  border: 1px solid var(--text-tertiary);
}

.font10px {
	font-size: 10px;
}

.font11px {
  font-size: 11px;
}

.font15px {
  font-size: 15px;
}

.text-muted {
	color: var(--text-tertiary);
}

.padleft15px {
	padding-left: 15px;
}

.padleft25px {
	padding-left: 25px;
}

.padtop5px {
  padding-top: 5px;
}

.text-info {
  color: var(--accent-mystical-strong);
}

.text-danger {
  color: var(--accent-warning);
}

.info-container {
  margin-bottom: 15px;

  a {
    color: var(--accent-pure-primary);
    text-decoration: none;
  }
}

.spinnerstyle {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: var(--spinner-bg-color);
  z-index: 1;
  display: flex;
  align-items: top; /* Verticle align */
  justify-content: center; /* horizonal align */
}

.small-icon {
  width: 15px;
  height: 15px;
  padding-left: 5px;
  margin-top: 5px;
}

.divflex {
  display: flex;
}

.middle-fill {
  flex: 1 1 auto;
}

.width80px {
  width: 80px;
}

.width120px {
  width: 120px;
}