.mat-table-style {
  td.mat-cell {
    vertical-align: top;
    font-size: 12px;
  }

}

.mat-tab-style {
  .mat-tab-labels, .mat-tab-label, .mat-tab-link {
     color: var(--regular-blue-color);
  }

}

.bordergray {
  border: 1px solid var(--regular-grey-color);
}

.font10px {
	font-size: 10px;
}

.font15px {
  font-size: 15px;
}

.colorgray {
	color: var(--regular-grey-color);
}

.padleft15px {
	padding-left: 15px;
}

.padleft25px {
	padding-left: 25px;
}

.padtop5px {
  padding-top: 5px;
}

.colorblue {
  color: var(--deep-purple-color);
}

.colorred {
  color: var(--regular-red-color);
}

.info-container {
  margin-bottom: 15px;

  a {
    color: var(--deep-blue-color-rgb-2);
    text-decoration: none;
  }
}

.spinnerstyle {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: var(--spinner-bg-color);
  z-index: 1;
  display: flex;
  align-items: top; /* Verticle align */
  justify-content: center; /* horizonal align */
}

.divflex {
  display: flex;
}

.middle-fill {
  flex: 1 1 auto;
}
