<div *ngIf="glycosylation">
  <div class="link-form-container">
  <div class="form-row">
    <mat-form-field class="name-type">
      <mat-label>Type</mat-label>
      <mat-select [(ngModel)]="glycosylation.glycosylationType" required name="type">
        <mat-option *ngFor="let type of glycosylationTypes" [value]="type.value" >
          {{type.display}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="sites">
      <div class="label">C</div>
      <button mat-icon-button matTooltip="Undo" (click)="(openDialog('C'))">
      <mat-icon svgIcon="search"></mat-icon>
    </button>
      <span>
      {{siteDisplay(glycosylation.CGlycosylationSites)}}
      </span>
      <button mat-icon-button matTooltip="Undo" (click)="(openDialog('C'))">
        <mat-icon svgIcon="search"></mat-icon>
      </button>
    </div>
    <div class="sites">
      <div class="label">N</div>
      <button mat-icon-button matTooltip="Undo" (click)="(openDialog('N'))">
        <mat-icon svgIcon="search"></mat-icon>
      </button>
      <span>
      {{siteDisplay(glycosylation.NGlycosylationSites)}}
      </span>

    </div>
    <div class="sites">
      <div class="label">O</div>
      <button mat-icon-button matTooltip="Undo" (click)="(openDialog('O'))">
        <mat-icon svgIcon="search"></mat-icon>
      </button>
      <span>
      {{siteDisplay(glycosylation.OGlycosylationSites)}}
      </span>

    </div>
  </div>
</div>
</div>
