<div class="flex-row">
  <span class="middle-fill"></span>
  <mat-form-field [floatLabel]="'never'" class="search">
    <input matInput placeholder="Search" [formControl]="searchControl">
  </mat-form-field>
</div>
<div class="responsive">
  <table mat-table [dataSource]="paged" matSort (matSortChange)="sortData($event)">

  <ng-container matColumnDef="relatedRecord">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Related Record</th>
      <td class="text-center" mat-cell *matCellDef="let relationship">
        <div class = "thumb-col">
          <div>{{relationship.relatedSubstance.linkingID}}</div>
          <img class="structure-image" [src]="getSafeStructureImgUrl(relationship.relatedSubstance.refuuid)">
          <div>
            <a class="substance-name" [routerLink]="['/substances', relationship.relatedSubstance.refuuid]" >
              {{relationship.relatedSubstance.name}}
            </a>
          </div>
        </div>

      </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
      <td mat-cell *matCellDef="let relationship"> {{relationship.type}} </td>
    </ng-container>

    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef > Details </th>
      <td mat-cell *matCellDef="let relationship">
        <button class = "mat-raised-button mat-primary" (click)="openModal(detailTemplate)" [disabled]="!hasDetails(relationship)" > View</button>
        <ng-template #detailTemplate>
          <h2 mat-dialog-title>Details</h2>
          <div mat-dialog-content>
            <table class = "details-table mat-table">
              <tr>
                <th class = "mat-header-cell">
                  Mediator Substance
                </th>
                <th  class = "mat-header-cell">
                  Details
                </th>
              </tr>
              <tr>
                <td class = "mat-cell">
                  <div class = "thumb-col" *ngIf = "relationship.mediatorSubstance">
                  <div>{{relationship.mediatorSubstance.linkingID}}</div>
                  <img class="structure-image" [src]="getSafeStructureImgUrl(relationship.mediatorSubstance.refuuid)">
                  <div>
                    <a class="substance-name" [routerLink]="['/substances', relationship.mediatorSubstance.refuuid]" >
                      {{relationship.mediatorSubstance.name}}
                    </a>
                  </div>
                </div>
                  <div *ngIf = "!relationship.mediatorSubstance">
                    <i>none</i>
                  </div>
                </td>
                <td class = "mat-cell">
                  <div class = "detail" *ngIf ="relationship.interactionType ">
                  <div class = "subhead">
                    Interaction Type:
                  </div>
                  <div class = "subval">
                    {{relationship.interactionType}}
                  </div>
                  </div>
                  <div class = "detail" *ngIf ="relationship.comments">
                  <div class = "subhead">
                    Comments:
                  </div>
                  <div class = "subval">
                    {{relationship.comments}}
                  </div>
                  </div>
                    <div class = "detail" *ngIf ="relationship.qualification">
                  <div class = "subhead">
                    Qualification:
                  </div>
                  <div class = "subval">
                    {{relationship.qualification}}
                  </div>
                    </div>  <div class = "detail" *ngIf ="relationship.amount ">
                  <div class = "subhead">
                    Amount:
                  </div>
                  <div class = "subval">
                    {{displayAmount(relationship.amount)}} <i *ngIf = "relationship.amount.nonNumericValue">{{relationship.amount.nonNumericValue}}</i>
                  </div></div>
                </td>
              </tr>
            </table>
          </div>
          <div mat-dialog-actions>
            <span class="middle-fill"></span>
            <button class="mat-raised-button mat-primary" mat-dialog-close>Close</button>
          </div>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="references">
      <th mat-header-cell *matHeaderCellDef> References </th>
      <td mat-cell *matCellDef="let relationship">
        <button class = "mat-raised-button mat-primary" (click)="openModal(refTemplate)" [disabled]="relationship.references.length <= 0">View {{relationship.references.length > 0? relationship.references.length : ''}} references</button>

        <ng-template #refTemplate>
          <h2 mat-dialog-title>References</h2>
          <div mat-dialog-content>
            <app-references-manager [substance] = "substance" [references] = "relationship.references"></app-references-manager>
          </div>
          <div mat-dialog-actions>
            <span class="middle-fill"></span>
            <button class="mat-raised-button mat-primary" mat-dialog-close>Close</button>
          </div>
        </ng-template>



      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<mat-paginator [length]="filtered && filtered.length || 0" [pageSize]="5" showFirstLastButtons="true" (page)="pageChange($event, analyticsEventCategory)"
               [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
