@import '../../../../styles/table';

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    padding-top: 10px;
    padding-bottom: 10px;
}

.structure-image {
    width: 150px;
    height: auto;
}

.search {
  width: 400px;
  max-width: 100%;
}

.thumb-col{
  max-width:400px;
}

.subhead {
  display: inline-block;
  width: 130px;
}

.subval{
  display: inline;
}

.details-table th, td {
  padding: 10px;
}
