<div class="code-form-container">
  <div *ngIf="code.$$deletedCode" class="notification-backdrop">
      Deleted&nbsp;
      <button mat-icon-button matTooltip="Undo" (click)="undoDelete()">
        <mat-icon svgIcon="undo"></mat-icon>
      </button>
  </div>
  <div class="form-row">
    <div class="delete-container">
      <button mat-icon-button matTooltip="Delete code" (click)="deleteCode()">
        <mat-icon svgIcon="delete_forever"></mat-icon>
      </button>
    </div>
    <app-cv-input required = 'true' class="code-system" key = 'Code System'  title = "Code System" name = "code"
                  [model] = "code.codeSystem" (valueChange)= "setCodeSystemType($event)">
    </app-cv-input>
    <div class="key-value-pair code-system-type" *ngIf="code.codeSystem">
      <div class="key">
        Code System Type
      </div>
      <div class="value">
        {{codeSystemType}}
      </div>
    </div>
    <app-cv-input class = "type" required = 'true' domain = "CODE_TYPE"  title = "Type" name = "type"
                  [model] = "code.type" (valueChange)= "code.type = $event">
    </app-cv-input>
    <mat-form-field class="code">
      <input matInput placeholder="Code" [(ngModel)]="code.code" required name="code" />
    </mat-form-field>
    <div>
      <app-access-manager (accessOut)="updateAccess($event)" [access]="code.access">
      </app-access-manager>
    </div>
  </div>
  <div *ngIf="!code.$$deletedCode">
    <div class="form-row">
      <mat-form-field class="url">
        <input matInput placeholder="Url" [(ngModel)]="code.url" name="url" />
      </mat-form-field>
    </div>
    <div class="form-row">
      <div class="code-text">
        <div class="textarea-label">Code text</div>
        <textarea placeholder="Enter text here" [(ngModel)]="code.comments" name="comments"></textarea>
      </div>
    </div>
    <div class="form-row">
      <div class="references-container">
        <app-domain-references [referencesUuids]="code.references" #references></app-domain-references>
      </div>
    </div>
  </div>
  <app-audit-info [source] = "code"></app-audit-info>
</div>
