.code-form-container {
    padding: 30px 10px 12px 10px;
    position: relative;
}

.collapse {
    padding: 20px 10px 12px 10px;
    position: relative;
}

.resolve {
  padding: 0px 20px 20px 0px;
  color: #4793d1;
}

.chevron {
    width: 20px;
    line-height: 67px;
    color: rgba(0,0,0,.6);
}
.chevron-button {
    width: 20px;

}

.notification-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    z-index: 10;
    background-color: rgba(255, 255, 255, .8);
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: #666;
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .delete-container {
        padding: 0 10px 8px 0;
    }

    .code-system, .code-system-type, .type {
        flex-grow: 1;
        padding-right: 15px;
    }

    .code-text, .url {
        flex-grow: 1;
    }
}

.key-value-pair {
    display: flex;
    flex-direction: column;
    align-self: flex-start;

    .key {
        font-size: 11px;
        padding-bottom: 3.5px;
        line-height: 11px;
        color: rgba(0, 0, 0, 0.54);
        font-weight: 400;
        font-family: Roboto, "Helvetica Neue", sans-serif;
    }

    .value {
        font-size: 15.5px;
    }
}

.references-container {
    width: 100%;
}
