.logo {
    height: 35px;
    margin-right: 20px;

    img {
        height: 100%;
        width: auto;
    }
}

.nav {

    .nav-item {
        padding: 0 5px;

        & > a {
            font-size: 16px;
            color: var(--nav-item-a-color);
            padding-bottom: 7px;
            transition: all 150ms linear;
            text-decoration: none;
            outline: none;

            &:hover, &.active {
                color: var(--regular-white-color);
                cursor: pointer;
                padding-bottom: 5px;
                border-bottom: 2px solid var(--regular-white-color);
                text-decoration: none;
            }
        }
    }
}

.search-form-field {
    width: 300px;
    
    .mat-input-element {
        font-size: 16px;
    }

    ::ng-deep .mat-form-field-label {
        font-size: 16px;
        top: 1em;
    }
}

.substance-suggestion-field {
    padding: 8px 6px;
    color: var(--gray-color);
    overflow: hidden;
}
