<div class="content-container">
  <mat-card>
    <div class="editor-container">
      <ncats-ketcher-wrapper ketcherFilePath="/assets/ketcher/ketcher.html" (ketcherOnLoad)="ketcherOnLoad($event)">
      </ncats-ketcher-wrapper>
    </div>
    <div class="search-actions">
      <div>
        <mat-form-field>
          <mat-select placeholder="Search type" (selectionChange)="searchTypeSelected($event)" value="substructure">
            <mat-option value="substructure">
              Substructure
            </mat-option>
            <mat-option value="similarity">
              Similarity
            </mat-option>
            <mat-option value="exact">
              Exact
            </mat-option>
            <mat-option value="flex">
              Flex
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="similarity-cutoff" *ngIf="showSimilarityCutoff">
          <div>Similarity cutoff (tanimoto)</div>
          <mat-slider min="0" max="1" step="0.01" value="0.5" (input)="searchCutoffChanged($event)"></mat-slider>
          <div>{{similarityCutoff}}</div>
        </div>
      </div>
      <div class="search-button-container">
        <button mat-raised-button color="primary" (click)="search()">Search</button>
      </div>
    </div>
  </mat-card>
</div>
