.references-link{
  display: inline-flex;
  vertical-align: middle;
}
.version-dropdown{
  width:50px;
  border:0px;
  height:20px;
}
.diverseWrapper{
  padding-bottom:20px;
}
.view-version {
  margin-left:10px;

}

.version-dropdown {
  ::ng-deep .mat-form-field-infix{
    border: 0px;
  }
}


.options-area {
  float:right;
  display: flex;
  flex-direction: column;
}

.pre {
  white-space: pre;
}

.definition-level {
  color: #1565C0;
  font-size: 16px;
}

.deprecated {
  margin-left: 10px;
    font-size: 13px;
    color: #c7254e;
}

.extra-area {
  float:right;
  display: flex;
  flex-direction: column;
  padding-right: 70px;
}

.large-icon {
  height:32px;
  width:32px;
}

.icon-button {
  padding:5px;
  height:34px;
  width: 34px;
  min-width: 34px;
  margin: 2px;
}

.indent {
  padding-left:12px;
  padding-bottom:10px;
}

.standardize {
  padding-right:25px;
}


.overview-container {
    display: flex;
}

.form-row {
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
