<div *ngIf="substance">
  <div class='options-area'>
    <a mat-icon-button [href]="oldUrl" target = "_blank" matTooltip = "view in old application">
      <mat-icon svgIcon="open_in_new"></mat-icon>
    </a>
    <span *ngIf="canEdit">
      <button mat-icon-button [matMenuTriggerFor]="editMenu" matTooltip="edit form options" *ngIf = "isEditable; else editClassic">
        <mat-icon svgIcon="edit"></mat-icon>
      </button>
      <ng-template #editClassic>
        <a mat-icon-button [href]="baseDomain + '/ginas/app/substance/' + substance.uuid + '/edit'" target="_blank">
          <mat-icon svgIcon="edit"></mat-icon>
        </a>
      </ng-template>
    </span>
    <button mat-icon-button [matMenuTriggerFor]="downloadMenu" matTooltip="download options">
      <mat-icon svgIcon="get_app"></mat-icon>
    </button>
    <mat-menu #downloadMenu="matMenu" xPosition="before">
      <a *ngIf = "substance.uuid" mat-menu-item [href]="downloadJsonHref" download="{{substance.approvalID? substance.approvalID.toString() : substance.uuid.toString()}}.json">
        <span>Download JSON</span>
      </a>
    </mat-menu>
    <mat-menu #editMenu="matMenu" xPosition="before">
    <a mat-icon-button [routerLink]="['/substances', substance.uuid, 'edit']" matTooltip = 'edit record'>
      <mat-icon svgIcon="edit"></mat-icon>
    </a>
    <a mat-icon-button [routerLink]="['/substances/register',substance.substanceClass]" [queryParams] = "{copy:substance.uuid}" matTooltip = 'copy substance to new registration form'>
      <mat-icon svgIcon="file_copy"></mat-icon>
    </a>
    <a mat-icon-button [routerLink]="['/substances/register',substance.substanceClass]" [queryParams] = "{copy:substance.uuid,copyType:'definition'}" matTooltip = 'copy definition to new registration form'>
      <mat-icon svgIcon="outline-file_copy"></mat-icon>
    </a>
    </mat-menu>
  </div>
  <div>
    <div class="name-value">
      <div class="name">Substance Class</div>
      <div class="value blue-font">{{substance.substanceClass | classDisplay}}</div>
    </div>
    <div class="name-value">
      <div class="name">Record UNII</div>
      <div class="value blue-font">{{substance._approvalIDDisplay}}</div>
    </div>
    <div class="name-value">
      <div class="name">Record Status</div>
      <div class="value blue-font">{{substance.status === 'approved' ? 'Validated (UNII)' : 'pending'}}</div>
    </div>
    <div *ngIf="substance.structurallyDiverse" class="diverseWrapper">
      <div class="name-value" *ngIf="substance.structurallyDiverse.sourceMaterialClass">
        <div class="name">Source Materials Class</div>
        <div class="value blue-font">{{substance.structurallyDiverse.sourceMaterialClass}}</div>
      </div>
      <div class="name-value" *ngIf="substance.structurallyDiverse.sourceMaterialType">
        <div class="name">Source Materials Type</div>
        <div class="value blue-font">{{substance.structurallyDiverse.sourceMaterialType}}</div>
      </div>
      <div class="name-value" *ngIf="substance.structurallyDiverse.sourceMaterialState">
        <div class="name">Source Materials State</div>
        <div class="value blue-font">{{substance.structurallyDiverse.sourceMaterialState}}</div>
      </div>
      <div class="name-value" *ngIf="substance.structurallyDiverse.parentSubstance">
        <div class="name">Source Materials Parent</div>
        <div class="thumb-col">
          <img class="image-thumb"
            [src]="getSafeStructureImgUrl(substance.structurallyDiverse.parentSubstance.refuuid)">
          <div>
            <a class="substance-name"
              [routerLink]="['/substances', substance.structurallyDiverse.parentSubstance.refuuid]">
              {{substance.structurallyDiverse.parentSubstance.refPname}}
            </a>
          </div>
        </div>
      </div>
      <div class="name-value" *ngIf="substance.structurallyDiverse.organismFamily">
        <div class="name">Organism Family</div>
        <div class="value blue-font">{{substance.structurallyDiverse.organismFamily}}</div>
      </div>
      <div class="name-value" *ngIf="substance.structurallyDiverse.organismGenus">
        <div class="name">Organism Genus</div>
        <div class="value blue-font">{{substance.structurallyDiverse.organismGenus}}</div>
      </div>
      <div class="name-value" *ngIf="substance.structurallyDiverse.organismSpecies">
        <div class="name">Organism Species</div>
        <div class="value blue-font">{{substance.structurallyDiverse.organismSpecies}}</div>
      </div>
      <div class="name-value" *ngIf="substance.structurallyDiverse.organismAuthor">
        <div class="name">Organism Author</div>
        <div class="value blue-font">{{substance.structurallyDiverse.organismAuthor}}</div>
      </div>
      <div class="name-value" *ngIf="substance.structurallyDiverse.developmentalStage">
        <div class="name">Developmental Stage</div>
        <div class="value blue-font">{{substance.structurallyDiverse.developmentalStage}}</div>
      </div>
      <div class="name-value" *ngIf="substance.structurallyDiverse.part?.length > 0">
        <div class="name">Part</div>
        <div class="value blue-font">
          <span *ngFor="let part of substance.structurallyDiverse.part; last as isLast">
            {{part}}<span *ngIf="!isLast">, </span>
          </span></div>
      </div>
      <div class="name-value" *ngIf="substance.structurallyDiverse.fractionMaterialType">
        <div class="name">Fraction Materials Type</div>
        <div class="value blue-font">{{substance.structurallyDiverse.fractionMaterialType}}</div>
      </div>
      <div class="name-value" *ngIf="substance.structurallyDiverse.fractionName">
        <div class="name">Fraction Name</div>
        <div class="value blue-font">{{substance.structurallyDiverse.fractionName}}</div>
      </div>

  </div>
    <div *ngIf = "!isAdmin" class="name-value">
        <div class="name">Record Version</div>
        <div class="value blue-font">{{substance.version}}</div>
      </div>
  <div *ngIf = "isAdmin" class="name-value">
      <div class="name">Record Version</div>
      <mat-form-field class = "version-dropdown">
        <mat-select [formControl]="versionControl" class = "version-select" >
          <mat-option *ngFor = "let version of versions" [value]="version" class = "version-option" >
            {{version}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    <button *ngIf = "substance.version != versionControl.value" mat-button class = "mat-raised-button mat-primary view-version" (click) = 'changeVersion()'>View</button>
</div>
    <div *ngIf = "versionControl.value != latestVersion" class = "indent" >
      This is an older version of this substance
    </div>
    <div class = "name-value" *ngIf = "references?.length > 0">
      <div class = "name">
        <a (click) = "toggleReferences()" class = 'blue-font references-link'>
          <span>{{showDef === false ? 'Show' : 'Hide'}} Definitional References</span><mat-icon svgIcon="{{defIcon}}"></mat-icon>
        </a>
      </div>
    </div>
    <div [hidden]="!showDef">
      <app-references-manager [substance]="substance" [references]="references"></app-references-manager>
    </div>
  </div>





</div>
