.references-link{
  display: inline-flex;
  vertical-align: middle;
}

.diverseWrapper{
  padding-bottom:20px;
}

.options-area {
  float:right;
  display: flex;
  flex-direction: column;
}

.large-icon {
  height:32px;
  width:32px;
}

.icon-button {
  padding:5px;
  height:34px;
  width: 34px;
  min-width: 34px;
  margin: 2px;
}
