<mat-sidenav-container class="example-container" *ngIf="(facets && facets.length) || (substances && substances.length)">
  <mat-sidenav mode="side" opened>
    <mat-accordion multi="true">
      <mat-expansion-panel *ngFor="let facet of facets" [expanded]="facetParams[facet.name] != null">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{facet.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="facet-value" *ngFor="let value of facet.values">
          <div class="facet-value-checkbox">
            <mat-checkbox (change)="updateFacetSelection($event, facet.name, value.label)" [checked]="facetParams[facet.name] != null && facetParams[facet.name][value.label] || false"></mat-checkbox>
          </div>
          <div class="facet-value-label">
              {{value.label}}
          </div>
          <div class="middle-fill"></div>
          <div class="facet-value-count">
            {{value.count}}
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    
  </mat-sidenav>
  <mat-sidenav-content>

    <div class="side-nav-content">
      <mat-paginator #paginator
        [length]= "totalSubstances"
        [pageIndex]="pageIndex"
        [pageSize]= "pageSize"
        [pageSizeOptions]= "[5, 10, 50, 100]"
        (page)="pageEvent = changePage($event)"
      >
      </mat-paginator>
      <mat-card *ngFor="let substance of substances">

        <mat-card-title>
          <a class="substance-name">
            {{substance._name}}
          </a>
          <span class="middle-fill"></span>
          <a class="approval-id">
            {{substance.approvalID}}
          </a>
        </mat-card-title>

        <mat-card-content>
          <div class="substance-content">
            <div class="structure-container" *ngIf="substance.structure">
              <div class="mat-chip-list-container" *ngIf="substance.structure.stereochemistry">
                <mat-chip-list selectable="false" multiple="false">
                  <mat-chip color="primary" selected>{{substance.structure.stereochemistry}}</mat-chip>
                </mat-chip-list>
              </div>
              <div>
                <img [src]="getSafeStructureImgUrl(substance.structure.id)">
              </div>
            </div>
            <div>
              <div class="substance-data substance-names" *ngIf="substance.names && substance.names.length">
                <div class="label">Names:</div>
                <div>
                  <div class="value" *ngFor="let nameObject of substance.names">
                    {{nameObject.name}}
                  </div>
                </div>
              </div>
              <div class="substance-data substance-code-systems" *ngIf="substance.codeSystems">
                <div class="label">Codes:</div>
                <div>
                  <div class="margin-bottom" *ngFor="let codeSystemName of substance.codeSystemNames">
                    <div class="code-system">
                      <span class="label">{{codeSystemName}}</span>:&nbsp;
                      <span class="value" *ngFor="let codeObject of substance.codeSystems[codeSystemName]; last as isLast">{{codeObject.code.trim()}}<span *ngIf="!isLast">, </span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="substance-data substance-relationships" *ngIf="substance.relationships && substance.relationships.length">
                <div class="label" [matBadge]="substance.relationships.length" matBadgeOverlap="false">Relationthips</div>
                <div></div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<div class="no-results" *ngIf="!isLoading && !isError && (!facets || facets.length === 0) && (!substances || substances.length === 0)">
  Your search did not return any results. Please try modying it.
</div>
