.download-container {
    margin-top: 80px;
}

.form-row {
    width: 100%;
    margin-top:20px;

}

.download-header {
    margin-left: 100px;
}


.job-container {
    padding:10px;
    margin: 20px;
    border: 1px solid rgba(0, 0, 0, .1);
}


.spinner {
    height: 40px;
    width: 40px;
}

.loading-container {
    height: 90%;
    width: 100%;
    align-content: center;
    padding:50px;
}

.progress-spinner {
    margin: auto;
}

.deleted {
    margin: auto;
    padding: 5px;
}

.all-button {
    max-width: 1228px;
    margin: auto;
    padding-top: 20px;
}

.a-link {
    text-decoration:none;
    color: #1565C0;
  }