<div
  (click)="showHidePopup()"
  id="overlay"
  [ngClass]="{ hide: !hidePopup }"
></div>
<div class="center-screen" [ngClass]="{ hide: !hidePopup }">
  <span class="close-out" (click)="showHidePopup()">x</span>
  <img
    (click)="showHidePopup()"
    class="image-popped-up"
    appSubstanceImage
    [entityId]="unit && (unit.uuid || (unit._structure && unit._structure.id))"
    />
</div>

@if (!simplifiedForm) {
  <div>
    @if (!featuresOnly) {
      <div class="top-fixed">
        <div class="actions-container">
          <button mat-flat-button color="primary" (click)="saveDraft()">
            Save Draft
          </button>
          <button
            mat-flat-button
            color="primary"
            class="draft-button"
            (click)="showDrafts()"
            >
            Show Drafts <span class="chip">{{ draftCount }}</span>
          </button>
          <button
            mat-flat-button
            color="primary"
            class="json-button"
            (click)="showJSON()"
            >
            Show JSON
          </button>
          <button
            mat-flat-button
            color="primary"
            class="import-button"
            (click)="importDialog()"
            >
            Import JSON
          </button>
          @if (validationMessages && validationMessages.length > 0) {
            <button
              mat-flat-button
              class="hide-show-messages"
              (click)="toggleValidation()"
              [disabled]="isLoading"
              >
              {{ showSubmissionMessages ? "Hide" : "Show" }} messages
              <mat-icon
                [svgIcon]="showSubmissionMessages ? 'chevron_up' : 'chevron_down'"
              ></mat-icon>
            </button>
          }
          @if (isPfdaVersion === true || canMakeAdvancedEdits === true || canUpdate === true) {
            <div
              class="advanced-features"
              >
              <div class="admin-functions">
                <mat-form-field>
                  <mat-label>Advanced Features</mat-label>
                  <mat-select
                    name="Feature"
                    [ngModel]="feature"
                    (openedChange)="openedChange($event)"
                    (selectionChange)="useFeature($event)"
                    disableOptionCentering
                    >
                    <ng-container>
                      @if (userCanApprove) {
                        <mat-option value="changeClass" [disabled]="!id">
                          Change Substance Class
                        </mat-option>
                      }
                      @if (userCanApprove) {
                        <mat-option value="approved" [disabled]="status === 'approved'">
                          Change Status to approved
                        </mat-option>
                      }
                      @if (userCanApprove) {
                        <mat-option value="pending" [disabled]="status === 'pending'">
                          Change Status to pending
                        </mat-option>
                      }
                      @if (userCanChangeDefinitionVisibility) {
                        <mat-option value="setPrivate">
                          Set Definition to private
                        </mat-option>
                      }
                      @if (userCanChangeDefinitionVisibility) {
                        <mat-option value="setPublic">
                          Set Definition to public
                        </mat-option>
                      }
                      @if (userCanApprove) {
                        <mat-option value="unapprove">
                          Un-approve record (Remove approval ID)
                        </mat-option>
                      }
                      @if (userCanApprove) {
                        <mat-option
                          value="changeApproval"
                  [disabled]="
                    !id ||
                    status === 'pending' ||
                    (substanceClass === 'concept' &&
                      UNII === 'non-approved record')
                  "
                          >
                          Change Approval ID
                        </mat-option>
                      }
                      @if (userCanApprove) {
                        <mat-option
                          value="concept"
                          [disabled]="substanceClass !== 'concept'"
                          >
                          Set concept status to non-approved
                        </mat-option>
                      }
                      @if (userCanApprove) {
                        <mat-option value="merge">
                          Merge subconcept
                        </mat-option>
                      }
                      @if (userCanMakePublic) {
                        <mat-option value="switch">
                          Switch primary and alt definitions
                        </mat-option>
                      }
                    </ng-container>
                    @if (isPfdaVersion === true || canUpdate === true) {
                      <mat-option
                        value="glyco"
                        [disabled]="substanceClass !== 'protein'"
                        >
                        Predict N-Glycosylation Sites
                      </mat-option>
                      <mat-option
                        value="disulfide"
                        [disabled]="substanceClass !== 'protein'"
                        >
                        Predict disulfide links by monoclonal antibody type
                      </mat-option>
                      @if (canUpdate) {
                        <mat-option
                          value="fragment"
                  [disabled]="
                    substanceClass !== 'protein' &&
                    substanceClass != 'nucleicAcid'
                  "
                          >
                          Register a Fragment
                        </mat-option>
                      }
                      @if (canUpdate) {
                        <mat-option value="regenRefs">
                          Regenerate reference UUIDs
                        </mat-option>
                      }
                      @if (canUpdate) {
                        <mat-option value="regenUUID">
                          Regenerate substance UUID
                        </mat-option>
                      }
                    }
                  </mat-select>
                </mat-form-field>
              </div>
              <ng-template #demo>
                <div mat-dialog-header>Saved Drafts</div>
                <div mat-dialog-content>
                  <div class="form-row">
                    <div class="cell">
                      <mat-icon svgIcon="delete_forever"></mat-icon>
                    </div>
                    <div class="cell">
                      <a>d706be08-4015-4fa2-80e6-567cf7e2e23f</a>
                    </div>
                    <div class="cell">April 1, 2022 08:05</div>
                    <div class="cell">
                      <button mat-button mat-primary-button>Load Draft</button>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="cell">
                      <mat-icon svgIcon="delete_forever"></mat-icon>
                    </div>
                    <div class="cell">
                      <a>d706be08-4015-4fa2-80e6-567cf7e2e23f</a>
                    </div>
                    <div class="cell">April 1, 2022 08:00</div>
                    <div class="cell">
                      <button mat-button mat-primary-button>Load Draft</button>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="cell">
                      <mat-icon svgIcon="delete_forever"></mat-icon>
                    </div>
                    <div class="cell">register = protein</div>
                    <div class="cell">April 1, 2022 08:00</div>
                    <div class="cell">
                      <button mat-button mat-primary-button>Load Draft</button>
                    </div>
                  </div>
                </div>
                <div mat-dialog-actions>
                  <span class="middle-fill"></span>
                  <button
                    mat-raised-button
                    color="primary"
                    mat-dialog-close
                    (click)="dialogRef.close()"
                    >
                    Close
                  </button>
                </div>
              </ng-template>
              @if (feature === 'changeClass') {
                <div class="changeClass advanced">
                  <mat-form-field>
                    <mat-label>New Class</mat-label>
                    <mat-select
                      name="definitionType"
                      (selectionChange)="changeClass($event)"
                      (openedChange)="openedChange($event)"
                      disableOptionCentering
                      >
                      @for (class of classes; track class) {
                        <mat-option
                          [value]="class"
                          [disabled]="class === substanceClass"
                          >
                          {{ class }}
                        </mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                </div>
              }
            </div>
          }
          <span class="middle-fill"></span>
          <button
            mat-flat-button
            color="primary"
            class="validate-button"
            (click)="validate()"
            >
            Validate for Submission
          </button>
          @if (
            userCanApprove &&
            definition &&
            (definition.substanceClass !== 'concept' || useApprovalAPI) &&
            !definition.approvalID &&
            !imported &&
            definitionType !== 'ALTERNATIVE'
            ) {
            <button
              mat-flat-button
              color="primary"
              class="validate-button"
              [disabled]="!canApprove || approving"
              (click)="validate('approval')"
              >
              Approve
            </button>
          }
        </div>
        <ng-container
          *ngTemplateOutlet="substanceSubmissionMessages"
        ></ng-container>
      </div>
    }
  </div>
} @else {
  <div class="top-fixed small-top-fixed">
    <div class="actions-container small-actions-container">
      <button
        mat-flat-button
        color="primary"
        class="small-button"
        (click)="saveDraft()"
        >
        Save Draft
      </button>
      <button
        mat-flat-button
        color="primary"
        class="draft-button small-button"
        (click)="showDrafts()"
        >
        Show Drafts <span class="chip">{{ draftCount }}</span>
      </button>
      <button
        mat-flat-button
        color="primary"
        class="json-button small-button"
        (click)="showJSON()"
        >
        Show JSON
      </button>
      <button
        mat-flat-button
        color="primary"
        class="import-button small-button"
        (click)="importDialog()"
        >
        Import JSON
      </button>
      @if (validationMessages && validationMessages.length > 0) {
        <button
          mat-flat-button
          class="hide-show-messages small-button"
          (click)="toggleValidation()"
          [disabled]="isLoading"
          >
          {{ showSubmissionMessages ? "Hide" : "Show" }} messages
          <mat-icon
            [svgIcon]="showSubmissionMessages ? 'chevron_up' : 'chevron_down'"
          ></mat-icon>
        </button>
      }
      <span class="middle-fill"></span>
      <button
        mat-flat-button
        color="primary"
        class="validate-button small-button"
        (click)="validate()"
        >
        Validate and Submit
      </button>
    </div>
    <ng-container
      *ngTemplateOutlet="substanceSubmissionMessages"
    ></ng-container>
  </div>
}

<div
  [ngClass]="
    !simplifiedForm ? 'form-content-container' : 'small-form-content-container'
  "
  >
  <div class="scrollable-container">
    <div class="cards-container">
      <mat-accordion multi="true">
        @for (
          section of formSections; track trackBySection(index,
          section); let index = $index; let isLast = $last) {
          <mat-expansion-panel
            #expansionPanel
            [class.small-mat-expansion-panel-spacing]="simplifiedForm"
          [expanded]="
            expandedComponents.indexOf(section.dynamicComponentName) > -1
          "
            [id]="section.dynamicComponentName"
            [ngClass]="{ hidden: section.isHidden }"
            >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h2>{{ section.menuLabel }}</h2>
                <div class="middle-fill"></div>
                @if (section.canAddItem) {
                  <div>
                    <button
                      mat-flat-button
                      color="primary"
                      id="Add new {{ section.menuLabel }}"
                      (click)="section.addItem(); $event.stopPropagation()"
                      matTooltip="Add new {{ section.menuLabel }}"
                      >
                      Add {{ section.menuLabel }}
                      <mat-icon svgIcon="add_circle_outline"></mat-icon>
                    </button>
                  </div>
                }
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-container #dynamicComponent></ng-container>
          </mat-expansion-panel>
        }
      </mat-accordion>
    </div>
  </div>
</div>

<!-- Template for substance validation messages -->
<ng-template #substanceSubmissionMessages>
  <div
    [ngClass]="{
      'submission-messages': true,
      collapsed: !showSubmissionMessages,
      expanded: showSubmissionMessages
    }"
    >
    @if (submissionMessage) {
      <div class="submission-message">
        {{ submissionMessage }}
      </div>
    }
    @if (validationMessages) {
      <div>
        @if (validationMessages.length > 0) {
          <span>
            @if (!serverError && !approving) {
              <div class="submission-message">
                Please correct or dismiss the following errors and submit again:
              </div>
            }
            @for (message of validationMessages; track message; let i = $index) {
              <div
                class="validation-message"
                >
                <span class="validation-body">
                  <div
                    class="message-type"
              [ngClass]="{
                'error-message': message.messageType === 'ERROR',
                'warning-message': message.messageType === 'WARNING',
                'notice-message': message.messageType === 'NOTICE'
              }"
                    >
                    {{ message.messageType }}
                  </div>
                  <div class="message">
                    {{ message.message
                    }}@for (link of message.links; track link) {
                    <span
                      ><br />
                      <a
                        [href]="fixLink(link.href)"
                        class="internal-link"
                        target="_blank"
                        >{{ link.text }}</a
                        ></span
                        >
                      }
                    </div>
                  </span>
                  <span class="validation-dismiss">
                    @if (message.messageType !== 'ERROR' && !approving) {
                      <button
                        mat-icon-button
                        matTooltip="Dismiss"
                        (click)="dismissValidationMessage(i)"
                        >
                        <mat-icon svgIcon="cancel"></mat-icon>
                      </button>
                    }
                  </span>
                </div>
              }
            </span>
          }
          <div class="dismiss-container">
            <span class="middle-fill"></span>
            @if (!approving) {
              <button
                mat-flat-button
                color="primary"
                (click)="submit()"
                [disabled]="isLoading || this.validationResult === false"
                >
                {{ getSubmitButtonText() }}
              </button>
            }
            @if (!approving) {
              <button
                mat-flat-button
                (click)="showSubmissionMessages = false; this.validationResult = true"
                >
                Cancel
              </button>
            }
            @if (approving) {
              <button
                mat-flat-button
                color="primary"
                (click)="approve()"
          [disabled]="
            isLoading || !canApprove || this.validationResult === false
          "
                >
                Confirm Approval
              </button>
            }
          </div>
        </div>
      }
    </div>
  </ng-template>

  <!--Simplified actions-component-->
