#overlay {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--text-color); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
.hide {
  display: none!important;
}
.center-screen {
  z-index: 2;
  position: fixed;
  background-color: var(--regular-white-color);
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.center-screen img {
  transition-duration: 4s;
  margin: 0 auto;
  display: block;
}
.center-screen img:hover {
  transform: scale(1.7);
  -webkit-transform: scale(1.7);
  -moz-transform: scale(1.7);
  z-index: 0;
}
.image-popped-up {
  width: 100%;
  height: 100%;
  padding: 10px;
}
.close-out {
  padding: 10px;
  float: right;
  font-weight: 500;
  cursor: pointer;
}
.top-fixed {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 64px;
    width: 100%;
    background-color: var(--regular-white-color);
    align-items: center;
    justify-content: center;
    box-shadow:     0px 3px 3px -2px var(--box-shadow-color), 0px 3px 4px 0px var(--box-shadow-color-2), 0px 1px 8px 0px var(--box-shadow-color-3);
    z-index: 1001;
}

.cdk-overlay-pane {
  z-index: 1005;
}
mat-select-panel{
  z-index: 1005;
}

.admin-functions, .changeClass {
  margin-bottom: -15px;
  margin-left: 30px;
  margin-right: 5px;
  margin-top: -10px;
  color: var(--primary-color);


  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 20px !important;
  }
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 5px;
}
.advanced-features {
  z-index: 2000 !important;

  display:flex;
  flex-direction: row;
  padding-left: 10px;
}
::ng-deep .cdk-overlay-pane {
  margin-top: 20px !important;
}

.form-content-container {
    // position: fixed;
    // top: 121px;
    // right: 0;
    // bottom: 0;
    // left: 0;
    overflow: hidden;
    padding-top: 121px;
}

.actions-container {
    max-width: 1128px;
    width: 100%;
    background-color: var(--regular-white-color);
    padding: 10px;
    display: flex;
}

.mat-accordion {
    width: 100%;
    max-width: 1020px;
    box-sizing: border-box;
}

.hidden {
    display: none !important;
}

.validation-body {
  max-width:95%;
   display:flex;
   max-width: 960px;
word-break: break-word;
}

.validation-dismiss {
  width: 5%;
}

.submission-messages {
  overflow: hidden;
  height: auto;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  max-width: 1028px;
  width: 100%;
  background-color: var(--regular-white-color);
  display: flex;
  flex-direction: column;

  &.collapsed {
    max-height: 0;
  }

  &.expanded {
    max-height: 500px;
    overflow-y: auto;
    padding: 10px;
  }

  .submission-message {
    font-weight: 500;
    text-align: center;
  }

  .validation-message {
    display: flex;
    padding: 5px 0;

    .message-type {
      text-transform: uppercase;
      font-weight: 500;
      margin-right: 20px;
      padding:10px;
      border-radius:3px;
      height: 40px;
      min-width: 95px;
    }
  }

  .dismiss-container {
    display: flex;
  }

  .warning-message {
    color: var(--warning-dialog-color);
    background-color: var(--warning-dialog-bg-color);

  }


  .error-message {
    color: var(--error-dialog-color);
    background-color: var(--error-dialog-bg-color);
  }

}

.validate-button{
  margin-left:15px;
}

.mat-expansion-panel-header-title {
  align-items: center;
}

.hide-show-messages {
  margin-left: 10px;
  border: 1px solid;
}

.internal-link {
  color: var(--link-primary-color);
}

.import-button {
  margin-left: 15px;
}

.json-button {
  margin-left: 30px;
}

.draft-button {
  margin-left: 15px;
}

.chip {
  background-color: var(--regular-white-color);
  border-radius: 50%;
  padding: 3px 5px;
  margin-left: 5px;
  color: var(--link-color);
  height: 33px;
}
