.structure-image {
    width: 100%;
    height: auto;
}

.moiety {
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    align-items: center;

    &:not(:last-child) {
        border-bottom: solid 1px var(--box-shadow-color-3);
    }
}

.zoom:hover{
    cursor:zoom-in;
}

.moiety-image {
    flex-grow: 1;
    flex-basis: 33.333333%;
    flex-shrink: 0;
}

.moiety-details-container {
    display: flex;
    flex-grow: 2;
    flex-basis: 66.6%;
    flex-shrink: 0;

    .moiety-details {
        flex-grow: 1;
        flex-basis: 50%;
        flex-shrink: 0;

        &:first-child {
            padding-right: 5px;
        }

        &:last-child {
            padding-left: 5px;
        }
    }
}

@media(max-width: 900px) {
    .moiety {
        flex-direction: column;
        align-items: flex-start;

        .moiety-image {
            width: 100%;
        }

        .moiety-image {
            order: 2;
            text-align: center;

            img {
                max-width: 400px;
            }
        }
        
        .moiety-details-container {
            order: 1;
            width: 100%;
        }
    }
    
}

@media(max-width: 615px) {
    .moiety {
        
        .moiety-details-container {
            flex-direction: column;

            .moiety-details {
                
                &:first-child {
                    margin-bottom: 20px;
                }
            }
        }
    }
}