<div class="padtop5px padleft25px font15px colorblue">
  <b>Impurities Specs</b>
  &nbsp;&nbsp;&nbsp;

  <!-- Export Button -->
  @if (canExport && totalRecords > 0) {
    <span class="export">
      <button matTooltip="Export Search Results" mat-button mat-raised-button (click)="export()"
        class="export-button">
        <mat-icon svgIcon="get_app"></mat-icon> Export
      </button>
    </span>
  }
</div>

<div class="responsive mat-table-style">
  <!-- Spinner -->
  @if (showSpinner) {
    <div class="spinnerstyle">
      <mat-progress-spinner diameter="80" color="warn" mode="indeterminate">
      </mat-progress-spinner>
    </div>
  }

  <table mat-table [dataSource]="paged" matSort (matSortChange)="sortData($event)" matSortActive="id"
    matSortDirection="desc" matSortDisableClear>

    <ng-container matColumnDef="productSubstanceName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="width100px">Product/Substance Name</th>
      <td mat-cell *matCellDef="let impurities">
        @if (impurities.id) {
          <div>
            <a [routerLink]="['/impurities', impurities.id]" target="_blank">
              @if (impurities.productSubstanceName) {
                <div>{{impurities.productSubstanceName}}</div>
              } @else {
                View
              }
            </a>
            &nbsp;&nbsp;
            @if (canUpdate) {
              <a [routerLink]="['/impurities', impurities.id, 'edit']" target="_blank"
                matTooltip='Edit Impurities Record'>
                <mat-icon svgIcon="edit"></mat-icon>
              </a>
            }
          </div>
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="sourceType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="width100px"> Source Type</th>
      <td mat-cell *matCellDef="let impurities"> {{impurities.sourceType}} </td>
    </ng-container>

    <ng-container matColumnDef="source">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="width100px"> Source </th>
      <td mat-cell *matCellDef="let impurities"> {{impurities.source}} </td>
    </ng-container>

    <ng-container matColumnDef="sourceId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="width100px"> Source ID</th>
      <td mat-cell *matCellDef="let impurities"> {{impurities.sourceId}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="width100px"> Type </th>
      <td mat-cell *matCellDef="let impurities"> {{impurities.type}} </td>
    </ng-container>

    <ng-container matColumnDef="specType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="width100px"> Spec Type </th>
      <td mat-cell *matCellDef="let impurities"> {{impurities.specType}} </td>
    </ng-container>

    <ng-container matColumnDef="parentSubstance">
      <th mat-header-cell *matHeaderCellDef class="width100px"> Parent Substance </th>
      <td mat-cell *matCellDef="let impurities">
        @for (impSub of impurities.impuritiesSubstanceList; track impSub; let subIndex = $index) {
          <div>
            <a [routerLink]="['/substances', impSub._parentSubstanceUuid]" target="_blank">
              <span class="colorblue">{{impSub._parentSubstanceName}}</span>
            </a>
          </div>
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="relatedSubstance">
      <th mat-header-cell *matHeaderCellDef class="width100px"> Impurities Related Substance</th>
      <td mat-cell *matCellDef="let impurities">
        @for (impSub of impurities.impuritiesSubstanceList; track impSub; let subIndex = $index) {
          <div>
            <!-- Impurities Substance Name is same as current display Substance Name -->
            @for (impTest of impSub.impuritiesTestList; track impTest; let testIndex = $index) {
              <div>
                @for (impDetail of impTest.impuritiesDetailsList; track impDetail; let detIndex = $index) {
                  <div class="font12px">
                    @if (impDetail.relatedSubstanceUuid === substanceUuid) {
                      <div>
                        <span class="colorgreen">
                          @if (impDetail.limitType) {
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;{{impDetail.limitType}}&nbsp;</span>
                          }
                          {{impDetail.limitValue}}&nbsp;{{impDetail.unit}}
                        </span>
                        @if (impDetail.impurityType) {
                          <span
                            class="colorpurple"><br>&nbsp;&nbsp;&nbsp;&nbsp;{{impDetail.impurityType}}
                          </span>
                        }
                      </div>
                    }
                  </div>
                  } <!-- ngFor impDetail -->
                </div>
                } <!-- ngFor impTest -->
              </div>
            }
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <mat-paginator [length]="totalRecords" [pageSize]="5" showFirstLastButtons="true"
      (page)="getImpuritiesBySubstanceUuid($event)" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>