<div class="padtop5px padleft25px font15px colorblue">
    <b>Impurities</b>
    &nbsp;&nbsp;&nbsp;
    <a [href]="exportUrl" target="_blank" matTooltip='Export Impurities Records' *ngIf="totalRecords > 0">
      <button mat-icon-button color="primary">
        <mat-icon>arrow_downward</mat-icon>Export
      </button>
    </a>
  </div>
  
  <div class="responsive mat-table-style">
    <!-- Spinner -->
    <div *ngIf="showSpinner" class="spinnerstyle">
      <mat-progress-spinner diameter="80" color="warn" mode="indeterminate">
      </mat-progress-spinner>
    </div>
  
    <table mat-table [dataSource]="paged">
  
      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef>Details</th>
        <td mat-cell *matCellDef="let impurities">
          <div *ngIf="impurities.id">
            <a [routerLink]="['/impurities', impurities.id]"
              target="_blank">View</a>
            <!--
            <br><span class="font10px colorgray">(Europe)</span>
            -->
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="source">
        <th mat-header-cell *matHeaderCellDef> Source </th>
        <td mat-cell *matCellDef="let impurities"> {{impurities.source}} </td>
      </ng-container>
      
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let impurities"> {{impurities.type}} </td>
      </ng-container>

      <ng-container matColumnDef="specType">
        <th mat-header-cell *matHeaderCellDef> Spec Type </th>
        <td mat-cell *matCellDef="let impurities"> {{impurities.specType}} </td>
      </ng-container>

      <ng-container matColumnDef="impuritiesCount">
        <th mat-header-cell *matHeaderCellDef> Impurities Count </th>
        <td mat-cell *matCellDef="let impurities"> {{impurities.impuritiesDetailsList.length}} </td>
      </ng-container>

      <ng-container matColumnDef="unspecifiedCount">
        <th mat-header-cell *matHeaderCellDef> Unspecified Impurities Count </th>
        <td mat-cell *matCellDef="let impurities"> {{impurities.impuritiesUnspecifiedList.length}} </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  
  <mat-paginator [length]="totalRecords" [pageSize]="5" showFirstLastButtons="true"
    (page)="getSubstanceImpurities($event)" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>