.mat-table-style {
  td.mat-cell {
    vertical-align: top;
    font-size: 12px;
  }
}

.bordergray {
  border:1px solid gray;
}

.font10px {
	font-size: 10px;
}

.font12px {
  font-size: 12px;
}

.font15px {
  font-size: 15px;
}

.colorgray {
	color: gray;
}

.colorred {
  color: red;
}

.colorgreen {
  color: green;
}

.colorpurple {
  color: purple;
}

.colorblue {
  color: rgb(56, 40, 201);
}

.padleft25px {
	padding-left: 25px;
}

.padtop5px {
  padding-top: 5px;
}

.marginbottom10px {
  margin-bottom: 10px;
}

.width100px {
  width: 100px;
}

ol, li {
  margin-left:0px;
  padding-left:0px
}​

.spinnerstyle {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(150, 148, 148, 0.15);
  z-index: 1;
  display: flex;
  align-items: top; /* Verticle align */
  justify-content: center; /* horizonal align */
}
