.reuse-button {
    color: var(--primary-color) !important;
}

.narrow-row {
    height:36px;
}

.spinner {
    margin: auto;
}

.spinner-container {
    width: 100%;
}

.explain {
    margin-left: 30px;
    font-style: italic;
    font-size: 14px;
}
