::ng-deep .mat-expansion-panel-content > .mat-expansion-panel-body {
    padding: 0 12px 10px;
}

.mat-expansion-panel-header {
    padding: 0 12px;
}

.filter-box {
    padding: 10px;

    &:not(:last-child) {
        border-bottom: 1px solid #d9d9d9;
    }
}

.include {
    ::ng-deep .mat-checkbox-frame {
        border-color: #80CBC4;
    }

    ::ng-deep &.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
    ::ng-deep &.mat-checkbox-checked.mat-accent .mat-checkbox-background {
        background-color: #26A69A;
    }
}

.exclude {
    margin-left: 5px;
    ::ng-deep .mat-checkbox-frame {
        border-color: #EF9A9A;
    }

    ::ng-deep &.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
    ::ng-deep &.mat-checkbox-checked.mat-accent .mat-checkbox-background {
        background-color: #EF5350;
    }
}

.search-parameters {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    &.center {
        margin-top: 10px;
        justify-content: center;
    }

    & > div {

        padding-left:10px;
        padding-right: 2px;
        margin-left:5px;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
    }

    .actions-container {
        margin-left: auto;
        flex-shrink: 0;
    }
  .selected-parameter {
    padding-right:5px;
    font-size:14px;
  }
}

.controls-container {
    display: flex;
}

.mat-card {
    max-width: 928px;
    margin-bottom: 20px;
}

.mat-card, .controls-container {
    width: 100%;
    box-sizing: border-box;
}

.controls-container {
    display: flex;
    align-items: center;

    .mat-paginator {
        margin-left: auto;
    }
}

.cards {

    .substance-cards {
        display: block;
    }

    .substance-table {
        display: none;
    }
    .substance-tiles{
      display: none;
    }
}

.table {
    .substance-cards {
        display: none;
    }

    .substance-table {
        display: block;
    }

    .substance-tiles{
      display: none;
    }
}

.tiles {
  .substance-cards {
    display: none;
  }

  .substance-table {
    display: none;
  }

  .substance-tiles{
    display: flex;
  }

}

.mat-card-title, .facet-value {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}

.mat-card-title {
    white-space: normal;

    .substance-name {
        color: #448aff;
        padding-right: 10px;
    }

    .approval-id {
        font-size: 16px;
        color: red;
    }
}
.table-view-name {
  color: #448aff;
}

.tile-title {
  height:19px;
}
.facet-value {
    padding: 6px 0;
    overflow: hidden;

    .facet-value-checkbox {
        padding: 0 3px 0 0;
    }

    .facet-value-label {
        padding: 0 3px;
        max-width: 150px;
        overflow: hidden;
        color: #404040;
        white-space: normal;
    }

    .facet-value-count {
        padding: 0 0 0 3px;
        overflow: hidden;
        font-weight: 500;
    }
}

.facet-actions {
    display: flex;
    align-items: center;
    margin-top: 10px;

    .pull-right {
        margin-left: auto;
    }

    .mat-flat-button {
        min-width: 70px;

        &:not(:first-child) {
            margin-left: 5px;
        }
    }
}

.mat-card-content {

    .mat-chip-list-container {
        margin-left: -20px;
        margin-bottom: 10px;
    }
}

.substance-content {
    display: flex;
    flex-direction: row;
}

.tile {
  height:300px;
  margin:10px;
  padding:10px;
  width: calc(25% - 20px);
  min-width:200px;
  max-width:230px;
  align-content:center;
  overflow:hidden;
  text-overflow: ellipsis;
}

.tile .image-thumbnail {
  margin:auto;
  margin-bottom:20px;
  height:175px;
  width:175px;
}

.tile .structure-container {
  width:100%;
  padding-right:0px;
}

.tile-name {
  white-space:nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width:100%;
  height:25px;
}

.substance-tiles{
  flex-flow: row wrap;
}

.image-other {
  width:175px;
  height:175px;
}

.substance-data {
    display: flex;
    flex-direction: row;

    &:not(:last-child) {
        margin-bottom: 15px;
    }

    .label {
        font-weight: bold;
        min-width: 100px;
    }
}

.structure-container {
    padding-right: 10px;
}

.no-results {
    text-align: center;
    margin-top: 30px;
    font-size: 1.2em;
}

.mat-paginator {
    background: transparent;
}

.image-thumbnail{
  height:150px;
  width:150px;
}

.space-bottom {
    margin-bottom: 5px;
}

.exact-matches-container {
    margin-top: 80px;
}

.exact-match-control {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    button {
        margin-top: 15px;
    }
}

.facet-advanced-options-link {
    margin-top: 7px;
    color: #448aff;
}

.facet-search-container {
    display: flex;

    .mat-form-field {
        flex-grow: 1;
    }
}

.facet-search-loading.mat-progress-bar {
    margin-top: -18px;
    margin-bottom: 1.09em;
}

.break {
    flex-basis: 0%;
    height: 0;
    width:0px;
  }

@media(max-width: 1350px) {

    .full-paginator {
        width: 100%;
        align-content: center;
    }
    .break {
        flex-basis: 100%;
        height: 0;
        width: auto;
      }

      .controls-container {
          flex-wrap: wrap;
      }
}

@media(max-width: 1100px) {
    .controls-container, .search-parameters {
        padding-left: 30px;
    }

    .controls-container {
        flex-wrap: wrap;
    }

    .side-nav-content {
        padding-top: 10px;
    }
}

@media(max-width: 730px) {
    .mat-card-title {
        flex-direction: column;
        align-items: flex-start;

        .substance-name {
            margin-bottom: 10px;
        }
    }

    .page-selector {
        display:none !important;
    }

    .full-paginator {
        min-width: 500px !important;
    }
    .substance-data {
        flex-direction: column;

        .label {
            margin-bottom: 10px;
        }

        .value, .code-system {
            padding-left: 20px;
        }
    }

    .search-parameters {
        font-size: .9em;

        .mat-icon-button {
            width: 35px;
            height: 35px;
            line-height: 35px;
        }
    }

    .side-nav-content {
        padding: 5px;
    }
}

.lock-icon {
    color: #f0ad4e;
}

.narrow-search-suggestions-container {
    display: flex;
    align-content: center;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
}

.narrow-search-suggestions {
    padding: 12px 20px;
    width: auto;
    display: flex;
    align-content: center;
    align-items: center;
}

@media(max-width: 600px) {

    .substance-content {
        flex-direction: column;

        .image-thumbnail {
            margin: 0 auto;
        }
    }

    .controls-container {

        ::ng-deep {

            .mat-paginator-range-l.references-link{
  display: inline-flex;
  vertical-align: middle;
}abel {
                margin: 0 3px 0 0;
            }

            .mat-paginator-page-size-select {
                margin-left: 0;
            }

            .mat-paginator-container {
                padding-right: 0;
                padding-left: 0;
            }

            .mat-paginator-page-size {
                margin-right: 4px;
            }

            .mat-paginator-range-actions {

                .mat-icon-button {
                    width: 35px;
                    height: 35px;
                    line-height: 35px;
                }
            }
        }
    }
}

@media(max-width: 505px) {
    .full-paginator {
        min-width: 0px !important;
    }
    .controls-container {

        ::ng-deep {

            .mat-paginator-page-size-label {
                display: none;
            }
        }
    }
}

.zoom:hover{
  cursor:zoom-in;
}

.icon-align{
  margin-top: -10px;
  vertical-align: bottom;
}

.ext-link{
  color: #448aff;
  text-decoration-style: unset;
}

.sort{
  margin:auto;
}

.advanced {
  padding-left:20px;
  color:#448aff;

}

.show-more {
  color:#448aff;
}

.show-more:hover {
  text-decoration: underline;
}

.facet-options {
  width: 100%;
  display:flex;
}

.more-content {
  width:45%;
}

.advanced-container {
  width:55%;
  content-align:right;
}

.selected-container {
  font-size:14px;
}

.selected-label {
  padding-right:5px;
}

.selected-parameter {
  height:36px;
}

.selected-container {
  max-width:700px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.selected-label {
  max-width:200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.not-icon {
  height:18px !important;
  width: 18px !important;
  vertical-align: bottom;
}
.page-select {
    width:100px;
}

::ng-deep .auto-width{
    ::ng-deep .mat-form-field {
        width: auto !important;
    }
    ::ng-deep .mat-select-value {
        max-width: 100%;
        width: auto;
    }  
}

.page-label {
    color:rgba(0, 0, 0, 0.54);
    display:block;
    font-family:Roboto, "Helvetica Neue", sans-serif;
    font-size:12px;
    padding-right: 12px;
}

.page-selector {
   display: flex;
   flex-direction: row;
   align-items: center;
margin-left: 20px;
 }

 .page-input {
     width: 50px;
     font-size:14px;
 }

.bad-page {
    color: red;
}

.full-paginator {
    display: flex;
    min-width: 660px;
}