<div class="counts-container" *ngIf="searchCount">

  <div class="counts-column">
    <div>
      Applicaction Count:
    </div>
    <div>
      <div *ngIf="appCountConcat">
        <a [routerLink]="['/substances', substanceId]" target="_blank">
          <div innerHTML="{{searchCount.appCountConcat}}"></div>
        </a>
      </div>
      <span *ngIf="searchCount.appCountConcat != '0'; else noRecordApp">
          <a [routerLink]="['/substances', substanceId]" target="_blank">
            <div innerHTML="{{searchCount.appCountConcat}}"></div>
          </a>
        </span>
        <ng-template #noRecordApp>
            {{searchCount.appCountConcat}}
        </ng-template>
    </div>
  </div>

  <div class="counts-column">
    <div>
      Product Count:
    </div>
    <div>
      <span>Active: </span>
      <span *ngIf="searchCount.prodActiveCount > 0; else noRecordProdActive">
        <a [routerLink]="['/substances', substanceId]" target="_blank">
          <span>{{searchCount.prodActiveCount}}</span>
        </a>
      </span>
      <ng-template #noRecordProdActive>
        {{searchCount.prodActiveCount}}
      </ng-template>
    </div>
    <div>
      <span>Inactive: </span>
      <span *ngIf="searchCount.prodInactiveCount > 0; else noRecordProdInactive">
        <a [routerLink]="['/substances', substanceId]" target="_blank">
          <span>{{searchCount.prodInactiveCount}}</span>
        </a>
      </span>
      <ng-template #noRecordProdInactive>
        {{searchCount.prodInactiveCount}}
      </ng-template>
    </div>
  </div>

  <div class="counts-column">
    <div>
      Clinical Trial Count:
    </div>
    <div>
      <span *ngIf="searchCount.clinicalCount > 0; else noRecordClinical">
        <a [routerLink]="['/substances', substanceId]" target="_blank">
          <span>{{searchCount.clinicalCount}}</span>
        </a>
      </span>
      <ng-template #noRecordClinical>
        {{searchCount.clinicalCount}}
      </ng-template>
    </div>
  </div>

  <div class="counts-column">
    <div>
      Adverse Event Count:
    </div>
    <div>
      <span *ngIf="searchCount.adverseEventCount > 0; else noRecordAdverse">
        <a [routerLink]="['/substances', substanceId]" target="_blank">
          <span>{{searchCount.adverseEventCount}}</span>
        </a>
      </span>
      <ng-template #noRecordAdverse>
        {{searchCount.adverseEventCount}}
      </ng-template>
    </div>
  </div>
</div>