<div class="counts-container">
    <div class="counts-column">
        <div>
            Applicaction Count:
        </div>
        <div>
            0
        </div>
    </div>
    <div class="counts-column">
        <div>
            Product Count:
        </div>
        <div>
            <span>Active: </span>
            <span>0</span>
        </div>
        <div>
            <span>Inactive: </span>
            <span>0</span>
        </div>
    </div>
    <div class="counts-column">
        <div>
            Clinical Trial Count:
        </div>
        <div>
            0
        </div>
    </div>
    <div class="counts-column">
        <div>
            Adverse Event Count:
        </div>
        <div>
            0
        </div>
    </div>
</div>
