.code-form-container {
  padding: 30px 10px 12px 10px;
  position: relative;
  display: flex;
}

.related-substance {
  max-width: 25%;
  width: 25%;
}

 ::ng-deep .related-substance img {
  max-width:125px !important;
   margin: auto;
}


.notification-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  z-index: 10;
  background-color: rgba(255, 255, 255, .8);
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: #666;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .delete-container {
    padding: 0 10px 8px 0;
  }

  .code-system, .code-system-type, .type {
    flex-grow: 1;
    padding-right: 15px;
  }

  .code-text, .url {
    flex-grow: 1;
  }
}

.key-value-pair {
  display: flex;
  flex-direction: column;
  align-self: flex-start;

  .key {
    font-size: 11px;
    padding-bottom: 3.5px;
    line-height: 11px;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 400;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  .value {
    font-size: 15.5px;
  }
}

.references-container {
  width: 100%;
}

.form-row {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: flex-end;

  .checkbox-container {
    padding-bottom: 18px;
  }

  .location-type .extent .sites {
    flex-grow:1;
  }

  .amount {
    width: 100%;
    display: flex;
  }
}

.padded {
  padding-right:20px;
}
.amount-display {
  padding-top:11px;
}
.form-actions {
  justify-content: flex-start;
  margin: 5px 0 10px 0;
}
.form-content {
  flex-grow: 1;
}

.mod-type, .location-type {
  width: 33%;
}

.sites, .group-access {
  width:33%;
}

.extent, .amount {
  width:33%;
}


.group, .access {
  width: 45%;
}
