.header {
    padding-top: 24px;
}

.spinner {
    width: 100px !important;
height: 100px !important;
margin: auto;
}

.action-button {
    margin-right: 10px;
font-size: 18px;
}

.form-row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.row {
    margin: 15px;
}

.scrubber-row {
    margin: 15px;
}

::ng-deep .mat-mdc-dialog-container .mat-mdc-dialog-content {
    color: black;
}