<div mat-dialog-header><h3>Action Settings</h3>
            <h4>{{settingsActive.label}}</h4>
        </div>

        <div mat-dialog-content>
            <div *ngIf = "settingsActive.actionName == 'code_import'">
                <div class = "label-value"  style = "margin-bottom: 10px;">
                        <div class = "label">Code System</div>
                        <div class = "value-container"><input mat-input [(ngModel)] = "settingsActive.actionParameters.codeSystem" /></div>
                </div>
                <div class = "label-value"  style = "margin-bottom: 10px;">
                        <div class = "label">Code</div>
                        <div class = "value-container"><input mat-input [(ngModel)] = "settingsActive.actionParameters.code" /></div>
                </div>
                <div class = "label-value"  style = "margin-bottom: 10px;">
                        <div class = "label">Code Type</div>
                        <div class = "value-container"><input mat-input [(ngModel)] = "settingsActive.actionParameters.codeType" /></div>
                </div>
            </div>

            <div *ngIf = "settingsActive.actionName == 'common_name'">
                    <div class = "label-value"  style = "margin-bottom: 10px;">
                            <div class = "label">Name</div>
                            <div class = "value-container"><input mat-input [(ngModel)] = "settingsActive.actionParameters.name" /></div>
                    </div>
                    <div class = "label-value"  style = "margin-bottom: 10px;">
                            <div class = "label">name Type</div>
                            <div class = "value-container"><input mat-input [(ngModel)] = "settingsActive.actionParameters.nameType" /></div>

                    </div>
                    <div class = "label-value"  style = "margin-bottom: 10px;">
                            <div class = "label">Language</div>
                            <div class = "value-container"><input mat-input [(ngModel)] = "settingsActive.actionParameters.lang" /></div>
                    </div>
                   <!--   <div class = "label-value"  style = "margin-bottom: 10px;">
                            <div class = "label">Language</div>
                            <div class = "value-container">
                              <div *ngFor = "let namereference of settingsActive.actionParameters.referenceUUIDs; index as $index3">
                                        <input mat-input [(ngModel)] = "settingsActive.actionParameters.referenceUUIDs[$index3]" /><br/>
                                </div>
                    </div>
                </div>-->
            </div>

            <div *ngIf = "settingsActive.actionName == 'property_import'">
                    <div class = "label-value"  style = "margin-bottom: 10px;">
                            <div class = "label">Name</div>
                            <div class = "value-container"><input mat-input [(ngModel)] = "settingsActive.actionParameters.name" /></div>
                    </div>
                    <div class = "label-value"  style = "margin-bottom: 10px;">
                            <div class = "label">Property Type</div>
                            <div class = "value-container"><input mat-input [(ngModel)] = "settingsActive.actionParameters.propertyType" /></div>

                    </div>
                    <div class = "label-value"  style = "margin-bottom: 10px;">
                            <div class = "label">Value Range</div>
                            <div class = "value-container"><input mat-input [(ngModel)] = "settingsActive.actionParameters.valueRange" /></div>
                    </div>
                    <div class = "label-value"  style = "margin-bottom: 10px;">
                            <div class = "label">Value Units</div>
                            <div class = "value-container">
                                    <div class = "value-container"><input mat-input [(ngModel)] = "settingsActive.actionParameters.valueUnits" /></div>

                    </div>
                </div>
            </div>

            <div *ngIf = "settingsActive.actionName == 'public_reference'">
                    <div class = "label-value"  style = "margin-bottom: 10px;">
                            <div class = "label">Document Type</div>
                            <div class = "value-container"><input mat-input [(ngModel)] = "settingsActive.actionParameters.docType" /></div>
                    </div>
                    <div class = "label-value"  style = "margin-bottom: 10px;">
                            <div class = "label">Citation</div>
                            <div class = "value-container"><input mat-input [(ngModel)] = "settingsActive.actionParameters.citation" /></div>

                    </div>
                    <div class = "label-value"  style = "margin-bottom: 10px;">
                            <div class = "label">Reference ID</div>
                            <div class = "value-container"><input mat-input [(ngModel)] = "settingsActive.actionParameters.referenceID" /></div>
                    </div>
                    <div class = "label-value"  style = "margin-bottom: 10px;">
                            <div class = "label">UUID</div>
                            <div class = "value-container">
                                    <div class = "value-container"><input mat-input [(ngModel)] = "settingsActive.actionParameters.uuid" /></div>

                    </div>
                </div>
            </div>

            <div *ngIf = "settingsActive.actionName == 'structure_and_moieties'">
                    <div class = "label-value"  style = "margin-bottom: 10px;">
                            <div class = "label">molfile</div>
                            <div class = "value-container"><input mat-input [(ngModel)] = "settingsActive.actionParameters.molfile" /></div>
                    </div>
                    <!-- <div class = "label-value"  style = "margin-bottom: 10px;">
                            <div class = "label">Citation</div>
                           <div class = "value-container">
                                    <div *ngFor = "let reference of settingsActive.actionParameters.referenceUUIDs, index as index2">
                                            <input mat-input [(ngModel)] = "reference of settingsActive.actionParameters.referenceUUIDs[index2]" /> <br/>
                                    </div>  
                            </div>

                    </div>
                </div>-->
            </div>

        <!--<div class = "label-value" *ngFor = "let current of settingsActive.fields" style = "margin-bottom: 10px;">
            <div class = "label">{{current.fieldLabel}}</div>
            <div class = "value-container">
                    <span class = "value" *ngIf = "current.defaultValue"><input mat-input [(ngModel)] = "current.defaultValue" /></span>
                    <span class = "value" *ngIf = "current.required !== undefined"><mat-checkbox [(ngModel)] = "current.required" >Required</mat-checkbox></span>        
            </div>     
        </div>-->
    </div>

        <div mat-dialog-actions align="end">
                <button mat-button (click) = "close()">Cancel</button> 
                &nbsp; 

                         <button mat-button (click) = "close('save')">Save</button>

        </div>