<div class="flex-row">
  <span class="middle-fill"></span>
  <mat-form-field [floatLabel]="'never'" class="search">
    <input matInput placeholder="Search" [formControl]="searchControl">
  </mat-form-field>
</div>
<div class="responsive">
  <table mat-table [dataSource]="paged">

    <ng-container matColumnDef="classificationTree">
      <th mat-header-cell *matHeaderCellDef> Classification Tree </th>
      <td mat-cell *matCellDef="let code">
        <div *ngFor="let node of getClassificationTree(code.comments); index as i" [style]="getIndentation(i)">
          <mat-icon svgIcon="subdirectory_arrow_right" *ngIf="i > 0"></mat-icon>
          <a routerLink="/browse-substance" [queryParams]="{ search_term: 'comments:' + node }">{{node}}</a>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="codeSystem">
      <th mat-header-cell *matHeaderCellDef> Code System </th>
      <td mat-cell *matCellDef="let code"> {{code.codeSystem}} </td>
    </ng-container>

    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef> Code </th>
      <td mat-cell *matCellDef="let code"> {{code.code}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let code"> {{code.type}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let code"> {{code.description}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<mat-paginator [length]="filtered.length || 0" [pageSize]="5" showFirstLastButtons="true" (page)="pageChange($event)"
  [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
