::ng-deep .mat-expansion-panel-content > .mat-expansion-panel-body {
    padding: 0 12px 10px;
}

.dynamic-container {
    width: 100%;
    min-height:5px;
}

::ng-deep .facetView > * {
    z-index: 1002 !important;
}

::ng-deep .facet-value-label {
    overflow: auto;
    overflow-wrap: break-word;
}

.smiles-input {
    max-width:350px;
}

.mat-expansion-panel-header {
    padding: 0 12px;
}

.filter-box {
    padding: 10px;

    &:not(:last-child) {
        border-bottom: 1px solid #d9d9d9;
    }
}

.wildcard-div {
    margin: 10px 30px;
    width: 20%;
    display: inline-flex;
}

.wildcard {
    width: 100%;
    height: 50%;
    background: var(--regular-transparent-color);
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    border-color: var(--pale-border-color-rgb-3);
}

.background-button {
    background-color: #ebf1f6;
}

.button-margin {
    margin-right: 0px !important;
}

.bulk-action-button {
    margin-right: 140px;
    margin-bottom: 10px;
    margin-top: -10px;
    font-size: 16px;
}

.top-button {
    font-size: 20px;
    margin-left: 150px;
padding-top: 4px;
padding-bottom: 4px;
width: 200px;
background-color:  var(--primary-color);
color: white;
}

.search-parameters {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    &.center {
        margin-top: 10px;
        justify-content: center;
    }

    & > div {

        padding-left:10px;
        padding-right: 2px;
        margin-left:5px;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
    }

    .actions-container {
        margin-left: auto;
        flex-shrink: 0;
    }
  .selected-parameter {
    padding-right:5px;
    background-color: var(--regular-white-color);
    font-size:14px;
  }
}

.controls-container {
    display: flex;
}

.mat-card {
    max-width: 928px;
    margin-bottom: 20px;
}

.mat-card, .controls-container {
    width: 100%;
    box-sizing: border-box;
}

.controls-container {
    display: flex;
    align-items: center;

    .mat-paginator {
        margin-left: auto;
    }
}

.cards {

    .substance-cards {
        display: block;
    }

    .substance-table {
        display: none;
    }
    .substance-tiles{
      display: none;
    }
}

.table {
    .substance-cards {
        display: none;
    }

    .substance-table {
        display: block;
    }

    .substance-tiles{
      display: none;
    }
}

.tiles {
  .substance-cards {
    display: none;
  }

  .substance-table {
    display: none;
  }

  .substance-tiles{
    display: flex;
  }

}

.mat-card-title {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}

.mat-card-title {
    white-space: normal;

    .substance-name {
        color: var(--link-primary-color);
        padding-right: 10px;
    }

    .approval-id {
        font-size: 16px;
        color: var(--regular-red-color);
    }
}
.table-view-name {
  color: var(--link-primary-color);
}

.tile-title {
  height:19px;
}

::ng-deep .mat-paginator-range-label {
    font-weight: 550;
}

.main-title {
    font-size: 26px;
    padding-left: 10px;
    padding-right: 25px;
    font-weight: 550;
    padding-top: 10px;
    color: var(--primary-color);
    width: 285px;
}

.mat-card-content {

    .mat-chip-list-container {
        margin-left: -20px;
        margin-bottom: 10px;
    }
    .mat-chip-list-container-2 {
        margin-bottom: 10px;
    }
}

.substance-content {
    display: flex;
    flex-direction: row;
}

.tile {
  height:350px;
  margin:10px;
  padding:10px;
  width: calc(25% - 20px);
  min-width:200px;
  max-width:230px;
  align-content:center;
  overflow:hidden;
  text-overflow: ellipsis;
}

.tile .image-thumbnail {
  margin:auto;
  margin-bottom:20px;
  height:175px;
  width:175px;
}

.tile .structure-container {
  width:100%;
  padding-right:0px;
}

.tile-name {
  white-space:nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width:100%;
  height:25px;
}

.tile-name ::ng-deep {
    svg {
        margin-bottom: -10px;
    }
}

.substance-tiles{
  flex-flow: row wrap;
}

.image-other {
  width:175px;
  height:175px;
}

.substance-data {
    display: flex;
    flex-direction: row;

    &:not(:last-child) {
        margin-bottom: 15px;
    }

    .label {
        font-weight: bold;
        min-width: 100px;
    }
}

.structure-container {
    padding-right: 10px;
}

.no-results {
    text-align: center;
    margin-top: 30px;
    font-size: 1.2em;
}

.mat-paginator {
    background: var(--regular-transparent-color);
}

.image-thumbnail{
  height:150px;
  width:150px;
}

.space-bottom {
    margin-bottom: 5px;
}

.exact-matches-container {
    margin-top: 80px;
}

.exact-match-control {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    button {
        margin-top: 15px;
    }
}

.facet-advanced-options-link {
    margin-top: 7px;
    color: #448aff;
}

.facet-search-container {
    display: flex;

    .mat-form-field {
        flex-grow: 1;
    }
}

.facet-search-loading.mat-progress-bar {
    margin-top: -18px;
    margin-bottom: 1.09em;
}

.break {
    flex-basis: 0%;
    height: 0;
    width:0px;
  }

  .export {
    margin: auto;
}

.export-button {
    color: var(--regular-black-color);
    border-radius: 4px;
}

.similarity {
    padding-left: 10px;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    color: var(--pink-span-color);
}
  
.similarity-label {
    font-style: italic;
}

.menu-checkbox:hover {
    background-color: var(--regular-white-color);
}
@media(max-width: 1750px) {

    .full-paginator {
        width: 100%;
        align-content: center;
    }
    .break {
        flex-basis: 100%;
        height: 0;
        width: auto;
      }

      .controls-container {
          flex-wrap: wrap;
      }

      .export {
        margin: auto;
    }
}

@media(max-width: 1100px) {
    .controls-container, .search-parameters {
        padding-left: 30px;
    }

    .controls-container {
        flex-wrap: wrap;
    }

    .side-nav-content {
        padding-top: 10px;
    }

    .export {
        margin-right:30px;
    }
}

@media(max-width: 730px) {
    .mat-card-title {
        flex-direction: column;
        align-items: flex-start;

        .substance-name {
            margin-bottom: 10px;
        }
    }

    .page-selector {
        display:none !important;
    }

    .full-paginator {
        min-width: 500px !important;
    }
    .substance-data {
        flex-direction: column;

        .label {
            margin-bottom: 10px;
        }

        .value, .code-system {
            padding-left: 20px;
        }
    }

    .search-parameters {
        font-size: .9em;

        .mat-icon-button {
            width: 35px;
            height: 35px;
            line-height: 35px;
        }
    }

    .side-nav-content {
        padding: 5px;
    }
}

.lock-icon {
    color: var(--lock-icon-color);
}

.narrow-search-suggestions-container {
    display: flex;
    align-content: center;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
    flex-direction: column;
}

.flex-row {
    width: 100%;
    margin: auto;
}



.narrow-search-suggestions {
    padding: 12px 20px;
    width: auto;
    display: flex;
    align-content: center;
    align-items: center;

    .mat-flat-button {
        margin-left: 7px;
    }
}

@media(max-width: 600px) {

    .substance-content {
        flex-direction: column;

        .image-thumbnail {
            margin: 0 auto;
        }
    }

    .controls-container {

        ::ng-deep {

            .mat-paginator-range-l.references-link{
  display: inline-flex;
  vertical-align: middle;
}abel {
                margin: 0 3px 0 0;
            }

            .mat-paginator-page-size-select {
                margin-left: 0;
            }

            .mat-paginator-container {
                padding-right: 0;
                padding-left: 0;
            }

            .mat-paginator-page-size {
                margin-right: 4px;
            }

            .mat-paginator-range-actions {

                .mat-icon-button {
                    width: 35px;
                    height: 35px;
                    line-height: 35px;
                }
            }
        }
    }
}

@media(max-width: 505px) {
    .full-paginator {
        min-width: 0px !important;
    }
    .controls-container {

        ::ng-deep {

            .mat-paginator-page-size-label {
                display: none;
            }
        }
    }
}

.zoom:hover{
  cursor:zoom-in;
}

.icon-align{
  margin-top: -10px;
  vertical-align: bottom;
}

.ext-link{
  color: var(--link-primary-color);
  text-decoration-style: unset;
}

.sort{
  margin:auto;
  margin-bottom: -7px;
}

.advanced {
  padding-left:20px;
  color:#448aff;

}

.facet-options {
  width: 100%;
  display:flex;
}

.tile-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

.mat-elevation-z2 {
    background-color: var(--regular-white-color);
}

.more-content {
  width:45%;
}

.advanced-container {
  width:55%;
  align-content:right;
}

.selected-container {
  font-size:14px;
}

.selected-label {
  padding-right:5px;
}

.reset-facets-button {
    margin-left: 5px;
    margin-bottom: 5px;
}

.selected-parameter {
  height:auto;
  padding-top: 3px;
  padding-bottom: 3px;
}

.selected-container {
  max-width:700px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.selected-label {
  max-width:200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.not-icon {
  height:18px !important;
  width: 18px !important;
  vertical-align: bottom;
}
.page-select {
    width:100px;
}

::ng-deep .auto-width{
    ::ng-deep .mat-form-field {
        width: auto !important;
    }
    ::ng-deep .mat-select-value {
        max-width: 100%;
        width: auto;
    }  
}

.page-label {
    color:var(--dark-label-color);
    display:block;
    font-family:Roboto, "Helvetica Neue", sans-serif;
    font-size:14px;
    padding-right: 12px;
}

.page-selector {
   display: flex;
   flex-direction: row;
   align-items: center;
margin-left: 20px;
 }


 :host ::ng-deep .mat-paginator-range-label{
    margin: 0 5px 0 5px !important;

  }

 mat-paginator {
     font-size:16px;
 }

 .page-input {
     width: 50px;
     font-size:14px;
 }

.bad-page {
    color: var(--regular-red-color);
}

.full-paginator {
    display: flex;
    min-width: 660px;
}

.disable-export {
    pointer-events:none;
  opacity:.5;
}

.button-link-img {
    line-height: 40px;
    color: var(--regular-black-color);
}
.red-text {
    color: var(--regular-red-color);
    font-style: italic;
}
.orange-text {
    color: var(--regular-orange-color);
    font-style: italic;
}
.sub-search-div {
    display: none; // remove to see UI added
}
.sub-search-ref-btn {
    padding: 10px;
    margin: 0 5px;
    background-color: var(--regular-white-color);
    box-shadow: 2px 2px var(--regular-lightgray-color);
    border: 0.4px solid var(--regular-white-color);
    border-radius: 5px;
}
.sub-search-cancel-btn {
    padding: 10px;
    color: var(--regular-white-color);
    background-color: var(--regular-red-color);
    box-shadow: 2px 2px var(--regular-lightgray-color);
    border: 0.4px solid var(--regular-red-color);
    border-radius: 5px;
}
.sub-search-text {
    text-align: center;
    // margin: 7px;
}
.match-txt {
    display: inline;
    padding: 0 5px;
}
.sub-search-text-div {
    text-align: center;
}
.search-spinner {
    width: 15px;
    height: 15px;
    display: inline-table;
    margin: auto;
}
// .mat-progress-spinner circle, .mat-spinner circle {
//     stroke: grey;
// }
.search-spinner ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: var(--regular-grey-color);
    width: 10px !important;
    height: 10px !important;
    display: inline;
}
.cdk-overlay-backdrop, .cdk-global-overlay-wrapper {
    display: none !important;
}
