.top-fixed {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 64px;
  width: 100%;
  background-color: var(--regular-white-color);
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 3px -2px var(--box-shadow-color), 0px 3px 4px 0px var(--box-shadow-color-2), 0px 1px 8px 0px var(--box-shadow-color-3);
  z-index: 1001;
}

.form-content-container {
  overflow: hidden;
  padding-top: 110px;
}

.scrollable-container {
  padding-top: 15px;
}

.cards-container {
  width: 100%;
}

.title_box {
  width: 1140px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.title {
   font-size: 24px;
   font-weight: 600px;
   font-family: Arial, Helvetica, sans-serif;
   /*padding-left: 70px; */
}

.titlegreen {
  font-size: 17px;
  font-weight: 500;
}

.titleorange {
  color: var(--regular-orangered-color);
  font-size: 17px;
  font-weight: 500;
}

.mat-card {
  max-width: 1140px;
}

.form-row {
  display: flex;
  width: 100%;

  .col-1 {
    /* width: 159.333px; */
    width: calc((100% - 30px * 3) / 4);
    margin-right: 30px;
  }

  .col-1:last-child {
    margin-right: 0px;
  }

  .col-2 {
    /* width: 348.667px; calc() value*/
    width: calc((100% - 30px * 1) / 2);
    margin-right: 30px;
  }

  .col-2:last-child {
    margin-right: 0px;
  }

  .col-1-5 {
    /* width: 159.333px; */
    width: calc((100% - 20px * 4) / 5);
    margin-right: 20px;
  }

  .col-1-5:last-child {
    margin-right: 0px;
  }

  .col-4-5 {
    /* width: 159.333px; */
    width: calc((100% - 5px) / (5/4));
    margin-right: 20px;
  }

  .col-4-5:last-child {
    margin-right: 0px;
  }
}

.row {
  width: 100%;
}

.col-1 {
  /* width: 159.333px; */
  width: calc((100% - 30px * 3) / 4);
  margin-right: 30px;
  color: red;
}

.col-1:last-child {
  margin-right: 0px;
}

.col-2 {
  /* width: 348.667px; calc() value*/
  width: calc((100% - 30px * 1) / 2);
  margin-right: 30px;
}

.col-2:last-child {
  margin-right: 0px;
}

.col-3 {
  /* width: 348.667px; calc() value*/
  width: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
}

.col-3:last-child {
  margin-right: 0px;
}

.col-1-5 {
  /* width: 159.333px; */
  width: calc((100% - 20px * 4) / 5);
  margin-right: 20px;
}

.col-1-5:last-child {
  margin-right: 0px;
}

.col-4-5 {
  /* width: 159.333px; */
  width: calc((100% - 5px) / (5/4));
  margin-right: 20px;
}

.col-4-5:last-child {
  margin-right: 0px;
}

.col-6-1 {
  width: calc((100% - 20px * 5) / 6);
  margin-right: 20px;
}

.col-6-1:last-child {
  margin-right: 0px;
}

.col-6-2 {
  width: calc((100% - 10px * 1) / (6/2));
  margin-right: 20px;
}

.col-6-2:last-child {
  margin-right: 0px;
}

.validate-button{
  margin-left:15px;
}

.hide-show-messages {
  margin-left: 10px;
  border: 1px solid;
}

.actions-container {
  max-width: 1200px;
  min-width: 1200px;
  background-color: var(--regular-white-color);
  padding: 10px;
  display: flex;
}

.dismiss-container {
  display: flex;
}

.middle-fill {
  flex: 1 1 auto;
}

.submission-messages {
  overflow: hidden;
  height: auto;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  max-width: 1028px;
  width: 100%;
  background-color: var(--regular-white-color);
  display: flex;
  flex-direction: column;

  &.collapsed {
    max-height: 0;
  }

  &.expanded {
    max-height: 500px;
    overflow-y: auto;
    padding: 10px;
  }

  .submission-message {
    font-weight: 500;
    text-align: center;
  }

  .validation-message {
    display: flex;
    padding: 5px 0;
    align-items: center;

    .message-type {
      text-transform: uppercase;
      font-weight: 500;
      margin-right: 20px;
      padding:10px;
      border-radius:3px;
    }
  }

  .dismiss-container {
    display: flex;
  }

  .warning-message {
    color: var(--warning-dialog-color);
    background-color: var(--warning-dialog-bg-color);

  }

  .error-message {
    color: var(--error-dialog-color);
    background-color: var(--error-dialog-bg-color);
  }

}

.buttontermpart {
  height: 35px !important;
  margin-top: 10px;
}

.divflexrow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.details-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-box {
  max-width: 1028px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.margintopneg10px {
  margin-top: -10px;
}

.margintop10px {
  margin-top: 10px;
}

.margintop90px {
  margin-top: 90px;
}

.marginright5px {
  margin-right: 5px;
}

.marginright10px {
  margin-right: 10px;
}

.marginright20px {
  margin-right: 20px;
}

.marginright30px {
  margin-right: 30px;
}

.marginright35px {
  margin-right: 35px;
}

.marginright60px {
  margin-right: 60px;
}

.marginbottom10px {
  margin-bottom: 10px;
}

.marginrightneg10px {
  margin-right: -10px;
}

.marginleftneg5px {
  margin-left: -5px;
}

.marginleftneg10px {
  margin-left: -10px;
}

.padtop5px {
  padding-top: 5px;
}

.padtop17px {
  padding-top: 17px;
}

.padright5px {
  padding-right: 5px;
}

.padright10px {
  padding-right: 10px;
}

.padleft5px {
  padding-left: 5px;
}

.padleft10px {
  padding-left: 10px;
}

.padleftnegleft10 {
  padding-left: -10px;
}

.colorgray {
  color: var(--regular-grey-color);
}

.colororange {
  color: var(--regular-orange-color);
}

.width95percent {
  width: 95%;
}

.width40px {
  width: 40px;
}

.width50px {
  width: 50px;
}

.width550px {
  width: 550px;
}

.font11px {
  font-size: 11px;
}

.textalignright {
  text-align: right;
}

.bordergray {
  border: 1px solid var(--regular-grey-color);
}

.borderlightgray {
  border: 1px solid var(--lightgray-color);
}

.bordergreen {
  border: 1px solid var(--regular-green-color);
}

.bkcolorlightblue {
  background-color: var(--pale-border-color-rgb-3);
}

.displayinlineblock {
  display: inline-block;
}

.floatleft {
  float: left;
}

.disabled {
  cursor: not-allowed;
}

.disabledfield {
  cursor: not-allowed;
  color: var(--regular-red-color);
}

hr {
  border: none;
  border-top: 3px dotted var(--regular-green-color);
  color: var(--hr-color);
  overflow: visible;
  text-align: center;
  height: 5px;
}

.mat-form-field-style {

  /* OVERWRITE MATERIAL INPUT FIELDS */
.mat-form-field-infix {
  color: var(--regular-blue-color);
}

.mat-select-value {
  color: var(--regular-blue-color);
}

.mat-form-field-label {
  color: var(--mat-form-field-label-color) !important;
  font-size: 14px;
}

.mat-form-field-underline {
  background-color: var(--mat-form-field-underline-bg-color) !important;
}

 /*Focused: change color of label*/
.mat-focused .mat-form-field-label {
  color: var(--mat-form-field-focused-color) !important;
}

/*Focused: change color of underline*/
.mat-form-field-ripple {
  background-color: var(--mat-form-field-focused-color) !important;;
}

.mat-form-field-disabled .mat-form-field-underline
{
  background-image: linear-gradient( to right, var(--img-linear-gradient-start-color) 0, var(--textarea-dark-border-color) 10%, var(--img-linear-gradient-color) 0 ) !important;
  background-size: 1px 100% !important;
  background-repeat: repeat-x !important;
  cursor: not-allowed;
}

.mat-form-field-disabled:hover {
  cursor: not-allowed;
}

}

.boxshadow {
  -webkit-box-shadow: 2px 4px 12px 0px rgba(145,140,145,1);
  -moz-box-shadow: 2px 4px 12px 0px rgba(145,140,145,1);
  box-shadow: 2px 4px 12px 0px rgba(145,140,145,1);
}

.small-icon {
  width: 15px;
  height: 15px;
  padding-left: 0px;
}

