.form-row {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;

  .value, .display, .description {
    flex-grow: 1;
    padding-right: 15px;
  }
}


.value, .display {
  max-width: 23%;
}

.description {
  max-width:50%;
}


.validation {
  display:flex;
  flex-direction: column;
  width: 100%;  
  }
  
  
  .message {
      padding-top: 5px;
      padding-left: 15px;
  }


  .ERROR {
    background-color: var(--regular-red-color);
    color: var(--error-dialog-color);
    background-color: var(--error-dialog-bg-color);
    padding: 4px 5px;
    margin-right: 5px;
    border-radius: 5px;
}


.WARNING {
color: var(--warning-dialog-color);
background-color: var(--warning-dialog-bg-color);
padding: 4px 5px;
margin-right: 5px;
border-radius: 5px;
}

.INFO {
color: var(--regular-black-color);
background-color: var(--regular-lightgray-color);
padding: 4px 5px;
margin-right: 5px;
border-radius: 5px;
}
