.actions-container {
  max-width: 1028px;
  width: 100%;
  background-color: white;
  padding: 10px;
  display: flex;
}

.details-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
    /*padding: 20px;*/
  }
  
.details-box {
  max-width: 1028px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.row {
  width: 100%;
}

.form-row {
  display: flex;
  width: 100%;

  .col-1 {
    width: calc((100% - 13px * 8) / 9);
    margin-right: 13px;
  }

  .col-2 {
    width: calc((100% - 13px * 3) / 5); 
    margin-right: 13px;
  }
  
  .col-2:last-child {
    margin-right: 0px;
  }

  .col-2-nomargin {
    width: calc((100% + 70px) / 5); 
    margin-right: 0px;
  }
  
}

.col-1 {
  width: calc((100% - 13px * 8) / 9);
  margin-right: 13px;
}

.col-1:last-child {
  margin-right: 0px;
}  

.col-2 {
  width: calc((100% - 13px * 3) / 5); 
  margin-right: 13px;
}

.col-2:last-child {
  margin-right: 0px;
}  

.col-2-nomargin {
  width: calc((100% + 70px) / 5); 
  margin-right: 0px;
}
 
.col-3 {
  /* width: 538px; calc() value*/ 
  width: calc((100% - 30px * 1) / 2);
  margin-right: 30px;
}

.col-3:last-child {
  margin-right: 0px;
}  

.col-4 {
  /* width: 724px; calc() value*/ 
  width: calc((100% - 20px) / (6/4));
  margin-right: 20px;
}

.col-4:last-child {
  margin-right: 0px;
}  

.col-5 {
  /* width: 913.333px; calc() value*/ 
  width: calc((100% - 10px) / (6/5));
  margin-right: 10px;
}

.col-5:last-child {
  margin-right: 0px;
}  

.col-5-more {
  /* width: calc() value*/ 
  width: calc((100% + 100px) / (6/5));
  margin-right: 10px;
}

.col-6 {
  width: 100%;
}

.backgroundgray {
  background-color: gray;
}

.colorred {
  color: red;
}

.colororange {
  color: #d35e04;
}

.colormaroon {
  color: maroon;
}

.colorgray {
  color: gray;
}

.font11px {
  font-size: 11px;
}

.font12px {
  font-size: 12px;
}

.font14px {
  font-size: 14px;
}

.font16px {
  font-size: 16px;
}

.font17px {
  font-size: 17px;
}

.fontfamilyhelvetica {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.margintop10px {
  margin-top: 10px;
}

.margintop20px {
  margin-top: 20px;
}

.margintop30px {
  margin-top: 30px;
}

.margintopminus25 {
  margin-top: -5px;
}

.marginbottomminus17px {
  margin-bottom: -17px;
}

.padall5px {
  padding: 5px;
}

.padleft235px {
  padding-left: 235px;
}

.padbottom0px {
  padding: 0px;
}

.width200px {
  width: 200px;
}

.title1 {
  color: orangered;
  font-size: 17px;
  font-weight: 500;
}

hr {
  border: none;
  border-top: 3px dotted orangered;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
}

fieldset.border {
  border: solid 1px rgb(230, 115, 22) !important;
  padding: 0 10px 10px 10px;
  border-bottom: none;
  min-width: 0;  /* override the default value of min-content */
}

legend.border {
  width: auto !important;
  border: none;
  border-bottom: none;
  font-size: 13px;
  color: #174793;
  font-family: Verdana;
  font-weight: bold;
  margin-bottom: 10px;
}

.disabled { cursor: not-allowed; }

.divflexrow {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.disabled { 
  cursor: not-allowed; 
} 

.flex-column {
  display: flex;
  flex-direction: column;
  margin-right: px;
  text-align: left;
}

.related-substance {
  max-width: 27%;
  width: 27%;
}

::ng-deep .selected-substance {
  display: flex;
  flex-direction: column;
  text-align: left !important;
  position: relative;
  img {
      width: 100%;
      height: auto;
      display: block;
      max-width: 220px;
  }
}
