.clinical-trials-browse-edit1 {
  text-decoration: none;
}

.clinical-trials-browse-edit2 {
  text-decoration: none; 
  font-size:  1.5em;
  padding: .5em;
}


.clinical-trials-browse-wrapper {
  padding: 10px;
  margin-top: 60px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.clinical-trials-browse-filter-form { 
  margin-right: 10px;
}

.clinical-trials-browse-filter-form-button { 
  margin-right: 10px;
}

.clinical-trials-browse-filter-form-help-button-open { 
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.clinical-trials-browse-filter-form-searchTerm {
  margin-right: 10px;  
}

.clinical-trials-browse-filter-form-searchType {
  margin-right: 10px; 
}


.show-help-box {
  max-width: 600px;
  
}