<div *ngIf="definition">
  <div class="substance-form-row form-header">
    <div><span class = "sub-header">{{uuid ? 'Editing ' : 'Registering New '}}</span>
      <span> {{substanceClass | titlecase}}</span>
    </div>
    <span class = "approval" *ngIf = "definition.approvalID && definition.approvalID !== ''">{{definition.approvalID}}</span>
  </div>
  <div class="substance-form-row form-name" *ngIf = "definition._name">
    <div>Preferred Term: <span class = "name">{{definition._name}}</span></div>
  </div>
  <div class="substance-form-row">
    <mat-form-field *ngIf = 'definition.substanceClass !== "concept"'>
      <mat-label>Definition Type</mat-label>
      <mat-select [(ngModel)]="definition.definitionType" name="definitionType" (selectionChange)="updateDefinitionType($event)" required>
        <mat-option *ngFor="let defitionType of definitionTypes" [value]="defitionType.value">
          {{defitionType.display}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="primary-substance-container" *ngIf="definition.definitionType == 'ALTERNATIVE'">
      <app-substance-selector (selectionUpdated)="primartySubstanceUpdated($event)"
        eventCategory="substanceFormDefinitionType"
        placeholder="Primary Substance"
        header="Primary Substance"
        [subuuid]="primarySubUuid">
      </app-substance-selector>
    </div>
    <mat-form-field  *ngIf = 'definition.substanceClass !== "concept"'>
      <mat-label>Definition Level</mat-label>
      <mat-select [(ngModel)]="definition.definitionLevel" name="definitionLevel" (selectionChange)="updateDefinition()">
        <mat-option *ngFor="let defitionLevel of definitionLevels" [value]="defitionLevel.value">
          {{defitionLevel.display}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="checkbox-container">
      <mat-checkbox [(ngModel)]="definition.deprecated" name="deprecated" (change)="updateDefinition()">Deprecated</mat-checkbox>
    </div>
    <div>
      <app-access-manager (accessOut)="updateAccess($event)" [access]="definition.access"></app-access-manager>
    </div>
    <div class = 'redirect-links' *ngIf = "uuid" >
      <a [href]="getRedirect()" target = "_blank" matTooltip= "open old edit form in new tab">
        Old edit form <mat-icon class = "icon"  svgIcon="open_in_new"></mat-icon>
      </a>
      <br/>
      <a [routerLink]="['/substances', uuid]" target = "_blank" matTooltip= "open details page in new tab">
        Details page <mat-icon class = "icon" svgIcon="open_in_new"></mat-icon>
      </a>
    </div>
  </div>

  <div class="substance-form-row" *ngIf="definition.substanceClass !== 'concept'">
    <div class="references-container">
      <app-domain-references [referencesUuids]="definition.references" card = "definition" #references></app-domain-references>
    </div>
  </div>

  <div class = "substance-form-row" *ngIf="definition.substanceClass === 'concept'">
    Concepts have no defining information, but are collections of terms, codes and related information. <br/> They can be promoted to a defined substance at a later time, when appropriate.
  </div>
  <app-audit-info [source] = "definition"></app-audit-info>
</div>
