.substance-form-row {
    display: flex;
    justify-content: space-between;
}

.advanced-row{
  justify-content: right;
}

.primary-substance-container {
    max-width: 25%;
}

.section-header {
    color: rgba(0, 0, 0, 0.54);
    font-size: 11px;
    text-align: left;
    letter-spacing: .005px;
}

.form-header {
  padding-bottom:20px;
  font-weight:500;
  font-size: 28px;
}

.references-container {
    width: 100%;
}

.checkbox-container {
    padding-top: 10px;
}

.definition-reference {
    margin-bottom: 0;
}

.redirect-links {
  a{
    color: #4793d1!important;
    float:right;
    text-decoration:none;
  }

  mat-icon {
    transform: scale(0.75);
  }
}


.icon {
  font-size:10px !important;
}

.set-status {
  ::ng-deep .mat-radio-label {
    flex-direction: column-reverse;
  }

  ::ng-deep .mat-radio-label-content {
    padding-left: 5px;
    font-size: 11px;
    padding-bottom: 4px;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 400;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
}

.status-label {
  padding-right:10px;
}

.message-field {
  width: 50%;
}

.advanced, .admin-functions {
  width: 33%;
}

.advanced {
  padding-top:7px;
}
