.divflex {
  display: flex;
}

.divheight {
  height: 50px;
}

.colororange {
  color: var(--regular-orange-color);
}

.font14px {
  font-size: 14px;
}

.padleft10px {
  padding-left: 10px;
}

.padtop10px {
   padding-top: 10px;
}

.export-button {
  border-radius: 4px;
  margin-top: 5px;
}

.outer-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.font11px {
  font-size: 11px;
}

.padleft260px {
  padding-left: 260px;
}

.colorgray {
  color: var(--regular-grey-color);
}

.colorgreen {
  color: var(--regular-green-color);
}

#parent #popup {
  display: none;
}
#parent:hover #popup {
  display: block;
}