<div class="responsive">
  <table class="no-bottom-border" mat-table [dataSource]="relationships">

    <ng-container matColumnDef="relatedRecord">
      <th mat-header-cell *matHeaderCellDef> Related Record </th>
      <td mat-cell *matCellDef="let relationship">
        <div class="text-center">{{relationship.relatedSubstance.linkingID}}</div>
        <img [src]="getSafeStructureImgUrl(relationship.relatedSubstance.refuuid)">
        <div class="text-center">{{relationship.relatedSubstance.name}}</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="mediatorRecord">
      <th mat-header-cell *matHeaderCellDef> Mediator Record </th>
      <td mat-cell *matCellDef="let relationship"> {{relationship.mediatorRecord}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let relationship"> {{relationship.type}} </td>
    </ng-container>

    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef> Details </th>
      <td mat-cell *matCellDef="let relationship"> {{relationship.comments}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>