<div class="menu-container">
  <button
    class="button"
    matButton
    [matMenuTriggerFor]="accessMenu"
    [matTooltip]="tooltipMessage"
    (menuOpened)="menuOpened()"
    (menuClosed)="menuClosed()">
    @if (access.length) {
      <mat-icon svgIcon="lock"></mat-icon>
    }
    @if (!access.length) {
      <mat-icon svgIcon="lock_open"></mat-icon>
    }
    <span>{{label? label: "Access"}}</span>
  </button>
  <mat-menu #accessMenu="matMenu" xPosition="before">
    <form [formGroup]="accessFormGroup">
      @for (accessOption of accessOptions; track accessOption) {
        <div mat-menu-item (click)="$event.stopPropagation()">
          <mat-checkbox (change)="updateAccess($event, accessOption)" [formControlName]="accessOption.value">
            {{accessOption.display}}
          </mat-checkbox>
        </div>
      }
    </form>
  </mat-menu>
</div>