<button mat-button [matMenuTriggerFor]="accessMenu">
    <mat-icon>lock</mat-icon>
    <span>Access</span>
  </button>
  <mat-menu #accessMenu="matMenu" xPosition="before">
    <form [formGroup]="accessFormGroup">
      <div mat-menu-item *ngFor="let accessOption of accessOptions" (click)="$event.stopPropagation()">
        <mat-checkbox (change)="updateAccess($event, accessOption.value)" [formControlName]="accessOption.value">
          {{accessOption.display}}
        </mat-checkbox>
      </div>
    </form>
  </mat-menu>