.component-form-container {
  padding: 30px 10px 12px 10px;
  position: relative;
}


.form-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .delete-container {
    padding: 0 10px 8px 0;
  }

  .related-substance{
    width: 30%;
  }

  .type {
    width: 25%;
    flex-grow:1;
    padding-right:15px
  }

  .amount {
    min-width: 15%;
  }
}

.amount-label {
  padding-bottom:10px;
}
::ng-deep .related-substance img {
  max-width:125px !important;
  margin: auto;
}

.defining {
  padding-bottom:20px;
}

.column-checkbox {
  ::ng-deep .mat-checkbox-layout {
    flex-direction: column-reverse;
    align-items: center;
  }

  ::ng-deep .mat-checkbox-inner-container {
    margin-right: unset;
    margin-left: unset;
  }

  ::ng-deep .mat-checkbox-layout .mat-checkbox-label {
    padding-left: 0;
    font-size: 11px;
    padding-bottom: 7.5px;
    line-height: 11px
  }
}

.checkbox-container, .radio-container {
  padding-bottom: 16px;
  padding-right: 15px;
}
