.component-form-container {
  padding: 30px 10px 12px 10px;
  position: relative;
}


.form-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .delete-container {
    padding: 0 10px 8px 0;
  }

  .related-substance{
    width: 30%;
  }

  .type {
    width: 25%;
    flex-grow:1;
    padding-right:15px
  }

  .amount {
    min-width: 15%;
  }
}

.amount-label {
  padding-bottom:10px;
}
::ng-deep .related-substance img {
  max-width:125px !important;
  margin: auto;
}

.defining {
  padding-bottom:20px;
}
