


.subtype {
  width: 30%;
  margin-right: 15px;
}

.cv-input {
  margin-right: 15px;
}

.tags {
  width: 100%;
}



.form-row {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: flex-end;

  .checkbox-container {
    padding-bottom: 18px;
  }
}
