
<div class="responsive">

  <table  mat-table [dataSource]="otherLinks">

    <ng-container matColumnDef="linkageType">
      <th mat-header-cell *matHeaderCellDef> linkageType </th>
      <td mat-cell *matCellDef="let link"> {{link.linkageType}} </td>
    </ng-container>

    <ng-container matColumnDef="residueIndex">
      <th mat-header-cell *matHeaderCellDef> Sites </th>
      <td mat-cell *matCellDef="let link"><span *ngIf = "link.sites">
        <span *ngFor="let site of link.sites">
              {{site.subunitIndex + "_" + site.residueIndex}}
        </span>
        </span>  </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
