
<div class="responsive">

  <table  mat-table [dataSource]="otherLinks">

    <ng-container matColumnDef="linkageType">
      <th mat-header-cell *matHeaderCellDef> linkageType </th>
      <td mat-cell *matCellDef="let link"> {{link.linkageType}} </td>
    </ng-container>

    <ng-container matColumnDef="residueIndex">
      <th mat-header-cell *matHeaderCellDef> residueIndex </th>
      <td mat-cell *matCellDef="let link"><span *ngIf = "link.site">{{link.site[0]}}</span>  </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
