<div *ngIf="startingMaterialIndex > 0">
  <hr>
</div>
<div class="form-container">
  <div *ngIf="startingMaterial.$$deletedCode" class="notification-backdrop">
    Deleted&nbsp;
    <button mat-icon-button matTooltip="Undo" (click)="undoDelete()">
      <mat-icon svgIcon="undo"></mat-icon>
    </button>
  </div>

  <div class="">
    <div class="button-delete">
      <button mat-icon-button matTooltip="Delete Starting Material {{(startingMaterialIndex+1)}}"
        (click)="confirmDeleteStartingMaterial()">
        <mat-icon class="colorred" svgIcon="delete_forever"></mat-icon>
      </button>
    </div>
  </div>

  <div class="form-row">
    <div class="col padtop10px related-substance"
      *ngIf="configSettingsDisplay['substanceName'] || (configSettingsDisplay['substanceName'] === undefined && true)">
      <app-substance-selector (selectionUpdated)="relatedSubstanceUpdated($event)"
        eventCategory="substanceRelationshipRelatedSub" placeholder="Search by Name/CAS RN/UNII/BDNUM" header=""
        [subuuid]="relatedSubstanceUuid" [showMorelinks]="true">
      </app-substance-selector>
    </div>

    <mat-form-field class="col"
      *ngIf="configSettingsDisplay['verbatimName'] || (configSettingsDisplay['verbatimName'] === undefined && true)">
      <input matInput placeholder="Material Display Name" [(ngModel)]="startingMaterial.verbatimName"
        name="startingMaterial.verbatimName" />
    </mat-form-field>

    <app-cv-input class="col"
      *ngIf="configSettingsDisplay['substanceRole'] || (configSettingsDisplay['substanceRole'] === undefined && true)"
      domain="SSG_SUBSTANCE_ROLE" required='true' title="Substance Role" [model]="startingMaterial.substanceRole"
      (valueChange)="updateSubstanceRole($event)">
    </app-cv-input>
  </div> <!-- form row -->

  <div class="form-row">
    <mat-form-field class="col"
      *ngIf="configSettingsDisplay['acceptanceCriteria'] || (configSettingsDisplay['acceptanceCriteria'] === undefined && true)">
      <input matInput placeholder="Acceptance Criteria" [(ngModel)]="startingMaterial.acceptanceCriteria"
        name="startingMaterial.acceptanceCriteria" />
    </mat-form-field>

    <app-cv-input class="col"
      *ngIf="configSettingsDisplay['specificationType'] || (configSettingsDisplay['specificationType'] === undefined && true)"
      domain="SSG_SPECIFICATION_TYPE" required='true' title="Specification Type"
      [model]="startingMaterial.specificationType" (valueChange)="updateSpecificationType($event)">
    </app-cv-input>

    <app-cv-input class="col"
      *ngIf="configSettingsDisplay['substanceGrade'] || (configSettingsDisplay['substanceGrade'] === undefined && true)"
      domain="SSG_SUBSTANCE_GRADE" required='true' title="Substance Grade" [model]="startingMaterial.substanceGrade"
      (valueChange)="updateSubstanceGrade($event)">
    </app-cv-input>
  </div>

  <div class="form-row">
    <div class='col'>
      <div class="label amt-label">
        Amount
        <button mat-icon-button matTooltip="add" (click)="(openAmountDialog())">
          <mat-icon svgIcon="add_circle_outline"></mat-icon>
        </button>
      </div>
      <div class="amount-display">
        <div *ngIf="startingMaterial.amount">
          {{displayAmount(startingMaterial.amount)}}
        </div>
      </div>
    </div>

    <!-- Specification Type -->
    <div class="col" *ngIf="!startingMaterial.specificationReference">
      <button mat-button ncatsFileSelect (selectedFile)="fileSelected($event)">
        <span>Specification Reference</span>&nbsp;
        <mat-icon svgIcon="cloud_upload"></mat-icon>
      </button>
    </div>
    <div *ngIf="startingMaterial.specificationReference">
      <button mat-button [matMenuTriggerFor]="documentMenu">
        Specification Reference: &nbsp;&nbsp;See Attachment
        <mat-icon svgIcon="attachment"></mat-icon>
      </button>
      <mat-menu #documentMenu="matMenu">
        <a mat-menu-item (click)="downloadDocument(startingMaterial.specificationReference)">Download</a>
        <button mat-menu-item ncatsFileSelect (selectedFile)="fileSelected($event)">Replace</button>
        <button mat-menu-item (click)="startingMaterial.specificationReference = null">Delete</button>
      </mat-menu>
    </div>
    <div class="loading-container" *ngIf="loading === true">
      <div class="spinner-container">
        <mat-progress-spinner class="progress-spinner spinner" [color]="primary" mode="indeterminate">
        </mat-progress-spinner>
      </div>

      <span>Uploading</span>
    </div>
    <div class="loading-container" *ngIf="loading === false && error === true">
      Error: There was a problem uploading this document
    </div>

    <div class="middle-fill"></div>

  </div> <!-- form-row-->

  <div class="form-row">
    <div class="references-container">
      <app-domain-references [referencesUuids]="startingMaterial.references" #references></app-domain-references>
    </div>
  </div>

  <div class="form-row"
    *ngIf="configSettingsDisplay['comments'] || (configSettingsDisplay['comments'] === undefined && showAdvancedSettings)">
    <div class="">&nbsp;</div>
    <mat-form-field class="col-1-1">
      <textarea matInput placeholder="Comments" [(ngModel)]="startingMaterial.comments" name="startingMaterial.comments"
        rows="1"></textarea>
    </mat-form-field>
  </div> <!-- form-row-->

</div>