<mat-toolbar class="mat-elevation-z3" color="primary">
  <span class="logo">
    <a routerLink="/home">
      <img src="/assets/images/gsrs-logo.svg" />
    </a>
  </span>
  <span class="nav-big">
    <span class="nav-item" *ngFor="let navItem of navItems">
      <a [routerLink]="['/' + navItem.path]" [ngClass]="{active: mainPathSegment == navItem.path}">
        {{navItem.display}}
      </a>
    </span>
  </span>
  <span class="middle-fill"></span>
  <span class="nav-small">
    <button mat-icon-button [matMenuTriggerFor]="nav">
      <mat-icon svgIcon="menu"></mat-icon>
    </button>
    <mat-menu #nav="matMenu">
      <button mat-menu-item *ngFor="let navItem of navItems" [routerLink]="['/' + navItem.path]">
        {{navItem.display}}
      </button>
    </mat-menu>
  </span>
  <span class="search-container">
    <form>
      <mat-form-field [floatLabel]="'never'" class="search-form-field space-right-small">
        <input class="search" type="text" placeholder="Search" aria-label="Search substances" matInput [formControl]="searchControl"
          [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="substanceSearchOptionSelected($event)">
          <div *ngFor="let field of suggestionsFields">
            <div class="substance-suggestion-field">{{field}}</div>
            <mat-option *ngFor="let suggestion of substanceSuggestionsGroup[field]" [value]="suggestion.key">
              <div>{{suggestion.key}}</div>
            </mat-option>
          </div>
        </mat-autocomplete>
      </mat-form-field>
      <button class="search-button" mat-icon-button (click)="processSubstanceSearch()" [disabled]="searchControl.invalid">
        <mat-icon svgIcon="search"></mat-icon>
      </button>
    </form>
  </span>
</mat-toolbar>
<app-main-notification></app-main-notification>
<app-loading></app-loading>
<router-outlet></router-outlet>