.logo {
    height: 35px;
    margin-right: 20px;

    img {
        height: 100%;
        width: auto;
    }
}

.nav-big {

    .nav-item {
        padding: 0 5px;

        & > a {
            font-size: 16px;
            color: #e6e6e6;
            padding-bottom: 7px;
            transition: all 150ms linear;
            text-decoration: none;
            outline: none;

            &:hover, &.active {
                color: white;
                cursor: pointer;
                padding-bottom: 5px;
                border-bottom: 2px solid white;
                text-decoration: none;
            }
        }
    }
}

.nav-small {
    padding-right: 10px;
}

.search-form-field {
    width: 300px;
    
    .mat-input-element {
        font-size: 16px;
    }

    ::ng-deep .mat-form-field-label {
        font-size: 16px;
        top: 1.98125em;
    }
}

.substance-suggestion-field {
    padding: 8px 6px;
    color: #666666;
    overflow: hidden;
}

@media(max-width: 865px) {
    .nav-big {
        display: none;
    }

    .search-container {
        mat-form-field {
            display: none;
        }
    }
}

@media(min-width: 865px) {
    .nav-small {
        display: none;
    }
}