.code-form-container {
  padding: 10px 3px 4px 3px;
    position: relative;
}

.collapse {
  padding: 10px 5px 6px 5px;
    position: relative;
}

.resolve {
  padding: 0 20px 20px 0;
  color: var(--primary-color);
}

.notification-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    z-index: 10;
    background-color: var(--notif-backdrop-bg-color);
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: var(--notif-backdrop-color);
}

.form-row {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: flex-end;

    .delete-container {
        padding: 0 10px 8px 0;
    }

    .code-system,.code{
        flex-grow: 1;
        padding-right: 15px;
    }

    .code-text, .url {
        flex-grow: 1;
    }
}

.key-value-pair {
    display: flex;
    flex-direction: column;
    align-self: flex-start;

    .key {
        font-size: 11px;
        padding-bottom: 3.5px;
        line-height: 11px;
        color: var(--dark-label-color);
        font-weight: 400;
        font-family: Roboto, "Helvetica Neue", sans-serif;
    }

    .value {
        font-size: 15.5px;
    }
}

.references-container {
    width: 100%;
}
