.property-form-container {
    padding: 30px 10px 12px 10px;
    position: relative;
    display: flex;
}

.notification-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    z-index: 10;
    background-color: rgba(255, 255, 255, .8);
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: #666;
}

.referenced-substance {
    max-width: 25%;
    width: 25%;
}

.form-content {
    flex-grow: 1;
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .delete-container {
        padding: 0 10px 8px 0;
    }

    .checkbox-container, .radio-container {
        padding-bottom: 16px;
        padding-right: 15px;
    }

    .name, .type {
        flex-grow: 1;
        padding-right: 15px;
    }
}

.references-container {
    width: 100%;
}

.amount-title {
    margin-bottom: 10px;
    font-weight: bold;
}

.amount-form-container {
    padding: 0 7px;
}

.column-checkbox {
    ::ng-deep .mat-checkbox-layout {
        flex-direction: column-reverse;
        align-items: center;
    }

    ::ng-deep .mat-checkbox-inner-container {
        margin-right: unset;
        margin-left: unset;
    }

    ::ng-deep .mat-checkbox-layout .mat-checkbox-label {
        padding-left: 0;
        font-size: 11px;
        padding-bottom: 7.5px;
        line-height: 11px
    }
}