
  <div *ngIf="definitions.length > 0">
    This record is a subconcept of
    <span *ngFor="let definition of definitions">
      <div class="thumb-col">
       <img class="image-thumb" appSubstanceImage [entityId]="definition.refuuid">
        <div>
          <a class="substance-name" [routerLink]="['/substances', definition.refuuid]" >
            {{definition.refPname}}
          </a>
        </div>
      </div>
    </span>
  </div>
  <div *ngIf = "definitions.length == 0">
    <i>This is a non-substance concept</i>
  </div>

