
<div class="responsive">
  <table mat-table [dataSource]="versions">

    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef> Displayed </th>
      <td mat-cell *matCellDef="let version"> <span *ngIf = "substance.version != version.version">
        <button class = "mat-raised-button mat-primary" (click) = "switchVersion(version.version)">View</button>
      </span>
        <span *ngIf = "substance.version == version.version" class = 'centered'>
          Viewing
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="version">
      <th mat-header-cell *matHeaderCellDef> Version </th>
      <td mat-cell *matCellDef="let version"> {{version.version}} </td>
    </ng-container>

    <ng-container matColumnDef="versionComments">
      <th mat-header-cell *matHeaderCellDef> Version Comments </th>
      <td mat-cell *matCellDef="let version"> {{version.comments}} </td>
    </ng-container>

    <ng-container matColumnDef="editor">
      <th mat-header-cell *matHeaderCellDef> Editor</th>
      <td mat-cell *matCellDef="let version"> {{version.editor}} </td>
    </ng-container>

    <ng-container matColumnDef="changeDate">
      <th mat-header-cell *matHeaderCellDef> Change Date </th>
      <td mat-cell *matCellDef="let version"> {{version.created  | date : 'short'}} </td>
    </ng-container>

    <ng-container matColumnDef="restore" >
      <!--*ngif="isAdmin"-->
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let version" > 
          <span *ngif="isAdmin">
            <button class = "mat-raised-button mat-primary" (click) = "restoreVersion(version.version)">Restore</button> 
          </span>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

