.search-form-field {
  width: 100%;
  max-width: 100%;

  .mat-input-element {
      font-size: 14px;
  }

  ::ng-deep .mat-form-field-label {
      font-size: 14px;
      top: 1em;
  }

  ::ng-deep .mat-form-field-infix {
    width: 100%;
  }
}

.substance-suggestion-field {
  padding: 8px 6px;
  color: #666666;
  overflow: hidden;
}

::ng-deep .substance-select {
  max-width: 500px !important;
}
